Repository Homebrew/homebrew-cask-versions, pull requests merged in 2021-05, with the labels that each got.

#10856 openzfs-dev 2.0.0-rc6
  Casks/openzfs-dev.rb
Labels: ci-skip-install

#10949 Update dropbox-beta from 122.3.4866 to 123.3.4805
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#10953 Remove automerge workflow
  .github/workflows/automerge.yml
Labels: automerge-skip, ci-syntax-only

#10951 Update signal-beta from 5.1.0-beta.6 to 5.2.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#10954 Update osu-development from 2021.502.0 to 2021.514.0
  Casks/osu-development.rb
Labels: bump-cask-pr

#10955 Update azure-data-studio-insiders from 1.29.0,1eaa6be3922c9c9eea9d4f0969994ce52c94dbeb to 1.29.0,1d55facfe3f195a02dd3210edfdad438ff5f3121
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#10956 Update google-chrome-canary from 92.0.4505.0 to 92.0.4506.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#10957 Update google-chrome-beta from 91.0.4472.38 to 91.0.4472.57
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#10960 Update discord-canary from 0.0.267 to 0.0.268
  Casks/discord-canary.rb
Labels: bump-cask-pr

#10962 Update azure-data-studio-insiders from 1.29.0,1d55facfe3f195a02dd3210edfdad438ff5f3121 to 1.29.0,d797ef433a9231da6f9e0548e61d9c5d9305eaa9
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#10969 Update java-beta from 17,21 to 17,22
  Casks/java-beta.rb
Labels: bump-cask-pr

#10968 Update iterm2-beta from 3.4.5beta3 to 3.4.7beta1
  Casks/iterm2-beta.rb
Labels: bump-cask-pr

#10967 Update dropbox-beta from 123.3.4805 to 123.3.4808
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#10970 Update microsoft-edge-beta from 91.0.864.19 to 91.0.864.27
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#10966 Update discord-canary from 0.0.268 to 0.0.269
  Casks/discord-canary.rb
Labels: bump-cask-pr

#10972 Update skype-preview from 8.72.76.83 to 8.73.76.16
  Casks/skype-preview.rb
Labels: bump-cask-pr

#10971 Update termius-beta from 7.10.2 to 7.11.1
  Casks/termius-beta.rb
Labels: bump-cask-pr

#10974 Update charles-beta from 4.6.2b4 to 4.6.2b5
  Casks/charles-beta.rb
Labels: bump-cask-pr

#10975 Update brave-browser-beta from 90.1.25.57,125.57 to 90.1.25.60,125.60
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#10976 Update google-chrome-canary from 92.0.4506.0 to 92.0.4507.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#10978 Update osu-development from 2021.514.0 to 2021.515.0
  Casks/osu-development.rb
Labels: bump-cask-pr

#10977 Update google-chrome-canary from 92.0.4507.0 to 92.0.4509.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#10979 Update google-chrome-canary from 92.0.4509.0 to 92.0.4510.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#10980 Update opera-developer from 77.0.4051.0 to 78.0.4058.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#10982 Update affinity-photo-beta from 1.9.0.206 to 1.9.4.243
  Casks/affinity-photo-beta.rb
Labels: bump-cask-pr

#10983 Update affinity-publisher-beta from 1.9.1.979 to 1.9.2.1024
  Casks/affinity-publisher-beta.rb
Labels: bump-cask-pr

#10981 Update affinity-designer-beta from 1.9.0.11 to 1.9.4.2
  Casks/affinity-designer-beta.rb
Labels: bump-cask-pr

#10986 Update sublime-merge-dev from 2053 to 2055
  Casks/sublime-merge-dev.rb
Labels: bump-cask-pr

#10985 Update arduino-beta from 2.0.0,6 to 2.0.0,7
  Casks/arduino-beta.rb
Labels: bump-cask-pr

#10988 Update microsoft-edge-dev from 92.0.878.0 to 92.0.884.2
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#10987 Update rstudio-preview from 1.4.1707 to 1.4.1711
  Casks/rstudio-preview.rb
Labels: bump-cask-pr

#10990 Delete self-approve.yml
  .github/workflows/self-approve.yml
Labels: automerge-skip, ci-syntax-only

#10991 Update azure-data-studio-insiders from 1.29.0,d797ef433a9231da6f9e0548e61d9c5d9305eaa9 to 1.29.0,08ae25d7bafdfa3436e0115b9770f9fc8f6bd54b
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#10993 Update signal-beta from 5.2.0-beta.1 to 5.2.0-beta.2
  Casks/signal-beta.rb
Labels: bump-cask-pr

#10989 Update brave-browser-beta from 90.1.25.60,125.60 to 90.1.25.62,125.62
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#10994 Update google-chrome-canary from 92.0.4510.0 to 92.0.4511.4
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#10995 Update libreoffice-still from 7.0.5 to 7.0.6
  Casks/libreoffice-still.rb
Labels: bump-cask-pr

#10999 Update google-chrome-canary from 92.0.4511.4 to 92.0.4512.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11000 Update brave-browser-dev from 90.1.25.58,125.58 to 90.1.25.63,125.63
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#11001 Update 1password-beta from 7.8.3.BETA-0 to 7.8.4.BETA-0
  Casks/1password-beta.rb
Labels: bump-cask-pr

#11002 Update android-studio-preview-canary from 2020.3.1.15 to 2021.1.1.1
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#11003 Update azure-data-studio-insiders from 1.29.0,08ae25d7bafdfa3436e0115b9770f9fc8f6bd54b to 1.29.0,dc42beb237883d130555c2919a7ce86a720b3dc8
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#10996 Add Arduino 2.0 IDE nightly
  Casks/arduino-ide-nightly.rb
Labels: new cask

#10998 Update android-studio-preview-beta 2020.3.1.16
  Casks/android-studio-preview-beta.rb
Labels: automerge-skip

#11007 Update google-chrome-beta from 91.0.4472.57 to 91.0.4472.69
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#11006 Update google-chrome-canary from 92.0.4512.0 to 92.0.4512.4
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11008 Update visual-studio-code-insiders from 1.57.0,53b58c89d44deb230dc526605561a1d42f6d1c50 to 1.57.0,29c61570a5b9a669f777bb28b5acd5c37d99edbe
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11009 Update azure-data-studio-insiders from 1.29.0,dc42beb237883d130555c2919a7ce86a720b3dc8 to 1.30.0,932fc44566d5d0e2cc8b26b9c32e42b382327ab9
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11011 Update dropbox-beta from 123.3.4808 to 123.3.4825
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#11010 Update vmware-fusion-tech-preview
  Casks/vmware-fusion-tech-preview.rb
Labels: awaiting user reply

#11012 Update netnewswire-beta from 6.0.2b1 to 6.0.3b1
  Casks/netnewswire-beta.rb
Labels: bump-cask-pr

#11013 Update iterm2-beta from 3.4.7beta1 to 3.4.7beta2
  Casks/iterm2-beta.rb
Labels: bump-cask-pr

#11014 Update google-chrome-canary from 92.0.4512.4 to 92.0.4514.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11016 Update opera-beta from 76.0.4017.88 to 77.0.4054.14
  Casks/opera-beta.rb
Labels: bump-cask-pr

#11017 Update google-chrome-dev from 92.0.4503.0 to 92.0.4512.4
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#11018 Update github-beta from 2.8.2-beta1-7a3f0d9e to 2.8.2-beta2-88a50c13
  Casks/github-beta.rb
Labels: bump-cask-pr

#11019 Update brave-browser-dev from 90.1.25.63,125.63 to 91.1.26.35,126.35
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#11020 Update brave-browser-beta from 90.1.25.62,125.62 to 91.1.26.34,126.34
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#11021 Update 1password-beta from 7.8.4.BETA-0 to 7.8.4.BETA-1
  Casks/1password-beta.rb
Labels: bump-cask-pr

#11022 Update android-studio-preview-beta from 2020.3.1.16 to 2020.3.1.17
  Casks/android-studio-preview-beta.rb
Labels: bump-cask-pr

#11023 Update signal-beta from 5.2.0-beta.2 to 5.3.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#11024 Update azure-data-studio-insiders from 1.30.0,932fc44566d5d0e2cc8b26b9c32e42b382327ab9 to 1.30.0,82e0ede92163d71e0e2e98888c0a94b697f30eb2
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11026 Update discord-canary from 0.0.269 to 0.0.270
  Casks/discord-canary.rb
Labels: bump-cask-pr

#11028 Update google-chrome-canary from 92.0.4515.0 to 92.0.4515.3
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11029 Update signal-beta from 5.3.0-beta.1 to 5.3.0-beta.2
  Casks/signal-beta.rb
Labels: bump-cask-pr

#11034 Update discord-canary from 0.0.270 to 0.0.271
  Casks/discord-canary.rb
Labels: bump-cask-pr

#11031 Update google-chrome-canary from 92.0.4515.3 to 92.0.4515.5
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11035 Update termius-beta from 7.11.1 to 7.11.3
  Casks/termius-beta.rb
Labels: bump-cask-pr

#11036 Update skype-preview from 8.73.76.16 to 8.73.76.33
  Casks/skype-preview.rb
Labels: bump-cask-pr

#11037 Update osu-development from 2021.515.0 to 2021.523.0
  Casks/osu-development.rb
Labels: bump-cask-pr

#11032 Update discord-ptb from 0.0.54 to 0.0.56
  Casks/discord-ptb.rb
Labels: bump-cask-pr

#11039 Update google-chrome-canary from 92.0.4515.5 to 92.0.4515.7
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11044 Remove tla-plus-toolbox-nightly
  Casks/tla-plus-toolbox-nightly.rb
Labels: marked for removal/rejection

#11046 Update azure-data-studio-insiders from 1.30.0,82e0ede92163d71e0e2e98888c0a94b697f30eb2 to 1.30.0,27b3904f2fc3c43e3813ff65d8c27955320b0bf5
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11048 Update osu-development from 2021.523.0 to 2021.524.0
  Casks/osu-development.rb
Labels: bump-cask-pr

#11049 Update google-chrome-beta from 91.0.4472.69 to 91.0.4472.77
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#11050 Update github-beta from 2.8.2-beta2-88a50c13 to 2.8.2-beta3-bf11d6a4
  Casks/github-beta.rb
Labels: bump-cask-pr

#11051 Update 1password-beta from 7.8.4.BETA-1 to 7.8.4.BETA-2
  Casks/1password-beta.rb
Labels: bump-cask-pr

#11054 Update brave-browser-dev from 91.1.26.35,126.35 to 91.1.26.41,126.41
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#11055 Update brave-browser-beta from 91.1.26.34,126.34 to 91.1.26.40,126.40
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#11053 Update google-chrome-canary from 92.0.4515.7 to 93.0.4522.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11056 Update azure-data-studio-insiders from 1.30.0,27b3904f2fc3c43e3813ff65d8c27955320b0bf5 to 1.30.0,f691701c1c720a1a7662a1028a4b92a3baa1c2bd
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11038 Add Royal-TSX v5 Beta
  Casks/royal-tsx-beta.rb
Labels: new cask

#11059 Update github-beta from 2.8.2-beta3-bf11d6a4 to 2.8.3-beta1-4d262600
  Casks/github-beta.rb
Labels: bump-cask-pr

#11060 Update google-chrome-canary from 93.0.4522.0 to 93.0.4523.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11061 Update opera-developer from 78.0.4058.0 to 78.0.4066.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#11065 Update signal-beta from 5.3.0-beta.2 to 5.3.0-beta.3
  Casks/signal-beta.rb
Labels: bump-cask-pr

#11066 Update google-chrome-dev from 92.0.4512.4 to 92.0.4515.20
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#11062 Update azure-data-studio-insiders from 1.30.0,f691701c1c720a1a7662a1028a4b92a3baa1c2bd to 1.30.0,e49dd129516c052fc53480eed7804c7c61b9a313
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11067 Update slack-beta from 4.16.2 to 4.17.0-beta1
  Casks/slack-beta.rb
Labels: bump-cask-pr

#11073 Update brave-browser-beta from 91.1.26.40,126.40 to 91.1.26.43,126.43
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#11075 Update dropbox-beta from 123.3.4825 to 124.3.4875
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#11074 Update azure-data-studio-insiders from 1.30.0,e49dd129516c052fc53480eed7804c7c61b9a313 to 1.30.0,b75e688a7ef4364cf75bf15e3d6f4a2d0447011f
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11079 Update google-chrome-canary from 93.0.4523.0 to 93.0.4524.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11083 Update azure-data-studio-insiders from 1.30.0,b75e688a7ef4364cf75bf15e3d6f4a2d0447011f to 1.30.0,ddb442f1e1338a2da56bdeeb09972016bb162b12
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11082 Update vivaldi-snapshot from 3.9.2289.3 to 3.9.2305.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#11081 Update brave-browser-dev from 91.1.26.41,126.41 to 91.1.26.44,126.44
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#11080 Update opera-beta from 77.0.4054.14 to 77.0.4054.19
  Casks/opera-beta.rb
Labels: bump-cask-pr

#11058 Add Microsoft Build of OpenJDK 11.0.11.9.1
  Casks/microsoft-openjdk11.rb
Labels: automerge-skip, new cask

#11085 Update google-chrome-canary from 93.0.4524.0 to 93.0.4525.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11069 Update google-chrome livecheck
  Casks/google-chrome-beta.rb
  Casks/google-chrome-canary.rb
  Casks/google-chrome-dev.rb
Labels: automerge-skip

#11077 Add Carbon Copy Cloner v5
  Casks/carbon-copy-cloner-5.rb
Labels: new cask

#11086 Update `arduino-ide` zap
  Casks/arduino-ide-beta.rb
  Casks/arduino-ide-nightly.rb
Labels: automerge-skip

#11090 Update google-chrome-canary from 93.0.4525.0 to 93.0.4526.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11091 Update google-chrome-canary from 93.0.4526.0 to 93.0.4527.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11093 Update google-chrome-canary from 93.0.4527.0 to 93.0.4528.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11094 Update rstudio-preview from 1.4.1711 to 1.4.1717
  Casks/rstudio-preview.rb
Labels: bump-cask-pr

#11095 Update sonos-s1-controller from 11.2.4 to 11.2.9
  Casks/sonos-s1-controller.rb
Labels: bump-cask-pr

#11096 Update azure-data-studio-insiders from 1.30.0,ddb442f1e1338a2da56bdeeb09972016bb162b12 to 1.30.0,1de05a2339317d658cf127037abeb7a113814b58
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr
