Repository Homebrew/homebrew-cask-versions, pull requests merged in 2021-06, with the labels that each got.

#11088 Add citra-nightly
  Casks/citra-nightly.rb
Labels: new cask

#11099 Update google-chrome-canary from 93.0.4528.0 to 93.0.4529.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11098 Update brave-browser-beta from 91.1.26.43,126.43 to 91.1.26.47,126.47
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#11100 Update opera-developer from 78.0.4066.0 to 78.0.4072.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#11104 Update brave-browser-dev from 91.1.26.44,126.44 to 91.1.26.48,126.48
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#11105 Update google-chrome-canary from 93.0.4529.0 to 93.0.4530.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11106 Update google-chrome-dev from 92.0.4515.20 to 92.0.4515.39
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#11109 Update github-beta from 2.8.3-beta1-4d262600 to 2.8.4-beta1-53c5c8b2
  Casks/github-beta.rb
Labels: bump-cask-pr

#11110 Update osu-development from 2021.524.0 to 2021.602.0
  Casks/osu-development.rb
Labels: bump-cask-pr

#11111 Update opera-beta from 77.0.4054.19 to 77.0.4054.38
  Casks/opera-beta.rb
Labels: bump-cask-pr

#11113 Update signal-beta from 5.4.0-beta.2 to 5.4.0-beta.3
  Casks/signal-beta.rb
Labels: bump-cask-pr

#11115 Update brave-browser-beta from 91.1.26.47,126.47 to 91.1.26.50,126.50
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#11114 Update google-chrome-canary from 93.0.4530.0 to 93.0.4531.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11116 Update azure-data-studio-insiders from 1.30.0,1de05a2339317d658cf127037abeb7a113814b58 to 1.30.0,5e62aea5d5e1ecfe5b8c341e1c452841e4617556
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11118 Update discord-canary from 0.0.271 to 0.0.272
  Casks/discord-canary.rb
Labels: bump-cask-pr

#11120 Update slack-beta from 4.17.0-beta1 to 4.17.0
  Casks/slack-beta.rb
Labels: bump-cask-pr

#11121 Update dropbox-beta from 124.3.4875 to 124.3.4898
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#11123 Update google-chrome-dev from 92.0.4515.39 to 93.0.4530.5
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#11122 Update google-chrome-beta from 91.0.4472.77 to 92.0.4515.39
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#11124 Update google-chrome-canary from 93.0.4531.0 to 93.0.4532.2
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11126 Update azure-data-studio-insiders from 1.30.0,5e62aea5d5e1ecfe5b8c341e1c452841e4617556 to 1.30.0,ed7521e846ec3fd3a110e857a464366d2fa7c3fa
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11129 Update vivaldi-snapshot from 3.9.2305.3 to 4.0.2312.13
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#11130 Update google-chrome-canary from 93.0.4532.2 to 93.0.4533.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11132 Update google-chrome-canary from 93.0.4533.0 to 93.0.4534.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11131 Update vivaldi-snapshot from 4.0.2312.13 to 4.0.2312.17
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#11133 Update azure-data-studio-insiders from 1.30.0,ed7521e846ec3fd3a110e857a464366d2fa7c3fa to 1.30.0,d04451985c5fcab79a2c51ef5c5d90a703872432
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11134 Update opera-developer from 78.0.4072.0 to 78.0.4079.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#11135 Update google-chrome-canary from 93.0.4534.0 to 93.0.4535.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11136 Update charles-beta from 4.6.2b5 to 4.6.2b7
  Casks/charles-beta.rb
Labels: bump-cask-pr

#11139 Update google-chrome-canary from 93.0.4535.0 to 93.0.4535.3
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11142 Update google-chrome-canary from 93.0.4535.3 to 93.0.4536.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11140 Update android-studio-preview-canary from 2021.1.1.1 to 2021.1.1.2
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#11141 Update brave-browser-beta from 91.1.26.50,126.50 to 91.1.26.54,126.54
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#11143 Update azure-data-studio-insiders from 1.30.0,d04451985c5fcab79a2c51ef5c5d90a703872432 to 1.30.0,d8b693341e814e792dbb644ded52ec1632b60c2c
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11147 Update brave-browser-dev from 91.1.26.48,126.48 to 91.1.26.55,126.55
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#11148 Update google-chrome-dev from 93.0.4530.5 to 93.0.4535.3
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#11151 Update vivaldi-snapshot from 4.0.2312.17 to 4.0.2312.21
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#11153 Update google-chrome-canary from 93.0.4536.0 to 93.0.4537.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11154 Update signal-beta from 5.4.0-beta.3 to 5.5.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#11155 Update mullvadvpn-beta from 2021.3-beta1 to 2021.4-beta1
  Casks/mullvadvpn-beta.rb
Labels: bump-cask-pr

#11156 Update github-beta from 2.8.4-beta2-f55cca17 to 2.8.4-beta3-d6d9e446
  Casks/github-beta.rb
Labels: bump-cask-pr

#11157 Update propresenter-beta from 7.5.1,117768465 to 7.5.2,117768716
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#11158 Update google-chrome-canary from 93.0.4537.0 to 93.0.4538.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11160 Update dropbox-beta from 124.3.4898 to 125.3.3444
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#11161 Update google-chrome-beta from 92.0.4515.39 to 92.0.4515.51
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#11163 Update brave-browser-dev from 91.1.26.55,126.55 to 91.1.26.58,126.58
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#11162 Update brave-browser-beta from 91.1.26.54,126.54 to 91.1.26.57,126.57
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#11165 Update github-beta from 2.8.4-beta3-d6d9e446 to 2.8.4-beta4-dd405223
  Casks/github-beta.rb
Labels: bump-cask-pr

#11164 Update google-chrome-canary from 93.0.4538.0 to 93.0.4539.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11166 Update azure-data-studio-insiders from 1.30.0,d8b693341e814e792dbb644ded52ec1632b60c2c to 1.30.0,ddc6b2fdd81311158ca532b841961dcea6ded8f7
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11168 Update tor-browser-alpha from 10.5a15 to 10.5a16
  Casks/tor-browser-alpha.rb
Labels: bump-cask-pr

#11172 Update propresenter-beta from 7.5.2,117768716 to 7.5.3,117768962
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#11169 Update google-chrome-canary from 93.0.4539.0 to 93.0.4539.2
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11170 Update osu-development from 2021.608.0 to 2021.612.0
  Casks/osu-development.rb
Labels: bump-cask-pr

#11173 New cask: macfuse-dev 4.2.0
  Casks/macfuse-dev.rb
Labels: new cask

#11174 Update google-chrome-canary from 93.0.4539.2 to 93.0.4540.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11178 Update google-chrome-canary from 93.0.4540.0 to 93.0.4541.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11179 Update iterm2-beta from 3.4.7beta2 to 3.4.9beta1
  Casks/iterm2-beta.rb
Labels: bump-cask-pr

#11180 Update google-chrome-canary from 93.0.4541.0 to 93.0.4542.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11182 Update azure-data-studio-insiders from 1.30.0,ddc6b2fdd81311158ca532b841961dcea6ded8f7 to 1.30.0,b413de153c13757e95ed117d687b5e7b10a0a709
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11185 Update opera-developer from 78.0.4079.0 to 78.0.4086.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#11184 Update dropbox-beta from 125.3.3444 to 125.3.3450
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#11186 Update google-chrome-canary from 93.0.4542.0 to 93.0.4542.2
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11187 Update azure-data-studio-insiders from 1.30.0,b413de153c13757e95ed117d687b5e7b10a0a709 to 1.30.0,6a7e1dfd270eb6c2239f775f3f75ec8da086a26d
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11189 Update discord-canary from 0.0.272 to 0.0.273
  Casks/discord-canary.rb
Labels: bump-cask-pr

#11190 Update qgis-ltr from 3.16.5,20210319_161904 to 3.16.7,20210609_154722
  Casks/qgis-ltr.rb
Labels: bump-cask-pr

#11191 Update github-beta from 2.8.4-beta4-dd405223 to 2.8.4-beta5-7f57ce43
  Casks/github-beta.rb
Labels: bump-cask-pr

#11193 Update brave-browser-beta from 91.1.26.57,126.57 to 91.1.26.60,126.60
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#11194 Update google-chrome-canary from 93.0.4542.2 to 93.0.4544.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11195 Update brave-browser-dev from 91.1.26.58,126.58 to 91.1.26.61,126.61
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#11196 Update google-chrome-dev from 93.0.4535.3 to 93.0.4542.2
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#11197 Update vivaldi-snapshot from 4.0.2312.21 to 4.1.2328.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#11201 Update google-chrome-beta from 92.0.4515.51 to 92.0.4515.59
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#11202 Update skype-preview from 8.73.76.33 to 8.74.76.15
  Casks/skype-preview.rb
Labels: bump-cask-pr

#11205 Update azure-data-studio-insiders from 1.30.0,6a7e1dfd270eb6c2239f775f3f75ec8da086a26d to 1.30.0,fdcb97c7f79dffbb657f54bcbd07eb9037aacf5a
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11206 Update signal-beta from 5.5.0-beta.1 to 5.6.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#11207 Update dropbox-beta from 125.3.3450 to 125.3.3463
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#11208 Update xampp7 from 7.4.19-0 to 7.4.20-0
  Casks/xampp7.rb
Labels: bump-cask-pr

#11209 Update termius-beta from 7.11.3 to 7.14.0
  Casks/termius-beta.rb
Labels: bump-cask-pr

#11210 Update skype-preview from 8.74.76.15 to 8.74.76.113
  Casks/skype-preview.rb
Labels: bump-cask-pr

#11211 Update sketch-beta from 72-124281 to 73-127160
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#11212 Update royal-tsx-beta from 5.0.0.18 to 5.0.1.1
  Casks/royal-tsx-beta.rb
Labels: bump-cask-pr

#11214 Update google-chrome-canary from 93.0.4544.0 to 93.0.4546.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11215 Update brave-browser-beta from 91.1.26.60,126.60 to 91.1.27.69,127.69
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#11216 Update brave-browser-dev from 91.1.26.61,126.61 to 91.1.27.70,127.70
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#11213 Update opera-beta from 77.0.4054.38 to 77.0.4054.91
  Casks/opera-beta.rb
Labels: bump-cask-pr

#11217 Update 1password-beta from 7.8.4.BETA-2 to 7.8.6
  Casks/1password-beta.rb
Labels: bump-cask-pr

#11218 Update osu-development from 2021.612.0 to 2021.619.1
  Casks/osu-development.rb
Labels: bump-cask-pr

#11219 Update google-chrome-canary from 93.0.4547.0 to 93.0.4547.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11220 Update tunnelblick-beta from 3.8.6beta03,5700 to 3.8.6beta04,5705
  Casks/tunnelblick-beta.rb
Labels: bump-cask-pr

#11221 Update visual-studio-code-insiders from 1.58.0,a81fff00c9dab105800118fcf8b044cd84620419 to 1.58.0,7dea6d7402b55671410a129661cad24b55aed9f4
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11224 Update google-chrome-canary from 93.0.4547.0 to 93.0.4548.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11225 Geogebra5
  Casks/geogebra5.rb
Labels: awaiting user reply, new cask

#11226 Update google-chrome-canary from 93.0.4548.0 to 93.0.4549.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11227 Update azure-data-studio-insiders from 1.30.0,fdcb97c7f79dffbb657f54bcbd07eb9037aacf5a to 1.31.0,207312bd96a0ac5a658b48a3ee93a695d8a81bf8
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11229 Update google-chrome-canary from 93.0.4549.0 to 93.0.4549.3
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11230 Update sublime-text-dev from 4.106 to 4.108
  Casks/sublime-text-dev.rb
Labels: bump-cask-pr

#11233 Update dropbox-beta from 125.3.3463 to 125.3.3472
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#11234 Update hyper-canary from 3.1.0-canary.5 to 3.1.0-canary.6
  Casks/hyper-canary.rb
Labels: bump-cask-pr

#11235 Update opera-developer from 78.0.4086.0 to 78.0.4093.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#11238 Update azure-data-studio-insiders from 1.31.0,207312bd96a0ac5a658b48a3ee93a695d8a81bf8 to 1.31.0,a35f8ffc5221d65bdb1c4dc3e8c6d5bf272ff7d9
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11240 Update slack-beta from 4.17.0 to 4.18.0-beta1
  Casks/slack-beta.rb
Labels: bump-cask-pr

#11241 Update sublime-text-dev from 4.108 to 4.109
  Casks/sublime-text-dev.rb
Labels: bump-cask-pr

#11242 Update propresenter-beta from 7.5.3,117768962 to 7.6,117833737
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#11243 Update google-chrome-canary from 93.0.4549.3 to 93.0.4550.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11244 Update google-chrome-dev from 93.0.4542.2 to 93.0.4549.4
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#11245 Update azure-data-studio-insiders from 1.31.0,a35f8ffc5221d65bdb1c4dc3e8c6d5bf272ff7d9 to 1.31.0,c636e24d037463ea3d4eac2130701140b400f2b0
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11247 Update signal-beta from 5.6.0-beta.1 to 5.7.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#11248 Update google-chrome-canary from 93.0.4550.0 to 93.0.4551.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11249 Update google-chrome-beta from 92.0.4515.59 to 92.0.4515.69
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#11203 add tinyMediaManager 3.1.14
  Casks/tinymediamanager3.rb
Labels: new cask

#11251 Update chromedriver-beta from 91.0.4472.19 to 92.0.4515.43
  Casks/chromedriver-beta.rb
Labels: bump-cask-pr

#11252 Update termius-beta from 7.14.0 to 7.15.0
  Casks/termius-beta.rb
Labels: bump-cask-pr

#11253 Update rstudio-preview from 1.4.1717 to 1.4.1722
  Casks/rstudio-preview.rb
Labels: bump-cask-pr

#11254 Update royal-tsx-beta from 5.0.1.1 to 5.0.1.2
  Casks/royal-tsx-beta.rb
Labels: bump-cask-pr

#11262 Update mi-beta from 3.5.2,1000 to 3.5.3b1,1030
  Casks/mi-beta.rb
Labels: bump-cask-pr

#11261 Update java-beta from 17,22 to 17,27
  Casks/java-beta.rb
Labels: bump-cask-pr

#11260 Update microsoft-edge-beta from 91.0.864.27 to 92.0.902.23
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#11259 Update microsoft-edge-dev from 92.0.884.2 to 93.0.926.0
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#11258 Update mongodb-compass-beta from 1.27.0-beta.2 to 1.27.0-beta.8
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#11257 Update osu-development from 2021.619.1 to 2021.623.0
  Casks/osu-development.rb
Labels: bump-cask-pr

#11255 Update qgis-ltr from 3.16.7,20210609_154722 to 3.16.8,20210619_044746
  Casks/qgis-ltr.rb
Labels: bump-cask-pr

#11263 Update google-chrome-canary from 93.0.4551.0 to 93.0.4552.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11267 Update azure-data-studio-insiders from 1.31.0,c636e24d037463ea3d4eac2130701140b400f2b0 to 1.31.0,ae7e69381a40d6886f920dede916f4176bc58a8d
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11266 Update morpheus-beta from 2.2.2 to 2.2.3
  Casks/morpheus-beta.rb
Labels: bump-cask-pr

#11268 Update dropbox-beta from 125.3.3472 to 126.3.4577
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#11265 Add PicoScope 7 Beta v7.0.75.8573
  Casks/picoscope-beta.rb
Labels: new cask

#11269 Update google-chrome-canary from 93.0.4552.0 to 93.0.4553.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11271 Update azure-data-studio-insiders from 1.31.0,ae7e69381a40d6886f920dede916f4176bc58a8d to 1.31.0,3eef3f2a0bfef1f6c5a852a575568a13ea50dc12
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11273 Update appcode-eap from 2021.1,211.6693.121 to 2021.2,212.4321.37
  Casks/appcode-eap.rb
Labels: bump-cask-pr

#11274 Update vivaldi-snapshot from 4.1.2328.3 to 4.1.2339.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#11275 Update propresenter-beta from 7.6,117833737 to 7.6,117833740
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#11276 Update google-chrome-canary from 93.0.4553.0 to 93.0.4554.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11277 Update google-chrome-canary from 93.0.4554.0 to 93.0.4555.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11278 Update tunnelblick-beta from 3.8.6beta04,5705 to 3.8.6beta05,5706
  Casks/tunnelblick-beta.rb
Labels: bump-cask-pr

#11279 Update google-chrome-canary from 93.0.4555.0 to 93.0.4556.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11280 Add fork-dev 2.9.3
  Casks/fork-dev.rb
Labels: new cask

#11281 Update google-chrome-canary from 93.0.4556.0 to 93.0.4557.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11282 Update opera-developer from 78.0.4093.0 to 79.0.4100.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#11284 Update azure-data-studio-insiders from 1.31.0,3eef3f2a0bfef1f6c5a852a575568a13ea50dc12 to 1.31.0,c3e0958f2d13b50b53fc409870aee46dac9695e2
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11285 Update tor-browser-alpha from 10.5a16 to 10.5a17
  Casks/tor-browser-alpha.rb
Labels: bump-cask-pr

#11286 Update google-chrome-canary from 93.0.4557.0 to 93.0.4557.3
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11287 Update google-chrome-canary from 93.0.4557.3 to 93.0.4558.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11288 Update azure-data-studio-insiders from 1.31.0,c3e0958f2d13b50b53fc409870aee46dac9695e2 to 1.31.0,5fa53c3519eb0ad6b6b4fd815a2336133cc1fb99
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11291 Update google-chrome-dev from 93.0.4549.4 to 93.0.4557.4
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#11292 Update propresenter-beta from 7.6,117833740 to 7.6,117833742
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#11293 Update dotnet-preview from 6.0.0-preview.4.21253.7,bab80210-ac54-44fa-bf41-7474c6371cf2:eadcd657b93e347d08bc33c59bd60835 to 6.0.0-preview.5.21301.5,c326f2e1-10ee-482e-9871-5fb8de7f7777:dda8203d3b58e56efeca4a7248cdea67
  Casks/dotnet-preview.rb
Labels: bump-cask-pr

#11295 Update google-chrome-beta from 92.0.4515.69 to 92.0.4515.80
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr
