Repository Homebrew/homebrew-cask-versions, pull requests merged in 2021-08, with the labels that each got.

#11552 Update google-chrome-canary from 94.0.4593.0 to 94.0.4594.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11553 Update osu-development from 2021.724.1 to 2021.731.0
  Casks/osu-development.rb
Labels: bump-cask-pr

#11555 Update opera-developer from 79.0.4128.0 to 79.0.4135.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#11556 Update google-chrome-canary from 94.0.4594.0 to 94.0.4595.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11557 Update azure-data-studio-insiders from 1.32.0,788c84a1ee3c9188f22e04ac2434b4387d9c3b16 to 1.32.0,914fe8fc29f62ab42ace2f991c388397b253655e
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11559 Update signal-beta from 5.12.0-beta.2 to 5.12.0-beta.3
  Casks/signal-beta.rb
Labels: bump-cask-pr

#11561 Update google-chrome-canary from 94.0.4595.0 to 94.0.4595.3
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11562 Update android-studio-preview-canary from 2021.1.1.5 to 2021.1.1.6
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#11570 Update brave-browser-dev from 1.28.97.0,128.97 to 1.28.101.0,128.101
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#11571 Update azure-data-studio-insiders from 1.32.0,914fe8fc29f62ab42ace2f991c388397b253655e to 1.32.0,760cf010220b726507cf0982301d6fa88d2a609c
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11569 Update zulu15 from 15.0.4,15.34.17-ca to 15.0.4,15.34.17-ca-fx
  Casks/zulu15.rb
Labels: bump-cask-pr

#11568 Update microsoft-edge-dev from 93.0.961.2 to 93.0.961.10
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#11567 Update java-beta from 17,32 to 17,33
  Casks/java-beta.rb
Labels: bump-cask-pr

#11566 Update google-chrome-canary from 94.0.4595.3 to 94.0.4596.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11565 Update geogebra5 from 5.0.656.0 to 5.0.657.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#11564 Update citra-nightly from 1718,20210724-dd31ed6 to 1720,20210801-c40871f
  Casks/citra-nightly.rb
Labels: bump-cask-pr

#11563 Update brave-browser-beta from 1.28.96.0,128.96 to 1.28.100.0,128.100
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#11572 Update google-chrome-dev from 94.0.4590.0 to 94.0.4595.3
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#11573 Update propresenter-beta from 7.6.1,117833992 to 7.6.1,117833994
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#11574 Update visual-studio-code-insiders from 1.59.0,ba0df885e9d6b0f0ccf2cc714c3fa31423572205 to 1.59.0,cead2f699cd0afb2464d8d3ad975776051583b4f
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11575 Update google-chrome-canary from 94.0.4596.0 to 94.0.4597.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11576 Update visual-studio-code-insiders from 1.59.0,cead2f699cd0afb2464d8d3ad975776051583b4f to 1.59.0,8f58c1f457bd2ddf6cf81120c450c783b6e8c01b
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11578 Update dropbox-beta from 128.3.2857 to 129.3.3513
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#11579 Update propresenter-beta from 7.6.1,117833994 to 7.6.1,117833997
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#11580 Update google-chrome-beta from 93.0.4577.18 to 93.0.4577.25
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#11582 Update google-chrome-canary from 94.0.4597.0 to 94.0.4598.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11583 Update azure-data-studio-insiders from 1.32.0,760cf010220b726507cf0982301d6fa88d2a609c to 1.32.0,99b5c5ce8c439a7688564483b648d6d6f3e6e0d7
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11584 Update safari-technology-preview from 128,071-69924-20210721-12dc69a3-8d45-4719-a87b-45e8da5dec8e to 129,071-75207-20210803-64ff58d6-e277-4a4c-9304-607d2d6e12ae
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#11586 Update signal-beta from 5.12.0-beta.3 to 5.13.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#11587 Update brave-browser-beta from 1.28.100.0,128.100 to 1.29.51.0,129.51
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#11588 Update google-chrome-canary from 94.0.4598.0 to 94.0.4599.2
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11589 Update visual-studio-code-insiders from 1.59.0,379476f0e13988d90fab105c5c19e7abc8b1dea8 to 1.60.0,49af1cbe00271ac2ea36cfc5f7352fe31a7b0094
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11590 Update arduino-ide-beta from 2.0.0,9 to 2.0.0,10
  Casks/arduino-ide-beta.rb
Labels: bump-cask-pr

#11594 Update microsoft-openjdk11 from 11.0.11.9.1 to 11.0.12.7.1
  Casks/microsoft-openjdk11.rb
Labels: bump-cask-pr

#11593 Update microsoft-edge-dev from 93.0.961.10 to 94.0.972.2
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#11592 Update microsoft-edge-beta from 92.0.902.62 to 93.0.961.11
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#11591 Update azure-data-studio-insiders from 1.32.0,99b5c5ce8c439a7688564483b648d6d6f3e6e0d7 to 1.32.0,991b9af19880b20f5382daf5249aa31cc919560b
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11595 Update royal-tsx-beta from 5.0.4.1 to 5.0.4.2
  Casks/royal-tsx-beta.rb
Labels: bump-cask-pr

#11596 Update google-chrome-canary from 94.0.4599.2 to 94.0.4600.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11597 Update signal-beta from 5.13.0-beta.1 to 5.13.0-beta.2
  Casks/signal-beta.rb
Labels: bump-cask-pr

#11598 Update google-chrome-canary from 94.0.4600.0 to 94.0.4601.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11599 Update osu-development from 2021.731.0 to 2021.808.0
  Casks/osu-development.rb
Labels: bump-cask-pr

#11600 Update olympus from 2091 to 2253
  Casks/olympus.rb
Labels: bump-cask-pr

#11601 Update google-chrome-canary from 94.0.4601.0 to 94.0.4602.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11602 Update osu-development from 2021.808.0 to 2021.809.0
  Casks/osu-development.rb
Labels: bump-cask-pr

#11605 Update opera-developer from 79.0.4135.0 to 79.0.4142.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#11604 Update android-studio-preview-canary from 2021.1.1.6 to 2021.1.1.7
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#11606 Update google-chrome-canary from 94.0.4602.0 to 94.0.4603.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11607 Update visual-studio-code-insiders from 1.60.0,1ee61f368ee0570feeb220605578a8768d99e762 to 1.60.0,71b299184f7908491345aec5e231599c3ae8753b
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11609 Update xampp7 from 7.4.21-1 to 7.4.22-0
  Casks/xampp7.rb
Labels: bump-cask-pr

#11610 Update azure-data-studio-insiders from 1.32.0,991b9af19880b20f5382daf5249aa31cc919560b to 1.32.0,309e558727225bde9e577f8f566e68f8b657ae45
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11611 Update 1password-beta from 7.8.7.BETA-1 to 7.8.7
  Casks/1password-beta.rb
Labels: bump-cask-pr

#11613 Update clashx-pro from 1.65.0.2 to 1.65.1.1
  Casks/clashx-pro.rb
Labels: bump-cask-pr

#11614 Update dotnet-preview from 6.0.0-preview.5.21301.5,c326f2e1-10ee-482e-9871-5fb8de7f7777:dda8203d3b58e56efeca4a7248cdea67 to 6.0.0-preview.7.21377.19,f3f28827-7599-4d5e-a218-348e3988e27f:cbc1fe0c1d29f48f9b75591e95823d42
  Casks/dotnet-preview.rb
Labels: bump-cask-pr

#11615 Update dotnet-sdk-preview from 6.0.100-preview.5.21302.13,134a7c15-69cf-40b3-ba78-a78a666ac2de:996de9580ee6c05b2bcb0e9456fdf877 to 6.0.100-preview.7.21379.14,9e02abfd-b421-4c43-8541-482f037ed19c:f61bd4f35c444710016db8b5a7206a97
  Casks/dotnet-sdk-preview.rb
Labels: bump-cask-pr

#11617 Update microsoft-edge-beta from 93.0.961.11 to 93.0.961.18
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#11616 Update microsoft-edge-dev from 94.0.972.2 to 94.0.975.1
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#11618 Update sketch-beta from 75,129673 to 75,129697
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#11619 Update picoscope-beta from 7.0.77.8819 to 7.0.78.8921
  Casks/picoscope-beta.rb
Labels: bump-cask-pr

#11620 Update termius-beta from 7.17.1 to 7.18.3
  Casks/termius-beta.rb
Labels: bump-cask-pr

#11621 Update skype-preview from 8.75.76.113 to 8.75.76.133
  Casks/skype-preview.rb
Labels: bump-cask-pr

#11622 Update zulu15 from 15.0.4,15.34.17-ca-fx to 15.0.4,15.34.17-ca
  Casks/zulu15.rb
Labels: bump-cask-pr

#11623 Update visual-studio-code-insiders from 1.60.0,71b299184f7908491345aec5e231599c3ae8753b to 1.60.0,1c445fe4c7c540d323a206f2f7cb8df9aa99d60e
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11624 Update qgis-ltr from 3.16.8,20210619_044746 to 3.16.9,20210806_022813
  Casks/qgis-ltr.rb
Labels: bump-cask-pr

#11612 Update brave-browser-beta from 1.29.51.0,129.51 to 1.29.55.0,129.55
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#11626 firefox-esr 78.13.0
  Casks/firefox-esr.rb
Labels: bump-cask-pr

#11627 Update google-chrome-canary from 94.0.4603.0 to 94.0.4604.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11628 Update visual-studio-code-insiders from 1.60.0,1c445fe4c7c540d323a206f2f7cb8df9aa99d60e to 1.60.0,7c25c174726ab969db3f99058cdf24bcfae1cfbe
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11629 Update brave-browser-dev from 1.28.101.0,128.101 to 1.29.56.0,129.56
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#11632 Update azure-data-studio-insiders from 1.32.0,309e558727225bde9e577f8f566e68f8b657ae45 to 1.32.0,549b2de309458de481158f643086b0868fb61ed3
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11633 Update google-chrome-dev from 94.0.4595.3 to 94.0.4603.0
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#11634 Update slack-beta from 4.19.0-beta1 to 4.19.0
  Casks/slack-beta.rb
Labels: bump-cask-pr

#11636 Update signal-beta from 5.13.0-beta.2 to 5.14.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#11637 Update royal-tsx-beta from 5.0.4.2 to 5.0.4.3
  Casks/royal-tsx-beta.rb
Labels: bump-cask-pr

#11639 scribus-dev: add livecheck
  Casks/scribus-dev.rb
Labels: bump-cask-pr

#11638 postgres-beta: remove
  Casks/postgres-beta.rb
Labels: marked for removal/rejection

#11640 Update google-chrome-canary from 94.0.4604.0 to 94.0.4605.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11641 Update brave-browser-beta from 1.29.55.0,129.55 to 1.29.58.0,129.58
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#11630 Add temurin11
  Casks/temurin11.rb
Labels: new cask

#11554 Add temurin8
  Casks/adoptopenjdk8.rb
  Casks/temurin8.rb
Labels: awaiting maintainer feedback, automerge-skip

#11643 Update google-chrome-beta from 93.0.4577.25 to 93.0.4577.42
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#11644 Update azure-data-studio-insiders from 1.32.0,549b2de309458de481158f643086b0868fb61ed3 to 1.32.0,1e761bc159866b6034af354a55b9c428e414e5d4
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11645 Update visual-studio-code-insiders from 1.60.0,7c25c174726ab969db3f99058cdf24bcfae1cfbe to 1.60.0,699084fdb48460c68086b85b5c08f3d39055e772
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11646 Update brave-browser-dev from 1.29.56.0,129.56 to 1.29.59.0,129.59
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#11647 Update ferdi-beta from 5.6.0-beta.8 to 5.6.1-beta.1
  Casks/ferdi-beta.rb
Labels: bump-cask-pr

#11648 Update skype-preview from 8.75.76.133 to 8.76.76.40
  Casks/skype-preview.rb
Labels: bump-cask-pr

#11650 Update google-chrome-canary from 94.0.4605.0 to 94.0.4606.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11651 Update visual-studio-code-insiders from 1.60.0,699084fdb48460c68086b85b5c08f3d39055e772 to 1.60.0,58454f7bec838f79fe2422ab5914419147d82e40
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11649 Update android-studio-preview-canary from 2021.1.1.7 to 2021.1.1.8
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#11652 Update dropbox-beta from 129.3.3513 to 129.3.3566
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#11653 Update azure-data-studio-insiders from 1.32.0,1e761bc159866b6034af354a55b9c428e414e5d4 to 1.32.0,c68acfde8293ca2f80dfeaf0ff30a28ff1e19bff
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11654 Update signal-beta from 5.14.0-beta.1 to 5.14.0-beta.2
  Casks/signal-beta.rb
Labels: bump-cask-pr

#11655 Update google-chrome-canary from 94.0.4606.0 to 94.0.4606.2
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11656 Update 1password-beta from 7.8.7 to 7.8.8.BETA-0
  Casks/1password-beta.rb
Labels: bump-cask-pr

#11658 Update google-chrome-canary from 94.0.4606.2 to 94.0.4606.3
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11659 Update osu-development from 2021.809.0 to 2021.814.0
  Casks/osu-development.rb
Labels: bump-cask-pr

#11660 Update java-beta from 17,33 to 18,10
  Casks/java-beta.rb
Labels: bump-cask-pr

#11661 Update qgis-ltr from 3.16.9,20210806_022813 to 3.16.10,20210813_174425
  Casks/qgis-ltr.rb
Labels: bump-cask-pr

#11664 Update google-chrome-canary from 94.0.4606.3 to 95.0.4608.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11663 Update osu-development from 2021.814.0 to 2021.815.0
  Casks/osu-development.rb
Labels: bump-cask-pr

#11665 Update skype-preview from 8.76.76.40 to 8.76.76.58
  Casks/skype-preview.rb
Labels: bump-cask-pr

#11666 Update google-chrome-canary from 95.0.4608.0 to 95.0.4609.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11667 Update visual-studio-code-insiders from 1.60.0,58454f7bec838f79fe2422ab5914419147d82e40 to 1.60.0,9dd4f31a21d63deea5e1fc322cfc802413b31d95
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11668 Update azure-data-studio-insiders from 1.32.0,c68acfde8293ca2f80dfeaf0ff30a28ff1e19bff to 1.32.0,ea62adbb5c9bf6fadb4c8c1e5c70bc889a17750e
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11669 Update sketch-beta from 75,129697 to 76,130223
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#11671 Update google-chrome-canary from 95.0.4609.0 to 95.0.4609.3
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11674 Update signal-beta from 5.14.0-beta.2 to 5.14.0-beta.3
  Casks/signal-beta.rb
Labels: bump-cask-pr

#11673 Update picoscope-beta from 7.0.78.8921 to 7.0.79.8989
  Casks/picoscope-beta.rb
Labels: bump-cask-pr

#11672 Update geogebra5 from 5.0.657.0 to 5.0.659.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#11675 Update tor-browser-alpha from 11.0a2 to 11.0a4
  Casks/tor-browser-alpha.rb
Labels: bump-cask-pr

#11676 Update brave-browser-beta from 1.29.58.0,129.58 to 1.29.61.0,129.61
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#11677 Update visual-studio-code-insiders from 1.60.0,9dd4f31a21d63deea5e1fc322cfc802413b31d95 to 1.60.0,f0913d7718bbc4a805cd3a051335b4df60ca5d77
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11678 Update opera-developer from 79.0.4142.0 to 80.0.4150.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#11680 Update github-beta from 2.9.1-beta2-73965846 to 2.9.1-beta4-6c2926ea
  Casks/github-beta.rb
Labels: bump-cask-pr

#11679 Update azure-data-studio-insiders from 1.32.0,ea62adbb5c9bf6fadb4c8c1e5c70bc889a17750e to 1.32.0,95a08d2ce79f018905b390ffb12ebd6415a809e2
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11681 Update brave-browser-dev from 1.29.59.0,129.59 to 1.29.62.0,129.62
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#11682 Update google-chrome-canary from 95.0.4609.3 to 95.0.4611.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11683 Update visual-studio-code-insiders from 1.60.0,f0913d7718bbc4a805cd3a051335b4df60ca5d77 to 1.60.0,af770c2dc85ef6835197a8bd7eb416fe0a022c44
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11684 Update dropbox-beta from 129.3.3566 to 130.3.4934
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#11686 Update google-chrome-canary from 95.0.4611.0 to 95.0.4611.3
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11687 Update sonos-s1-controller from 11.2.9 to 11.2.10
  Casks/sonos-s1-controller.rb
Labels: bump-cask-pr

#11685 openzfs-dev: 2.1.0rc4
  Casks/openzfs-dev.rb
Labels: ci-skip-install

#11688 Update google-chrome-canary from 95.0.4611.3 to 95.0.4612.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11689 Update visual-studio-code-insiders from 1.60.0,af770c2dc85ef6835197a8bd7eb416fe0a022c44 to 1.60.0,0214d59846f265d9e50f53b61e2267407d81cbfb
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11690 Update github-beta from 2.9.1-beta4-6c2926ea to 2.9.1-beta5-bbd11fc7
  Casks/github-beta.rb
Labels: bump-cask-pr

#11693 Update github-beta from 2.9.1-beta5-bbd11fc7 to 2.9.1-beta6-dd2ab4b1
  Casks/github-beta.rb
Labels: bump-cask-pr

#11694 Update google-chrome-beta from 93.0.4577.42 to 93.0.4577.51
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#11695 Update google-chrome-canary from 95.0.4612.0 to 95.0.4612.2
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11692 Update tunnelblick-beta from 3.8.6beta05,5706 to 3.8.6beta06,5707
  Casks/tunnelblick-beta.rb
Labels: bump-cask-pr

#11699 Update brave-browser-beta from 1.29.61.0,129.61 to 1.29.64.0,129.64
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#11701 Update opera-beta from 78.0.4093.103 to 79.0.4143.3
  Casks/opera-beta.rb
Labels: bump-cask-pr

#11700 Update vivaldi-snapshot from 4.1.2369.10 to 4.2.2392.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#11702 Update dotnet-sdk-preview and dotnet-preview for arm64
  Casks/dotnet-preview.rb
  Casks/dotnet-sdk-preview.rb
Labels: automerge-skip, bump-cask-pr

#11703 Update brave-browser-dev from 1.29.62.0,129.62 to 1.29.65.0,129.65
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#11704 Update github-beta from 2.9.1-beta6-dd2ab4b1 to 2.9.1-beta7-00c02c48
  Casks/github-beta.rb
Labels: bump-cask-pr

#11705 Update libreoffice-still from 7.0.6 to 7.1.5
  Casks/libreoffice-still.rb
Labels: bump-cask-pr

#11708 Update telegram-desktop-beta from 2.8.13 to 2.9.4
  Casks/telegram-desktop-beta.rb
Labels: bump-cask-pr

#11707 Update termius-beta from 7.18.3 to 7.19.0
  Casks/termius-beta.rb
Labels: bump-cask-pr

#11709 Update visual-studio-code-insiders from 1.60.0,0214d59846f265d9e50f53b61e2267407d81cbfb to 1.60.0,c08913337cb8b95493be8e99d62e0b3241563f6b
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11711 Update google-chrome-canary from 95.0.4612.2 to 95.0.4612.5
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11712 Update google-chrome-dev from 94.0.4603.0 to 94.0.4606.9
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#11716 Update osu-development from 2021.815.0 to 2021.820.0
  Casks/osu-development.rb
Labels: bump-cask-pr

#11713 Update azure-data-studio-insiders from 1.32.0,95a08d2ce79f018905b390ffb12ebd6415a809e2 to 1.33.0,bbe77d6823a6def8c77cc75ff299d7ae1ca21818
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11714 Update dropbox-beta from 130.3.4934 to 130.3.4940
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#11717 Update signal-beta from 5.14.0-beta.3 to 5.15.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#11718 Update google-chrome-canary from 95.0.4612.5 to 95.0.4612.11
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11719 Update azure-data-studio-insiders from 1.33.0,bbe77d6823a6def8c77cc75ff299d7ae1ca21818 to 1.33.0,d1dc226ff6909237650cea8f30d516cd55e7886e
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11720 Update java-beta from 18,10 to 18,11
  Casks/java-beta.rb
Labels: bump-cask-pr

#11721 Update sketch-beta from 76,130223 to 76,130257
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#11722 Update skype-preview from 8.76.76.58 to 8.76.76.70
  Casks/skype-preview.rb
Labels: bump-cask-pr
