Repository Homebrew/homebrew-cask-versions, pull requests merged in 2021-07, with the labels that each got.

#11297 Update propresenter-beta from 7.6,117833742 to 7.6,117833745
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#11298 Update google-chrome-canary from 93.0.4558.0 to 93.0.4561.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11299 Update sublime-merge-dev from 2055 to 2057
  Casks/sublime-merge-dev.rb
Labels: bump-cask-pr

#11312 Update sketch-beta from 73-127160 to 73,127175
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#11311 Update skype-preview from 8.74.76.113 to 8.74.76.129
  Casks/skype-preview.rb
Labels: bump-cask-pr

#11310 Update termius-beta from 7.15.0 to 7.15.1
  Casks/termius-beta.rb
Labels: bump-cask-pr

#11309 Update tinymediamanager3 from 3.1.14 to 3.1.15
  Casks/tinymediamanager3.rb
Labels: bump-cask-pr

#11308 Update signal-beta from 5.7.0-beta.1 to 5.8.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#11307 Update rstudio-preview from 1.4.1722 to 1.4.1725
  Casks/rstudio-preview.rb
Labels: bump-cask-pr

#11306 Update royal-tsx-beta from 5.0.1.2 to 5.0.1.3
  Casks/royal-tsx-beta.rb
Labels: bump-cask-pr

#11305 Update mongodb-compass-beta from 1.27.0-beta.8 to 1.27.0-beta.9
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#11304 Update microsoft-edge-dev from 93.0.926.0 to 93.0.933.1
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#11303 Update microsoft-edge-beta from 92.0.902.23 to 92.0.902.30
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#11302 Update java-beta from 17,27 to 17,28
  Casks/java-beta.rb
Labels: bump-cask-pr

#11301 Update dotnet-preview from 6.0.0-preview.4.21253.7,fb84fa05-f898-4fa3-b6af-49dd6218fe2a:208ef70454ddebee075044b8e924200f to 6.0.0-preview.5.21301.5,59b1d539-c76f-493c-9f6e-18c953429084:4c7fafc6ab3f5f4927929b543d62bc81
  Casks/dotnet-preview.rb
Labels: bump-cask-pr

#11300 Update citra-nightly from 1713,20210622-3d85552 to 1714,20210622-5241032
  Casks/citra-nightly.rb
Labels: bump-cask-pr

#11314 Update google-chrome-canary from 93.0.4561.0 to 93.0.4562.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11315 Update vivaldi-snapshot from 4.1.2339.3 to 4.1.2345.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#11316 Update opera-beta from 77.0.4054.91 to 78.0.4093.34
  Casks/opera-beta.rb
Labels: bump-cask-pr

#11317 Update azure-data-studio-insiders from 1.31.0,5fa53c3519eb0ad6b6b4fd815a2336133cc1fb99 to 1.31.0,5bc5816a254f6bc1d99d20eace494a0292568c85
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11318 Update azure-data-studio-insiders from 1.31.0,5bc5816a254f6bc1d99d20eace494a0292568c85 to 1.31.0,e8ba89750bae05438d729302c62f092ce3e5f01c
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11321 Update google-chrome-canary from 93.0.4562.0 to 93.0.4563.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11323 Update android-studio-preview-beta from 2020.3.1.19 to 2020.3.1.20
  Casks/android-studio-preview-beta.rb
Labels: bump-cask-pr

#11324 Update sketch-beta from 73,127175 to 73.1,127209
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#11326 Update osu-development from 2021.623.0 to 2021.703.0
  Casks/osu-development.rb
Labels: bump-cask-pr

#11327 Update java-beta from 17,28 to 17,29
  Casks/java-beta.rb
Labels: bump-cask-pr

#11325 Update royal-tsx-beta from 5.0.1.3 to 5.0.1.1000
  Casks/royal-tsx-beta.rb
Labels: bump-cask-pr

#11328 Update brave-browser-dev from 91.1.27.70,127.70 to 1.27.88.0,127.88
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#11329 Update brave-browser-beta from 91.1.27.69,127.69 to 1.27.87.0,127.87
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#11330 Update google-chrome-canary from 93.0.4563.0 to 93.0.4564.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11333 Update geogebra5 from 5.0.647.0 to 5.0.649.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#11334 Update mongodb-compass-beta from 1.27.0-beta.9 to 1.27.0-beta.10
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#11335 Update google-chrome-canary from 93.0.4564.0 to 93.0.4565.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11337 Update google-chrome-canary from 93.0.4565.0 to 93.0.4566.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11338 Update opera-developer from 79.0.4100.0 to 79.0.4105.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#11342 Update sublime-text-dev from 4.109 to 4.110
  Casks/sublime-text-dev.rb
Labels: bump-cask-pr

#11340 Update azure-data-studio-insiders from 1.31.0,e8ba89750bae05438d729302c62f092ce3e5f01c to 1.31.0,19e25f04b17e8e65a0580104d94492eaf41ca8fe
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11231 Update safari technology preview to v127
  Casks/safari-technology-preview.rb
Labels: automerge-skip

#11343 Update geogebra5 from 5.0.649.0 to 5.0.651.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#11347 Update brave-browser-beta from 1.27.87.0,127.87 to 1.27.91.0,127.91
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#11346 Update google-chrome-canary from 93.0.4566.0 to 93.0.4567.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11345 Update lilypond-dev from 2.23.2-1 to 2.23.3-1
  Casks/lilypond-dev.rb
Labels: bump-cask-pr

#11344 Update keka-beta from 1.2.0-rc.1 to 1.2.15
  Casks/keka-beta.rb
Labels: bump-cask-pr

#11350 Update brave-browser-dev from 1.27.88.0,127.88 to 1.27.92.0,127.92
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#11352 Update azure-data-studio-insiders from 1.31.0,19e25f04b17e8e65a0580104d94492eaf41ca8fe to 1.31.0,073f9e052b5f48f3b7ce1329ddf3005fa7c024d2
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11353 Update google-chrome-canary from 93.0.4567.0 to 93.0.4568.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11354 Update signal-beta from 5.8.0-beta.1 to 5.9.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#11356 Update dropbox-beta from 126.3.4577 to 127.3.4244
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#11357 Update google-chrome-canary from 93.0.4568.0 to 93.0.4569.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11368 Update slack-beta from 4.18.0-beta1 to 4.18.0-beta3
  Casks/slack-beta.rb
Labels: bump-cask-pr

#11365 Update opera-beta from 78.0.4093.34 to 78.0.4093.46
  Casks/opera-beta.rb
Labels: bump-cask-pr

#11364 Update google-chrome-beta from 92.0.4515.80 to 92.0.4515.93
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#11363 Update vivaldi-snapshot from 4.1.2345.3 to 4.1.2350.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#11362 Update brave-browser-beta from 1.27.91.0,127.91 to 1.27.96.0,127.96
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#11361 Update brave-browser-dev from 1.27.92.0,127.92 to 1.27.97.0,127.97
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#11359 Update azure-data-studio-insiders from 1.31.0,073f9e052b5f48f3b7ce1329ddf3005fa7c024d2 to 1.31.0,1a32db134385f7e8d8d3665d7004532ac6a8b563
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11369 Update visual-studio-code-insiders from 1.58.0,2d23c42a936db1c7b3b06f918cde29561cc47cd6 to 1.59.0,87d692b7bf1eb5a663b3e62620a6e7e436e1838c
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11370 Update google-chrome-canary from 93.0.4569.0 to 93.0.4570.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11373 Update vivaldi-snapshot from 4.1.2350.3 to 4.1.2352.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#11374 Update android-studio-preview-canary from 2021.1.1.2 to 2021.1.1.3
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#11376 Update azure-data-studio-insiders from 1.31.0,1a32db134385f7e8d8d3665d7004532ac6a8b563 to 1.31.0,7ba0e496735774a17561ca71aff7de1ab07e4dcb
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11379 Update telegram-desktop-beta from 2.7.10 to 2.8.6
  Casks/telegram-desktop-beta.rb
Labels: bump-cask-pr

#11378 Update xampp7 from 7.4.20-0 to 7.4.21-0
  Casks/xampp7.rb
Labels: bump-cask-pr

#11380 Update google-chrome-canary from 93.0.4570.0 to 93.0.4571.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11381 Update brave-browser-beta from 1.27.96.0,127.96 to 1.27.100.0,127.100
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#11382 Update brave-browser-dev from 1.27.97.0,127.97 to 1.27.99.0,127.99
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#11385 Update vivaldi-snapshot from 4.1.2352.3 to 4.1.2355.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#11386 Update opera-developer from 79.0.4105.0 to 79.0.4114.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#11387 Update google-chrome-canary from 93.0.4571.0 to 93.0.4573.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11388 Update sublime-text-dev from 4.110 to 4.111
  Casks/sublime-text-dev.rb
Labels: bump-cask-pr

#11390 Update google-chrome-canary from 93.0.4573.0 to 93.0.4574.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11391 Update brave-browser-beta from 1.27.100.0,127.100 to 1.27.102.0,127.102
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#11394 Update sublime-text-dev from 4.111 to 4.112
  Casks/sublime-text-dev.rb
Labels: bump-cask-pr

#11395 Update visual-studio-code-insiders from 1.59.0,87d692b7bf1eb5a663b3e62620a6e7e436e1838c to 1.59.0,807dfb817fef0d0c5729c1924bd4889b04fa405b
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11396 Update google-chrome-canary from 93.0.4574.0 to 93.0.4574.2
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11398 Update google-chrome-canary from 93.0.4574.2 to 93.0.4575.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11399 Update google-chrome-dev from 93.0.4557.4 to 93.0.4573.0
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#11400 Update brave-browser-dev from 1.27.99.0,127.99 to 1.27.103.0,127.103
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#11401 Update google-chrome-beta from 92.0.4515.93 to 92.0.4515.101
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#11402 Update slack-beta from 4.18.0-beta3 to 4.18.0
  Casks/slack-beta.rb
Labels: bump-cask-pr

#11404 Update 1password-beta from 7.8.6 to 7.8.7.BETA-0
  Casks/1password-beta.rb
Labels: bump-cask-pr

#11405 Update microsoft-edge-beta from 92.0.902.30 to 92.0.902.45
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#11406 Update visual-studio-code-insiders from 1.59.0,807dfb817fef0d0c5729c1924bd4889b04fa405b to 1.59.0,9520f0a515e7e24802c92f885a0efb242fca3831
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11407 Update signal-beta from 5.9.0-beta.1 to 5.10.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#11410 Update brave-browser-beta from 1.27.102.0,127.102 to 1.28.83.0,128.83
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#11408 Update google-chrome-canary from 93.0.4575.0 to 93.0.4576.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11412 Update dropbox-beta from 127.3.4244 to 127.3.4263
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#11413 Update brave-browser-dev from 1.27.103.0,127.103 to 1.28.84.0,128.84
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#11414 Update google-chrome-canary from 93.0.4576.0 to 93.0.4577.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11415 Update opera-beta from 78.0.4093.46 to 78.0.4093.68
  Casks/opera-beta.rb
Labels: bump-cask-pr

#11416 Update vivaldi-snapshot from 4.1.2355.3 to 4.1.2358.15
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#11417 Update azure-data-studio-insiders from 1.31.0,7ba0e496735774a17561ca71aff7de1ab07e4dcb to 1.31.0,49dbce51716be09775a8042a50df60edb3d06bd5
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11418 Update morpheus-beta from 2.2.3 to 2.2.4
  Casks/morpheus-beta.rb
Labels: bump-cask-pr

#11421 Update visual-studio-code-insiders from 1.59.0,9520f0a515e7e24802c92f885a0efb242fca3831 to 1.59.0,50b3811fdc5b5c80ca516a2edfffedcbd464b033
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11424 Update google-chrome-canary from 93.0.4577.0 to 93.0.4577.4
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11423 Update geogebra5 from 5.0.651.0 to 5.0.652.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#11427 Update google-chrome-canary from 93.0.4577.4 to 94.0.4579.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11429 Update picoscope-beta from 7.0.75.8573 to 7.0.76.8712
  Casks/picoscope-beta.rb
Labels: bump-cask-pr

#11422 openzfs-dev 2.1.0rc2
  Casks/openzfs-dev.rb
Labels: ci-skip-install

#11430 Update google-chrome-canary from 94.0.4579.0 to 94.0.4580.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11431 Update visual-studio-code-insiders from 1.59.0,50b3811fdc5b5c80ca516a2edfffedcbd464b033 to 1.59.0,d624242076d166bb8ce8b314e8d44b8af6100a3d
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11432 Update azure-data-studio-insiders from 1.31.0,49dbce51716be09775a8042a50df60edb3d06bd5 to 1.31.0,298424437799ae62112da33e7aced60c58ba984a
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11433 Update google-chrome-beta from 92.0.4515.101 to 92.0.4515.107
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#11434 Update hyper-canary from 3.1.0-canary.6 to 3.1.1
  Casks/hyper-canary.rb
Labels: bump-cask-pr

#11436 Update osu-development from 2021.703.0 to 2021.720.0
  Casks/osu-development.rb
Labels: bump-cask-pr

#11437 Update azure-data-studio-insiders from 1.31.0,298424437799ae62112da33e7aced60c58ba984a to 1.31.0,3eefc70cbe4101f89a109af8478daed08242080b
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11439 Update corretto11 from 11.0.11.9.1 to 11.0.12.7.2
  Casks/corretto11.rb
Labels: bump-cask-pr

#11441 Update github-beta from 2.8.4-beta5-7f57ce43 to 2.9.1-beta1-361b0ff4
  Casks/github-beta.rb
Labels: bump-cask-pr

#11440 Update corretto8 from 8.292.10.1 to 8.302.08.1
  Casks/corretto8.rb
Labels: bump-cask-pr

#11443 Update tor-browser-alpha from 10.5a17 to 11.0a2
  Casks/tor-browser-alpha.rb
Labels: bump-cask-pr

#11442 Update google-chrome-canary from 94.0.4580.0 to 94.0.4581.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11446 Update signal-beta from 5.10.0-beta.1 to 5.11.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#11448 Update appcode-eap from 2021.2,212.4638.14 to 2021.2,212.4746.45
  Casks/appcode-eap.rb
Labels: bump-cask-pr

#11447 Update visual-studio-code-insiders from 1.59.0,b805d2e94937976bb17d0439f57fcd3a9d423c31 to 1.59.0,818c6613f765dd54bb29e77b4f7094a37cf67d08
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11444 Update android-studio-preview-beta from 2020.3.1.20 to 2020.3.1.21
  Casks/android-studio-preview-beta.rb
Labels: bump-cask-pr

#11449 Update dropbox-beta from 127.3.4263 to 128.3.2849
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#11450 Update safari-technology-preview from 071-67454-20210721-77e8c06d-1173-41af-8c7e-ab22507a5a0e to 128,071-67454-20210721-77e8c06d-1173-41af-8c7e-ab22507a5a0e
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#11451 Update google-chrome-dev from 93.0.4573.0 to 93.0.4577.8
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#11452 Update android-studio-preview-canary from 2021.1.1.3 to 2021.1.1.4
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#11454 Update google-chrome-canary from 94.0.4581.0 to 94.0.4583.1
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11453 Update zulu11 from 11.0.11,11.48.21-ca to 11.0.12,11.50.19-ca
  Casks/zulu11.rb
Labels: automerge-skip

#11455 Update visual-studio-code-insiders from 1.59.0,818c6613f765dd54bb29e77b4f7094a37cf67d08 to 1.59.0,e8a59bc6f920e731b47f0bc72263e82aba8b796e
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11456 Update citra-nightly from 1714,20210622-5241032 to 1717,20210719-647a6f8
  Casks/citra-nightly.rb
Labels: bump-cask-pr

#11471 darktable-dev: remove cask
  Casks/darktable-dev.rb
Labels: marked for removal/rejection

#11470 Update zulu7 from 7.0.302,7.46.0.11-ca to 7.0.312,7.48.0.11-ca
  Casks/zulu7.rb
Labels: bump-cask-pr

#11469 Update zulu15 from 15.0.3,15.32.15-ca to 15.0.4,15.34.17-ca
  Casks/zulu15.rb
Labels: bump-cask-pr

#11468 Update zulu13 from 13.0.7,13.40.15-ca to 13.0.8,13.42.17-ca
  Casks/zulu13.rb
Labels: bump-cask-pr

#11467 Update termius-beta from 7.15.1 to 7.17.0
  Casks/termius-beta.rb
Labels: bump-cask-pr

#11466 Update sublime-merge-dev from 2057 to 2058
  Casks/sublime-merge-dev.rb
Labels: bump-cask-pr

#11465 Update skype-preview from 8.74.76.129 to 8.75.76.82
  Casks/skype-preview.rb
Labels: bump-cask-pr

#11464 Update sketch-beta from 73.1,127209 to 74.1,128920
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#11463 Update royal-tsx-beta from 5.0.1.1000 to 5.0.3.1000
  Casks/royal-tsx-beta.rb
Labels: bump-cask-pr

#11462 Update picoscope-beta from 7.0.76.8712 to 7.0.77.8819
  Casks/picoscope-beta.rb
Labels: bump-cask-pr

#11461 Update java-beta from 17,29 to 17,31
  Casks/java-beta.rb
Labels: bump-cask-pr

#11460 Update microsoft-edge-beta from 92.0.902.45 to 92.0.902.55
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#11459 Update microsoft-edge-dev from 93.0.933.1 to 93.0.946.1
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#11458 Update keka-beta from 1.2.15 to 1.2.16
  Casks/keka-beta.rb
Labels: bump-cask-pr

#11457 Update geogebra5 from 5.0.652.0 to 5.0.654.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#11472 Update zulu8.rb
  Casks/zulu8.rb
Labels: automerge-skip

#11474 Update brave-browser-beta from 1.28.83.0,128.83 to 1.28.88.0,128.88
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#11475 Update brave-browser-dev from 1.28.84.0,128.84 to 1.28.89.0,128.89
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#11476 Update google-chrome-canary from 94.0.4583.1 to 94.0.4584.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11477 Update opera-beta from 78.0.4093.68 to 78.0.4093.79
  Casks/opera-beta.rb
Labels: bump-cask-pr

#11479 Update intellij-idea-ce19 from 2019.3.4,193.6911.18 to 2019.3.5,193.7288.26
  Casks/intellij-idea-ce19.rb
Labels: bump-cask-pr

#11480 Update intellij-idea19 from 2019.3.4 to 2019.3.5
  Casks/intellij-idea19.rb
Labels: bump-cask-pr

#11481 Update ableton-live-intro10 from 10.1.35 to 10.1.40
  Casks/ableton-live-intro10.rb
Labels: bump-cask-pr

#11482 Update ableton-live-lite10 from 10.1.35 to 10.1.40
  Casks/ableton-live-lite10.rb
Labels: bump-cask-pr

#11483 Update ableton-live-standard10 from 10.1.35 to 10.1.40
  Casks/ableton-live-standard10.rb
Labels: bump-cask-pr

#11484 Update ableton-live-suite10 from 10.1.35 to 10.1.40
  Casks/ableton-live-suite10.rb
Labels: bump-cask-pr

#11485 Update signal-beta from 5.11.0-beta.1 to 5.11.0-beta.2
  Casks/signal-beta.rb
Labels: bump-cask-pr
