Repository Homebrew/homebrew-cask-versions, pull requests merged in 2021-12, with the labels that each got.

#12686 Update google-chrome-canary from 98.0.4738.0 to 98.0.4739.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#12687 Update azure-data-studio-insiders from 1.34.0,0bac949d3be868fbe531aef9986be18a1cef0d6a to 1.34.0,ce7935e7d201a942adafa740eb0158015f7a5ed5
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#12689 Update visual-studio-code-insiders from 1.63.0,827f76521d33a61c19e92160649a0a6af8bad132 to 1.63.0,0cc0904c565399781defa830facf43141db8b6f3
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#12690 Add IBM Semeru OpenJDK 8 & 11 (LTS)
  Casks/semeru-jdk11-open.rb
  Casks/semeru-jdk8-open.rb
Labels: automerge-skip, new cask

#12694 Update whatsapp-beta from 2.2147.4 to 2.2147.9
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#12695 Update dropbox-beta from 136.3.4333 to 137.3.6396
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#12696 Update google-chrome-beta from 97.0.4692.20 to 97.0.4692.36
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#12693 Update telegram-desktop-beta from 3.2.6 to 3.2.8
  Casks/telegram-desktop-beta.rb
Labels: bump-cask-pr

#12692 Update vivaldi-snapshot from 5.0.2497.14 to 5.0.2497.18
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#12698 Update google-chrome-canary from 98.0.4739.0 to 98.0.4741.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#12699 Update google-chrome-dev from 98.0.4710.4 to 98.0.4736.0
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#12700 Update vivaldi-snapshot from 5.0.2497.18 to 5.0.2497.25
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#12701 Update microsoft-edge-beta from 96.0.1054.34 to 97.0.1072.21
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#12703 Update brave-browser-beta from 1.33.94.0 to 1.34.50.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#12704 Update brave-browser-dev from 1.33.95.0 to 1.34.51.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#12705 Update visual-studio-code-insiders from 1.63.0,0cc0904c565399781defa830facf43141db8b6f3 to 1.63.0,68a1e2f872f8869b004eec284917782474730e0b
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#12706 Update github-beta from 2.9.5-beta4-3e9f53d3 to 2.9.6-beta1-9ccafea8
  Casks/github-beta.rb
Labels: bump-cask-pr

#12709 Update signal-beta from 5.25.0-beta.2 to 5.26.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#12708 Update azure-data-studio-insiders from 1.34.0,1006652a31880b30e26e43f34e12efc01712e4be to 1.34.0,09c2e73f146d5e19773b4a60c8909f110fdb5e59
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#12707 Update iterm2-beta from 3.5.0beta2 to 3.5.0beta3
  Casks/iterm2-beta.rb
Labels: bump-cask-pr

#12710 Update osu-development from 2021.1127.0 to 2021.1202.0
  Casks/osu-development.rb
Labels: bump-cask-pr

#12712 Update whatsapp-beta from 2.2147.9 to 2.2147.10
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#12713 Update visual-studio-code-insiders from 1.63.0,68a1e2f872f8869b004eec284917782474730e0b to 1.63.0,cca3e817a2608225d4ae8715308195c91f765bad
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#12715 Update dropbox-beta from 137.3.6396 to 137.3.6403
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#12716 Update azure-data-studio-insiders from 1.34.0,09c2e73f146d5e19773b4a60c8909f110fdb5e59 to 1.34.0,36364e10c4db037cf2da546260aa443a88b7d5e0
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#12717 Update 1password-beta from 8.5.0-17.BETA to 8.5.0-31.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#12719 Update signal-beta from 5.26.0-beta.1 to 5.26.0-beta.2
  Casks/signal-beta.rb
Labels: bump-cask-pr

#12718 Update propresenter-beta from 7.7.1 to 7.8
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#12732 Update skype-preview from 8.79.76.91 to 8.80.76.57
  Casks/skype-preview.rb
Labels: bump-cask-pr

#12731 Update sketch-beta from 80.1 to 81
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#12730 Update pdf-expert-beta from 2.5.18 to 2.5.19
  Casks/pdf-expert-beta.rb
Labels: bump-cask-pr

#12729 Update mongodb-compass-beta from 1.29.5-beta.13 to 1.29.6-beta.2
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#12728 Update java-beta from 18,25 to 18,26
  Casks/java-beta.rb
Labels: bump-cask-pr

#12727 Update insomnia-alpha from 2021.6.0-alpha.7 to 2021.6.1-alpha.0
  Casks/insomnia-alpha.rb
Labels: bump-cask-pr

#12726 Update ableton-live-suite10 from 10.1.41 to 10.1.42
  Casks/ableton-live-suite10.rb
Labels: bump-cask-pr

#12725 Update ableton-live-standard10 from 10.1.41 to 10.1.42
  Casks/ableton-live-standard10.rb
Labels: bump-cask-pr

#12724 Update ableton-live-lite10 from 10.1.41 to 10.1.42
  Casks/ableton-live-lite10.rb
Labels: bump-cask-pr

#12723 Update ableton-live-intro10 from 10.1.41 to 10.1.42
  Casks/ableton-live-intro10.rb
Labels: bump-cask-pr

#12722 Update visual-studio-code-insiders from 1.63.0,cca3e817a2608225d4ae8715308195c91f765bad to 1.63.0,d09289a2b6dd0e56b2a264a8e9380685498e10d6
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#12720 Update whatsapp-beta from 2.2147.10 to 2.2147.11
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#12721 Update google-chrome-canary from 98.0.4741.0 to 98.0.4747.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#12688 Update julia-lts from 1.0.5 to 1.6.4
  Casks/julia-lts.rb
Labels: automerge-skip, bump-cask-pr

#12734 Update github-beta from 2.9.6-beta1-9ccafea8 to 2.9.6-beta2-08344c06
  Casks/github-beta.rb
Labels: bump-cask-pr

#12735 Update azure-data-studio-insiders from 1.34.0,36364e10c4db037cf2da546260aa443a88b7d5e0 to 1.34.0,8d8b3983a96c777b33b6a9fdaf8f8844bef9d08e
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#12736 Update visual-studio-code-insiders from 1.63.0,d09289a2b6dd0e56b2a264a8e9380685498e10d6 to 1.63.0,7db1a2b88f7557e0a43fec75b6ba7e50b3e9f77e
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#12737 Update google-chrome-canary from 98.0.4747.0 to 98.0.4751.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#12738 Update opera-developer from 83.0.4253.0 to 84.0.4260.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#12739 Update osu-development from 2021.1202.0 to 2021.1206.0
  Casks/osu-development.rb
Labels: bump-cask-pr

#12740 Update discord-ptb from 0.0.57 to 0.0.58
  Casks/discord-ptb.rb
Labels: bump-cask-pr

#12741 Update libreoffice-still from 7.1.7 to 7.1.8
  Casks/libreoffice-still.rb
Labels: bump-cask-pr

#12742 Update clashx-pro from 1.72.0.2 to 1.72.0.4
  Casks/clashx-pro.rb
Labels: bump-cask-pr

#12744 Update slack-beta from 4.23.0-beta1 to 4.23.0
  Casks/slack-beta.rb
Labels: bump-cask-pr

#12743 Update azure-data-studio-insiders from 1.34.0,8d8b3983a96c777b33b6a9fdaf8f8844bef9d08e to 1.34.0,78ca26f0b1d0107494eca69f037ec676150acf93
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#12745 Update dropbox-beta from 137.3.6403 to 138.3.2325
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#12746 Update signal-beta from 5.26.0-beta.2 to 5.26.0-beta.3
  Casks/signal-beta.rb
Labels: bump-cask-pr

#12748 Update google-chrome-dev from 98.0.4736.0 to 98.0.4750.0
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#12747 Update google-chrome-canary from 98.0.4751.0 to 98.0.4753.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#12749 Update brave-browser-beta from 1.34.50.0 to 1.34.54.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#12750 Update brave-browser-dev from 1.34.51.0 to 1.34.55.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#12751 Update osu-development from 2021.1206.0 to 2021.1207.0
  Casks/osu-development.rb
Labels: bump-cask-pr

#12752 Update 1password-beta from 8.5.0-31.BETA to 8.5.0-34.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#12754 Update azure-data-studio-insiders from 1.34.0,78ca26f0b1d0107494eca69f037ec676150acf93 to 1.34.0,fcc8a7d642b3e92b3ff8fe0517a44142d2444b21
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#12753 Update google-chrome-beta from 97.0.4692.36 to 97.0.4692.45
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#12756 Update propresenter-beta from 7.8,117964813 to 7.8,117964815
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#12757 Update brave-browser-beta from 1.34.54.0 to 1.34.57.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#12758 Update brave-browser-dev from 1.34.55.0 to 1.34.58.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#12759 Update google-chrome-canary from 98.0.4753.0 to 98.0.4756.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#12760 Update google-chrome-dev from 98.0.4750.0 to 98.0.4750.2
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#12761 Update microsoft-edge-beta from 97.0.1072.21 to 97.0.1072.28
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#12763 Update visual-studio-code-insiders from 1.63.0 to 1.64.0
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#12764 Update vivaldi-snapshot from 5.0.2497.25 to 5.1.2512.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#12765 Update wine-devel from 6.22 to 6.23
  Casks/wine-devel.rb
Labels: bump-cask-pr

#12766 Update wine-staging from 6.22 to 6.23
  Casks/wine-staging.rb
Labels: bump-cask-pr

#12767 Update azure-data-studio-insiders from 1.34.0,fcc8a7d642b3e92b3ff8fe0517a44142d2444b21 to 1.34.0,772d0bea83d0369abd84a1e4bd2407d0046d9f29
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#12762 Update opera-beta from 82.0.4227.13 to 83.0.4254.5
  Casks/opera-beta.rb
Labels: bump-cask-pr

#12768 Update visual-studio-code-insiders from 1.64.0,68976705968229accd11fdfe1cba36a908208dc9 to 1.64.0,10791447894a9abc9f2ae4927bf92bcf30f3fdef
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#12770 Update sublime-text-dev from 4.122 to 4.124
  Casks/sublime-text-dev.rb
Labels: bump-cask-pr

#12771 Update sublime-merge-dev from 2062 to 2065
  Casks/sublime-merge-dev.rb
Labels: bump-cask-pr

#12772 Update whatsapp-beta from 2.2147.11 to 2.2148.6
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#12773 Update discord-development from 0.0.8744 to 0.0.8745
  Casks/discord-development.rb
Labels: bump-cask-pr

#12774 Update visual-studio-code-insiders from 1.64.0,10791447894a9abc9f2ae4927bf92bcf30f3fdef to 1.64.0,065b450db9f555f177161748e8f2911ebb5677f9
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#12779 Update github-beta from 2.9.6-beta2-08344c06 to 2.9.6-beta3-3f15c7d0
  Casks/github-beta.rb
Labels: bump-cask-pr

#12778 Update azure-data-studio-insiders from 1.34.0,772d0bea83d0369abd84a1e4bd2407d0046d9f29 to 1.34.0,83029fad00906c5edb28dcdec81ba9ab999abe13
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#12777 Update skype-preview from 8.80.76.57 to 8.80.76.62
  Casks/skype-preview.rb
Labels: bump-cask-pr

#12776 Update dropbox-beta from 138.3.2325 to 138.3.2340
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#12780 Update propresenter-beta from 7.8,117964815 to 7.8,117964817
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#12781 Update google-chrome-canary from 98.0.4756.0 to 98.0.4758.2
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#12793 Update firefox-esr from 91.3.0 to 91.4.0
  Casks/firefox-esr.rb
Labels: bump-cask-pr

#12792 Update sketch-beta from 81,135591 to 81,135625
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#12791 Update termius-beta from 7.27.0 to 7.28.0
  Casks/termius-beta.rb
Labels: bump-cask-pr

#12790 Update picoscope-beta from 7.0.86 to 7.0.87
  Casks/picoscope-beta.rb
Labels: bump-cask-pr

#12789 Update java-beta from 18,26 to 18,27
  Casks/java-beta.rb
Labels: bump-cask-pr

#12788 Update lando-edge from 3.5.1 to 3.6.0
  Casks/lando-edge.rb
Labels: bump-cask-pr

#12787 Update inso-beta from 2.4.1-beta.0 to 2.4.1-beta.1
  Casks/inso-beta.rb
Labels: bump-cask-pr

#12786 Update insomnia-alpha from 2021.6.1-alpha.0 to 2021.7.0-beta.0
  Casks/insomnia-alpha.rb
Labels: bump-cask-pr

#12785 Update microsoft-edge-dev from 98.0.1089.1 to 98.0.1093.6
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#12784 Update vivaldi-snapshot from 5.1.2512.3 to 5.1.2514.11
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#12783 Update osu-development from 2021.1207.0 to 2021.1211.0
  Casks/osu-development.rb
Labels: bump-cask-pr

#12782 Update discord-development from 0.0.8745 to 0.0.8747
  Casks/discord-development.rb
Labels: bump-cask-pr

#12794 Update google-chrome-canary from 98.0.4758.2 to 98.0.4758.5
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#12795 Update azure-data-studio-insiders from 1.34.0,83029fad00906c5edb28dcdec81ba9ab999abe13 to 1.34.0,381dd901cc67a5490f10f1f641ce6620472ec634
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#12796 Update android-studio-preview-beta from 2021.1.1.17 to 2021.1.1.18
  Casks/android-studio-preview-beta.rb
Labels: bump-cask-pr

#12797 Update opera-developer from 84.0.4260.0 to 84.0.4267.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#12799 Update 1password-beta from 8.5.0-34.BETA to 8.5.0-46.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#12801 Update tor-browser-alpha from 11.0a10 to 11.5a1
  Casks/tor-browser-alpha.rb
Labels: bump-cask-pr

#12800 Update visual-studio-code-insiders from 1.64.0,065b450db9f555f177161748e8f2911ebb5677f9 to 1.64.0,886fd126446cd4b8b03f2b32f09c173dec541e6d
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#12803 Update google-chrome-canary from 98.0.4758.5 to 99.0.4765.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#12806 Update google-chrome-canary from 99.0.4765.0 to 99.0.4766.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#12807 Update signal-beta from 5.26.0-beta.3 to 5.27.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#12808 Update propresenter-beta from 7.8,117964817 to 7.8,117964819
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#12818 Update dropbox-beta from 138.3.2340 to 138.3.2356
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#12809 Update geogebra5 from 5.0.676.0 to 5.0.680.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#12810 Update android-studio-preview-canary from 2021.2.1.5 to 2021.2.1.6
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#12811 Update blender-lts from 2.93.6 to 2.93.7
  Casks/blender-lts.rb
Labels: bump-cask-pr

#12813 Update discord-development from 0.0.8747 to 0.0.8749
  Casks/discord-development.rb
Labels: bump-cask-pr

#12814 Update microsoft-edge-beta from 97.0.1072.28 to 97.0.1072.34
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#12815 Update visual-studio-code-insiders from 1.64.0,886fd126446cd4b8b03f2b32f09c173dec541e6d to 1.64.0,b823936907f86ded04a152a4af202d0fc8423522
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#12816 Update whatsapp-beta from 2.2148.6 to 2.2149.1
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#12817 Update vivaldi-snapshot from 5.1.2514.11 to 5.1.2519.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#12812 Update brave-browser-dev from 1.34.58.0 to 1.34.62.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#12821 Update google-chrome-beta from 97.0.4692.45 to 97.0.4692.56
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#12822 Update dotnet-preview from 6.0.0 to 6.0.1
  Casks/dotnet-preview.rb
Labels: bump-cask-pr

#12823 Update dotnet-sdk-preview from 6.0.100 to 6.0.101
  Casks/dotnet-sdk-preview.rb
Labels: bump-cask-pr

#12824 Update propresenter-beta from 7.8,117964819 to 7.8,117964824
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#12825 Update brave-browser-beta from 1.34.57.0 to 1.34.64.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#12826 Update microsoft-edge-dev from 98.0.1093.6 to 98.0.1100.3
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#12827 Update visual-studio-code-insiders from 1.64.0,b823936907f86ded04a152a4af202d0fc8423522 to 1.64.0,f67a8b753f55e452f38b61497662839c4691fb12
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#12828 Update buckets-beta from 0.63.2 to 0.64.0
  Casks/buckets-beta.rb
Labels: bump-cask-pr

#12829 Update citra-nightly from 1734 to 1737
  Casks/citra-nightly.rb
Labels: bump-cask-pr

#12830 Update sublime-merge-dev from 2065 to 2066
  Casks/sublime-merge-dev.rb
Labels: bump-cask-pr

#12831 Update opera-beta from 83.0.4254.5 to 83.0.4254.9
  Casks/opera-beta.rb
Labels: bump-cask-pr

#12832 Update dropbox-beta from 138.3.2356 to 138.3.2361
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#12833 Update azure-data-studio-insiders from 1.34.0,177663cc29c9763a4f005055f9a5a88841ea2392 to 1.34.0,4608a4714da0bcc076611d1c64c8b0d2871b02da
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#12834 Update figma-beta from 107.0.0 to 107.1.0
  Casks/figma-beta.rb
Labels: bump-cask-pr

#12835 Update sublime-text-dev from 4.124 to 4.125
  Casks/sublime-text-dev.rb
Labels: bump-cask-pr

#12838 Update google-chrome-dev from 98.0.4750.2 to 98.0.4758.9
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#12837 Update google-chrome-canary from 99.0.4766.0 to 99.0.4771.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#12836 Update brave-browser-dev from 1.34.62.0 to 1.34.65.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#12839 Update azure-data-studio-insiders from 1.34.0 to 1.35.0
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#12840 Update visual-studio-code-insiders from 1.64.0,f67a8b753f55e452f38b61497662839c4691fb12 to 1.64.0,d12df34e31b4a018735d312a8947d79331132368
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#12842 Update osu-development from 2021.1211.0 to 2021.1218.0
  Casks/osu-development.rb
Labels: bump-cask-pr

#12843 Update propresenter-beta from 7.8,117964824 to 7.8,117964825
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#12844 Update google-chrome-canary from 99.0.4771.0 to 99.0.4775.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#12850 Update 1password-beta from 8.5.0-46.BETA to 8.5.0-57.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#12849 Update safari-technology-preview from 136 to 137
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#12848 Update signal-beta from 5.27.0-beta.1 to 5.27.0-beta.2
  Casks/signal-beta.rb
Labels: bump-cask-pr

#12847 Update opera-developer from 84.0.4267.0 to 84.0.4274.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#12846 Update azure-data-studio-insiders from 1.35.0,e18c87b194bbd21aac2a8b13b54e28896da9f131 to 1.35.0,2bf3c28370dd6dd706771c83d7820da6db87eb1d
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#12845 Update visual-studio-code-insiders from 1.64.0,d12df34e31b4a018735d312a8947d79331132368 to 1.64.0,807bf598bea406dcb272a9fced54697986e87768
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#12874 Update azure-data-studio-insiders from 1.35.0,2bf3c28370dd6dd706771c83d7820da6db87eb1d to 1.35.0,443257e699bfa1d7402ee7e41f36cf3db1ac383f
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr
