Repository Homebrew/homebrew-cask-versions, pull requests merged in 2021-09, with the labels that each got.

#11818 Update github-beta from 2.9.3-beta1-2f6fc3d9 to 2.9.3-beta2-a6e65957
  Casks/github-beta.rb
Labels: bump-cask-pr

#11819 Update telegram-desktop-beta from 2.9.5 to 2.9.14
  Casks/telegram-desktop-beta.rb
Labels: bump-cask-pr

#11820 Update 1password-beta from 8.2.2-6.BETA to 8.2.2-19.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#11821 Update google-chrome-canary from 95.0.4628.0 to 95.0.4628.2
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11822 Update visual-studio-code-insiders from 1.60.0,44a4b19a910a287adef4daaeabcf68f2ba893c35 to 1.60.0,efaa9c304bba61bdce8b0d39db5df94ce3a53fb6
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11823 Update dropbox-beta from 130.3.4964 to 131.3.3936
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#11825 Update microsoft-edge-dev from 94.0.992.4 to 95.0.997.1
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#11824 Update geogebra5 from 5.0.659.0 to 5.0.662.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#11826 Update visual-studio-code-insiders from 1.60.0,efaa9c304bba61bdce8b0d39db5df94ce3a53fb6 to 1.60.0,b6a7847b1d6be302f579ef39d2b9ab891d92eed6
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11828 Update google-chrome-canary from 95.0.4628.2 to 95.0.4629.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11831 Update discord-canary from 0.0.275 to 0.0.276
  Casks/discord-canary.rb
Labels: bump-cask-pr

#11829 Update visual-studio-code-insiders from 1.60.0,b6a7847b1d6be302f579ef39d2b9ab891d92eed6 to 1.60.0,e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11833 Update azure-data-studio-insiders from 1.33.0,de3ff30398ea67bdc6631d3c9524d262a5174bd2 to 1.33.0,45e251c0d6c3124f7bde1b1f78f61a48dd07fd49
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11835 Update google-chrome-canary from 95.0.4629.0 to 95.0.4629.2
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11836 Update google-chrome-beta from 94.0.4606.20 to 94.0.4606.30
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#11838 Update google-chrome-canary from 95.0.4629.2 to 95.0.4630.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11841 Update github-beta from 2.9.3-beta2-a6e65957 to 2.9.4-beta1-6d21ead7
  Casks/github-beta.rb
Labels: bump-cask-pr

#11840 Update azure-data-studio-insiders from 1.33.0,45e251c0d6c3124f7bde1b1f78f61a48dd07fd49 to 1.33.0,b27bdb0027dbd88047e0181ea1c5de91272ac8b3
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11842 Update google-chrome-dev from 95.0.4621.4 to 95.0.4628.3
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#11843 Update google-chrome-canary from 95.0.4630.0 to 95.0.4630.2
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11844 Update brave-browser-dev from 1.30.58.0,130.58 to 1.30.62.0,130.62
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#11839 Add WhatsApp Beta v2.2135.1
  Casks/whatsapp-beta.rb
Labels: new cask

#11845 Update java-beta from 18,12 to 18,13
  Casks/java-beta.rb
Labels: bump-cask-pr

#11846 Update microsoft-edge-beta from 93.0.961.33 to 94.0.992.9
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#11848 Update tunnelblick-beta from 3.8.7beta01,5720 to 3.8.7beta02,5730
  Casks/tunnelblick-beta.rb
Labels: bump-cask-pr

#11847 Update termius-beta from 7.19.2 to 7.20.0
  Casks/termius-beta.rb
Labels: bump-cask-pr

#11849 Update google-chrome-canary from 95.0.4630.2 to 95.0.4631.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11850 Update opera-beta from 79.0.4143.3 to 79.0.4143.15
  Casks/opera-beta.rb
Labels: bump-cask-pr

#11851 Update visual-studio-code-insiders from 1.60.0,e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff to 1.61.0,aec6ee09fa1021cb59c7f4f4d000b027febc967d
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11852 Update ableton-live-intro10 from 10.1.40 to 10.1.41
  Casks/ableton-live-intro10.rb
Labels: bump-cask-pr

#11853 Update ableton-live-lite10 from 10.1.40 to 10.1.41
  Casks/ableton-live-lite10.rb
Labels: bump-cask-pr

#11854 Update ableton-live-standard10 from 10.1.40 to 10.1.41
  Casks/ableton-live-standard10.rb
Labels: bump-cask-pr

#11855 Update ableton-live-suite10 from 10.1.40 to 10.1.41
  Casks/ableton-live-suite10.rb
Labels: bump-cask-pr

#11856 Update signal-beta from 5.16.0-beta.1 to 5.17.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#11858 Update android-studio-preview-canary from 2021.1.1.10 to 2021.1.1.11
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#11859 Update visual-studio-code-insiders from 1.61.0,aec6ee09fa1021cb59c7f4f4d000b027febc967d to 1.61.0,82a3d2645f00c5e9981db96f0cfb02d7cfe16fba
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11860 Update dropbox-beta from 131.3.3936 to 131.3.3938
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#11861 Update sublime-text-dev from 4.112 to 4.114
  Casks/sublime-text-dev.rb
Labels: bump-cask-pr

#11862 Update visual-studio-code-insiders from 1.61.0,82a3d2645f00c5e9981db96f0cfb02d7cfe16fba to 1.61.0,87260247dc7b912db6e6a21a366e6f50dca759ba
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11865 Update tinymediamanager3 from 3.1.15 to 3.1.16.1
  Casks/tinymediamanager3.rb
Labels: bump-cask-pr

#11864 Update sketch-beta from 76,130267 to 76.1,130273
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#11863 Update xampp7 from 7.4.22-0 to 7.4.23-0
  Casks/xampp7.rb
Labels: bump-cask-pr

#11867 Delete handbrake-nightly.rb
  Casks/handbrake-nightly.rb
Labels: marked for removal/rejection

#11868 Update visual-studio-code-insiders from 1.61.0,87260247dc7b912db6e6a21a366e6f50dca759ba to 1.61.0,a3fce6207d9364afcfccaa55efc82ff8a392fdd5
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11869 Update azure-data-studio-insiders from 1.33.0,b27bdb0027dbd88047e0181ea1c5de91272ac8b3 to 1.33.0,cc4780840c3f176c2e31bbaacaffa6ef9a9a8542
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11870 Update citra-nightly from 1721,20210823-89410c1 to 1723,20210906-4817b00
  Casks/citra-nightly.rb
Labels: bump-cask-pr

#11871 Update royal-tsx-beta from 5.0.4.1000 to 5.0.5.1
  Casks/royal-tsx-beta.rb
Labels: bump-cask-pr

#11872 Update google-chrome-canary from 95.0.4631.0 to 95.0.4634.3
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11873 Update brave-browser-beta from 1.30.57.0,130.57 to 1.30.65.0,130.65
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#11874 Update visual-studio-code-insiders from 1.61.0,a3fce6207d9364afcfccaa55efc82ff8a392fdd5 to 1.61.0,bb9491d9f2c65510226dcc920a6efbf6501d5943
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11875 Update google-chrome-canary from 95.0.4634.3 to 95.0.4635.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11878 Update slack-beta from 4.19.0 to 4.20.0-beta1
  Casks/slack-beta.rb
Labels: bump-cask-pr

#11877 Update azure-data-studio-insiders from 1.33.0,cc4780840c3f176c2e31bbaacaffa6ef9a9a8542 to 1.33.0,d0941bea5398930bda98f48c199e02f1c987eb97
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11879 Update google-chrome-canary from 95.0.4635.0 to 95.0.4635.2
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11880 Update azure-data-studio-insiders from 1.33.0,d0941bea5398930bda98f48c199e02f1c987eb97 to 1.33.0,73ee6c3844441f9f5e3d4ef09f43b912708247be
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11888 Update visual-studio-code-insiders from 1.61.0,bb9491d9f2c65510226dcc920a6efbf6501d5943 to 1.61.0,34861b8c8aa76b517f203743ad5b5d72ef5fcd81
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11887 Update signal-beta from 5.17.0-beta.1 to 5.17.0-beta.2
  Casks/signal-beta.rb
Labels: bump-cask-pr

#11883 Update microsoft-edge-beta from 94.0.992.9 to 94.0.992.14
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#11881 Update brave-browser-dev from 1.30.62.0,130.62 to 1.30.66.0,130.66
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#11882 Update lando-edge from 3.3.0 to 3.3.1
  Casks/lando-edge.rb
Labels: bump-cask-pr

#11886 Update rstudio-preview from 2021.09.0,340 to 2021.09.0,341
  Casks/rstudio-preview.rb
Labels: bump-cask-pr

#11885 Update opera-developer from 80.0.4162.0 to 80.0.4170.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#11884 Update osu-development from 2021.828.0 to 2021.907.0
  Casks/osu-development.rb
Labels: bump-cask-pr

#11889 Update google-chrome-canary from 95.0.4635.2 to 95.0.4636.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11893 Update google-chrome-canary from 95.0.4636.0 to 95.0.4636.2
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11892 Update google-chrome-beta from 94.0.4606.30 to 94.0.4606.41
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#11891 Update visual-studio-code-insiders from 1.61.0,34861b8c8aa76b517f203743ad5b5d72ef5fcd81 to 1.61.0,df115e761ae11cf87ca569ca1824b7257099553a
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11890 Update 1password-beta from 8.2.2-19.BETA to 8.2.2-23.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#11894 Update signal-beta from 5.17.0-beta.2 to 5.17.0-beta.3
  Casks/signal-beta.rb
Labels: bump-cask-pr

#11895 Update azure-data-studio-insiders from 1.33.0,73ee6c3844441f9f5e3d4ef09f43b912708247be to 1.33.0,69314cf7645105789c3682ddf02719097b72fbd0
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11896 Update visual-studio-code-insiders from 1.61.0,df115e761ae11cf87ca569ca1824b7257099553a to 1.61.0,aa93eefe550167de3ca29aaa3d06f721a47594a3
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11897 Update brave-browser-beta from 1.30.65.0,130.65 to 1.30.68.0,130.68
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#11898 Update google-chrome-canary from 95.0.4636.2 to 95.0.4637.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11899 Update vivaldi-snapshot from 4.2.2406.4 to 4.2.2406.21
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#11900 Update google-chrome-canary from 95.0.4637.0 to 95.0.4637.2
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11901 Update brave-browser-dev from 1.30.66.0,130.66 to 1.30.69.0,130.69
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#11903 Update dropbox-beta from 131.3.3938 to 131.3.3957
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#11908 Update google-chrome-dev from 95.0.4628.3 to 95.0.4636.4
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#11905 Update google-chrome-canary from 95.0.4637.2 to 95.0.4638.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11906 Update visual-studio-code-insiders from 1.61.0,aa93eefe550167de3ca29aaa3d06f721a47594a3 to 1.61.0,0884da1650baa24994d23d2a3742823c1186e526
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11907 Update opera-beta from 79.0.4143.15 to 79.0.4143.19
  Casks/opera-beta.rb
Labels: bump-cask-pr

#11909 Update chromedriver-beta from 93.0.4577.15 to 94.0.4606.41
  Casks/chromedriver-beta.rb
Labels: bump-cask-pr

#11910 Update java-beta from 18,13 to 18,14
  Casks/java-beta.rb
Labels: bump-cask-pr

#11912 Update sketch-beta from 76.1,130273 to 77,131042
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#11913 Update termius-beta from 7.20.0 to 7.20.1
  Casks/termius-beta.rb
Labels: bump-cask-pr

#11914 Update vivaldi-snapshot from 4.2.2406.21 to 4.2.2406.23
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#11911 Update microsoft-edge-dev from 95.0.997.1 to 95.0.1000.0
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#11915 Update azure-data-studio-insiders from 1.33.0,69314cf7645105789c3682ddf02719097b72fbd0 to 1.33.0,cbba05f54fcc6e8e2263b326f9e65c54d2ed37dc
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11916 Update dropbox-beta from 131.3.3957 to 131.3.3962
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#11917 Update google-chrome-canary from 95.0.4638.0 to 95.0.4638.3
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11918 Update visual-studio-code-insiders from 1.61.0,0884da1650baa24994d23d2a3742823c1186e526 to 1.61.0,23cffa27b806f9e1733e15d611ec251dcdba2c42
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11919 Update vivaldi-snapshot from 4.2.2406.23 to 4.2.2406.25
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#11920 Update affinity-publisher-beta from 1.9.2.1024 to 1.10.2.1156
  Casks/affinity-publisher-beta.rb
Labels: automerge-skip, bump-cask-pr

#11921 Update google-chrome-canary from 95.0.4638.3 to 96.0.4639.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11922 Make shell commands copyable
  README.md
Labels: documentation, automerge-skip

#11924 Update google-chrome-canary from 96.0.4639.0 to 96.0.4639.2
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11925 Update google-chrome-canary from 96.0.4639.2 to 96.0.4640.2
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11928 Update google-chrome-canary from 96.0.4640.2 to 96.0.4641.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11927 Update visual-studio-code-insiders from 1.61.0,23cffa27b806f9e1733e15d611ec251dcdba2c42 to 1.61.0,ec40cbe164c59f3d13b6eff5fc7b0231ec0ab7aa
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11929 Update telegram-desktop-beta from 2.9.14 to 3.0.2
  Casks/telegram-desktop-beta.rb
Labels: bump-cask-pr

#11930 Update azure-data-studio-insiders from 1.33.0,cbba05f54fcc6e8e2263b326f9e65c54d2ed37dc to 1.33.0,869f83f5a3ae349b6608a2eb0fdef1b13b4cb41e
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11931 Update signal-beta from 5.17.0-beta.3 to 5.17.1-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#11932 Update libreoffice-still from 7.1.5 to 7.1.6
  Casks/libreoffice-still.rb
Labels: bump-cask-pr

#11933 Update opera-developer from 80.0.4170.0 to 81.0.4175.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#11934 Update vivaldi-snapshot from 4.2.2406.25 to 4.2.2406.30
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#11935 Update 1password-beta from 8.2.2-23.BETA to 8.2.2-39.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#11936 Update google-chrome-canary from 96.0.4641.0 to 96.0.4641.2
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11937 Update google-chrome-canary from 96.0.4641.2 to 96.0.4642.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11938 Update visual-studio-code-insiders from 1.61.0,ec40cbe164c59f3d13b6eff5fc7b0231ec0ab7aa to 1.61.0,f66a3e06bcb9f000e5dc0ad0040ff9b32fc75c78
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11939 Update telegram-desktop-beta from 3.0.2 to 3.0.4
  Casks/telegram-desktop-beta.rb
Labels: bump-cask-pr

#11940 Update brave-browser-beta from 1.30.68.0,130.68 to 1.30.73.0,130.73
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#11942 Update vivaldi-snapshot from 4.2.2406.30 to 4.2.2406.40
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#11941 Update brave-browser-dev from 1.30.69.0,130.69 to 1.30.74.0,130.74
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#11945 Update google-chrome-canary from 96.0.4642.0 to 96.0.4642.2
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11944 Update discord-canary from 0.0.276 to 0.0.277
  Casks/discord-canary.rb
Labels: bump-cask-pr

#11943 Update azure-data-studio-insiders from 1.33.0,869f83f5a3ae349b6608a2eb0fdef1b13b4cb41e to 1.33.0,f92e6d24d44f0d09131c780bf00516572cbb7383
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11946 Update dropbox-beta from 131.3.3962 to 132.3.3750
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#11947 Update azure-data-studio-insiders from 1.33.0,f92e6d24d44f0d09131c780bf00516572cbb7383 to 1.33.0,e4d2bf19191bf4f8817030e654efbd2686d5b330
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11948 Update visual-studio-code-insiders from 1.61.0,f66a3e06bcb9f000e5dc0ad0040ff9b32fc75c78 to 1.61.0,0c83ca1ced83259971d80890d93abbe19cbfc992
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11949 Update google-chrome-canary from 96.0.4642.2 to 96.0.4643.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11950 Update github-beta from 2.9.4-beta1-6d21ead7 to 2.9.4-beta2-4977e839
  Casks/github-beta.rb
Labels: bump-cask-pr

#11951 Update google-chrome-canary from 96.0.4643.0 to 96.0.4643.2
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11953 Update brave-browser-beta from 1.30.73.0,130.73 to 1.30.76.0,130.76
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#11954 Update morpheus-beta from 2.2.4 to 2.2.5
  Casks/morpheus-beta.rb
Labels: bump-cask-pr

#11955 Update safari-technology-preview from 131,071-89239-20210831-1d619787-79dc-4b2d-8ce5-5ebd5c210b54 to 132,002-01483-20210916-4aedd2d8-b045-4a63-b02f-b644a494a52c
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#11956 Update brave-browser-dev from 1.30.74.0,130.74 to 1.30.77.0,130.77
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#11957 Update osu-development from 2021.907.0 to 2021.916.0
  Casks/osu-development.rb
Labels: bump-cask-pr

#11958 Update google-chrome-dev from 95.0.4636.4 to 95.0.4638.10
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#11959 Update google-chrome-beta from 94.0.4606.41 to 94.0.4606.51
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#11960 Update google-chrome-canary from 96.0.4643.2 to 96.0.4644.2
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11961 Update opera-beta from 79.0.4143.19 to 80.0.4170.4
  Casks/opera-beta.rb
Labels: bump-cask-pr

#11962 Update visual-studio-code-insiders from 1.61.0,0c83ca1ced83259971d80890d93abbe19cbfc992 to 1.61.0,da10782b86bd9d895ccb20be4514b19728036951
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11963 Update signal-beta from 5.17.1-beta.1 to 5.17.2-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#11964 Update google-chrome-canary from 96.0.4644.2 to 96.0.4645.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11965 Update visual-studio-code-insiders from 1.61.0,da10782b86bd9d895ccb20be4514b19728036951 to 1.61.0,a0af58197e4a1d3e82fbe3048e0549e622d19f4f
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#11967 Update azure-data-studio-insiders from 1.33.0,e4d2bf19191bf4f8817030e654efbd2686d5b330 to 1.33.0,08e15bce99cfe12a5bc61e61c28936a86227ea28
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#11968 Update discord-ptb from 0.0.56 to 0.0.57
  Casks/discord-ptb.rb
Labels: bump-cask-pr

#11969 Update android-studio-preview-canary from 2021.1.1.11 to 2021.1.1.12
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#11966 Update lando-edge from 3.3.1 to 3.4.0
  Casks/lando-edge.rb
Labels: bump-cask-pr

#11970 Update dropbox-beta from 132.3.3750 to 132.3.3780
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#11971 Update google-chrome-canary from 96.0.4645.0 to 96.0.4646.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11972 Update google-chrome-canary from 96.0.4646.0 to 96.0.4646.2
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11973 whatsapp-beta 2.2137.6
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#11974 Update google-chrome-canary from 96.0.4646.2 to 96.0.4647.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#11975 Update telegram-desktop-beta from 3.0.4 to 3.0.5
  Casks/telegram-desktop-beta.rb
Labels: bump-cask-pr

#11981 Update keka-beta from 1.2.16 to 1.2.17
  Casks/keka-beta.rb
Labels: bump-cask-pr

#11980 Update java-beta from 18,14 to 18,15
  Casks/java-beta.rb
Labels: bump-cask-pr

#11979 Update geogebra5 from 5.0.662.0 to 5.0.664.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#11978 Update ferdi-beta from 5.6.1 to 5.6.2
  Casks/ferdi-beta.rb
Labels: bump-cask-pr

#11977 Update visual-studio-code-insiders from 1.61.0,a0af58197e4a1d3e82fbe3048e0549e622d19f4f to 1.61.0,c28c86fcd12e4f8693d6569deadfc740dcf8f55b
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr
