Repository Homebrew/homebrew-cask-versions, pull requests merged in 2022-04, with the labels that each got.

#13644 Update slack-beta from 4.25.0 to 4.26.0-beta1
  Casks/slack-beta.rb
Labels: bump-cask-pr

#13633 Update julia-lts from 1.6.5 to 1.6.6
  Casks/julia-lts.rb
Labels: stale, bump-cask-pr

#13648 Update brave-browser-dev from 1.38.68.0 to 1.38.76.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#13647 Update brave-browser-beta from 1.38.67.0 to 1.38.75.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#13646 Update propresenter-beta from 7.9,118030341 to 7.9,118030343
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#13645 Update aerial-beta from 3.0.8beta1 to 3.0.8beta2
  Casks/aerial-beta.rb
Labels: bump-cask-pr

#13634 Update macloggerdx-beta from 6.39b32 to 6.39b34
  Casks/macloggerdx-beta.rb
Labels: stale, bump-cask-pr

#13636 Update google-chrome-beta from 100.0.4896.60 to 101.0.4951.15
  Casks/google-chrome-beta.rb
Labels: stale, bump-cask-pr

#13635 Update whatsapp-beta from 2.2212.0 to 2.2212.1
  Casks/whatsapp-beta.rb
Labels: stale, bump-cask-pr

#13637 Update appcode-eap from 2022.1,221.5080.57 to 2022.1,221.5080.98
  Casks/appcode-eap.rb
Labels: stale, bump-cask-pr

#13638 Update opera-beta from 86.0.4363.9 to 86.0.4363.12
  Casks/opera-beta.rb
Labels: stale, bump-cask-pr

#13640 Update signal-beta from 5.37.0-beta.2 to 5.38.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#13641 Update skype-preview from 8.83.76.300 to 8.83.76.300
  Casks/skype-preview.rb
Labels: bump-cask-pr

#13639 Update inso-beta from 2.10.0-beta.0 to 2.11.0-beta.0
  Casks/inso-beta.rb
Labels: stale, bump-cask-pr

#13642 Update vivaldi-snapshot from 5.2.2623.8 to 5.2.2623.10
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#13643 Update vmware fusion technology preview to 19431034
  Casks/vmware-fusion-tech-preview.rb
Labels: automerge-skip

#13649 Update macloggerdx-beta from 6.39b34 to 6.39b37
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#13608 Update xampp7 from 7.4.27-2 to 7.4.28-0
  Casks/xampp7.rb
Labels: help wanted, bump-cask-pr

#13651 Update vivaldi-snapshot from 5.2.2623.10 to 5.2.2623.16
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#13650 Update termius-beta from 7.37.0 to 7.37.2
  Casks/termius-beta.rb
Labels: bump-cask-pr

#13610 Update keka-beta from 1.2.52 to 1.2.53-beta.1
  Casks/keka-beta.rb
Labels: help wanted, bump-cask-pr

#13653 Update google-chrome-canary from 102.0.4970.2 to 102.0.4982.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#13654 Update geogebra5 from 5.0.694.0 to 5.0.697.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#13655 Update figma-beta from 112.2.0 to 114.0.0
  Casks/figma-beta.rb
Labels: bump-cask-pr

#13656 Update netnewswire-beta from 6.1b4 to 6.1b5
  Casks/netnewswire-beta.rb
Labels: bump-cask-pr

#13658 Update osu-development from 2022.327.0 to 2022.405.0
  Casks/osu-development.rb
Labels: bump-cask-pr

#13659 Update macloggerdx-beta from 6.39b37 to 6.39b38
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#13660 Update vivaldi-snapshot from 5.2.2623.16 to 5.2.2623.22
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#13661 Update firefox-esr from 91.7.1 to 91.8.0
  Casks/firefox-esr.rb
Labels: bump-cask-pr

#13662 Update propresenter-beta from 7.9,118030343 to 7.9,118030345
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#13671 Update whatsapp-beta from 2.2212.1 to 2.2213.3
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#13669 Update 1password-beta from 8.7.0-28.BETA to 8.7.0-41.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#13670 Update google-chrome-beta from 101.0.4951.15 to 101.0.4951.26
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#13668 Update vivaldi-snapshot from 5.2.2623.22 to 5.3.2636.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#13667 Update sketch-beta from 85.1 to 86
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#13666 Update buckets-beta from 0.65.0 to 0.66.0
  Casks/buckets-beta.rb
Labels: bump-cask-pr

#13664 Update brave-browser-beta from 1.38.75.0 to 1.38.80.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#13665 Update brave-browser-dev from 1.38.76.0 to 1.38.81.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#13672 Update opera-beta from 86.0.4363.12 to 86.0.4363.15
  Casks/opera-beta.rb
Labels: bump-cask-pr

#13673 Update opera-developer from 87.0.4374.0 to 87.0.4382.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#13674 Update whatsapp-beta from 2.2213.3 to 2.2213.5
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#13677 Update inso-beta from 2.11.0-beta.0 to 2.12.0-beta.0
  Casks/inso-beta.rb
Labels: bump-cask-pr

#13676 Update dropbox-beta from 146.3.4795 to 146.3.4820
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#13679 Update signal-beta from 5.38.0-beta.1 to 5.39.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#13678 Update termius-beta from 7.37.2 to 7.38.2
  Casks/termius-beta.rb
Labels: bump-cask-pr

#13682 Remove unnecessary strategy calls
  Casks/aerial-beta.rb
  Casks/atom-beta.rb
  Casks/ferdi-beta.rb
  Casks/keka-beta.rb
  Casks/netnewswire-beta.rb
Labels: ci-syntax-only, automerge-skip, livecheck

#13680 Update osu-development from 2022.405.0 to 2022.409.0
  Casks/osu-development.rb
Labels: bump-cask-pr

#13683 Update geogebra5 from 5.0.697.0 to 5.0.700.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#13685 Update brave-browser-dev from 1.38.81.0 to 1.38.84.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#13686 Update microsoft-edge-beta from 100.0.1185.23 to 101.0.1210.10
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#13687 Update microsoft-edge-dev from 101.0.1198.0 to 102.0.1219.0
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#13688 Update citra-nightly from 1757 to 1759
  Casks/citra-nightly.rb
Labels: bump-cask-pr

#13690 Update insomnia-alpha from 2022.3.0-beta.1 to 2022.3.0-beta.3
  Casks/insomnia-alpha.rb
Labels: bump-cask-pr

#13691 Update keepassxc-beta from 2.7.0 to 2.7.1
  Casks/keepassxc-beta.rb
Labels: bump-cask-pr

#13692 Update mongodb-compass-beta from 1.31.0-beta.19 to 1.31.2-beta.5
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#13694 Update royal-tsx-beta from 5.0.7.6 to 5.0.7.8
  Casks/royal-tsx-beta.rb
Labels: bump-cask-pr

#13696 Update slack-beta from 4.26.0-beta1 to 4.26.0-beta2
  Casks/slack-beta.rb
Labels: bump-cask-pr

#13698 Update figma-beta from 114.0.0 to 114.1.0
  Casks/figma-beta.rb
Labels: bump-cask-pr

#13703 Update skype-preview from 8.83.76.300 to 8.83.76.406
  Casks/skype-preview.rb
Labels: bump-cask-pr

#13702 Update whatsapp-beta from 2.2213.5 to 2.2214.2
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#13701 Update 1password-beta from 8.7.0-41.BETA to 8.7.0-49.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#13709 Update dropbox-beta from 146.3.4820 to 147.3.4761
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#13708 Update github-beta from 2.9.13-beta2-a834d625 to 2.9.14-beta1-338ef7e5
  Casks/github-beta.rb
Labels: bump-cask-pr

#13707 Update opera-developer from 87.0.4382.0 to 87.0.4388.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#13704 Update vivaldi-snapshot from 5.3.2636.3 to 5.3.2643.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#13663 Add anki-beta
  Casks/anki-beta.rb
Labels: new cask

#13710 Update README.md
  README.md
Labels: documentation, automerge-skip

#13715 Update brave-browser-dev from 1.38.84.0 to 1.38.91.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#13714 Update brave-browser-beta from 1.38.83.0 to 1.38.93.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#13713 Update wine-staging from 7.5 to 7.6
  Casks/wine-staging.rb
Labels: bump-cask-pr

#13712 Update wine-devel from 7.5 to 7.6
  Casks/wine-devel.rb
Labels: bump-cask-pr

#13711 Update google-chrome-beta from 101.0.4951.26 to 101.0.4951.34
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#13722 Update opera-beta from 86.0.4363.15 to 86.0.4363.17
  Casks/opera-beta.rb
Labels: bump-cask-pr

#13721 Update discord-canary from 0.0.283 to 0.0.284
  Casks/discord-canary.rb
Labels: bump-cask-pr

#13720 Update signal-beta from 5.39.0-beta.1 to 5.40.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#13717 Update hyper-canary from 3.3.0-canary.1 to 3.3.0-canary.2
  Casks/hyper-canary.rb
Labels: bump-cask-pr

#13718 Update dropbox-beta from 147.3.4761 to 147.3.4765
  Casks/dropbox-beta.rb
Labels: stale, bump-cask-pr

#13719 Update github-beta from 2.9.14-beta1-338ef7e5 to 2.9.15-beta1-d4054a37
  Casks/github-beta.rb
Labels: stale, bump-cask-pr

#13723 Update osu-development from 2022.409.0 to 2022.418.0
  Casks/osu-development.rb
Labels: bump-cask-pr

#13724 Update termius-beta from 7.38.2 to 7.39.0
  Casks/termius-beta.rb
Labels: bump-cask-pr

#13725 Use \.t instead of tarball extension in regexes
  Casks/wine-devel.rb
  Casks/wine-staging.rb
Labels: ci-syntax-only, automerge-skip, livecheck

#13726 Update microsoft-edge-dev from 102.0.1219.0 to 102.0.1220.1
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#13727 Update macloggerdx-beta from 6.39b38 to 6.40b1
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#13728 Update vivaldi-snapshot from 5.3.2643.3 to 5.3.2649.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#13731 Update corretto17 from 17.0.2.8.1 to 17.0.3.6.1
  Casks/corretto17.rb
Labels: bump-cask-pr

#13738 Update buckets-beta from 0.66.0 to 0.66.3
  Casks/buckets-beta.rb
Labels: bump-cask-pr

#13737 Update opera-developer from 87.0.4388.0 to 88.0.4395.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#13736 Update brave-browser-dev from 1.38.91.0 to 1.38.101.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#13735 Update brave-browser-beta from 1.38.93.0 to 1.38.100.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#13739 Update lando-edge from 3.6.2 to 3.6.4
  Casks/lando-edge.rb
Labels: bump-cask-pr

#13740 Update whatsapp-beta from 2.2214.2 to 2.2215.0
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#13741 Update qgis-ltr from 3.22.5 to 3.22.6
  Casks/qgis-ltr.rb
Labels: bump-cask-pr

#13730 Update corretto8 from 8.322.06.1 to 8.332.08.1
  Casks/corretto8.rb
Labels: bump-cask-pr

#13729 Update corretto11 from 11.0.14.10.1 to 11.0.15.9.1
  Casks/corretto11.rb
Labels: bump-cask-pr

#13742 Update github-beta from 2.9.15-beta1-d4054a37 to 2.9.16-beta1-d300972f
  Casks/github-beta.rb
Labels: bump-cask-pr

#13743 Update macloggerdx-beta from 6.40b1 to 6.40b2
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#13744 Update xampp7 from 7.4.28-1 to 7.4.29-0
  Casks/xampp7.rb
Labels: bump-cask-pr

#13745 Update 1password-beta from 8.7.0-49.BETA to 8.7.0-90.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#13746 Update google-chrome-beta from 101.0.4951.34 to 101.0.4951.41
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#13747 Update figma-beta from 114.1.0 to 114.2.1
  Casks/figma-beta.rb
Labels: bump-cask-pr

#13752 Update brave-browser-beta from 1.38.100.0 to 1.39.76.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#13751 Update blender-lts from 2.93.8 to 2.93.9
  Casks/blender-lts.rb
Labels: bump-cask-pr

#13753 Update whatsapp-beta from 2.2215.0 to 2.2215.1
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#13754 Update lando-edge from 3.6.4 to 3.6.5
  Casks/lando-edge.rb
Labels: bump-cask-pr

#13755 Update inso-beta from 2.12.0-beta.0 to 2.13.0-beta.0
  Casks/inso-beta.rb
Labels: bump-cask-pr

#13756 Update clashx-pro from 1.91.1.1 to 1.92.1.1
  Casks/clashx-pro.rb
Labels: bump-cask-pr

#13761 Update vivaldi-snapshot from 5.3.2649.3 to 5.3.2652.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#13757 Update sublime-merge-dev from 2069 to 2070
  Casks/sublime-merge-dev.rb
Labels: bump-cask-pr

#13758 Update brave-browser-dev from 1.38.101.0 to 1.39.77.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#13760 Update android-studio-preview-canary from 2021.3.1.8 to 2021.3.1.9
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#13762 Update signal-beta from 5.40.0-beta.1 to 5.41.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#13763 Update dropbox-beta from 147.3.4765 to 147.3.4786
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#13759 Update android-studio-preview-beta from 2021.2.1.11 to 2021.2.1.12
  Casks/android-studio-preview-beta.rb
Labels: awaiting user reply, bump-cask-pr

#13764 Update zulu8 from 8.0.322 to 8.0.332
  Casks/zulu8.rb
Labels: bump-cask-pr

#13765 Update zulu11 from 11.0.14.1 to 11.0.15
  Casks/zulu11.rb
Labels: bump-cask-pr

#13766 Update zulu17 from 17.0.2 to 17.0.3
  Casks/zulu17.rb
Labels: bump-cask-pr

#13768 Update osu-development from 2022.418.0 to 2022.424.1
  Casks/osu-development.rb
Labels: bump-cask-pr

#13770 Update brave-browser-beta from 1.39.76.0 to 1.39.79.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#13769 Update processing-beta from 4.0b7 to 4.0b8
  Casks/processing-beta.rb
Labels: bump-cask-pr

#13705 Add kitty-nightly
  Casks/kitty-nightly.rb
Labels: awaiting user reply, new cask

#13773 Update citra-nightly from 1759 to 1762
  Casks/citra-nightly.rb
Labels: bump-cask-pr

#13774 Update zulu7 from 7.0.332 to 7.0.342
  Casks/zulu7.rb
Labels: bump-cask-pr

#13775 Update zulu13 from 13.0.10 to 13.0.11
  Casks/zulu13.rb
Labels: bump-cask-pr

#13778 Update slack-beta from 4.26.0-beta2 to 4.26.0
  Casks/slack-beta.rb
Labels: bump-cask-pr

#13777 Update macloggerdx-beta from 6.40b2 to 6.40b3
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#13779 Update geogebra5 from 5.0.700.0 to 5.0.702.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#13782 Update signal-beta from 5.41.0-beta.1 to 5.41.0-beta.2
  Casks/signal-beta.rb
Labels: bump-cask-pr

#13781 Update macloggerdx-beta from 6.40b3 to 6.40b6
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#13784 Update brave-browser-beta from 1.39.79.0 to 1.39.81.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#13783 Update opera-developer from 88.0.4395.0 to 88.0.4401.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#13785 Update github-beta from 2.9.16-beta1-d300972f to 2.9.16-beta2-092e9b96
  Casks/github-beta.rb
Labels: bump-cask-pr

#13787 Update macloggerdx-beta from 6.40b6 to 6.40b8
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#13788 Update whatsapp-beta from 2.2215.1 to 2.2216.1
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#13789 Update vivaldi-snapshot from 5.3.2652.3 to 5.3.2656.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#13790 Update wine-devel from 7.6 to 7.7
  Casks/wine-devel.rb
Labels: bump-cask-pr

#13792 Update brave-browser-dev from 1.39.82.0,139.82 to 1.39.82.0,139.82
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#13793 Update wine-staging from 7.6 to 7.7
  Casks/wine-staging.rb
Labels: bump-cask-pr

#13791 Update figma-beta from 114.2.1 to 114.3.0
  Casks/figma-beta.rb
Labels: bump-cask-pr

#13794 Update 1password-beta from 8.7.0-90.BETA to 8.7.0-95.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#13795 Update dropbox-beta from 147.3.4786 to 148.3.4469
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#13797 Update macfuse-dev from 4.2.5 to 4.3.0
  Casks/macfuse-dev.rb
Labels: bump-cask-pr

#13796 Update tor-browser-alpha from 11.5a8 to 11.5a9
  Casks/tor-browser-alpha.rb
Labels: bump-cask-pr

#13786 Update temurin11 from 11.0.14.1 to 11.0.15
  Casks/temurin11.rb
Labels: bump-cask-pr

#13799 Update semeru-jdk8-open from 8u322-b06 to 8u332-b09
  Casks/semeru-jdk8-open.rb
Labels: bump-cask-pr

#13798 Update semeru-jdk11-open from 11.0.14.1+1 to 11.0.15+10
  Casks/semeru-jdk11-open.rb
Labels: bump-cask-pr

#13802 Update macloggerdx-beta from 6.40b8 to 6.40b9
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#13803 Update termius-beta from 7.39.0 to 7.40.0
  Casks/termius-beta.rb
Labels: bump-cask-pr

#13804 Update whatsapp-beta from 2.2216.1 to 2.2216.2
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#13806 Update google-chrome-beta from 101.0.4951.41 to 102.0.5005.27
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#13807 Update signal-beta from 5.41.0-beta.2 to 5.42.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr
