Repository Homebrew/homebrew-cask-versions, pull requests merged in 2022-09, with the labels that each got.

#14620 Update discord-ptb from 0.0.63 to 0.0.64
  Casks/discord-ptb.rb
Labels: bump-cask-pr

#14621 Update brave-browser-dev from 1.43.80.0 to 1.44.69.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#14622 Update opera-beta from 91.0.4516.3 to 91.0.4516.6
  Casks/opera-beta.rb
Labels: bump-cask-pr

#14623 Update termius-beta from 7.46.4 to 7.47.3
  Casks/termius-beta.rb
Labels: bump-cask-pr

#14624 Update geogebra5 from 5.0.726.0 to 5.0.729.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#14625 Update royal-tsx-beta from 5.1.1.14 to 5.1.1.15
  Casks/royal-tsx-beta.rb
Labels: bump-cask-pr

#14626 Update google-chrome-canary from 107.0.5261.1 to 107.0.5272.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#14627 Update signal-beta from 5.57.0-beta.1 to 5.58.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#14631 Update google-chrome-beta from 105.0.5195.52 to 106.0.5249.21
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#14632 Update inso-beta from 3.5.1-beta.1 to 3.5.1-beta.2
  Casks/inso-beta.rb
Labels: bump-cask-pr

#14633 Update dropbox-beta from 157.3.4719 to 157.3.4738
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#14634 Update whatsapp-beta from 2.2234.1 to 2.2234.2
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14635 Update brave-browser-dev from 1.44.69.0 to 1.44.71.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#14636 Update microsoft-edge-dev from 106.0.1356.0 to 106.0.1363.0
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#14638 Update whatsapp-beta from 2.2234.3 to 2.2234.6
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14639 Update whatsapp-beta from 2.2234.6 to 2.2235.0
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14640 Update github-beta from 3.0.7-beta1-94f49209 to 3.0.8-beta1-535ab6c0
  Casks/github-beta.rb
Labels: bump-cask-pr

#14641 Update google-chrome-beta from 106.0.5249.21 to 106.0.5249.30
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#14642 Update safari-technology-preview from 152 to 153
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#14643 Update whatsapp-beta from 2.2235.0 to 2.2235.1
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14649 Update microsoft-edge-dev from 106.0.1363.0 to 106.0.1370.4
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#14648 Update opera-beta from 91.0.4516.6 to 91.0.4516.10
  Casks/opera-beta.rb
Labels: bump-cask-pr

#14647 Update wine-staging from 7.15 to 7.16
  Casks/wine-staging.rb
Labels: bump-cask-pr

#14646 Update wine-devel from 7.15 to 7.16
  Casks/wine-devel.rb
Labels: bump-cask-pr

#14645 Update brave-browser-dev from 1.44.71.0 to 1.44.76.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#14644 Update brave-browser-beta from 1.43.79.0 to 1.44.79.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#14651 Update dropbox-beta from 157.3.4738 to 157.3.4760
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#14652 Update signal-beta from 5.58.0-beta.1 to 5.59.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#14653 Update clashx-pro from 1.95.0.1 to 1.95.1.1
  Casks/clashx-pro.rb
Labels: bump-cask-pr

#14656 Update dropbox-beta from 157.3.4760 to 157.3.4772
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#14657 Update macloggerdx-beta from 6.43b4 to 6.43b6
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14658 Update tor-browser-alpha from 12.0a1 to 12.0a2
  Casks/tor-browser-alpha.rb
Labels: bump-cask-pr

#14654 Update blender-lts from 2.93.10 to 3.3.0
  Casks/blender-lts.rb
Labels: bump-cask-pr, livecheck

#14659 Update skype-preview from 8.88.76.401 to 8.89.76.102
  Casks/skype-preview.rb
Labels: bump-cask-pr

#14660 Update utm-beta from 4.0.3 to 4.0.4
  Casks/utm-beta.rb
Labels: bump-cask-pr

#14664 Update microsoft-edge-dev from 106.0.1370.4 to 107.0.1375.0
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#14665 Update whatsapp-beta from 2.2235.1 to 2.2236.0
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14667 Update arduino-ide-beta and arduino-ide-nightly
  Casks/arduino-ide-beta.rb
  Casks/arduino-ide-nightly.rb
Labels: automerge-skip

#14681 Update google-chrome-beta from 106.0.5249.30 to 106.0.5249.40
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#14680 Update whatsapp-beta from 2.2236.0 to 2.2236.1
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14679 Update macloggerdx-beta from 6.43b6 to 6.43b7
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14678 Update microsoft-edge-dev from 107.0.1375.0 to 107.0.1379.1
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#14677 Update wine-staging from 7.16 to 7.17
  Casks/wine-staging.rb
Labels: bump-cask-pr

#14676 Update wine-devel from 7.16 to 7.17
  Casks/wine-devel.rb
Labels: bump-cask-pr

#14675 Update brave-browser-beta from 1.44.79.0 to 1.44.83.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#14674 Update brave-browser-dev from 1.44.76.0 to 1.44.84.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#14673 Update 1password-beta from 8.9.4-37.BETA to 8.9.6-11.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#14672 Update vivaldi-snapshot from 5.5.2770.3 to 5.5.2794.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#14671 Update opera-developer from 92.0.4526.0 to 92.0.4540.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#14670 Update google-chrome-dev from 106.0.5249.12 to 107.0.5286.0
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#14682 Update signal-beta from 5.59.0-beta.1 to 5.60.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#14683 Update 1password-cli-beta from 2.7.1-beta.01 to 2.8.0-beta.01
  Casks/1password-cli-beta.rb
Labels: bump-cask-pr

#14684 Update whatsapp-beta from 2.2236.1 to 2.2236.2
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14685 Update sublime-text-dev from 4134 to 4136
  Casks/sublime-text-dev.rb
Labels: bump-cask-pr

#14701 Update dropbox-beta from 158.3.4496 to 158.3.4523
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#14700 Update vscodium-insiders from 1.71.0.22241-insider to 1.72.0.22258-insider
  Casks/vscodium-insiders.rb
Labels: bump-cask-pr

#14699 Update vivaldi-snapshot from 5.5.2794.3 to 5.5.2797.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#14698 Update termius-beta from 7.47.3 to 7.48.0
  Casks/termius-beta.rb
Labels: bump-cask-pr

#14697 Update skype-preview from 8.89.76.102 to 8.89.76.300
  Casks/skype-preview.rb
Labels: bump-cask-pr

#14695 Update royal-tsx-beta from 5.1.1.15 to 5.1.1.16
  Casks/royal-tsx-beta.rb
Labels: bump-cask-pr

#14694 Update qgis-ltr from 3.22.10 to 3.22.11
  Casks/qgis-ltr.rb
Labels: bump-cask-pr

#14693 Update openshot-video-editor-daily from 2.6.1,9694-c23a9b1b-46255e46 to 2.6.1,9745-cfca6e77-46255e46
  Casks/openshot-video-editor-daily.rb
Labels: bump-cask-pr

#14692 Update microsoft-edge-beta from 105.0.1343.17 to 106.0.1370.15
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#14691 Update geogebra5 from 5.0.729.0 to 5.0.730.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#14690 Update fork-dev from 2.21 to 2.22
  Casks/fork-dev.rb
Labels: bump-cask-pr

#14689 Update chromedriver-beta from 105.0.5195.19 to 106.0.5249.21
  Casks/chromedriver-beta.rb
Labels: bump-cask-pr

#14688 Update buckets-beta from 0.67.1 to 0.67.2
  Casks/buckets-beta.rb
Labels: bump-cask-pr

#14687 Update brave-browser-dev from 1.44.84.0 to 1.44.87.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#14686 Update brave-browser-beta from 1.44.83.0 to 1.44.86.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#14702 Update macloggerdx-beta from 6.43b7 to 6.43b8
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14703 Update dropbox-beta from 158.3.4523 to 158.3.4525
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#14704 Update iterm2-beta from 3.5.0beta6 to 3.5.0beta7
  Casks/iterm2-beta.rb
Labels: bump-cask-pr

#14705 Update macloggerdx-beta from 6.43b8 to 6.43b9
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14706 Update dotnet-preview from 7.0.0-preview.7.22375.6 to 7.0.0-rc.1.22426.10
  Casks/dotnet-preview.rb
Labels: bump-cask-pr

#14707 Update dotnet-sdk-preview from 7.0.100-preview.7.22377.5 to 7.0.100-rc.1.22431.12
  Casks/dotnet-sdk-preview.rb
Labels: bump-cask-pr

#14709 Update macloggerdx-beta from 6.43b9 to 6.43b10
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14708 Update utm-beta from 4.0.4 to 4.0.5
  Casks/utm-beta.rb
Labels: bump-cask-pr

#14710 Update macloggerdx-beta from 6.43b10 to 6.43b11
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14712 Update android-studio-preview-canary from 2022.1.1.10 to 2022.2.1.1
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#14713 Update macloggerdx-beta from 6.43b11 to 6.43b12
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14721 Update safari-technology-preview from 153 to 154
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#14720 Update google-chrome-beta from 106.0.5249.40 to 106.0.5249.51
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#14718 Update opera-developer from 92.0.4540.0 to 92.0.4547.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#14717 Update google-chrome-canary from 107.0.5272.0 to 108.0.5313.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#14716 Update fork-dev from 2.22 to 2.22.1
  Casks/fork-dev.rb
Labels: bump-cask-pr

#14715 Update brave-browser-dev from 1.44.87.0 to 1.44.94.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#14714 Update brave-browser-beta from 1.44.86.0 to 1.44.93.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#14723 Update macloggerdx-beta from 6.43b12 to 6.43b13
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14725 Update macloggerdx-beta from 6.43b13 to 6.43b14
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14726 Update dropbox-beta from 158.3.4525 to 158.3.4547
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#14711 Update slack-beta from 4.28.171 to 4.28.182
  Casks/slack-beta.rb
Labels: stale, bump-cask-pr

#14728 Update android-studio-preview-beta from 2021.3.1.15 to 2022.1.1.11
  Casks/android-studio-preview-beta.rb
Labels: bump-cask-pr

#14729 Update github-beta from 3.0.8-beta1-535ab6c0 to 3.0.9-beta1-6eae227f
  Casks/github-beta.rb
Labels: bump-cask-pr

#14730 Update vmware-fusion-tech-preview from 20191287 to 20486664
  Casks/vmware-fusion-tech-preview.rb
Labels: bump-cask-pr

#14731 Update microsoft-edge-dev from 107.0.1379.1 to 107.0.1387.2
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#14732 Update microsoft-edge-beta from 106.0.1370.15 to 106.0.1370.17
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#14734 Update 1password-cli-beta from 2.8.0-beta.01 to 2.8.0-beta.02
  Casks/1password-cli-beta.rb
Labels: bump-cask-pr

#14733 Update brave-browser-beta from 1.44.93.0 to 1.45.68.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#14737 Update signal-beta from 5.60.0-beta.1 to 5.61.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#14735 Update macloggerdx-beta from 6.43b14 to 6.43b15
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14739 Update utm-beta from 4.0.5 to 4.0.6
  Casks/utm-beta.rb
Labels: bump-cask-pr

#14742 Update sublime-text-dev from 4136 to 4137
  Casks/sublime-text-dev.rb
Labels: bump-cask-pr

#14746 Update macloggerdx-beta from 6.43b15 to 6.43b17
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14748 Update macloggerdx-beta from 6.43b17 to 6.43b18
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14749 Update whatsapp-beta from 2.2237.2 to 2.2238.2
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14750 Update brave-browser-beta from 1.45.68.0 to 1.45.75.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#14751 Update brave-browser-dev from 1.44.94.0 to 1.45.76.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#14752 Update opera-developer from 92.0.4547.0 to 92.0.4555.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#14754 Update android-studio-preview-canary from 2022.2.1.1 to 2022.2.1.2
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#14757 Update dropbox-beta from 158.3.4547 to 159.3.5798
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#14759 Update tor-browser-alpha from 12.0a2 to 12.0a3
  Casks/tor-browser-alpha.rb
Labels: bump-cask-pr

#14758 Update signal-beta from 5.61.0-beta.1 to 5.62.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#14753 Update vivaldi-snapshot from 5.5.2797.3 to 5.5.2805.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#14747 Update slack-beta from 4.28.182 to 4.28.184
  Casks/slack-beta.rb
Labels: bump-cask-pr

#14756 Update macloggerdx-beta from 6.43b18 to 6.43b19
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14760 Update propresenter-beta from 7.10.1 to 7.10.2
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#14761 Update dropbox-beta from 159.3.5798 to 159.3.5805
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#14762 Update google-chrome-beta from 106.0.5249.61 to 107.0.5304.18
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#14764 Add temurin18
  Casks/temurin18.rb
Labels: new cask
