Repository Homebrew/homebrew-cask-versions, pull requests merged in 2022-05, with the labels that each got.

#13823 Update java-beta from 18,35 to 19,20
  Casks/java-beta.rb
Labels: livecheck

#13821 parallels*: update livecheck
  Casks/parallels12.rb
  Casks/parallels13.rb
  Casks/parallels14.rb
  Casks/parallels15.rb
  Casks/parallels16.rb
Labels: ci-syntax-only, automerge-skip, livecheck

#13820 libreoffice-still: update livecheck
  Casks/libreoffice-still.rb
Labels: ci-syntax-only, livecheck

#13819 corretto*: Use #regex, remove strategy block
  Casks/corretto11.rb
  Casks/corretto17.rb
  Casks/corretto8.rb
Labels: ci-syntax-only, automerge-skip, livecheck

#13818 Pass regex into strategy block, use #scan
  Casks/arduino-ide-beta.rb
  Casks/background-music-pre.rb
  Casks/citra-nightly.rb
  Casks/daedalus-flight.rb
  Casks/fork-dev.rb
  Casks/freecad-pre.rb
  Casks/geogebra5.rb
  Casks/local-beta.rb
  Casks/mumble-snapshot.rb
  Casks/openshot-video-editor-daily.rb
  Casks/processing-beta.rb
  Casks/qgis-ltr.rb
  Casks/rstudio-preview.rb
  Casks/semeru-jdk11-open.rb
  Casks/semeru-jdk8-open.rb
  Casks/smcfancontrol-beta.rb
  Casks/temurin11.rb
  Casks/temurin17.rb
  Casks/temurin8.rb
  Casks/zulu11.rb
  Casks/zulu13.rb
  Casks/zulu15.rb
  Casks/zulu17.rb
  Casks/zulu7.rb
  Casks/zulu8.rb
Labels: ci-syntax-only, automerge-skip, livecheck

#13827 Update safari-technology-preview from 143 to 144
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#13824 Update termius-beta from 7.40.0 to 7.40.1
  Casks/termius-beta.rb
Labels: bump-cask-pr

#13825 Update macloggerdx-beta from 6.40b11 to 6.40b12
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#13826 Update dropbox-beta from 148.3.4469 to 148.3.4504
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#13828 Update dotnet-sdk-preview from 7.0.100-preview.1.22110.4 to 7.0.100-preview.3.22179.4
  Casks/dotnet-sdk-preview.rb
Labels: bump-cask-pr

#13830 Update brave-browser-beta from 1.39.84.0 to 1.39.89.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#13831 Update firefox-esr from 91.8.0 to 91.9.0
  Casks/firefox-esr.rb
Labels: bump-cask-pr

#13832 Update macloggerdx-beta from 6.40b12 to 6.40b13
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#13833 Update whatsapp-beta from 2.2216.2 to 2.2217.0
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#13835 Update termius-beta from 7.40.1 to 7.40.2
  Casks/termius-beta.rb
Labels: bump-cask-pr

#13836 Update macloggerdx-beta from 6.40b13 to 6.40b14
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#13837 Update whatsapp-beta from 2.2217.0 to 2.2217.1
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#13838 Update slack-beta from 4.26.0 to 4.26.1
  Casks/slack-beta.rb
Labels: bump-cask-pr

#13844 Update temurin8 from 8,322,06 to 8,332,09
  Casks/temurin8.rb
Labels: bump-cask-pr

#13845 Update dropbox-beta from 148.3.4504 to 148.3.4511
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#13843 Update macloggerdx-beta from 6.40b14 to 6.40b15
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#13842 Update signal-beta from 5.42.0-beta.1 to 5.43.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#13841 Update google-chrome-beta from 102.0.5005.27 to 102.0.5005.40
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#13840 Update 1password-beta from 8.7.0-95.BETA to 8.8.0-11.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#13829 Add 1password 7
  Casks/1password7.rb
Labels: new cask

#13847 Update propresenter-beta from 7.9 to 7.9.1
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#13848 Update inso-beta from 2.13.0-beta.0 to 3.1.0-beta.0
  Casks/inso-beta.rb
Labels: bump-cask-pr

#13849 Update whatsapp-beta from 2.2217.1 to 2.2217.2
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#13851 Update tunnelblick-beta from 3.8.8beta03 to 3.8.8beta04
  Casks/tunnelblick-beta.rb
Labels: bump-cask-pr

#13852 Update brave-browser-beta from 1.39.89.0 to 1.39.92.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#13853 Update brave-browser-dev from 1.39.85.0 to 1.39.93.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#13854 Update google-chrome-canary from 102.0.4982.0 to 103.0.5046.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#13855 Update google-chrome-dev from 101.0.4951.7 to 103.0.5042.0
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#13856 Update java-beta from 19,20 to 19,21
  Casks/java-beta.rb
Labels: bump-cask-pr

#13857 Update insomnia-alpha from 2022.3.0-beta.3 to 2022.4.0-beta.0
  Casks/insomnia-alpha.rb
Labels: bump-cask-pr

#13858 Update openshot-video-editor-daily from 2.6.1,9351-04db6ce8-46255e46 to 2.6.1,9432-50a9a648-46255e46
  Casks/openshot-video-editor-daily.rb
Labels: bump-cask-pr

#13859 Update opera-beta from 87.0.4390.8 to 87.0.4390.17
  Casks/opera-beta.rb
Labels: bump-cask-pr

#13860 Update sketch-beta from 86 to 87
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#13861 Update macloggerdx-beta from 6.40b15 to 6.40b16
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#13862 Update macloggerdx-beta from 6.40b16 to 6.40b17
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#13863 Update macfuse-dev from 4.3.0 to 4.3.1
  Casks/macfuse-dev.rb
Labels: bump-cask-pr

#13850 Update microsoft-edge-dev from 102.0.1220.1 to 102.0.1245.3
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#13864 Update macloggerdx-beta from 6.40b17 to 6.40b18
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#13865 Update utm-beta from 3.2.2 to 3.2.2
  Casks/utm-beta.rb
Labels: bump-cask-pr

#13866 Update macloggerdx-beta from 6.40b18 to 6.40b19
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#13867 Update opera-developer from 88.0.4401.0 to 89.0.4415.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#13870 Update whatsapp-beta from 2.2217.2 to 2.2218.0
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#13869 Update dropbox-beta from 148.3.4511 to 149.3.4526
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#13868 Update vivaldi-snapshot from 5.3.2658.3 to 5.3.2669.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#13871 Update sublime-merge-dev from 2070 to 2072
  Casks/sublime-merge-dev.rb
Labels: bump-cask-pr

#13800 Add IBM Semeru JDK 17 (LTS)
  Casks/semeru-jdk17-open.rb
Labels: new cask

#13873 Update temurin17 from 17.0.2 to 17.0.3
  Casks/temurin17.rb
Labels: bump-cask-pr

#13874 Update brave-browser-dev from 1.39.93.0 to 1.39.97.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#13875 Update brave-browser-beta from 1.39.92.0 to 1.39.96.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#13876 Update geogebra5 from 5.0.703.0 to 5.0.704.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#13879 Update safari-technology-preview from 144 to 145
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#13878 Update google-chrome-beta from 102.0.5005.40 to 102.0.5005.49
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#13877 Update 1password-beta from 8.8.0-11.BETA to 8.8.0-21.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#13883 Update whatsapp-beta from 2.2218.0 to 2.2218.1
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#13882 Update pdf-expert-beta from 2.5.20 to 2.5.21
  Casks/pdf-expert-beta.rb
Labels: bump-cask-pr

#13881 Update mongodb-compass-beta from 1.31.2-beta.5 to 1.31.3-beta.12
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#13880 Update figma-beta from 114.3.0 to 114.4.0
  Casks/figma-beta.rb
Labels: bump-cask-pr

#13892 Update android-studio-preview-canary from 2021.3.1.9 to 2022.1.1.1
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#13891 Update libreoffice-still from 7.2.6 to 7.2.7
  Casks/libreoffice-still.rb
Labels: bump-cask-pr

#13889 Update microsoft-edge-dev from 102.0.1245.3 to 103.0.1253.0
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#13887 Update brave-browser-dev from 1.39.97.0 to 1.39.102.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#13886 Update brave-browser-beta from 1.39.96.0 to 1.39.101.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#13884 Update wine-devel from 7.7 to 7.8
  Casks/wine-devel.rb
Labels: bump-cask-pr

#13885 Update wine-staging from 7.7 to 7.8
  Casks/wine-staging.rb
Labels: bump-cask-pr

#13890 Update opera-beta from 87.0.4390.17 to 87.0.4390.21
  Casks/opera-beta.rb
Labels: bump-cask-pr

#13894 Update inso-beta from 3.1.0-beta.0 to 3.1.0-beta.1
  Casks/inso-beta.rb
Labels: bump-cask-pr

#13888 Update microsoft-edge-beta from 101.0.1210.10 to 102.0.1245.7
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#13893 Update android-studio-preview-beta from 2021.2.1.12 to 2021.3.1.10
  Casks/android-studio-preview-beta.rb
Labels: bump-cask-pr

#13896 Update signal-beta from 5.43.0-beta.1 to 5.44.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#13897 Update java-beta from 19,21 to 19,22
  Casks/java-beta.rb
Labels: bump-cask-pr

#13900 Update dropbox-beta from 149.3.4526 to 149.3.4541
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#13901 Update android-studio-preview-canary from 2022.1.1.1 to 2022.1.1.2
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#13902 Update anki-beta from 2.1.50+rc4_26d40c3a to 2.1.52+rc3_ab1c2395
  Casks/anki-beta.rb
Labels: bump-cask-pr

#13903 Update chromedriver-beta from 101.0.4951.15 to 102.0.5005.27
  Casks/chromedriver-beta.rb
Labels: bump-cask-pr

#13904 Update citra-nightly from 1762 to 1763
  Casks/citra-nightly.rb
Labels: bump-cask-pr

#13905 Update dotnet-preview from 7.0.0-preview.1.22076.8 to 7.0.0-preview.4.22229.4
  Casks/dotnet-preview.rb
Labels: bump-cask-pr

#13906 Update dotnet-sdk-preview from 7.0.100-preview.3.22179.4 to 7.0.100-preview.4.22252.9
  Casks/dotnet-sdk-preview.rb
Labels: bump-cask-pr

#13908 Update google-chrome-canary from 103.0.5046.0 to 103.0.5060.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#13907 Update fork-dev from 2.17 to 2.18
  Casks/fork-dev.rb
Labels: bump-cask-pr

#13910 Update insomnia-alpha from 2022.4.0-beta.0 to 2022.4.0-beta.1
  Casks/insomnia-alpha.rb
Labels: bump-cask-pr

#13909 Update google-chrome-dev from 103.0.5042.0 to 103.0.5056.0
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#13911 Update mi-beta from 3.6.1 to 3.6.2
  Casks/mi-beta.rb
Labels: bump-cask-pr

#13913 Update microsoft-openjdk11 from 11.0.14.9.1 to 11.0.15
  Casks/microsoft-openjdk11.rb
Labels: bump-cask-pr

#13914 Update mongodb-compass-beta from 1.31.3-beta.12 to 1.31.3-beta.13
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#13912 Update microsoft-edge-beta from 102.0.1245.7 to 102.0.1245.12
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#13915 Update openshot-video-editor-daily from 2.6.1,9432-50a9a648-46255e46 to 2.6.1,9481-664c5db8-46255e46
  Casks/openshot-video-editor-daily.rb
Labels: bump-cask-pr

#13916 Update propresenter-beta from 7.9.1,118030594 to 7.9.1,118030596
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#13917 Update royal-tsx-beta from 5.1.0.1000 to 5.1.1.2
  Casks/royal-tsx-beta.rb
Labels: bump-cask-pr

#13918 Update rstudio-preview from 2022.02.1 to 2022.02.2
  Casks/rstudio-preview.rb
Labels: bump-cask-pr

#13919 Update qgis-ltr from 3.22.6 to 3.22.7
  Casks/qgis-ltr.rb
Labels: bump-cask-pr

#13920 Update telegram-desktop-beta from 3.5.6 to 3.7.5
  Casks/telegram-desktop-beta.rb
Labels: bump-cask-pr

#13921 Update utm-beta from 3.2.2 to 3.2.3
  Casks/utm-beta.rb
Labels: bump-cask-pr

#13922 Update macloggerdx-beta from 6.40b19 to 6.40b20
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#13924 Update mullvadvpn-beta from 2022.1-beta2 to 2022.2-beta1
  Casks/mullvadvpn-beta.rb
Labels: bump-cask-pr

#13925 Update geogebra5 from 5.0.704.0 to 5.0.706.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#13926 Update xampp7 from 7.4.29-0 to 7.4.29-1
  Casks/xampp7.rb
Labels: bump-cask-pr

#13927 Update brave-browser-beta from 1.39.101.0 to 1.39.106.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#13928 Update termius-beta from 7.40.2 to 7.41.0
  Casks/termius-beta.rb
Labels: bump-cask-pr

#13929 Update whatsapp-beta from 2.2218.1 to 2.2219.1
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#13930 Update propresenter-beta from 7.9.1,118030596 to 7.9.1,118030597
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#13932 Update sketch-beta from 87 to 88
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#13934 Update whatsapp-beta from 2.2219.1 to 2.2219.2
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#13935 Update 1password-beta from 8.8.0-21.BETA to 8.8.0-94.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#13936 Update google-chrome-beta from 102.0.5005.49 to 102.0.5005.61
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#13938 Update fork-dev from 2.18 to 2.18.1
  Casks/fork-dev.rb
Labels: bump-cask-pr

#13937 Update brave-browser-beta from 1.39.106.0 to 1.40.68.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#13940 Update dropbox-beta from 149.3.4541 to 149.3.4558
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#13941 Update github-beta from 2.9.16-beta2-092e9b96 to 3.0.1-beta1-96a32cf8
  Casks/github-beta.rb
Labels: bump-cask-pr

#13942 Update whatsapp-beta from 2.2219.2 to 2.2219.3
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#13943 Update java-beta from 19,22 to 19,23
  Casks/java-beta.rb
Labels: bump-cask-pr

#13945 Update inso-beta from 3.1.0-beta.1 to 3.1.0-beta.2
  Casks/inso-beta.rb
Labels: bump-cask-pr

#13946 Update termius-beta from 7.41.0 to 7.41.1
  Casks/termius-beta.rb
Labels: bump-cask-pr

#13947 Update macloggerdx-beta from 6.40b20 to 6.40b21
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#13948 Update brave-browser-dev from 1.39.107.0 to 1.40.69.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#13950 Update vivaldi-snapshot from 5.3.2669.3 to 5.3.2679.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#13949 Update firefox-esr from 91.9.0 to 91.9.1
  Casks/firefox-esr.rb
Labels: ci-skip-install, bump-cask-pr

#13951 Update macloggerdx-beta from 6.40b21 to 6.40b23
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#13952 Update appcode-eap from 2022.1 to 2022.2
  Casks/appcode-eap.rb
Labels: bump-cask-pr

#13953 Update macloggerdx-beta from 6.40b23 to 6.40b24
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#13954 Update macloggerdx-beta from 6.40b24 to 6.40b25
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#13955 Update citra-nightly from 1763 to 1766
  Casks/citra-nightly.rb
Labels: bump-cask-pr

#13956 Update clashx-pro from 1.92.1.1 to 1.93.1.1
  Casks/clashx-pro.rb
Labels: bump-cask-pr

#13957 Update termius-beta from 7.41.1 to 7.41.2
  Casks/termius-beta.rb
Labels: bump-cask-pr

#13959 Update macloggerdx-beta from 6.40b25 to 6.40b26
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#13960 Update dropbox-beta from 149.3.4558 to 149.3.4562
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#13962 Update tor-browser-alpha from 11.5a9 to 11.5a11
  Casks/tor-browser-alpha.rb
Labels: bump-cask-pr

#13963 Update geogebra5 from 5.0.706.0 to 5.0.707.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#13965 Update opera-developer from 89.0.4422.0 to 89.0.4428.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#13966 Update mono-mdk-for-visual-studio from 6.12.0.122 to 6.12.0.179
  Casks/mono-mdk-for-visual-studio.rb
Labels: bump-cask-pr

#13968 Update whatsapp-beta from 2.2219.3 to 2.2220.1
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#13969 Update dropbox-beta from 149.3.4562 to 150.3.4929
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#13970 Update vivaldi-snapshot from 5.3.2679.3 to 5.3.2679.13
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#13971 Create xmind8.rb
  Casks/xmind8.rb
Labels: new cask

#13973 Update 1password-beta from 8.8.0-94.BETA to 8.8.0-104.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#13974 Update github-beta from 3.0.1-beta1-96a32cf8 to 3.0.1-beta2-a184ec34
  Casks/github-beta.rb
Labels: bump-cask-pr

#13975 Update whatsapp-beta from 2.2220.1 to 2.2220.2
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#13976 Update safari-technology-preview from 145 to 146
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#13977 Update signal-beta from 5.44.0-beta.1 to 5.45.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#13972 Update brave-browser-dev from 1.40.69.0 to 1.40.73.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#13978 Update wine-devel from 7.8 to 7.9
  Casks/wine-devel.rb
Labels: bump-cask-pr

#13979 Update wine-staging from 7.8 to 7.9
  Casks/wine-staging.rb
Labels: bump-cask-pr

#13980 Update macloggerdx-beta from 6.40b26 to 6.40b28
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#13981 Update vivaldi-snapshot from 5.3.2679.13 to 5.3.2679.16
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#13982 Update macloggerdx-beta from 6.40b28 to 6.40b30
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#13983 Update whatsapp-beta from 2.2220.2 to 2.2220.3
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr
