Repository Homebrew/homebrew-cask-versions, pull requests merged in 2022-07, with the labels that each got.

#14235 Update signal-beta from 5.48.0-beta.1 to 5.49.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#14234 Update macloggerdx-beta from 6.41b6 to 6.41b7
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14233 Update vivaldi-snapshot from 5.4.2718.3 to 5.4.2722.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#14232 Update java-beta from 19,28 to 19,29
  Casks/java-beta.rb
Labels: bump-cask-pr

#14231 Update inso-beta from 3.3.1-beta.0 to 3.3.1-beta.1
  Casks/inso-beta.rb
Labels: bump-cask-pr

#14230 Update dropbox-beta from 152.3.4855 to 152.3.4871
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#14237 Update opera-beta from 89.0.4447.31 to 89.0.4447.33
  Casks/opera-beta.rb
Labels: bump-cask-pr

#14238 Update tor-browser-alpha from 11.5a12 to 11.5a13
  Casks/tor-browser-alpha.rb
Labels: bump-cask-pr

#14239 Update skype-preview from 8.85.76.409 to 8.86.76.403
  Casks/skype-preview.rb
Labels: bump-cask-pr

#14242 Update opera-developer from 90.0.4463.0 to 90.0.4470.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#14241 Creates omegat-latest
  Casks/omegat-latest.rb
Labels: new cask

#14244 Update macloggerdx-beta from 6.41b7 to 6.41b8
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14245 Update brave-browser-beta from 1.41.86.0 to 1.41.91.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#14246 Update iterm2-beta from 3.5.0beta5 to 3.5.0beta6
  Casks/iterm2-beta.rb
Labels: bump-cask-pr

#14247 Update whatsapp-beta from 2.2224.2 to 2.2226.0
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14248 Update macloggerdx-beta from 6.41b8 to 6.41b10
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14254 Update openshot-video-editor-daily from 2.6.1,9537-5776efd7-46255e46 to 2.6.1,9576-5776efd7-46255e46
  Casks/openshot-video-editor-daily.rb
Labels: bump-cask-pr

#14253 Update insomnia-alpha from 2022.5.0-beta.0 to 2022.5.0-beta.2
  Casks/insomnia-alpha.rb
Labels: bump-cask-pr

#14252 Update citra-nightly from 1770 to 1772
  Casks/citra-nightly.rb
Labels: bump-cask-pr

#14250 Update opera-beta from 89.0.4447.33 to 89.0.4447.37
  Casks/opera-beta.rb
Labels: bump-cask-pr

#14249 Update brave-browser-dev from 1.41.87.0 to 1.41.92.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#14258 Update dropbox-beta from 152.3.4871 to 153.3.3924
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#14257 Add Alfred 5 Early Access program
  Casks/alfred-earlyaccess.rb
Labels: automerge-skip, new cask

#14260 Update android-studio-preview-canary from 2022.1.1.7 to 2022.1.1.8
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#14262 Update java-beta from 19,29 to 19,30
  Casks/java-beta.rb
Labels: bump-cask-pr

#14264 Update android-studio-preview-beta from 2021.3.1.13 to 2021.3.1.14
  Casks/android-studio-preview-beta.rb
Labels: bump-cask-pr

#14265 Update google-chrome-beta from 104.0.5112.29 to 104.0.5112.39
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#14266 Update alfred5 from 5.0.0,EA7,2043 to 5.0.0,EA8,2045
  Casks/alfred5.rb
Labels: bump-cask-pr

#14267 Update inso-beta from 3.3.1-beta.1 to 3.3.1-beta.2
  Casks/inso-beta.rb
Labels: bump-cask-pr

#14268 Update vivaldi-snapshot from 5.4.2722.3 to 5.4.2729.2
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#14269 Update macloggerdx-beta from 6.41b10 to 6.41b11
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14270 Update 1password-beta from 8.8.0-165.BETA to 8.8.0-183.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#14272 Update signal-beta from 5.49.0-beta.1 to 5.50.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#14274 Update alfred5 from 5.0.0,EA8,2045 to 5.0.0,EA9,2046
  Casks/alfred5.rb
Labels: bump-cask-pr

#14276 Update emacs-pretest from 28.0.92 to 28.1.90
  Casks/emacs-pretest.rb
Labels: bump-cask-pr

#14275 Update microsoft-edge-beta from 103.0.1264.37 to 104.0.1293.14
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#14277 Update alfred5 from 5.0.0,EA9,2046 to 5.0.0,EA10,2047
  Casks/alfred5.rb
Labels: bump-cask-pr

#14280 Update wine-staging from 7.11 to 7.12
  Casks/wine-staging.rb
Labels: bump-cask-pr

#14282 Update geogebra5 from 5.0.718.0 to 5.0.720.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#14283 Update alfred5 from 5.0.0 to 5.0
  Casks/alfred5.rb
Labels: bump-cask-pr

#14285 Update github-beta from 3.0.3-beta1-9d745da7 to 3.0.4-beta1-30da5529
  Casks/github-beta.rb
Labels: bump-cask-pr

#14286 Update whatsapp-beta from 2.2226.0 to 2.2227.0
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14287 Update alfred5 from 5.0,2050 to 5.0,2053
  Casks/alfred5.rb
Labels: bump-cask-pr

#14288 Update 1password-beta from 8.8.0-183.BETA to 8.8.0-197.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#14290 Update whatsapp-beta from 2.2227.0 to 2.2227.2
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14291 Update firefox-esr from 102.0 to 102.0.1
  Casks/firefox-esr.rb
Labels: bump-cask-pr

#14295 Update github-beta from 3.0.4-beta1-30da5529 to 3.0.5-beta1-620a8c88
  Casks/github-beta.rb
Labels: bump-cask-pr

#14297 Update google-chrome-beta from 104.0.5112.39 to 104.0.5112.48
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#14299 Update dropbox-beta from 153.3.3924 to 153.3.3929
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#14300 Update java-beta from 19,30 to 19,31
  Casks/java-beta.rb
Labels: bump-cask-pr

#14301 Update discord-canary from 0.0.284 to 0.0.285
  Casks/discord-canary.rb
Labels: bump-cask-pr

#14302 Update inso-beta from 3.3.1-beta.2 to 3.3.1-beta.3
  Casks/inso-beta.rb
Labels: bump-cask-pr

#14303 Update whatsapp-beta from 2.2227.2 to 2.2227.3
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14307 Update macloggerdx-beta from 6.41b11 to 6.42b2
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14312 Update 1password-cli-beta from 2.0.0-beta.16 to 2.6.0-beta.05
  Casks/1password-cli-beta.rb
Labels: bump-cask-pr

#14305 Update safari-technology-preview from 148 to 149
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#14306 Update skype-preview from 8.86.76.407 to 8.87.76.202
  Casks/skype-preview.rb
Labels: bump-cask-pr

#14308 Update vivaldi-snapshot from 5.4.2729.2 to 5.4.2737.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#14309 Update opera-developer from 90.0.4470.0 to 90.0.4477.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#14310 Update qgis-ltr from 3.22.8 to 3.22.9
  Casks/qgis-ltr.rb
Labels: bump-cask-pr

#14313 Update geogebra5 from 5.0.720.0 to 5.0.721.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#14316 Update 1password-cli-beta from 2.6.0-beta.05 to 2.6.0-beta.06
  Casks/1password-cli-beta.rb
Labels: bump-cask-pr

#14318 Update clashx-pro from 1.94.0.1 to 1.95.0.1
  Casks/clashx-pro.rb
Labels: bump-cask-pr

#14319 Update termius-beta from 7.45.1 to 7.45.2
  Casks/termius-beta.rb
Labels: bump-cask-pr

#14320 Update wine-staging from 7.12 to 7.13
  Casks/wine-staging.rb
Labels: bump-cask-pr

#14321 Update wine-devel from 7.12 to 7.13
  Casks/wine-devel.rb
Labels: bump-cask-pr

#14322 Update whatsapp-beta from 2.2227.3 to 2.2228.1
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14323 Update dropbox-beta from 153.3.3929 to 154.3.5327
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#14329 Update vivaldi-snapshot from 5.4.2737.3 to 5.4.2741.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#14328 Update zulu8 from 8.0.332 to 8.0.342
  Casks/zulu8.rb
Labels: bump-cask-pr

#14327 Update zulu11 from 11.0.15 to 11.0.16
  Casks/zulu11.rb
Labels: bump-cask-pr

#14326 Update zulu7 from 7.0.342 to 7.0.352
  Casks/zulu7.rb
Labels: bump-cask-pr

#14325 Update propresenter-beta from 7.10,118095880 to 7.10,118095881
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#14330 Update julia-lts from 1.6.6 to 1.6.7
  Casks/julia-lts.rb
Labels: bump-cask-pr

#14349 Update opera-developer from 90.0.4477.0 to 91.0.4484.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#14348 Update opera-beta from 89.0.4447.37 to 90.0.4480.25
  Casks/opera-beta.rb
Labels: bump-cask-pr

#14347 Update openshot-video-editor-daily from 2.6.1,9576-5776efd7-46255e46 to 2.6.1,9604-5776efd7-46255e46
  Casks/openshot-video-editor-daily.rb
Labels: bump-cask-pr

#14346 Update mongodb-compass-beta from 1.32.3-beta.2 to 1.32.3-beta.3
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#14345 Update royal-tsx-beta from 5.1.1.10 to 5.1.1.11
  Casks/royal-tsx-beta.rb
Labels: bump-cask-pr

#14343 Update microsoft-edge-dev from 105.0.1300.0 to 105.0.1321.0
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#14342 Update zulu17 from 17.0.3 to 17.0.4
  Casks/zulu17.rb
Labels: bump-cask-pr

#14340 Update zulu13 from 13.0.11 to 13.0.12
  Casks/zulu13.rb
Labels: bump-cask-pr

#14337 Update insomnia-alpha from 2022.5.0-beta.2 to 2022.5.0-beta.4
  Casks/insomnia-alpha.rb
Labels: bump-cask-pr

#14334 Update discord-ptb from 0.0.62 to 0.0.63
  Casks/discord-ptb.rb
Labels: bump-cask-pr

#14333 Update brave-browser-dev from 1.41.92.0 to 1.42.66.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#14332 Update brave-browser-beta from 1.41.91.0 to 1.42.65.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#14351 Update corretto8 from 8.332.08.1 to 8.342.07.1
  Casks/corretto8.rb
Labels: bump-cask-pr

#14352 Update corretto11 from 11.0.15.9.1 to 11.0.16.8.1
  Casks/corretto11.rb
Labels: bump-cask-pr

#14354 Update google-chrome-beta from 104.0.5112.48 to 104.0.5112.57
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#14353 Update corretto17 from 17.0.3.6.1 to 17.0.4.8.1
  Casks/corretto17.rb
Labels: bump-cask-pr

#14350 Update macloggerdx-beta from 6.42b2 to 6.42b3
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14356 Update signal-beta from 5.51.0-beta.1 to 5.52.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#14358 Update github-beta from 3.0.5-beta1-620a8c88 to 3.0.6-beta1-0ef901ea
  Casks/github-beta.rb
Labels: bump-cask-pr

#14357 Update termius-beta from 7.45.2 to 7.45.3
  Casks/termius-beta.rb
Labels: bump-cask-pr

#14359 Update whatsapp-beta from 2.2228.1 to 2.2228.2
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14360 Update inso-beta from 3.3.1-beta.3 to 3.3.1-beta.4
  Casks/inso-beta.rb
Labels: bump-cask-pr

#14361 Update java-beta from 19,31 to 19,32
  Casks/java-beta.rb
Labels: bump-cask-pr

#14362 Update macloggerdx-beta from 6.42b3 to 6.42b4
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14364 Update dropbox-beta from 154.3.5327 to 154.3.5344
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#14363 Update appcode-eap from 2022.2,222.3345.51 to 2022.2,222.3345.83
  Casks/appcode-eap.rb
Labels: bump-cask-pr

#14365 Update corretto8 from 8.342.07.1 to 8.342.07.3
  Casks/corretto8.rb
Labels: bump-cask-pr

#14366 Update whatsapp-beta from 2.2228.2 to 2.2228.3
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14367 Update macloggerdx-beta from 6.42b4 to 6.42b5
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14368 Update google-chrome-canary from 105.0.5130.0 to 106.0.5197.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#14369 Update opera-developer from 91.0.4484.0 to 91.0.4491.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#14371 Update geogebra5 from 5.0.721.0 to 5.0.722.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#14370 Update sonos-s1-controller from 11.4 to 11.5
  Casks/sonos-s1-controller.rb
Labels: bump-cask-pr

#14372 Update firefox-esr from 102.0.1 to 102.1.0
  Casks/firefox-esr.rb
Labels: bump-cask-pr

#14373 Update microsoft-edge-beta from 104.0.1293.25 to 104.0.1293.35
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#14374 Update 1password-beta from 8.8.0-215.BETA to 8.9.0-1.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#14375 Update whatsapp-beta from 2.2228.3 to 2.2229.1
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14376 Update google-chrome-beta from 104.0.5112.57 to 104.0.5112.65
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#14377 Update brave-browser-beta from 1.42.65.0 to 1.42.78.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#14378 Update brave-browser-dev from 1.42.66.0 to 1.42.79.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#14379 Update microsoft-edge-dev from 105.0.1321.0 to 105.0.1329.1
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#14380 Update whatsapp-beta from 2.2229.1 to 2.2229.2
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14385 Update figma-beta from 116.0.5 to 116.2.4
  Casks/figma-beta.rb
Labels: bump-cask-pr

#14384 Update buckets-beta from 0.67.0 to 0.67.1
  Casks/buckets-beta.rb
Labels: bump-cask-pr

#14383 Update chromedriver-beta from 104.0.5112.20 to 104.0.5112.29
  Casks/chromedriver-beta.rb
Labels: bump-cask-pr

#14382 Update alfred4 from 4.6.7 to 4.7
  Casks/alfred4.rb
Labels: bump-cask-pr

#14403 Update termius-beta from 7.45.3 to 7.46.0
  Casks/termius-beta.rb
Labels: bump-cask-pr

#14402 Update corretto11 from 11.0.16.8.1 to 11.0.16.8.3
  Casks/corretto11.rb
Labels: bump-cask-pr

#14401 Update java-beta from 19,32 to 19,33
  Casks/java-beta.rb
Labels: bump-cask-pr

#14400 Update inso-beta from 3.3.1-beta.4 to 3.3.1-beta.5
  Casks/inso-beta.rb
Labels: bump-cask-pr

#14399 Update sketch-beta from 90 to 91
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#14398 Update sublime-merge-dev from 2073 to 2075
  Casks/sublime-merge-dev.rb
Labels: bump-cask-pr

#14397 Update pdf-expert-beta from 2.5.21 to 2.5.22
  Casks/pdf-expert-beta.rb
Labels: bump-cask-pr

#14396 Update picoscope-beta from 7.0.103.11796 to 7.0.104.11953
  Casks/picoscope-beta.rb
Labels: bump-cask-pr

#14395 Update google-chrome-dev from 105.0.5137.4 to 105.0.5195.10
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#14394 Update aerial-beta from 3.0.8beta2 to 3.1.0beta2
  Casks/aerial-beta.rb
Labels: bump-cask-pr

#14393 Update signal-beta from 5.53.0-beta.1 to 5.53.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#14392 Update dropbox-beta from 154.3.5344 to 154.3.5348
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#14391 Update whatsapp-beta from 2.2229.2 to 2.2229.3
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14390 Update mullvadvpn-beta from 2022.3-beta2 to 2022.3-beta3
  Casks/mullvadvpn-beta.rb
Labels: bump-cask-pr

#14389 Update opera-beta from 90.0.4480.25 to 90.0.4480.30
  Casks/opera-beta.rb
Labels: bump-cask-pr

#14388 Update github-beta from 3.0.6-beta1-0ef901ea to 3.0.6-beta2-706ecf57
  Casks/github-beta.rb
Labels: bump-cask-pr

#14387 Update brave-browser-dev from 1.42.79.0 to 1.43.52.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#14386 Update brave-browser-beta from 1.42.78.0 to 1.43.51.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#14404 Update vivaldi-snapshot from 5.4.2741.3 to 5.4.2751.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#14406 Update citra-nightly from 1774 to 1776
  Casks/citra-nightly.rb
Labels: bump-cask-pr

#14405 Update vmware-fusion-tech-preview
  Casks/vmware-fusion-tech-preview.rb
Labels: bump-cask-pr
