Repository Homebrew/homebrew-cask-versions, pull requests merged in 2022-03, with the labels that each got.

#13413 Update google-chrome-beta from 99.0.4844.45 to 99.0.4844.51
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#13412 Update dropbox-beta from 143.3.4145 to 143.3.4157
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#13410 Update netnewswire-beta from 6.1b3 to 6.1b4
  Casks/netnewswire-beta.rb
Labels: bump-cask-pr

#13409 Update utm-beta from 3.1.1 to 3.1.2
  Casks/utm-beta.rb
Labels: bump-cask-pr

#13414 ghidra-beta: remove
  Casks/ghidra-beta.rb
Labels: marked for removal/rejection

#13415 Update geogebra5 from 5.0.689.0 to 5.0.691.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#13416 Update wine-devel from 7.2 to 7.3
  Casks/wine-devel.rb
Labels: bump-cask-pr

#13417 Update wine-staging from 7.2 to 7.3
  Casks/wine-staging.rb
Labels: bump-cask-pr

#13422 Update whatsapp-beta from 2.2207.3 to 2.2208.2
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#13419 Update github-beta from 2.9.10-beta2-51a8f1b7 to 2.9.11-beta1-c2595a96
  Casks/github-beta.rb
Labels: bump-cask-pr

#13427 Update whatsapp-beta from 2.2208.2 to 2.2208.3
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#13426 Update brave-browser-dev from 1.36.98.0 to 1.37.78.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#13425 Update brave-browser-beta from 1.36.97.0 to 1.37.77.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#13423 Update dropbox-beta from 143.3.4157 to 144.3.4426
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#13408 Add Rambox Community Edition
  Casks/rambox-ce.rb
Labels: new cask

#13428 Update signal-beta from 5.34.0-beta.1 to 5.34.0-beta.2
  Casks/signal-beta.rb
Labels: bump-cask-pr

#13429 Update signal-beta from 5.34.0-beta.2 to 5.35.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#13430 Update opera-beta from 84.0.4316.9 to 85.0.4341.6
  Casks/opera-beta.rb
Labels: bump-cask-pr

#13431 Update opera-developer from 85.0.4331.0 to 86.0.4344.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#13432 Update whatsapp-beta from 2.2208.3 to 2.2208.4
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#13433 Update safari-technology-preview from 140 to 141
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#13442 Update propresenter-beta from 7.8.3,117965576 to 7.8.3,117965579
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#13439 Update utm-beta from 3.1.2 to 3.1.3-2
  Casks/utm-beta.rb
Labels: bump-cask-pr

#13438 Update termius-beta from 7.34.1 to 7.35.2
  Casks/termius-beta.rb
Labels: bump-cask-pr

#13437 Update chromedriver-beta from 99.0.4844.35 to 100.0.4896.20
  Casks/chromedriver-beta.rb
Labels: bump-cask-pr

#13435 Update android-studio-preview-canary from 2021.3.1.3 to 2021.3.1.5
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#13440 Update 1password-cli-beta from 2.0.0-beta.13 to 2.0.0-beta.14
  Casks/1password-cli-beta.rb
Labels: bump-cask-pr

#13441 Update dropbox-beta from 144.3.4426 to 144.3.4428
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#13443 Update firefox-esr from 91.6.0 to 91.6.1
  Casks/firefox-esr.rb
Labels: bump-cask-pr

#13444 Update processing-beta from 4.0b6 to 4.0b7
  Casks/processing-beta.rb
Labels: bump-cask-pr

#13445 Update telegram-desktop-beta from 3.4.6 to 3.5.5
  Casks/telegram-desktop-beta.rb
Labels: bump-cask-pr

#13446 Update osu-development from 2022.226.0 to 2022.306.0
  Casks/osu-development.rb
Labels: bump-cask-pr

#13450 Update propresenter-beta from 7.8.3,117965579 to 7.8.3,117965580
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#13453 Update 1password-beta from 8.6.0-51.BETA to 8.6.0-68.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#13454 Update firefox-esr from 91.6.1 to 91.7.0
  Casks/firefox-esr.rb
Labels: bump-cask-pr

#13455 Update macloggerdx-beta from 6.39b5 to 6.39b6
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#13456 Update appcode-eap from 2022.1,221.4501.59 to 2022.1,221.4906.8
  Casks/appcode-eap.rb
Labels: bump-cask-pr

#13451 Update atom-beta from 1.60.0-beta0 to 1.61.0-beta0
  Casks/atom-beta.rb
Labels: bump-cask-pr

#13465 Update whatsapp-beta from 2.2208.4 to 2.2209.2
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#13464 Update utm-beta from 3.1.3-2 to 3.1.4
  Casks/utm-beta.rb
Labels: bump-cask-pr

#13466 Update local-beta from 6.3.0 to 6.3.1
  Casks/local-beta.rb
Labels: bump-cask-pr

#13467 Update propresenter-beta from 7.8.3,117965580 to 7.8.3,117965581
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#13479 Update 1password-cli-beta from 2.0.0-beta.14 to 2.0.0-beta.16
  Casks/1password-cli-beta.rb
Labels: bump-cask-pr

#13480 Update slack-beta from 4.24.0-beta1 to 4.24.1
  Casks/slack-beta.rb
Labels: bump-cask-pr

#13481 google-chrome-*: update livecheck
  Casks/google-chrome-beta.rb
  Casks/google-chrome-canary.rb
  Casks/google-chrome-dev.rb
Labels: ci-syntax-only, automerge-skip, livecheck

#13478 Add temurin17
  Casks/temurin17.rb
Labels: new cask

#13469 Update signal-beta from 5.35.0-beta.1 to 5.36.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#13473 Update dropbox-beta from 144.3.4428 to 144.3.4464
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#13474 Update whatsapp-beta from 2.2209.2 to 2.2209.3
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#13468 Update inso-beta from 2.5.0-beta.1 to 2.6.0-beta.0
  Casks/inso-beta.rb
Labels: bump-cask-pr

#13475 Update skype-preview from 8.80.76.139 to 8.82.76.403
  Casks/skype-preview.rb
Labels: bump-cask-pr

#13477 scribus-dev: remove in favor of scribus in homebrew-cask
  Casks/scribus-dev.rb
Labels: marked for removal/rejection

#13482 Update brave-browser-beta from 1.37.77.0 to 1.37.87.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#13483 Update brave-browser-dev from 1.37.78.0 to 1.37.88.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#13484 Update citra-nightly from 1757,20220305-ac98458 to 1757,20220305-ac98458
  Casks/citra-nightly.rb
Labels: bump-cask-pr

#13485 Update discord-development from 0.0.8755 to 0.0.8758
  Casks/discord-development.rb
Labels: bump-cask-pr

#13486 Update ferdi-beta from 5.7.0 to 5.8.0
  Casks/ferdi-beta.rb
Labels: bump-cask-pr

#13487 Update google-chrome-beta from 100.0.4896.30 to 100.0.4896.30
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#13488 Update google-chrome-canary from 101.0.4900.0 to 101.0.4936.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#13489 Update google-chrome-dev from 100.0.4878.0 to 101.0.4929.5
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#13490 Update insomnia-alpha from 2022.1.0-beta.0 to 2022.2.0-beta.0
  Casks/insomnia-alpha.rb
Labels: bump-cask-pr

#13491 Update libreoffice-still from 7.2.5 to 7.2.6
  Casks/libreoffice-still.rb
Labels: bump-cask-pr

#13492 Update mi-beta from 3.6b2 to 3.6
  Casks/mi-beta.rb
Labels: bump-cask-pr

#13493 Update microsoft-edge-beta from 99.0.1150.16 to 99.0.1150.39
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#13494 Update microsoft-edge-dev from 100.0.1167.0 to 100.0.1169.1
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#13495 Update mongodb-compass-beta from 1.31.0-beta.9 to 1.31.0-beta.13
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#13496 Update picoscope-beta from 7.0.92 to 7.0.94
  Casks/picoscope-beta.rb
Labels: bump-cask-pr

#13497 Update qt-creator-dev from 7.0.0-beta1 to 7.0.0-beta2
  Casks/qt-creator-dev.rb
Labels: bump-cask-pr

#13498 Update royal-tsx-beta from 5.0.7.2 to 5.0.7.3
  Casks/royal-tsx-beta.rb
Labels: bump-cask-pr

#13499 Update rstudio-preview from 2022.02.0,442 to 2022.02.0,443
  Casks/rstudio-preview.rb
Labels: bump-cask-pr

#13500 Update sketch-beta from 84,140166 to 84,140208
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#13501 Update telegram-desktop-beta from 3.5.5 to 3.5.6
  Casks/telegram-desktop-beta.rb
Labels: bump-cask-pr

#13502 Update iterm2-beta from 3.5.0beta4 to 3.5.0beta5
  Casks/iterm2-beta.rb
Labels: bump-cask-pr

#13459 Update termius-beta from 7.35.2 to 7.35.4
  Casks/termius-beta.rb
Labels: stale, bump-cask-pr

#13460 Update vivaldi-snapshot from 5.2.2581.4 to 5.2.2603.6
  Casks/vivaldi-snapshot.rb
Labels: stale, bump-cask-pr

#13462 Update android-studio-preview-beta from 2021.2.1.9 to 2021.2.1.11
  Casks/android-studio-preview-beta.rb
Labels: stale, bump-cask-pr

#13463 Update opera-developer from 86.0.4344.0 to 86.0.4351.0
  Casks/opera-developer.rb
Labels: stale, bump-cask-pr

#13503 Update macloggerdx-beta from 6.39b6 to 6.39b7
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#13505 Update tor-browser-alpha from 11.5a4 to 11.5a6
  Casks/tor-browser-alpha.rb
Labels: bump-cask-pr

#13504 Update termius-beta from 7.35.4 to 7.35.6
  Casks/termius-beta.rb
Labels: bump-cask-pr

#13506 Update utm-beta from 3.1.4 to 3.1.5
  Casks/utm-beta.rb
Labels: bump-cask-pr

#13507 Update macloggerdx-beta from 6.39b7 to 6.39b8
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#13508 Update qt-creator-dev from 7.0.0-beta2 to 7.0.0-rc1
  Casks/qt-creator-dev.rb
Labels: bump-cask-pr

#13509 Update sketch-beta from 84 to 85
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#13510 Update macloggerdx-beta from 6.39b8 to 6.39b10
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#13511 Update emacs-pretest from 28.0.91 to 28.0.92
  Casks/emacs-pretest.rb
Labels: bump-cask-pr

#13521 Update github-beta from 2.9.12-beta1-e6fc0482 to 2.9.12-beta2-bedf9bac
  Casks/github-beta.rb
Labels: bump-cask-pr

#13520 Update opera-developer from 86.0.4351.0 to 86.0.4359.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#13519 Update android-studio-preview-canary from 2021.3.1.5 to 2021.3.1.6
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#13518 Update macloggerdx-beta from 6.39b10 to 6.39b11
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#13517 Update signal-beta from 5.36.0-beta.1 to 5.36.0-beta.2
  Casks/signal-beta.rb
Labels: bump-cask-pr

#13514 Update geogebra5 from 5.0.691.0 to 5.0.693.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#13513 Update firefox-esr from 91.7.0 to 91.7.1
  Casks/firefox-esr.rb
Labels: bump-cask-pr

#13524 Update whatsapp-beta from 2.2209.3 to 2.2210.1
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#13526 Update wine-staging from 7.3 to 7.4
  Casks/wine-staging.rb
Labels: bump-cask-pr

#13525 Update wine-devel from 7.3 to 7.4
  Casks/wine-devel.rb
Labels: bump-cask-pr

#13531 Update whatsapp-beta from 2.2210.1 to 2.2210.2
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#13532 Update figma-beta from 109.6.0 to 110.7.0
  Casks/figma-beta.rb
Labels: bump-cask-pr

#13522 Update dropbox-beta from 144.3.4464 to 145.3.4865
  Casks/dropbox-beta.rb
Labels: stale, bump-cask-pr

#13541 Update brave-browser-beta from 1.37.87.0 to 1.37.97.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#13527 Update microsoft-edge-dev from 100.0.1169.1 to 101.0.1193.0
  Casks/microsoft-edge-dev.rb
Labels: stale, bump-cask-pr

#13528 Update appcode-eap from 2022.1,221.4906.8 to 2022.1,221.4994.44
  Casks/appcode-eap.rb
Labels: stale, bump-cask-pr

#13533 Update signal-beta from 5.36.0-beta.2 to 5.36.0-beta.3
  Casks/signal-beta.rb
Labels: stale, bump-cask-pr

#13534 Update google-chrome-beta from 100.0.4896.30 to 100.0.4896.45
  Casks/google-chrome-beta.rb
Labels: stale, bump-cask-pr

#13535 Update termius-beta from 7.35.6 to 7.35.7
  Casks/termius-beta.rb
Labels: stale, bump-cask-pr

#13536 Update macloggerdx-beta from 6.39b11 to 6.39b12
  Casks/macloggerdx-beta.rb
Labels: stale, bump-cask-pr

#13537 Update 1password-beta from 8.6.0-81.BETA to 8.7.0-2.BETA
  Casks/1password-beta.rb
Labels: stale, bump-cask-pr

#13538 Update whatsapp-beta from 2.2210.2 to 2.2210.3
  Casks/whatsapp-beta.rb
Labels: stale, bump-cask-pr

#13539 Update brave-browser-dev from 1.37.88.0 to 1.37.96.0
  Casks/brave-browser-dev.rb
Labels: stale, bump-cask-pr

#13543 Update android-studio-preview-canary from 2021.3.1.6 to 2021.3.1.7
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#13545 Update qgis-ltr from 3.22.4 to 3.22.5
  Casks/qgis-ltr.rb
Labels: bump-cask-pr

#13547 Update skype-preview from 8.82.76.403 to 8.83.76.100
  Casks/skype-preview.rb
Labels: bump-cask-pr

#13544 Update osu-development from 2022.306.0 to 2022.319.0
  Casks/osu-development.rb
Labels: bump-cask-pr

#13530 Update discord-ptb from 0.0.60 to 0.0.61
  Casks/discord-ptb.rb
Labels: stale, bump-cask-pr

#13548 Update propresenter-beta from 7.8.3 to 7.8.4
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#13549 Update dropbox-beta from 145.3.4865 to 145.3.4888
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#13540 Add 1password-cli1
  Casks/1password-cli1.rb
Labels: new cask

#13555 Update figma-beta from 110.7.0 to 111.0.0
  Casks/figma-beta.rb
Labels: bump-cask-pr

#13559 Update figma-beta from 111.0.0 to 112.0.0
  Casks/figma-beta.rb
Labels: bump-cask-pr

#13573 Update safari-technology-preview from 141 to 142
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#13572 Update whatsapp-beta from 2.2210.3 to 2.2211.3
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#13567 Update propresenter-beta from 7.8.4,117965827 to 7.8.4,117965828
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#13582 Update slack-beta from 4.25.0-beta1 to 4.25.0
  Casks/slack-beta.rb
Labels: bump-cask-pr

#13576 Update dropbox-beta from 145.3.4888 to 145.3.4915
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#13577 Update google-chrome-beta from 100.0.4896.45 to 100.0.4896.56
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#13561 Update opera-developer from 86.0.4359.0 to 87.0.4366.0
  Casks/opera-developer.rb
Labels: stale, bump-cask-pr

#13562 Update clashx-pro from 1.90.1.1 to 1.91.1.1
  Casks/clashx-pro.rb
Labels: stale, bump-cask-pr

#13563 Update 1password-beta from 8.7.0-2.BETA to 8.7.0-12.BETA
  Casks/1password-beta.rb
Labels: stale, bump-cask-pr

#13564 Update github-beta from 2.9.12-beta2-bedf9bac to 2.9.12-beta3-ee6813a2
  Casks/github-beta.rb
Labels: stale, bump-cask-pr

#13580 Update whatsapp-beta from 2.2211.3 to 2.2211.5
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#13579 Update signal-beta from 5.36.0-beta.3 to 5.37.0-beta.2
  Casks/signal-beta.rb
Labels: bump-cask-pr

#13578 Update inso-beta from 2.6.0-beta.0 to 2.9.0-beta.0
  Casks/inso-beta.rb
Labels: bump-cask-pr

#13556 Update geogebra5 from 5.0.693.0 to 5.0.694.0
  Casks/geogebra5.rb
Labels: stale, bump-cask-pr

#13566 Update vivaldi-snapshot from 5.2.2603.6 to 5.2.2617.2
  Casks/vivaldi-snapshot.rb
Labels: stale, bump-cask-pr

#13569 Update keepassxc-beta from 2.6.6 to 2.7.0
  Casks/keepassxc-beta.rb
Labels: bump-cask-pr

#13570 Update pdf-expert-beta from 2.5.19 to 2.5.20
  Casks/pdf-expert-beta.rb
Labels: bump-cask-pr

#13581 Update sublime-merge-dev from 2067 to 2069
  Casks/sublime-merge-dev.rb
Labels: bump-cask-pr

#13587 Update opera-beta from 85.0.4341.6 to 86.0.4363.9
  Casks/opera-beta.rb
Labels: bump-cask-pr

#13583 Update appcode-eap from 2022.1,221.4994.44 to 2022.1,221.5080.57
  Casks/appcode-eap.rb
Labels: bump-cask-pr

#13552 Update microsoft-edge-beta from 99.0.1150.39 to 100.0.1185.12
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#13585 Update brave-browser-beta from 1.37.97.0 to 1.38.67.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#13590 Update propresenter-beta from 7.8.4 to 7.9
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#13568 corretto17 17.0.2.8.1 (new cask)
  Casks/corretto17.rb
Labels: new cask

#13575 Add zulu17 17.0.2,17.32.13-ca
  Casks/zulu17.rb
Labels: new cask

#13592 Update rstudio-preview from 2022.02.0 to 2022.02.1
  Casks/rstudio-preview.rb
Labels: bump-cask-pr

#13591 Update fork-dev from 2.16 to 2.17
  Casks/fork-dev.rb
Labels: bump-cask-pr

#13557 Update termius-beta from 7.35.7 to 7.37.0
  Casks/termius-beta.rb
Labels: bump-cask-pr

#13589 Update vivaldi-snapshot from 5.2.2617.2 to 5.2.2621.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#13593 Update macloggerdx-beta from 6.39b12 to 6.39b27
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#13594 Update osu-development from 2022.319.0 to 2022.327.0
  Casks/osu-development.rb
Labels: bump-cask-pr
