Repository Homebrew/homebrew-cask-versions, pull requests merged in 2022-02, with the labels that each got.

#13181 Update google-chrome-beta from 98.0.4758.74 to 98.0.4758.80
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#13182 Update google-chrome-canary from 100.0.4859.0 to 100.0.4861.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#13183 Update macloggerdx-beta from 6.38b11 to 6.38b12
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#13184 Update vivaldi-snapshot from 5.1.2562.3 to 5.1.2566.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#13193 Update azure-data-studio-insiders from 1.35.0,11df3cde36ad91f89f5b8b95b1208e716b90c801 to 1.35.0,1c9ba64ee0ad79bbcdfb704038ba4cd7fd8bc986
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#13192 Update visual-studio-code-insiders from 1.64.0,a853936292178200eb58c2a9904d7a7dcf98cce8 to 1.64.0,96e996a75c09e5947c151f8b978bdc9496b81aea
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#13191 Update opera-developer from 84.0.4309.0 to 84.0.4316.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#13190 Update microsoft-edge-beta from 98.0.1108.33 to 98.0.1108.39
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#13189 Update github-beta from 2.9.6-beta3-3f15c7d0 to 2.9.7-beta1-d4bf2c44
  Casks/github-beta.rb
Labels: bump-cask-pr

#13188 Update discord-development from 0.0.8753 to 0.0.8754
  Casks/discord-development.rb
Labels: bump-cask-pr

#13187 Update brave-browser-dev from 1.36.76.0 to 1.36.81.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#13186 Update brave-browser-beta from 1.36.75.0 to 1.36.80.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#13185 Update android-studio-preview-canary from 2021.2.1.8 to 2021.3.1.1
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#13194 Update google-chrome-dev from 99.0.4844.11 to 99.0.4844.15
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#13195 Update google-chrome-canary from 100.0.4861.0 to 100.0.4862.3
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#13196 Update whatsapp-beta from 2.2202.5 to 2.2204.1
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#13208 Update google-chrome-canary from 100.0.4862.3 to 100.0.4865.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#13207 Update azure-data-studio-insiders from 1.35.0,1c9ba64ee0ad79bbcdfb704038ba4cd7fd8bc986 to 1.35.0,de1a0f4f0f52c87711995fd73ce4a73cedcc2613
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#13206 Update dropbox-beta from 141.3.3257 to 142.3.4086
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#13205 Update lando-edge from 3.6.1 to 3.6.2
  Casks/lando-edge.rb
Labels: bump-cask-pr

#13204 Update termius-beta from 7.33.0 to 7.33.1
  Casks/termius-beta.rb
Labels: bump-cask-pr

#13202 Update blender-lts from 2.93.7 to 2.93.8
  Casks/blender-lts.rb
Labels: bump-cask-pr

#13200 Update discord-development from 0.0.8754 to 0.0.8755
  Casks/discord-development.rb
Labels: bump-cask-pr

#13199 Update microsoft-edge-dev from 99.0.1141.0 to 99.0.1150.2
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#13198 Update visual-studio-code-insiders from 1.64.0,96e996a75c09e5947c151f8b978bdc9496b81aea to 1.64.0,4ccfe1100c3c5625804dbc20afd15ba311487883
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#13197 Update vivaldi-snapshot from 5.1.2566.3 to 5.1.2567.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#13203 Update libreoffice-still from 7.1.8 to 7.2.5
  Casks/libreoffice-still.rb
Labels: bump-cask-pr

#13209 Update signal-beta from 5.30.0-beta.2 to 5.31.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#13210 Update visual-studio-code-insiders from 1.64.0,4ccfe1100c3c5625804dbc20afd15ba311487883 to 1.64.0,5554b12acf27056905806867f251c859323ff7e9
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#13211 Add ksdiff2
  Casks/ksdiff2.rb
Labels: new cask

#13213 Update chromedriver-beta from 96.0.4664.35 to 98.0.4758.48
  Casks/chromedriver-beta.rb
Labels: bump-cask-pr

#13214 Update brave-browser-beta from 1.36.80.0 to 1.36.83.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#13215 Update brave-browser-dev from 1.36.81.0 to 1.36.84.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#13216 Update google-chrome-canary from 100.0.4865.0 to 100.0.4867.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#13217 Update vivaldi-snapshot from 5.1.2567.3 to 5.1.2567.22
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#13221 Update slack-beta from 4.23.1-beta1 to 4.24.0-beta1
  Casks/slack-beta.rb
Labels: bump-cask-pr

#13220 Update azure-data-studio-insiders from 1.35.0,de1a0f4f0f52c87711995fd73ce4a73cedcc2613 to 1.35.0,c535c2dbdebe0d302d4ea5f1797b47f4d8ec95c9
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#13218 Update figma-beta from 108.1.0 to 109.3.0
  Casks/figma-beta.rb
Labels: bump-cask-pr

#13219 Update google-chrome-beta from 98.0.4758.80 to 99.0.4844.15
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#13222 Update google-chrome-canary from 100.0.4867.0 to 100.0.4868.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#13238 Update visual-studio-code-insiders from 1.64.0 to 1.65.0
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#13237 Update sketch-beta from 83,138611 to 83,138614
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#13236 Update semeru-jdk8-open from 8u312-b07 to 8u322-b06
  Casks/semeru-jdk8-open.rb
Labels: bump-cask-pr

#13235 Update semeru-jdk11-open from 11.0.13+8 to 11.0.14+9
  Casks/semeru-jdk11-open.rb
Labels: bump-cask-pr

#13234 Update picoscope-beta from 7.0.90 to 7.0.91
  Casks/picoscope-beta.rb
Labels: bump-cask-pr

#13233 Update microsoft-openjdk11 from 11.0.13.8.1 to 11.0.14.9.1
  Casks/microsoft-openjdk11.rb
Labels: bump-cask-pr

#13232 Update processing-beta from 4.0b4 to 4.0b5
  Casks/processing-beta.rb
Labels: bump-cask-pr

#13231 Update openshot-video-editor-daily from 2.6.1,9028-a86097a3-2b8b05c7 to 2.6.1,9061-a86097a3-2b8b05c7
  Casks/openshot-video-editor-daily.rb
Labels: bump-cask-pr

#13230 Update royal-tsx-beta from 5.0.6.1000 to 5.0.7.1
  Casks/royal-tsx-beta.rb
Labels: bump-cask-pr

#13229 Update hyper-canary from 3.2.0-canary.1 to 3.3.0-canary.1
  Casks/hyper-canary.rb
Labels: bump-cask-pr

#13228 Update chromedriver-beta from 98.0.4758.48 to 99.0.4844.17
  Casks/chromedriver-beta.rb
Labels: bump-cask-pr

#13227 Update citra-nightly from 1748 to 1751
  Casks/citra-nightly.rb
Labels: bump-cask-pr

#13226 Update vivaldi-snapshot from 5.1.2567.22 to 5.1.2567.24
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#13225 Update opera-beta from 83.0.4254.16 to 84.0.4316.4
  Casks/opera-beta.rb
Labels: bump-cask-pr

#13224 Update microsoft-edge-beta from 98.0.1108.39 to 98.0.1108.43
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#13223 Update whatsapp-beta from 2.2204.1 to 2.2204.3
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#13239 Update azure-data-studio-insiders from 1.35.0,c535c2dbdebe0d302d4ea5f1797b47f4d8ec95c9 to 1.35.0,83c6eee8e284d5514eb8c98ce56ce03621434811
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#13240 Update whatsapp-beta from 2.2204.3 to 2.2204.5
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#13241 Update google-chrome-dev from 99.0.4844.15 to 100.0.4867.0
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#13243 Update osu-development from 2022.128.0 to 2022.205.0
  Casks/osu-development.rb
Labels: bump-cask-pr

#13242 Update java-beta from 18,33 to 18,34
  Casks/java-beta.rb
Labels: bump-cask-pr

#13244 Update macloggerdx-beta from 6.38b12 to 6.38b14
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#13245 Update figma-beta from 109.3.0 to 109.6.0
  Casks/figma-beta.rb
Labels: bump-cask-pr

#13251 Update github-beta from 2.9.7-beta1-d4bf2c44 to 2.9.7-beta2-b0d0dddb
  Casks/github-beta.rb
Labels: bump-cask-pr

#13250 Update visual-studio-code-insiders from 1.65.0,62de8dc3f78b8bef1eb62deeb093164a8d76c254 to 1.65.0,97c1e76d668d23d568044feb31083407f4c4b1ed
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#13249 Update opera-developer from 84.0.4316.0 to 85.0.4323.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#13247 Update lilypond-dev from 2.23.5-1 to 2.23.6-1
  Casks/lilypond-dev.rb
Labels: bump-cask-pr

#13246 Update geogebra5 from 5.0.686.0 to 5.0.687.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#13252 Update google-chrome-canary from 100.0.4868.0 to 100.0.4875.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#13254 Update azure-data-studio-insiders from 1.35.0,83c6eee8e284d5514eb8c98ce56ce03621434811 to 1.35.0,a11b27e32d987e3979ef174f1c35519d005e34a7
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#13255 Update visual-studio-code-insiders from 1.65.0,97c1e76d668d23d568044feb31083407f4c4b1ed to 1.65.0,0283cec6ec2c2d5ec39006a1048b8dc3ea8bc955
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#13256 Update brave-browser-beta from 1.36.83.0 to 1.36.87.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#13258 Update vivaldi-snapshot from 5.1.2567.24 to 5.1.2567.38
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#13257 Update microsoft-edge-dev from 99.0.1150.2 to 99.0.1150.7
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#13259 Update termius-beta from 7.33.1 to 7.33.2
  Casks/termius-beta.rb
Labels: bump-cask-pr

#13268 Update google-chrome-canary from 100.0.4875.0 to 100.0.4878.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#13267 Update brave-browser-dev from 1.36.84.0 to 1.36.88.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#13260 Update azure-data-studio-insiders from 1.35.0,a11b27e32d987e3979ef174f1c35519d005e34a7 to 1.35.0,6ba746e570c391a77be69d2d1282f0bf03ff277e
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#13269 Update visual-studio-code-insiders from 1.65.0,0283cec6ec2c2d5ec39006a1048b8dc3ea8bc955 to 1.65.0,d09aeab62c1f93acf4a89b93e9a8a82419d6249a
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#13263 Update 1password-beta from 8.5.0-103.BETA to 8.6.0-6.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#13264 Update dropbox-beta from 142.3.4086 to 142.3.4155
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#13270 Update google-chrome-beta from 99.0.4844.15 to 99.0.4844.27
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#13273 Update azure-data-studio-insiders from 1.35.0,6ba746e570c391a77be69d2d1282f0bf03ff277e to 1.35.0,250532f39d2c460f25e646e701bb94d9860d7365
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#13274 Update visual-studio-code-insiders from 1.65.0,d09aeab62c1f93acf4a89b93e9a8a82419d6249a to 1.65.0,82a8bec63666b0883d9bf762ee2aaa87e9be9a3a
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#13266 Update firefox-esr from 91.5.1 to 91.6.0
  Casks/firefox-esr.rb
Labels: bump-cask-pr

#13276 Update android-studio-preview-beta from 2021.2.1.8 to 2021.2.1.9
  Casks/android-studio-preview-beta.rb
Labels: bump-cask-pr

#13279 Update temurin11 from 11.0.14 to 11.0.14.1
  Casks/temurin11.rb
Labels: bump-cask-pr

#13284 Update safari-technology-preview from 139 to 140
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#13285 Update local-beta from 6.2.1 to 6.3.0
  Casks/local-beta.rb
Labels: bump-cask-pr

#13287 Update whatsapp-beta from 2.2204.5 to 2.2205.6
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#13286 Update signal-beta from 5.31.0-beta.2 to 5.32.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#13283 Update dropbox-beta from 142.3.4155 to 142.3.4187
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#13281 Update atom-beta from 1.59.0-beta0 to 1.60.0-beta0
  Casks/atom-beta.rb
Labels: bump-cask-pr

#13288 Update visual-studio-code-insiders from 1.65.0,82a8bec63666b0883d9bf762ee2aaa87e9be9a3a to 1.65.0,bb221a61d29deabd99ee9431736d04f2175cb596
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#13290 Update brave-browser-dev from 1.36.88.0 to 1.36.91.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#13291 Update google-chrome-canary from 100.0.4878.0 to 100.0.4886.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#13292 Update google-chrome-dev from 100.0.4867.0 to 100.0.4878.0
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#13293 Update opera-beta from 84.0.4316.4 to 84.0.4316.9
  Casks/opera-beta.rb
Labels: bump-cask-pr

#13294 Update citra-nightly from 1751 to 1753
  Casks/citra-nightly.rb
Labels: bump-cask-pr

#13295 Update corretto11 from 11.0.14.9.1 to 11.0.14.10.1
  Casks/corretto11.rb
Labels: bump-cask-pr

#13296 Update dotnet-preview from 6.0.1 to 6.0.2
  Casks/dotnet-preview.rb
Labels: bump-cask-pr

#13297 Update inso-beta from 2.5.0-beta.0 to 2.5.0-beta.1
  Casks/inso-beta.rb
Labels: bump-cask-pr

#13298 Update insomnia-alpha from 2022.1.0-alpha.0 to 2022.1.0-beta.0
  Casks/insomnia-alpha.rb
Labels: bump-cask-pr

#13299 Update mongodb-compass-beta from 1.31.0-beta.2 to 1.31.0-beta.6
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#13300 Update dotnet-sdk-preview from 6.0.101 to 6.0.102
  Casks/dotnet-sdk-preview.rb
Labels: bump-cask-pr

#13301 Update netnewswire-beta from 6.1b2 to 6.1b3
  Casks/netnewswire-beta.rb
Labels: bump-cask-pr

#13302 Update openshot-video-editor-daily from 2.6.1,9061-a86097a3-2b8b05c7 to 2.6.1,9077-a86097a3-2b8b05c7
  Casks/openshot-video-editor-daily.rb
Labels: bump-cask-pr

#13303 Update picoscope-beta from 7.0.91 to 7.0.92
  Casks/picoscope-beta.rb
Labels: bump-cask-pr

#13304 Update sublime-text-dev from 4.125 to 4.127
  Casks/sublime-text-dev.rb
Labels: bump-cask-pr

#13305 Update sketch-beta from 83 to 83.1
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#13306 Update semeru-jdk11-open from 11.0.14+9 to 11.0.14.1+1
  Casks/semeru-jdk11-open.rb
Labels: bump-cask-pr

#13307 Update qt-creator-dev from 6.0.0-rc1 to 7.0.0-beta1
  Casks/qt-creator-dev.rb
Labels: bump-cask-pr

#13308 Update royal-tsx-beta from 5.0.7.1 to 5.0.7.2
  Casks/royal-tsx-beta.rb
Labels: bump-cask-pr

#13310 Update azure-data-studio-insiders from 1.35.0,250532f39d2c460f25e646e701bb94d9860d7365 to 1.35.0,b7ad010e4353f134a0ada8d299b27c1e307012ac
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#13311 Update appcode-eap from 2021.3 to 2022.1
  Casks/appcode-eap.rb
Labels: bump-cask-pr

#13313 Update whatsapp-beta from 2.2205.6 to 2.2205.8
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#13314 Update discord-ptb from 0.0.59 to 0.0.60
  Casks/discord-ptb.rb
Labels: bump-cask-pr

#13317 Update visual-studio-code-insiders from 1.65.0,bb221a61d29deabd99ee9431736d04f2175cb596 to 1.65.0,50089c3f92c17584a4aca179f51f220b56c22020
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#13318 Update github-beta from 2.9.7-beta2-b0d0dddb to 2.9.7-beta3-59063cb9
  Casks/github-beta.rb
Labels: bump-cask-pr

#13319 Update mullvadvpn-beta from 2021.6-beta1 to 2022.1-beta1
  Casks/mullvadvpn-beta.rb
Labels: bump-cask-pr

#13320 Update azure-data-studio-insiders from 1.35.0,b7ad010e4353f134a0ada8d299b27c1e307012ac to 1.35.0,3cfd1d23da0efba022104635b01b22cfa9a08524
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#13327 Update 1password-beta from 8.6.0-6.BETA to 8.6.0-26.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#13326 Update android-studio-preview-canary from 2021.3.1.2 to 2021.3.1.3
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#13325 Update termius-beta from 7.33.2 to 7.34.0
  Casks/termius-beta.rb
Labels: bump-cask-pr

#13324 Update google-chrome-canary from 100.0.4886.0 to 100.0.4888.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#13323 Update vivaldi-snapshot from 5.1.2567.38 to 5.2.2581.4
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#13322 Update geogebra5 from 5.0.687.0 to 5.0.688.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#13321 Update azure-data-studio-insiders from 1.35.0,3cfd1d23da0efba022104635b01b22cfa9a08524 to 1.35.0,9a28d47c5bcaf028bfec90fc81f79dfb954f16cb
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#13329 Update google-chrome-canary from 100.0.4888.0 to 101.0.4897.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#13330 Update microsoft-edge-beta from 98.0.1108.43 to 99.0.1150.16
  Casks/microsoft-edge-beta.rb
Labels: stale, bump-cask-pr

#13336 Update utm-beta from 3.0.4-2 to 3.1.0
  Casks/utm-beta.rb
Labels: stale, bump-cask-pr

#13344 Update brave-browser-beta from 1.36.90.0 to 1.36.97.0
  Casks/brave-browser-beta.rb
Labels: stale, bump-cask-pr

#13331 Update opera-developer from 85.0.4323.0 to 85.0.4331.0
  Casks/opera-developer.rb
Labels: stale, bump-cask-pr

#13333 Update wine-devel from 7.1 to 7.2
  Casks/wine-devel.rb
Labels: stale, bump-cask-pr

#13334 Update wine-staging from 7.1 to 7.2
  Casks/wine-staging.rb
Labels: stale, bump-cask-pr

#13335 Update processing-beta from 4.0b5 to 4.0b6
  Casks/processing-beta.rb
Labels: bump-cask-pr

#13369 Update whatsapp-beta from 2.2205.8 to 2.2206.4
  Casks/whatsapp-beta.rb
Labels: stale, bump-cask-pr

#13371 Update visual-studio-code-insiders from 1.65.0,50089c3f92c17584a4aca179f51f220b56c22020 to 1.65.0,1d618b2df1cf08f0e3ab706353f0a8f6f1424795
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#13356 Update buckets-beta from 0.64.0 to 0.65.0
  Casks/buckets-beta.rb
Labels: bump-cask-pr

#13357 Update appcode-eap from 2022.1,221.4165.162 to 2022.1,221.4501.59
  Casks/appcode-eap.rb
Labels: bump-cask-pr

#13361 Update zulu11 from 11.0.14 to 11.0.14.1
  Casks/zulu11.rb
Labels: bump-cask-pr

#13346 Update osu-development from 2022.205.0 to 2022.217.0
  Casks/osu-development.rb
Labels: bump-cask-pr

#13372 Update macloggerdx-beta from 6.38b15 to 6.39b5
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#13370 Update propresenter-beta from 7.8 to 7.8.3
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#13342 Update rstudio-preview from 2022.02.0,423 to 2022.02.0,442
  Casks/rstudio-preview.rb
Labels: bump-cask-pr

#13345 Update brave-browser-dev from 1.36.91.0 to 1.36.98.0
  Casks/brave-browser-dev.rb
Labels: stale, bump-cask-pr

#13363 Update sketch-beta from 83.1 to 84
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#13351 Update github-beta from 2.9.7-beta3-59063cb9 to 2.9.10-beta1-c6c8d7e1
  Casks/github-beta.rb
Labels: stale, bump-cask-pr

#13368 Update fork-dev from 2.15.1 to 2.16
  Casks/fork-dev.rb
Labels: stale, bump-cask-pr

#13367 Update azure-data-studio-insiders from 1.35.0,9a28d47c5bcaf028bfec90fc81f79dfb954f16cb to 1.35.0,b33afe3efb38e3c78547f2602a1e62dd3650978b
  Casks/azure-data-studio-insiders.rb
Labels: stale, bump-cask-pr
