Repository Homebrew/homebrew-cask-versions, pull requests merged in 2022-12, with the labels that each got.

#15306 Update signal-beta from 6.0.0-beta.3 to 6.0.0-beta.4
  Casks/signal-beta.rb
Labels: bump-cask-pr

#15307 Update discord-canary from 0.0.289 to 0.0.290
  Casks/discord-canary.rb
Labels: bump-cask-pr

#15345 Update microsoft-edge-dev from 109.0.1518.5 to 109.0.1518.8
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#15357 Update anki-beta from 2.1.55+beta6_ca116699 to 2.1.55+beta7_fad1ff74
  Casks/anki-beta.rb
Labels: bump-cask-pr

#15358 Update brave-browser-nightly from 1.48.24.0 to 1.48.29.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#15360 Update google-chrome-canary from 110.0.5454.0 to 110.0.5460.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#15361 Update iterm2-nightly from 3_5_20221130 to 3_5_20221203
  Casks/iterm2-nightly.rb
Labels: bump-cask-pr

#15362 Update local-beta from 6.5.1 to 6.6.0
  Casks/local-beta.rb
Labels: bump-cask-pr

#15363 Update macloggerdx-beta from 6.44b6 to 6.44b10
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#15364 Update microsoft-edge-beta from 108.0.1462.38 to 108.0.1462.41
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#15365 Update monal-beta from 831 to 835
  Casks/monal-beta.rb
Labels: bump-cask-pr

#15367 Update openscad-snapshot from 2022.12.04 to 2022.12.05
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#15368 Update opera-developer from 95.0.4618.0 to 95.0.4625.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#15369 Update openshot-video-editor-daily from 2.6.1,10601-5493ea9a-3ea45269 to 2.6.1,10636-5493ea9a-3ea45269
  Casks/openshot-video-editor-daily.rb
Labels: bump-cask-pr

#15370 Update vivaldi-snapshot from 5.6.2867.22 to 5.6.2867.29
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#15376 virtualbox-extension-pack-beta: remove
  Casks/virtualbox-extension-pack-beta.rb
Labels: marked for removal/rejection, missing description, appcast migration needed

#15384 Update brave-browser-beta from 1.47.108.0 to 1.47.115.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#15412 Update 1password-beta from 8.9.10-26.BETA to 8.9.11-1.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#15413 Update dropbox-beta from 163.3.5436 to 163.3.5448
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#15414 Update google-chrome-beta from 109.0.5414.25 to 109.0.5414.36
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#15415 Update whatsapp-beta from 2.2247.2 to 2.2247.3
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#15416 Update discord-ptb from 0.0.68 to 0.0.69
  Casks/discord-ptb.rb
Labels: bump-cask-pr

#15417 Update vivaldi-snapshot from 5.6.2867.32 to 5.7.2876.11
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#15418 Update opera-beta from 94.0.4606.14 to 94.0.4606.19
  Casks/opera-beta.rb
Labels: bump-cask-pr

#15419 Update microsoft-edge-beta from 108.0.1462.41 to 109.0.1518.14
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#15420 Update discord-canary from 0.0.290 to 0.0.291
  Casks/discord-canary.rb
Labels: bump-cask-pr

#15421 Update propresenter-beta from 7.10.4,118096912 to 7.10.4,118096914
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#15422 beta of elephas cask
  Casks/elephas-beta.rb
Labels: new cask

#15438 Update monal-beta from 835 to 837
  Casks/monal-beta.rb
Labels: bump-cask-pr

#15439 Update openshot-video-editor-daily from 2.6.1,10636-5493ea9a-3ea45269 to 2.6.1,10692-89e4b1da-fab6e6ab
  Casks/openshot-video-editor-daily.rb
Labels: bump-cask-pr

#15440 Update openscad-snapshot from 2022.12.09 to 2022.12.11
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#15453 Update brave-browser-beta from 1.47.115.0 to 1.47.126.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#15456 Update propresenter-beta from 7.10.4 to 7.11
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#15459 Update microsoft-edge-dev from 110.0.1543.0 to 110.0.1556.0
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#15461 Update google-chrome-beta from 109.0.5414.36 to 109.0.5414.46
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#15487 Update dropbox-beta from 164.3.7891 to 164.3.7907
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#15488 Update vivaldi-snapshot from 5.7.2881.6 to 5.7.2883.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#15515 Update brave-browser-beta from 1.47.129.0 to 1.47.136.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#15517 Update brave-browser-dev from 1.47.130.0 to 1.47.137.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#15518 Update brave-browser-nightly from 1.48.68.0 to 1.48.71.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#15519 Update emacs-nightly from 2022-12-19_00-09-36 to 2022-12-20_00-09-16
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#15520 Update google-chrome-canary from 111.0.5487.0 to 111.0.5489.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#15521 Update google-chrome-dev from 110.0.5478.4 to 110.0.5478.5
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#15522 Update opera-developer from 95.0.4632.0 to 96.0.4640.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#15523 Update parallels17 from 17.1.5-51577 to 17.1.6-51584
  Casks/parallels17.rb
Labels: bump-cask-pr

#15524 Update sketch-beta from 95,160573 to 95,160584
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#15527 Update 1password-beta from 8.9.11-14.BETA to 8.9.12-4.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#15528 Update emacs-nightly from 2022-12-20_00-09-16 to 2022-12-21_00-09-10
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#15529 Update google-chrome-canary from 111.0.5489.0 to 111.0.5490.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#15530 Update mongodb-compass-beta from 1.35.0-beta.3 to 1.35.0-beta.4
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#15531 Update powershell-preview from 7.3.0-rc.1 to 7.4.0-preview.1
  Casks/powershell-preview.rb
Labels: bump-cask-pr

#15532 Update shadow-beta from 8.0.10012 to 8.0.10040
  Casks/shadow-beta.rb
Labels: bump-cask-pr

#15533 Update sketch-beta from 95,160584 to 95,160597
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#15534 Update termius-beta from 7.54.1 to 7.54.2
  Casks/termius-beta.rb
Labels: bump-cask-pr

#15535 Update tor-browser-alpha from 12.0a5 to 12.5a1
  Casks/tor-browser-alpha.rb
Labels: bump-cask-pr

#15536 Update vivaldi-snapshot from 5.7.2883.3 to 5.7.2887.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#15550 Update lando-edge from 3.6.5 to 3.8.1
  Casks/lando-edge.rb
Labels: automerge-skip, bump-cask-pr

#15565 Update telegram-desktop-beta from 4.2.2 to 4.4.2
  Casks/telegram-desktop-beta.rb
Labels: bump-cask-pr

#15586 Update brave-browser-nightly from 1.48.94.0 to 1.48.100.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#15592 ferdi-beta: remove
  Casks/ferdi-beta.rb
Labels: marked for removal/rejection
