Repository Homebrew/homebrew-cask-versions, pull requests merged in 2022-01, with the labels that each got.

#12919 Update mi-beta from 3.6b1 to 3.6b2
  Casks/mi-beta.rb
Labels: bump-cask-pr

#12918 Update termius-beta from 7.29.1 to 7.31.1
  Casks/termius-beta.rb
Labels: bump-cask-pr

#12917 Update macloggerdx-beta from 6.37b14 to 6.37b15
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#12915 Update google-chrome-canary from 99.0.4795.0 to 99.0.4798.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#12914 Update brave-browser-dev from 1.34.75.0 to 1.35.69.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#12916 Update ferdi-beta from 5.6.5 to 5.6.6
  Casks/ferdi-beta.rb
Labels: bump-cask-pr

#12920 Update google-chrome-canary from 99.0.4798.0 to 99.0.4802.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#12923 Update ferdi-beta from 5.6.6 to 5.6.8
  Casks/ferdi-beta.rb
Labels: bump-cask-pr

#12924 Update visual-studio-code-insiders from 1.64.0,7b9e5c32a053669d4e72f998e4fa217090c32f59 to 1.64.0,99305570d885bce929ba8f24d90f2c3ee54c5c2f
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#12925 Update macloggerdx-beta from 6.37b15 to 6.37b17
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#12927 Update google-chrome-canary from 99.0.4804.0 to 99.0.4805.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#12929 Update microsoft-edge-beta from 97.0.1072.41 to 97.0.1072.52
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#12928 Update opera-developer from 84.0.4274.0 to 84.0.4284.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#12926 Add Aerial-beta 2.3.4beta8
  Casks/aerial-beta.rb
Labels: new cask

#12931 Update brave-browser-beta from 1.35.68.0 to 1.35.72.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#12932 Update visual-studio-code-insiders from 1.64.0,99305570d885bce929ba8f24d90f2c3ee54c5c2f to 1.64.0,990ad4044032b05c0ebf0f67f800c5845baad4c7
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#12933 Update dropbox-beta from 139.3.4817 to 140.3.1852
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#12934 Update google-chrome-canary from 99.0.4805.0 to 99.0.4806.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#12935 Update figma-beta from 107.1.0 to 108.1.0
  Casks/figma-beta.rb
Labels: bump-cask-pr

#12937 Update brave-browser-dev from 1.35.69.0 to 1.35.73.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#12938 Update visual-studio-code-insiders from 1.64.0,990ad4044032b05c0ebf0f67f800c5845baad4c7 to 1.64.0,f0054e049cd286ff317c738efe0fd8810b48ae98
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#12939 Update google-chrome-canary from 99.0.4806.0 to 99.0.4807.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#12936 Update android-studio-preview-beta from 2021.1.1.18 to 2021.1.1.19
  Casks/android-studio-preview-beta.rb
Labels: bump-cask-pr

#12942 Update 1password-beta from 8.5.0-57.BETA to 8.5.0-79.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#12943 Update brave-browser-beta from 1.35.72.0 to 1.35.75.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#12944 Update brave-browser-dev from 1.35.73.0 to 1.35.76.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#12945 Update google-chrome-canary from 99.0.4807.0 to 99.0.4810.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#12946 Update visual-studio-code-insiders from 1.64.0,f0054e049cd286ff317c738efe0fd8810b48ae98 to 1.64.0,9afbea7caab9dd06592ddd98aa4161b43b126d3f
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#12947 Update opera-beta from 83.0.4254.9 to 83.0.4254.14
  Casks/opera-beta.rb
Labels: bump-cask-pr

#12948 Update microsoft-edge-dev from 98.0.1100.3 to 98.0.1108.13
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#12949 Update microsoft-edge-beta from 97.0.1072.52 to 97.0.1072.54
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#12950 Update dropbox-beta from 140.3.1852 to 140.3.1861
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#12952 Update azure-data-studio-insiders from 1.35.0,af5575a852ff07fe70faccd0f9b241cae3c7bdbc to 1.35.0,075d9a8268e48a4a9508bda3b8e16773b3cc670b
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#12951 Add utm-beta
  Casks/utm-beta.rb
Labels: new cask

#12953 Update google-chrome-canary from 99.0.4810.0 to 99.0.4811.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#12954 dotnet conflict with formula
  Casks/dotnet-preview.rb
  Casks/dotnet-sdk-preview.rb
Labels: automerge-skip

#12955 Update java-beta from 18,29 to 18,30
  Casks/java-beta.rb
Labels: bump-cask-pr

#12960 Update visual-studio-code-insiders from 1.64.0,9afbea7caab9dd06592ddd98aa4161b43b126d3f to 1.64.0,419e16a49c7bffc23b8e5f0f9f35ee34167f20e1
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#12959 Update skype-preview from 8.80.76.62 to 8.80.76.112
  Casks/skype-preview.rb
Labels: bump-cask-pr

#12958 Update signal-beta from 5.27.0-beta.3 to 5.28.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#12957 Update mongodb-compass-beta from 1.30.0-beta.3 to 1.30.0-beta.4
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#12956 Update citra-nightly from 1737 to 1739
  Casks/citra-nightly.rb
Labels: bump-cask-pr

#12962 Update clashx-pro from 1.72.0.4 to 1.90.0.2
  Casks/clashx-pro.rb
Labels: bump-cask-pr

#12961 Update azure-data-studio-insiders from 1.35.0,075d9a8268e48a4a9508bda3b8e16773b3cc670b to 1.35.0,bc73ee06bf9b2622af9181f2d406f2b4b8b853f2
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#12963 Update osu-development from 2021.1225.0 to 2022.108.0
  Casks/osu-development.rb
Labels: bump-cask-pr

#12965 Update google-chrome-canary from 99.0.4811.0 to 99.0.4814.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#12966 Update microsoft-edge-dev from 98.0.1108.13 to 98.0.1108.15
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#12967 Update ferdi-beta from 5.6.8 to 5.6.9
  Casks/ferdi-beta.rb
Labels: bump-cask-pr

#12964 Update fork-dev from 2.14 to 2.15.1
  Casks/fork-dev.rb
Labels: bump-cask-pr

#12968 Update hyper-canary from 3.1.0-canary.6 to 3.2.0-canary.1
  Casks/hyper-canary.rb
Labels: bump-cask-pr

#12972 Update sketch-beta from 81.1 to 82
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#12969 Update citra-nightly from 1739 to 1740
  Casks/citra-nightly.rb
Labels: bump-cask-pr

#12970 Update google-chrome-canary from 99.0.4814.0 to 99.0.4815.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#12973 Update utm-beta from 3.0.0 to 3.0.1
  Casks/utm-beta.rb
Labels: bump-cask-pr

#12971 Update mono-mdk-for-visual-studio from 6.12.0.163 to 6.12.0.164
  Casks/mono-mdk-for-visual-studio.rb
Labels: bump-cask-pr

#12975 Update google-chrome-canary from 99.0.4815.0 to 99.0.4816.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#12977 Update visual-studio-code-insiders from 1.64.0,419e16a49c7bffc23b8e5f0f9f35ee34167f20e1 to 1.64.0,a06afb22ce06dbd4f01d3bb5bf946e08bff55180
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#12983 Update google-chrome-beta from 97.0.4692.71 to 98.0.4758.48
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#12981 Update geogebra5 from 5.0.680.0 to 5.0.683.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#12979 Update azure-data-studio-insiders from 1.35.0,bc73ee06bf9b2622af9181f2d406f2b4b8b853f2 to 1.35.0,c84cb8409b298c88aafb9a35c5c8f12a7aa2fc42
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#12978 Update ferdi-beta from 5.6.9 to 5.6.10
  Casks/ferdi-beta.rb
Labels: bump-cask-pr

#12980 Add processing-beta for Processing 4 Beta
  Casks/processing-beta.rb
Labels: new cask

#12987 Update google-chrome-canary from 99.0.4817.0 to 99.0.4818.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#12989 Update google-chrome-canary from 99.0.4818.0 to 99.0.4819.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#12998 Update firefox-esr from 91.4.1 to 91.5.0
  Casks/firefox-esr.rb
Labels: bump-cask-pr

#13000 Update dropbox-beta from 140.3.1861 to 140.3.1894
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#13002 Update google-chrome-dev from 98.0.4758.9 to 99.0.4818.0
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#13001 Update azure-data-studio-insiders from 1.35.0,c84cb8409b298c88aafb9a35c5c8f12a7aa2fc42 to 1.35.0,818a564cb87b54635bd62d9088b59d8209521bda
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#12997 Update 1password-beta from 8.5.0-79.BETA to 8.5.0-83.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#12996 Update sketch-beta from 82,136969 to 82,136987
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#12995 Update mongodb-compass-beta from 1.30.0-beta.4 to 1.30.0-beta.5
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#12994 Update keka-beta from 1.2.50 to 1.2.51
  Casks/keka-beta.rb
Labels: bump-cask-pr

#13003 replace version.before|after_comma with version.csv
  Casks/appcode-eap.rb
  Casks/arduino-ide-beta.rb
  Casks/cleanmymac3.rb
  Casks/daedalus-flight.rb
  Casks/docker-edge.rb
  Casks/freecad-pre.rb
  Casks/ghidra-beta.rb
  Casks/intellij-idea-ce19.rb
  Casks/mi-beta.rb
  Casks/openzfs-dev.rb
  Casks/pdf-expert-beta.rb
  Casks/processing-beta.rb
  Casks/qgis-ltr.rb
  Casks/rstudio-preview.rb
  Casks/semeru-jdk11-open.rb
  Casks/semeru-jdk8-open.rb
  Casks/sonos-s1-controller.rb
  Casks/synergy-beta.rb
  Casks/temurin11.rb
  Casks/tower2.rb
  Casks/virtualbox-beta.rb
  Casks/virtualbox-extension-pack-beta.rb
  Casks/zulu11.rb
  Casks/zulu13.rb
  Casks/zulu15.rb
  Casks/zulu7.rb
  Casks/zulu8.rb
Labels: ci-syntax-only, automerge-skip

#12993 Update citra-nightly from 1740 to 1742
  Casks/citra-nightly.rb
Labels: bump-cask-pr

#12992 Update utm-beta from 3.0.1 to 3.0.2
  Casks/utm-beta.rb
Labels: bump-cask-pr

#12991 Update visual-studio-code-insiders from 1.64.0,a06afb22ce06dbd4f01d3bb5bf946e08bff55180 to 1.64.0,00f1ca47ada2fda8ee1437e17b27af5b4002cecb
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#12990 Update opera-developer from 84.0.4284.0 to 84.0.4295.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#12988 Update android-studio-preview-canary from 2021.2.1.6 to 2021.2.1.7
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#13004 Update discord-canary from 0.0.279 to 0.0.280
  Casks/discord-canary.rb
Labels: bump-cask-pr

#13010 Update google-chrome-beta from 98.0.4758.48 to 98.0.4758.55
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#13009 Update dropbox-beta from 140.3.1894 to 140.3.1903
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#13008 Update lando-edge from 3.6.0 to 3.6.1
  Casks/lando-edge.rb
Labels: bump-cask-pr

#13007 Update visual-studio-code-insiders from 1.64.0,00f1ca47ada2fda8ee1437e17b27af5b4002cecb to 1.64.0,753319a08f8e74700b1dba3a29bf0a6af7c2953f
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#13006 Update discord-development from 0.0.8749 to 0.0.8750
  Casks/discord-development.rb
Labels: bump-cask-pr

#13013 Update slack-beta from 4.23.0 to 4.23.1-beta1
  Casks/slack-beta.rb
Labels: bump-cask-pr

#13014 Update google-chrome-canary from 99.0.4819.0 to 99.0.4826.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#13011 Update local-beta from 6.1.8 to 6.2.0
  Casks/local-beta.rb
Labels: bump-cask-pr

#13018 Update opera-beta from 83.0.4254.14 to 83.0.4254.16
  Casks/opera-beta.rb
Labels: bump-cask-pr

#13019 Update termius-beta from 7.31.1 to 7.32.0
  Casks/termius-beta.rb
Labels: bump-cask-pr

#13020 Update azure-data-studio-insiders from 1.35.0,818a564cb87b54635bd62d9088b59d8209521bda to 1.35.0,4add341c860c2431935f2053b96a043fa6f41ba2
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#13021 Update vivaldi-snapshot from 5.1.2526.3 to 5.1.2533.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#13023 Update java-beta from 18,30 to 18,31
  Casks/java-beta.rb
Labels: bump-cask-pr

#13025 Update ferdi-beta from 5.6.10 to 5.7.0
  Casks/ferdi-beta.rb
Labels: bump-cask-pr

#13032 Update discord-ptb from 0.0.58 to 0.0.59
  Casks/discord-ptb.rb
Labels: bump-cask-pr

#13026 Update visual-studio-code-insiders from 1.64.0,753319a08f8e74700b1dba3a29bf0a6af7c2953f to 1.64.0,c6e58d126f6b5676242e32b34180b2a595f29b51
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#13028 Update discord-development from 0.0.8751 to 0.0.8752
  Casks/discord-development.rb
Labels: bump-cask-pr

#13029 Update macloggerdx-beta from 6.37b17 to 6.38b1
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#13030 Update azure-data-studio-insiders from 1.35.0,4add341c860c2431935f2053b96a043fa6f41ba2 to 1.35.0,d4534f875fbc382933131999816b963726dd8afd
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#13031 Update whatsapp-beta from 2.2149.1 to 2.2201.2
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#13033 Update telegram-desktop-beta from 3.3.2 to 3.4.4
  Casks/telegram-desktop-beta.rb
Labels: bump-cask-pr

#13034 Replace version.before|after_comma with version.csv
  Casks/appcode-eap.rb
  Casks/daedalus-flight.rb
  Casks/ghidra-beta.rb
  Casks/openzfs-dev.rb
  Casks/semeru-jdk11-open.rb
  Casks/semeru-jdk8-open.rb
  Casks/temurin11.rb
  Casks/virtualbox-extension-pack-beta.rb
Labels: ci-syntax-only, automerge-skip

#13037 Update vivaldi-snapshot from 5.1.2533.3 to 5.1.2549.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#13038 Update microsoft-edge-beta from 97.0.1072.54 to 98.0.1108.23
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#13039 Update citra-nightly from 1742 to 1745
  Casks/citra-nightly.rb
Labels: bump-cask-pr

#13040 Update mongodb-compass-beta from 1.30.0-beta.5 to 1.30.0-beta.8
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#13041 Update qgis-ltr from 3.16.15 to 3.16.16
  Casks/qgis-ltr.rb
Labels: bump-cask-pr

#13042 Update royal-tsx-beta from 5.0.5.15 to 5.0.5.16
  Casks/royal-tsx-beta.rb
Labels: bump-cask-pr

#13043 Update sketch-beta from 82,136987 to 82,136996
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#13044 Update processing-beta from 4.0b2 to 4.0b3
  Casks/processing-beta.rb
Labels: bump-cask-pr

#13047 Add parallels16.rb
  Casks/parallels16.rb
Labels: new cask

#13052 openvpn-connect-beta: remove
  Casks/openvpn-connect-beta.rb
Labels: marked for removal/rejection

#13056 Update utm-beta from 3.0.2 to 3.0.3
  Casks/utm-beta.rb
Labels: bump-cask-pr

#13053 Add adguard-vpn-nightly.rb
  Casks/adguard-vpn-nightly.rb
Labels: new cask

#13057 Add openshot-video-editor-daily
  Casks/openshot-video-editor-daily.rb
Labels: new cask

#13058 Update telegram-desktop-beta from 3.4.4 to 3.4.5
  Casks/telegram-desktop-beta.rb
Labels: bump-cask-pr

#13059 Update visual-studio-code-insiders from 1.64.0,c6e58d126f6b5676242e32b34180b2a595f29b51 to 1.64.0,6612ae0f8b5d9c0d86518ebbd153c724a7cbcf73
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#13065 Update vivaldi-snapshot from 5.1.2549.3 to 5.1.2553.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#13063 Update opera-developer from 84.0.4295.0 to 84.0.4302.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#13062 Update brave-browser-beta from 1.35.75.0 to 1.35.87.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#13061 Update visual-studio-code-insiders from 1.64.0,6612ae0f8b5d9c0d86518ebbd153c724a7cbcf73 to 1.64.0,23aa7ad51c95d90d48b1d352a316d7f0c2c4310d
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#13064 Update azure-data-studio-insiders from 1.35.0,d4534f875fbc382933131999816b963726dd8afd to 1.35.0,d3564b20c85dfa182042893cfc123b4e26066219
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#13060 Update osu-development from 2022.108.0 to 2022.118.0
  Casks/osu-development.rb
Labels: bump-cask-pr

#13067 Update netnewswire-beta from 6.0.3b2 to 6.1b2
  Casks/netnewswire-beta.rb
Labels: bump-cask-pr

#13068 Update google-chrome-canary from 99.0.4828.0 to 99.0.4838.3
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#13069 Update zulu11 from 11.0.13 to 11.0.14
  Casks/zulu11.rb
Labels: bump-cask-pr

#13070 Update zulu8 from 8.0.312 to 8.0.322
  Casks/zulu8.rb
Labels: bump-cask-pr

#13071 Update discord-canary from 0.0.280 to 0.0.281
  Casks/discord-canary.rb
Labels: bump-cask-pr

#13072 Update telegram-desktop-beta from 3.4.5 to 3.4.6
  Casks/telegram-desktop-beta.rb
Labels: bump-cask-pr

#13073 Update visual-studio-code-insiders from 1.64.0,23aa7ad51c95d90d48b1d352a316d7f0c2c4310d to 1.64.0,16856037e075275f53b25b7e2dec2303e8e25728
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#13074 Update emacs-pretest from 28.0.90 to 28.0.91
  Casks/emacs-pretest.rb
Labels: bump-cask-pr

#13075 Update brave-browser-dev from 1.35.76.0 to 1.35.88.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#13076 Update azure-data-studio-insiders from 1.35.0,d3564b20c85dfa182042893cfc123b4e26066219 to 1.35.0,dcae3afa73191519b4bba3ee0a6754eeacb81d4e
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#13078 Update wine-staging from 6.23 to 7.0
  Casks/wine-staging.rb
Labels: bump-cask-pr

#13079 Update wine-devel from 6.23 to 7.0
  Casks/wine-devel.rb
Labels: bump-cask-pr

#13080 Update google-chrome-canary from 99.0.4838.3 to 99.0.4840.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#13081 Update brave-browser-beta from 1.35.87.0 to 1.35.89.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#13082 Update microsoft-edge-beta from 98.0.1108.23 to 98.0.1108.27
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#13083 Update microsoft-edge-dev from 98.0.1108.15 to 99.0.1135.5
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#13084 Update visual-studio-code-insiders from 1.64.0,16856037e075275f53b25b7e2dec2303e8e25728 to 1.64.0,0c6d1e9f7ef648cfa50733abb62388bc0791856a
  Casks/visual-studio-code-insiders.rb
Labels: bump-cask-pr

#13085 Update azure-data-studio-insiders from 1.35.0,dcae3afa73191519b4bba3ee0a6754eeacb81d4e to 1.35.0,f8aaf03628c56df965c5f2551c2248ec881c8c09
  Casks/azure-data-studio-insiders.rb
Labels: bump-cask-pr

#13086 Update citra-nightly from 1745 to 1747
  Casks/citra-nightly.rb
Labels: bump-cask-pr

#13087 Update openshot-video-editor-daily from 2.6.1,8946-3c8dc71b-2b8b05c7 to 2.6.1,9005-49d6ba3b-2b8b05c7
  Casks/openshot-video-editor-daily.rb
Labels: bump-cask-pr

#13088 Update charles-beta from 4.6.3b2 to 4.6.3b3
  Casks/charles-beta.rb
Labels: bump-cask-pr

#13089 Update corretto8 from 8.312.07.1 to 8.322.06.1
  Casks/corretto8.rb
Labels: bump-cask-pr

#13090 Update zulu15 from 15.0.5 to 15.0.6
  Casks/zulu15.rb
Labels: bump-cask-pr

#13091 Update zulu13 from 13.0.9 to 13.0.10
  Casks/zulu13.rb
Labels: bump-cask-pr

#13092 Update zulu7 from 7.0.322 to 7.0.332
  Casks/zulu7.rb
Labels: bump-cask-pr

#13093 Update mongodb-compass-beta from 1.30.0-beta.8 to 1.31.0-beta.0
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#13094 Update royal-tsx-beta from 5.0.5.16 to 5.0.5.17
  Casks/royal-tsx-beta.rb
Labels: bump-cask-pr

#13095 Update sketch-beta from 82,136996 to 82,137003
  Casks/sketch-beta.rb
Labels: bump-cask-pr
