Repository Homebrew/homebrew-cask-versions, pull requests merged in 2022-06, with the labels that each got.

#14011 Update propresenter-beta from 7.9.1 to 7.9.2
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#14012 Update firefox-esr from 91.9.1 to 91.10.0
  Casks/firefox-esr.rb
Labels: bump-cask-pr

#14013 Update vivaldi-snapshot from 5.3.2679.25 to 5.3.2679.30
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#14016 Update brave-browser-beta from 1.40.75.0 to 1.40.80.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#14017 Update macloggerdx-beta from 6.40b36 to 6.40b37
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14019 Update google-chrome-beta from 103.0.5060.24 to 103.0.5060.33
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#14022 Update signal-beta from 5.45.0-beta.1 to 5.46.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#14021 Update propresenter-beta from 7.9.2,118030851 to 7.9.2,118030852
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#14024 Update brave-browser-beta from 1.40.80.0 to 1.40.83.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#14025 Update macloggerdx-beta from 6.40b37 to 6.40b38
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14026 Update dropbox-beta from 150.3.4963 to 150.3.4987
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#14027 Update java-beta from 19,24 to 19,25
  Casks/java-beta.rb
Labels: bump-cask-pr

#14028 Update 1password-beta from 8.8.0-104.BETA to 8.8.0-119.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#14029 Update inso-beta from 3.1.0-beta.2 to 3.1.0-beta.3
  Casks/inso-beta.rb
Labels: bump-cask-pr

#14031 Update brave-browser-dev from 1.40.81.0 to 1.40.84.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#14032 Update github-beta from 3.0.2-beta1-1395391d to 3.0.2-beta2-ab4d7daa
  Casks/github-beta.rb
Labels: bump-cask-pr

#14033 Update opera-beta from 88.0.4412.18 to 88.0.4412.20
  Casks/opera-beta.rb
Labels: bump-cask-pr

#14034 Update macloggerdx-beta from 6.40b38 to 6.40b39
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14035 Update figma-beta from 116.0.0 to 116.0.1
  Casks/figma-beta.rb
Labels: bump-cask-pr

#14036 Update google-chrome-canary from 103.0.5060.0 to 104.0.5101.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#14037 Update google-chrome-dev from 103.0.5056.0 to 104.0.5098.0
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#14038 Update insomnia-alpha from 2022.4.0-beta.2 to 2022.4.0-beta.3
  Casks/insomnia-alpha.rb
Labels: bump-cask-pr

#14039 Update mongodb-compass-beta from 1.32.0-beta.2 to 1.32.1-beta.0
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#14040 Update powershell-preview from 7.3.0-preview.3 to 7.3.0-preview.4
  Casks/powershell-preview.rb
Labels: bump-cask-pr

#14041 Update sublime-text-dev from 4.131 to 4.134
  Casks/sublime-text-dev.rb
Labels: bump-cask-pr

#14042 Update skype-preview from 8.83.76.406 to 8.85.76.400
  Casks/skype-preview.rb
Labels: bump-cask-pr

#14043 Update rstudio-preview from 2022.02.2 to 2022.02.3
  Casks/rstudio-preview.rb
Labels: bump-cask-pr

#14045 Update github-beta from 3.0.2-beta2-ab4d7daa to 3.0.2-beta3-6e620389
  Casks/github-beta.rb
Labels: bump-cask-pr

#14046 Update android-studio-preview-canary from 2022.1.1.2 to 2022.1.1.3
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#14047 Update dropbox-beta from 150.3.4987 to 151.3.4180
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#14048 Update github-beta from 3.0.2-beta3-6e620389 to 3.0.2-beta4-eb9f304b
  Casks/github-beta.rb
Labels: bump-cask-pr

#14049 Update 1password-beta from 8.8.0-119.BETA to 8.8.0-126.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#14050 Update whatsapp-beta from 2.2221.1 to 2.2222.2
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14051 Update vivaldi-snapshot from 5.3.2679.30 to 5.3.2679.46
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#14053 Update brave-browser-beta from 1.40.83.0 to 1.40.87.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#14054 Update opera-developer from 89.0.4436.0 to 89.0.4443.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#14055 Update discord-development from 0.0.8758 to 0.0.8759
  Casks/discord-development.rb
Labels: bump-cask-pr

#14056 Update brave-browser-dev from 1.40.84.0 to 1.40.88.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#14057 Update vivaldi-snapshot from 5.3.2679.46 to 5.3.2679.50
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#14058 Update signal-beta from 5.46.0-beta.1 to 5.46.0-beta.2
  Casks/signal-beta.rb
Labels: bump-cask-pr

#14059 Update whatsapp-beta from 2.2222.2 to 2.2222.3
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14060 Update inso-beta from 3.1.0-beta.3 to 3.1.0-beta.4
  Casks/inso-beta.rb
Labels: bump-cask-pr

#14061 Update macloggerdx-beta from 6.40b39 to 6.40b41
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14071 Update wine-devel from 7.9 to 7.10
  Casks/wine-devel.rb
Labels: bump-cask-pr

#14072 Update wine-staging from 7.9 to 7.10
  Casks/wine-staging.rb
Labels: bump-cask-pr

#14062 Update anki-beta from 2.1.52+rc3_ab1c2395 to 2.1.53+rc2_96bacf79
  Casks/anki-beta.rb
Labels: bump-cask-pr

#14063 Update brave-browser-beta from 1.40.87.0 to 1.40.91.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#14064 Update citra-nightly from 1766 to 1769
  Casks/citra-nightly.rb
Labels: bump-cask-pr

#14065 Update google-chrome-beta from 103.0.5060.33 to 103.0.5060.42
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#14066 Update figma-beta from 116.0.1 to 116.0.3
  Casks/figma-beta.rb
Labels: bump-cask-pr

#14067 Update google-chrome-canary from 104.0.5101.0 to 104.0.5110.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#14068 Update insomnia-alpha from 2022.4.0-beta.3 to 2022.4.0-beta.4
  Casks/insomnia-alpha.rb
Labels: bump-cask-pr

#14069 Update macloggerdx-beta from 6.40b41 to 6.40b42
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14070 Update whatsapp-beta from 2.2222.3 to 2.2222.4
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14073 Add Opera Crypto Browser Developer 88.0.4412.11
  Casks/opera-crypto-developer.rb
Labels: new cask

#14074 Update mullvadvpn-beta from 2022.2-beta1 to 2022.2-beta2
  Casks/mullvadvpn-beta.rb
Labels: bump-cask-pr

#14075 Update local-beta from 6.4.0 to 6.4.1
  Casks/local-beta.rb
Labels: bump-cask-pr

#14077 Update macloggerdx-beta from 6.40b42 to 6.40b45
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14078 Update dropbox-beta from 151.3.4180 to 151.3.4195
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#14080 Update appcode-eap from 2022.2,222.2889.2 to 2022.2,222.2964.42
  Casks/appcode-eap.rb
Labels: bump-cask-pr

#14081 Update java-beta from 19,25 to 19,26
  Casks/java-beta.rb
Labels: bump-cask-pr

#14091 Update utm-beta from 3.2.3 to 3.2.4
  Casks/utm-beta.rb
Labels: bump-cask-pr

#14090 Update sublime-merge-dev from 2072 to 2073
  Casks/sublime-merge-dev.rb
Labels: bump-cask-pr

#14089 Update sketch-beta from 88.1 to 89
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#14088 Update royal-tsx-beta from 5.1.1.5 to 5.1.1.7
  Casks/royal-tsx-beta.rb
Labels: bump-cask-pr

#14087 Update mongodb-compass-beta from 1.32.1-beta.0 to 1.32.2-beta.0
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#14086 Update microsoft-edge-dev from 103.0.1253.0 to 104.0.1278.2
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#14085 Update microsoft-edge-beta from 102.0.1245.12 to 103.0.1264.21
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#14084 Update mi-beta from 3.6.2 to 3.6.3
  Casks/mi-beta.rb
Labels: bump-cask-pr

#14083 Update google-chrome-dev from 104.0.5098.0 to 104.0.5110.0
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#14082 Update google-chrome-canary from 104.0.5110.0 to 105.0.5113.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#14092 Update macloggerdx-beta from 6.40b45 to 6.40b46
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14093 Update macloggerdx-beta from 6.40b46 to 6.40b47
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14096 Update termius-beta from 7.41.3 to 7.42.0
  Casks/termius-beta.rb
Labels: bump-cask-pr

#14098 Update geogebra5 from 5.0.709.0 to 5.0.713.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#14100 Update macloggerdx-beta from 6.40b47 to 6.40b48
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14102 Update brave-browser-beta from 1.40.91.0 to 1.40.96.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#14103 Update brave-browser-dev from 1.40.88.0 to 1.40.97.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#14104 Update vivaldi-snapshot from 5.3.2679.50 to 5.4.2704.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#14105 Update slack-beta from 4.27.150 to 4.27.154
  Casks/slack-beta.rb
Labels: bump-cask-pr

#14106 Update termius-beta from 7.42.0 to 7.42.1
  Casks/termius-beta.rb
Labels: bump-cask-pr

#14107 Update macloggerdx-beta from 6.40b48 to 6.40b50
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14108 Update opera-beta from 88.0.4412.20 to 89.0.4447.12
  Casks/opera-beta.rb
Labels: bump-cask-pr

#14109 Update vivaldi-snapshot from 5.4.2704.3 to 5.4.2706.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#14122 Update whatsapp-beta from 2.2223.1 to 2.2223.2
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14121 Update google-chrome-beta from 103.0.5060.42 to 103.0.5060.53
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#14120 Update skype-preview from 8.85.76.400 to 8.85.76.401
  Casks/skype-preview.rb
Labels: bump-cask-pr

#14119 Update sketch-beta from 89,147603 to 89,147688
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#14118 Update picoscope-beta from 7.0.101.11513 to 7.0.102.11677
  Casks/picoscope-beta.rb
Labels: bump-cask-pr

#14117 Update macloggerdx-beta from 6.40b50 to 6.40b51
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14116 Update google-chrome-canary from 105.0.5113.0 to 105.0.5121.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#14115 Update dotnet-sdk-preview from 7.0.100-preview.4.22252.9 to 7.0.100-preview.5.22307.18
  Casks/dotnet-sdk-preview.rb
Labels: bump-cask-pr

#14114 Update dotnet-preview from 7.0.0-preview.4.22229.4 to 7.0.0-preview.5.22301.12
  Casks/dotnet-preview.rb
Labels: bump-cask-pr

#14113 Update citra-nightly from 1769 to 1770
  Casks/citra-nightly.rb
Labels: bump-cask-pr

#14112 Update android-studio-preview-beta from 2021.3.1.10 to 2021.3.1.12
  Casks/android-studio-preview-beta.rb
Labels: bump-cask-pr

#14111 Update android-studio-preview-canary from 2022.1.1.3 to 2022.1.1.4
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#14110 Update 1password-beta from 8.8.0-126.BETA to 8.8.0-143.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#14123 Remove Yosemite support
  Casks/omnifocus2.rb
Labels: ci-syntax-only

#14130 Update macloggerdx-beta from 6.40b51 to 6.40b52
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14144 Update telegram-desktop-beta from 3.7.5 to 3.7.6
  Casks/telegram-desktop-beta.rb
Labels: bump-cask-pr

#14143 Update qt-creator-dev from 7.0.0-rc1 to 8.0.0-beta1
  Casks/qt-creator-dev.rb
Labels: bump-cask-pr

#14132 Update whatsapp-beta from 2.2223.2 to 2.2223.3
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14133 Update java-beta from 19,26 to 19,27
  Casks/java-beta.rb
Labels: bump-cask-pr

#14134 Update vivaldi-snapshot from 5.4.2706.3 to 5.4.2707.2
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#14135 Update appcode-eap from 2022.2,222.2964.42 to 2022.2,222.3048.12
  Casks/appcode-eap.rb
Labels: bump-cask-pr

#14136 Update fork-dev from 2.18.1 to 2.19
  Casks/fork-dev.rb
Labels: bump-cask-pr

#14131 Update android-studio-preview-canary from 2022.1.1.4 to 2022.1.1.5
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#14137 Update google-chrome-dev from 104.0.5110.0 to 104.0.5112.12
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#14138 Update insomnia-alpha from 2022.4.0-beta.4 to 2022.5.0-beta.0
  Casks/insomnia-alpha.rb
Labels: bump-cask-pr

#14139 Update microsoft-edge-dev from 104.0.1278.2 to 104.0.1287.2
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#14140 Update mongodb-compass-beta from 1.32.2-beta.0 to 1.32.3-beta.0
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#14141 Update mono-mdk-for-visual-studio from 6.12.0.179 to 6.12.0.182
  Casks/mono-mdk-for-visual-studio.rb
Labels: bump-cask-pr

#14142 Update openshot-video-editor-daily from 2.6.1,9498-664c5db8-46255e46 to 2.6.1,9512-957d4f6a-46255e46
  Casks/openshot-video-editor-daily.rb
Labels: bump-cask-pr

#14125 Update brave-browser-dev from 1.40.97.0 to 1.41.69.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#14127 Update dropbox-beta from 151.3.4195 to 151.3.4214
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#14128 Update signal-beta from 5.46.0-beta.2 to 5.47.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#14129 Update inso-beta from 3.1.0-beta.4 to 3.3.0-beta.0
  Casks/inso-beta.rb
Labels: stale, bump-cask-pr

#14145 Update macfuse-dev from 4.3.1 to 4.4.0
  Casks/macfuse-dev.rb
Labels: bump-cask-pr

#14146 Update anki-beta from 2.1.53+rc2_96bacf79 to 2.1.54+rc1_595c9273
  Casks/anki-beta.rb
Labels: bump-cask-pr

#14147 Update google-chrome-canary from 105.0.5121.0 to 105.0.5127.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#14148 Update qgis-ltr from 3.22.7 to 3.22.8
  Casks/qgis-ltr.rb
Labels: bump-cask-pr

#14150 Update charles-beta from 4.6.3b3 to 4.6.3b4
  Casks/charles-beta.rb
Labels: bump-cask-pr

#14151 Update geogebra5 from 5.0.713.0 to 5.0.715.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#14152 Update google-chrome-canary from 105.0.5127.0 to 105.0.5130.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#14153 Update openshot-video-editor-daily from 2.6.1,9512-957d4f6a-46255e46 to 2.6.1,9519-7c6fcb0c-46255e46
  Casks/openshot-video-editor-daily.rb
Labels: bump-cask-pr

#14155 Update royal-tsx-beta from 5.1.1.7 to 5.1.1.8
  Casks/royal-tsx-beta.rb
Labels: bump-cask-pr

#14156 Update skype-preview from 8.85.76.401 to 8.85.76.409
  Casks/skype-preview.rb
Labels: bump-cask-pr

#14159 Update signal-beta from 5.47.0-beta.1 to 5.47.0-beta.2
  Casks/signal-beta.rb
Labels: bump-cask-pr

#14160 Update clashx-pro from 1.93.1.1 to 1.94.0.1
  Casks/clashx-pro.rb
Labels: bump-cask-pr

#14164 Update termius-beta from 7.42.1 to 7.42.2
  Casks/termius-beta.rb
Labels: bump-cask-pr

#14162 Update fork-dev from 2.19.1 to 2.19.2
  Casks/fork-dev.rb
Labels: bump-cask-pr

#14163 Update brave-browser-beta from 1.40.96.0 to 1.41.74.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#14166 Update whatsapp-beta from 2.2223.3 to 2.2224.2
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14167 Update vivaldi-snapshot from 5.4.2707.2 to 5.4.2712.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#14158 Update wine-devel from 7.10 to 7.11
  Casks/wine-devel.rb
Labels: help wanted, bump-cask-pr

#14157 Update wine-staging from 7.10 to 7.11
  Casks/wine-staging.rb
Labels: awaiting user reply, bump-cask-pr

#14165 Update safari-technology-preview from 146 to 147
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#14168 Update github-beta from 3.0.2-beta4-eb9f304b to 3.0.3-beta1-9d745da7
  Casks/github-beta.rb
Labels: bump-cask-pr

#14169 Update dropbox-beta from 151.3.4214 to 152.3.4852
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#14190 Update signal-beta from 5.47.0-beta.2 to 5.48.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#14189 Update google-chrome-beta from 103.0.5060.53 to 104.0.5112.20
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#14188 Update ableton-live-suite10 from 10.1.42 to 10.1.43
  Casks/ableton-live-suite10.rb
Labels: bump-cask-pr

#14187 Update ableton-live-standard10 from 10.1.42 to 10.1.43
  Casks/ableton-live-standard10.rb
Labels: bump-cask-pr

#14186 Update ableton-live-lite10 from 10.1.42 to 10.1.43
  Casks/ableton-live-lite10.rb
Labels: bump-cask-pr

#14185 Update ableton-live-intro10 from 10.1.42 to 10.1.43
  Casks/ableton-live-intro10.rb
Labels: bump-cask-pr

#14184 Update android-studio-preview-beta from 2021.3.1.12 to 2021.3.1.13
  Casks/android-studio-preview-beta.rb
Labels: bump-cask-pr

#14183 Update microsoft-edge-dev from 104.0.1287.2 to 104.0.1293.1
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#14182 Update microsoft-edge-beta from 103.0.1264.21 to 103.0.1264.37
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#14181 Update termius-beta from 7.42.2 to 7.43.1
  Casks/termius-beta.rb
Labels: bump-cask-pr

#14180 Update royal-tsx-beta from 5.1.1.8 to 5.1.1.9
  Casks/royal-tsx-beta.rb
Labels: bump-cask-pr
