Repository Homebrew/homebrew-cask-versions, pull requests merged in 2022-08, with the labels that each got.

#14409 Update wine-staging from 7.13 to 7.14
  Casks/wine-staging.rb
Labels: bump-cask-pr

#14408 Update wine-devel from 7.13 to 7.14
  Casks/wine-devel.rb
Labels: bump-cask-pr

#14410 Update macloggerdx-beta from 6.42b5 to 6.42b6
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14413 Update telegram-desktop-beta from 3.7.6 to 4.0.3
  Casks/telegram-desktop-beta.rb
Labels: bump-cask-pr

#14414 Update skype-preview from 8.87.76.202 to 8.87.76.403
  Casks/skype-preview.rb
Labels: bump-cask-pr

#14415 Update emacs-pretest from 28.1.90 to 28.1.91
  Casks/emacs-pretest.rb
Labels: bump-cask-pr

#14416 Update dotnet-preview from 7.0.0-preview.5.22301.12 to 7.0.0-preview.6.22324.4
  Casks/dotnet-preview.rb
Labels: bump-cask-pr

#14417 Update dotnet-sdk-preview from 7.0.100-preview.5.22307.18 to 7.0.100-preview.6.22352.1
  Casks/dotnet-sdk-preview.rb
Labels: bump-cask-pr

#14412 Update google-chrome-beta from 104.0.5112.65 to 104.0.5112.79
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#14418 Update brave-browser-beta from 1.43.51.0 to 1.43.55.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#14419 Update opera-developer from 91.0.4491.0 to 91.0.4498.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#14420 Update vivaldi-snapshot from 5.4.2751.3 to 5.4.2753.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#14421 Update citra-nightly from 1776 to 1777
  Casks/citra-nightly.rb
Labels: bump-cask-pr

#14422 Update figma-beta from 116.2.4 to 116.3.3
  Casks/figma-beta.rb
Labels: bump-cask-pr

#14423 Update geogebra5 from 5.0.722.0 to 5.0.723.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#14424 Update inso-beta from 3.3.1-beta.5 to 3.3.1-beta.6
  Casks/inso-beta.rb
Labels: bump-cask-pr

#14425 Update insomnia-alpha from 2022.5.0-beta.4 to 2022.5.0-beta.7
  Casks/insomnia-alpha.rb
Labels: bump-cask-pr

#14426 Update mongodb-compass-beta from 1.32.3-beta.3 to 1.32.6-beta.0
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#14427 Update royal-tsx-beta from 5.1.1.11 to 5.1.1.12
  Casks/royal-tsx-beta.rb
Labels: bump-cask-pr

#14429 Update termius-beta from 7.46.0 to 7.46.2
  Casks/termius-beta.rb
Labels: bump-cask-pr

#14432 Update whatsapp-beta from 2.2229.3 to 2.2230.2
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14433 Update macloggerdx-beta from 6.42b6 to 6.42b7
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14428 Update sketch-beta from 91,150813 to 91,150827
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#14434 Update macloggerdx-beta from 6.42b7 to 6.42b9
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14435 Update dropbox-beta from 154.3.5348 to 155.3.5473
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#14436 Update whatsapp-beta from 2.2230.2 to 2.2230.3
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14438 Update android-studio-preview-canary from 2022.1.1.8 to 2022.1.1.9
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#14439 Update blender-lts from 2.93.9 to 2.93.10
  Casks/blender-lts.rb
Labels: bump-cask-pr

#14440 Update brave-browser-beta from 1.43.55.0 to 1.43.58.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#14441 Update brave-browser-dev from 1.43.52.0 to 1.43.59.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#14442 Update opera-beta from 90.0.4480.30 to 90.0.4480.37
  Casks/opera-beta.rb
Labels: bump-cask-pr

#14443 Update whatsapp-beta from 2.2230.3 to 2.2230.4
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14437 Update signal-beta from 5.53.0-beta.1 to 5.54.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#14447 Update macloggerdx-beta from 6.42b9 to 6.42b10
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14446 Update microsoft-edge-beta from 104.0.1293.35 to 104.0.1293.44
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#14445 Update microsoft-edge-dev from 105.0.1329.1 to 105.0.1336.2
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#14444 Update vivaldi-snapshot from 5.4.2753.3 to 5.4.2753.17
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#14448 Update google-chrome-beta from 104.0.5112.79 to 105.0.5195.19
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#14449 Update propresenter-beta from 7.10,118095881 to 7.10,118095884
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#14451 Update macloggerdx-beta from 6.42b10 to 6.42b11
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14455 Update vivaldi-snapshot from 5.4.2753.17 to 5.4.2753.19
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#14454 Update telegram-desktop-beta from 4.0.3 to 4.0.4
  Casks/telegram-desktop-beta.rb
Labels: bump-cask-pr

#14453 Update google-chrome-dev from 105.0.5195.10 to 106.0.5216.6
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#14452 Update discord-development from 0.0.8759 to 0.0.8760
  Casks/discord-development.rb
Labels: bump-cask-pr

#14450 add obs-beta cask
  Casks/obs-beta.rb
Labels: new cask

#14456 Update semeru-jdk11-open from 11.0.15+10 to 11.0.16+8
  Casks/semeru-jdk11-open.rb
Labels: bump-cask-pr

#14457 Update zulu8 from 8.0.342 to 8.0.345
  Casks/zulu8.rb
Labels: bump-cask-pr

#14459 Update opera-developer from 91.0.4498.0 to 91.0.4505.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#14460 Update vivaldi-snapshot from 5.4.2753.19 to 5.4.2753.21
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#14462 Update semeru-jdk8-open from 8u332-b09 to 8u345-b01
  Casks/semeru-jdk8-open.rb
Labels: bump-cask-pr

#14463 Update brave-browser-beta from 1.43.58.0 to 1.43.63.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#14464 Update skype-preview from 8.87.76.403 to 8.88.76.100
  Casks/skype-preview.rb
Labels: bump-cask-pr

#14465 Update semeru-jdk17-open from 17.0.3+7 to 17.0.4+8
  Casks/semeru-jdk17-open.rb
Labels: bump-cask-pr

#14466 Update 1password-cli-beta from 2.6.0-beta.06 to 2.7.0-beta.01
  Casks/1password-cli-beta.rb
Labels: bump-cask-pr

#14470 Update tor-browser-alpha from 11.5a13 to 12.0a1
  Casks/tor-browser-alpha.rb
Labels: bump-cask-pr

#14472 Update signal-beta from 5.54.0-beta.1 to 5.55.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#14471 Update 1password-cli-beta from 2.7.0-beta.01 to 2.7.0-beta.03
  Casks/1password-cli-beta.rb
Labels: bump-cask-pr

#14469 Update google-chrome-beta from 105.0.5195.19 to 105.0.5195.28
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#14473 Update slack-beta from 4.27.154 to 4.28.163
  Casks/slack-beta.rb
Labels: bump-cask-pr

#14480 Update obs-beta from 28.0.0-beta1 to 28.0.0-beta2
  Casks/obs-beta.rb
Labels: bump-cask-pr

#14479 Update java-beta from 19,33 to 19,34
  Casks/java-beta.rb
Labels: bump-cask-pr

#14478 Update figma-beta from 116.3.3 to 116.3.5
  Casks/figma-beta.rb
Labels: bump-cask-pr

#14477 Update dotnet-sdk-preview from 7.0.100-preview.6.22352.1 to 7.0.100-preview.7.22377.5
  Casks/dotnet-sdk-preview.rb
Labels: bump-cask-pr

#14476 Update dotnet-preview from 7.0.0-preview.6.22324.4 to 7.0.0-preview.7.22375.6
  Casks/dotnet-preview.rb
Labels: bump-cask-pr

#14475 Update brave-browser-dev from 1.43.59.0 to 1.43.68.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#14482 Update brave-browser-beta from 1.43.63.0 to 1.43.67.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#14484 Update skype-preview from 8.88.76.100 to 8.88.76.200
  Casks/skype-preview.rb
Labels: bump-cask-pr

#14485 Update safari-technology-preview from 150 to 151
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#14486 Update inso-beta from 3.3.1-beta.6 to 3.4.1-beta.0
  Casks/inso-beta.rb
Labels: bump-cask-pr

#14487 Update opera-beta from 90.0.4480.37 to 90.0.4480.41
  Casks/opera-beta.rb
Labels: bump-cask-pr

#14488 Update vivaldi-snapshot from 5.4.2753.21 to 5.4.2763.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#14489 Update arduino-ide-beta from 2.0.0,rc9.1 to 2.0.0,rc9.2
  Casks/arduino-ide-beta.rb
Labels: bump-cask-pr

#14490 Update microsoft-edge-dev from 105.0.1336.2 to 105.0.1343.4
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#14491 Update google-chrome-canary from 106.0.5238.1 to 106.0.5239.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#14494 Use `on_intel` and `on_arm` blocks
  Casks/brave-browser-beta.rb
  Casks/libreoffice-still.rb
  Casks/vmware-fusion-tech-preview.rb
Labels: automerge-skip

#14493 Update powershell-preview from 7.3.0-preview.6 to 7.3.0-preview.7
  Casks/powershell-preview.rb
Labels: bump-cask-pr

#14495 Update dotnet-preview from 7.0.0-preview.1.22076.8 to 7.0.0-preview.7.22375.6
  Casks/dotnet-preview.rb
Labels: bump-cask-pr

#14496 Update dotnet-sdk-preview from 7.0.100-preview.3.22179.4 to 7.0.100-preview.7.22377.5
  Casks/dotnet-sdk-preview.rb
Labels: bump-cask-pr

#14501 Update corretto11 from 11.0.16.8.3 to 11.0.16.9.1
  Casks/corretto11.rb
Labels: bump-cask-pr

#14500 Update corretto17 from 17.0.4.8.1 to 17.0.4.9.1
  Casks/corretto17.rb
Labels: bump-cask-pr

#14506 Update brave-browser-beta from 1.43.67.0 to 1.43.71.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#14507 Update microsoft-edge-beta from 104.0.1293.44 to 105.0.1343.7
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#14508 Update android-studio-preview-beta from 2021.3.1.14 to 2021.3.1.15
  Casks/android-studio-preview-beta.rb
Labels: bump-cask-pr

#14513 Update whatsapp-beta from 2.2230.4 to 2.2232.2
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14510 Update 1password-beta from 8.9.0-1.BETA to 8.9.4-6.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#14512 Update google-chrome-beta from 105.0.5195.28 to 105.0.5195.37
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#14514 Update wine-devel from 7.14 to 7.15
  Casks/wine-devel.rb
Labels: bump-cask-pr

#14515 Update wine-staging from 7.14 to 7.15
  Casks/wine-staging.rb
Labels: bump-cask-pr

#14521 Update skype-preview from 8.88.76.200 to 8.88.76.303
  Casks/skype-preview.rb
Labels: bump-cask-pr

#14520 Update royal-tsx-beta from 5.1.1.12 to 5.1.1.14
  Casks/royal-tsx-beta.rb
Labels: bump-cask-pr

#14519 Update inso-beta from 3.4.1-beta.0 to 3.5.1-beta.0
  Casks/inso-beta.rb
Labels: bump-cask-pr

#14516 Update signal-beta from 5.55.0-beta.1 to 5.56.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#14511 Update dropbox-beta from 155.3.5473 to 156.3.4852
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#14499 adding version 3 to archive now version 4 is out
  Casks/processing3.rb
Labels: new cask

#14523 Delete processing-beta.rb
  Casks/processing-beta.rb
Labels: marked for removal/rejection

#14525 Update obs-beta from 28.0.0-beta2 to 28.0.0-rc1
  Casks/obs-beta.rb
Labels: bump-cask-pr

#14526 Update brave-browser-beta from 1.43.71.0 to 1.43.74.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#14527 Update brave-browser-dev from 1.43.68.0 to 1.43.75.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#14529 Update vivaldi-snapshot from 5.4.2763.3 to 5.5.2770.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#14530 Update dropbox-beta from 156.3.4852 to 156.3.4860
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#14531 Update utm-beta from 3.2.4 to 4.0.1
  Casks/utm-beta.rb
Labels: bump-cask-pr

#14532 Update google-chrome-canary from 106.0.5239.1 to 107.0.5250.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#14533 Update google-chrome-canary from 107.0.5250.0 to 107.0.5251.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#14534 Update fork-dev from 2.20.2 to 2.21
  Casks/fork-dev.rb
Labels: bump-cask-pr

#14535 Update google-chrome-canary from 107.0.5251.0 to 107.0.5252.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#14536 Update google-chrome-canary from 107.0.5252.0 to 107.0.5253.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#14537 Update hyper-canary from 3.3.0-canary.2 to 3.4.0-canary.1
  Casks/hyper-canary.rb
Labels: bump-cask-pr

#14538 Update propresenter-beta from 7.10 to 7.10.1
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#14539 Update opera-developer from 91.0.4505.0 to 92.0.4519.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#14540 Update google-chrome-canary from 107.0.5253.0 to 107.0.5254.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#14541 Update semeru-jdk8-open from 8u345-b01,openj9-0.33.0 to 8u345-b01,openj9-0.33.1
  Casks/semeru-jdk8-open.rb
Labels: bump-cask-pr

#14542 Update semeru-jdk11-open from 11.0.16+8 to 11.0.16.1+1
  Casks/semeru-jdk11-open.rb
Labels: bump-cask-pr

#14543 Update semeru-jdk17-open from 17.0.4+8 to 17.0.4.1+1
  Casks/semeru-jdk17-open.rb
Labels: bump-cask-pr

#14544 Update github-beta from 3.0.6-beta2-706ecf57 to 3.0.6-beta3-b91c5ae9
  Casks/github-beta.rb
Labels: bump-cask-pr

#14545 Update google-chrome-canary from 107.0.5254.0 to 107.0.5255.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#14546 Update google-chrome-canary from 107.0.5255.0 to 107.0.5255.2
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#14547 Use `sha256 arm: "...", intel: "..."`
  Casks/1password-beta.rb
  Casks/android-studio-preview-beta.rb
  Casks/android-studio-preview-canary.rb
  Casks/anki-beta.rb
  Casks/appcode-eap.rb
  Casks/blender-lts.rb
  Casks/brave-browser-beta.rb
  Casks/brave-browser-dev.rb
  Casks/corretto11.rb
  Casks/corretto17.rb
  Casks/corretto8.rb
  Casks/dropbox-beta.rb
  Casks/ferdi-beta.rb
  Casks/figma-beta.rb
  Casks/github-beta.rb
  Casks/hyper-canary.rb
  Casks/java-beta.rb
  Casks/keepassxc-beta.rb
  Casks/lando-edge.rb
  Casks/libreoffice-still.rb
  Casks/microsoft-edge-beta.rb
  Casks/microsoft-edge-dev.rb
  Casks/obs-beta.rb
  Casks/powershell-preview.rb
  Casks/signal-beta.rb
  Casks/slack-beta.rb
  Casks/temurin11.rb
  Casks/temurin17.rb
  Casks/zulu11.rb
  Casks/zulu13.rb
  Casks/zulu15.rb
  Casks/zulu17.rb
  Casks/zulu8.rb
Labels: ci-syntax-only, automerge-skip

#14548 Update brave-browser-beta from 1.43.74.0 to 1.43.79.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#14549 Update microsoft-edge-beta from 105.0.1343.7 to 105.0.1343.10
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#14550 Update google-chrome-canary from 107.0.5255.2 to 107.0.5256.1
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#14552 Update whatsapp-beta from 2.2232.2 to 2.2233.1
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14553 Update google-chrome-canary from 107.0.5256.1 to 107.0.5257.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#14554 Update dropbox-beta from 156.3.4860 to 156.3.4862
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#14556 Update google-chrome-canary from 107.0.5257.0 to 107.0.5257.1
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#14558 Update brave-browser-dev from 1.43.75.0 to 1.43.80.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#14559 Update temurin17 from 17.0.4 to 17.0.4.1
  Casks/temurin17.rb
Labels: bump-cask-pr

#14560 Update google-chrome-canary from 107.0.5257.1 to 107.0.5258.1
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#14561 Update whatsapp-beta from 2.2233.1 to 2.2233.2
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14562 Update google-chrome-canary from 107.0.5258.1 to 107.0.5259.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#14563 Update slack-beta from 4.28.163 to 4.28.171
  Casks/slack-beta.rb
Labels: bump-cask-pr

#14564 Update google-chrome-beta from 105.0.5195.37 to 105.0.5195.52
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#14565 Update signal-beta from 5.56.0-beta.1 to 5.57.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#14567 Update google-chrome-canary from 107.0.5259.0 to 107.0.5259.1
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#14566 Update safari-technology-preview from 151 to 152
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#14581 Update mongodb-compass-beta from 1.32.6-beta.0 to 1.33.0-beta.5
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#14580 Update mi-beta from 3.6.3 to 3.7b1
  Casks/mi-beta.rb
Labels: bump-cask-pr

#14590 Update zulu17 from 17.0.4 to 17.0.4.1
  Casks/zulu17.rb
Labels: bump-cask-pr

#14568 Update aerial-beta from 3.1.0beta2 to 3.1.0beta5
  Casks/aerial-beta.rb
Labels: bump-cask-pr

#14569 Update chromedriver-beta from 104.0.5112.29 to 105.0.5195.19
  Casks/chromedriver-beta.rb
Labels: bump-cask-pr

#14570 Update citra-nightly from 1777 to 1781
  Casks/citra-nightly.rb
Labels: bump-cask-pr

#14572 Update firefox-esr from 102.1.0 to 102.2.0
  Casks/firefox-esr.rb
Labels: bump-cask-pr

#14573 Update geogebra5 from 5.0.723.0 to 5.0.726.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#14574 Update google-chrome-canary from 107.0.5259.1 to 107.0.5260.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#14575 Update google-chrome-dev from 106.0.5216.6 to 106.0.5245.0
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#14576 Update insomnia-alpha from 2022.5.0-beta.7 to 2022.6.0-beta.2
  Casks/insomnia-alpha.rb
Labels: bump-cask-pr

#14577 Update java-beta from 19,877d6127e982470ba2a7faa31cc93d04,35 to 19,877d6127e982470ba2a7faa31cc93d04,36
  Casks/java-beta.rb
Labels: bump-cask-pr

#14578 Update macfuse-dev from 4.4.0 to 4.4.1
  Casks/macfuse-dev.rb
Labels: bump-cask-pr

#14579 Update microsoft-openjdk11 from 11.0.15 to 11.0.16.1
  Casks/microsoft-openjdk11.rb
Labels: bump-cask-pr

#14583 Update openshot-video-editor-daily from 2.6.1,9604-5776efd7-46255e46 to 2.6.1,9694-c23a9b1b-46255e46
  Casks/openshot-video-editor-daily.rb
Labels: bump-cask-pr

#14584 Update picoscope-beta from 7.0.104.11953 to 7.0.106.12175
  Casks/picoscope-beta.rb
Labels: bump-cask-pr
