Repository Homebrew/homebrew-cask-versions, pull requests merged in 2022-11, with the labels that each got.

#15068 mongodb-compass-beta: Fix livecheck
  Casks/mongodb-compass-beta.rb
Labels: ci-syntax-only, livecheck

#15065 microsoft-office-2011: Remove cask
  Casks/microsoft-office-2011.rb
Labels: marked for removal/rejection

#15069 Update macloggerdx-beta from 6.43b35 to 6.43b36
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#15080 Update wine-devel from 7.19 to 7.20
  Casks/wine-devel.rb
Labels: bump-cask-pr

#15081 Update wine-staging from 7.19 to 7.20
  Casks/wine-staging.rb
Labels: bump-cask-pr

#15092 Update macloggerdx-beta from 6.43b36 to 6.43b37
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#15093 Update propresenter-beta from 7.10.2 to 7.10.3
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#15094 Update google-chrome-beta from 108.0.5359.22 to 108.0.5359.30
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#15095 Update 1password-beta from 8.9.8-1.BETA to 8.9.9-6.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#15096 Update brave-browser-dev from 1.46.88.0 to 1.46.91.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#15097 Update brave-browser-nightly from 1.47.39.0 to 1.47.42.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#15098 Update chromedriver-beta from 107.0.5304.18 to 108.0.5359.22
  Casks/chromedriver-beta.rb
Labels: bump-cask-pr

#15099 Update emacs-nightly from 2022-11-02_00-09-30 to 2022-11-03_00-09-09
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#15100 Update google-chrome-canary from 109.0.5396.0 to 109.0.5398.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#15101 Update java-beta from 20,21 to 20,22
  Casks/java-beta.rb
Labels: bump-cask-pr

#15102 Update macloggerdx-beta from 6.43b37 to 6.43b38
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#15103 Update mongodb-compass-beta from 1.34.0-beta.4 to 1.34.0-beta.5
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#15104 Update netnewswire-beta from 6.1b5 to 6.1.1b1
  Casks/netnewswire-beta.rb
Labels: bump-cask-pr

#15105 Update openshot-video-editor-daily from 2.6.1,10112-670baa5a-46255e46 to 2.6.1,10137-d7ab1c61-46255e46
  Casks/openshot-video-editor-daily.rb
Labels: bump-cask-pr

#15107 Update macloggerdx-beta from 6.43b38 to 6.43b39
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#15110 Update macloggerdx-beta from 6.43b39 to 6.43b40
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#15111 Update appcode-eap from 2022.3,223.7126.4 to 2022.3,223.7401.11
  Casks/appcode-eap.rb
Labels: bump-cask-pr

#15113 Update dropbox-beta from 161.3.4836 to 161.3.4890
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#15122 Update discord-canary from 0.0.288 to 0.0.289
  Casks/discord-canary.rb
Labels: bump-cask-pr

#15123 Update propresenter-beta from 7.10.3,118096648 to 7.10.3,118096653
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#15128 Update macloggerdx-beta from 6.43b40 to 6.43b41
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#15131 Update google-chrome-canary from 109.0.5403.0 to 109.0.5406.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#15130 Update sublime-text-dev from 4140 to 4141
  Casks/sublime-text-dev.rb
Labels: bump-cask-pr

#15129 Update emacs-nightly from 2022-11-05_00-09-32 to 2022-11-07_00-09-49
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#15142 Update safari-technology-preview from 156 to 157
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#15152 Update microsoft-edge-dev from 108.0.1462.10 to 109.0.1481.0
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#15153 Update opera-beta from 92.0.4561.11 to 93.0.4585.7
  Casks/opera-beta.rb
Labels: bump-cask-pr

#15154 Update whatsapp-beta from 2.2242.2 to 2.2244.3
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#15155 Update qt-creator-dev from 9.0.0-beta2 to 9.0.0-rc1
  Casks/qt-creator-dev.rb
Labels: bump-cask-pr

#15156 Update microsoft-edge-beta from 107.0.1418.23 to 108.0.1462.15
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#15157 Update vivaldi-snapshot from 5.6.2829.3 to 5.6.2839.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#15159 obs-beta 28.1.2
  Casks/obs-beta.rb
Labels: livecheck

#15160 Update 1password-cli-beta from 2.8.0-beta.05 to 2.8.0-beta.06
  Casks/1password-cli-beta.rb
Labels: bump-cask-pr

#15161 Update google-chrome-beta from 108.0.5359.30 to 108.0.5359.40
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#15162 Update 1password-beta from 8.9.9-6.BETA to 8.9.10-1.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#15188 Update propresenter-beta from 7.10.3 to 7.10.4
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#15189 Update github-beta from 3.1.3-beta2-ab44201b to 3.1.3-beta3-93438ed8
  Casks/github-beta.rb
Labels: bump-cask-pr

#15190 Update whatsapp-beta from 2.2244.3 to 2.2245.2
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#15192 Update wine-devel from 7.20 to 7.21
  Casks/wine-devel.rb
Labels: bump-cask-pr

#15193 Update wine-staging from 7.20 to 7.21
  Casks/wine-staging.rb
Labels: bump-cask-pr

#15191 Add element-nightly.rb
  Casks/element-nightly.rb
Labels: new cask

#15195 Update safari-technology-preview from 157 to 158
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#15213 Update dropbox-beta from 162.3.5368 to 162.3.5401
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#15224 Update whatsapp-beta from 2.2245.3 to 2.2245.5
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#15227 Update dropbox-beta from 162.3.5401 to 162.3.5408
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#15228 Update 1password-cli-beta from 2.8.0-beta.06 to 2.8.0-beta.09
  Casks/1password-cli-beta.rb
Labels: bump-cask-pr

#15229 Update microsoft-edge-dev from 109.0.1481.0 to 109.0.1495.2
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#15226 Add vmware-fusion12
  Casks/vmware-fusion12.rb
Labels: new cask

#15225 Update yubico-authenticator-beta
  Casks/yubico-authenticator-beta.rb
Labels: bump-cask-pr

#15230 Update skype-preview from 8.91.76.304 to 8.91.76.402
  Casks/skype-preview.rb
Labels: bump-cask-pr

#15231 gimp-dev: Init at 2.99.14
  Casks/gimp-dev.rb
Labels: new cask

#15233 Update vscodium-insiders from 1.74.0.22319-insider to 1.74.0.22323-insider
  Casks/vscodium-insiders.rb
Labels: bump-cask-pr

#15234 Update google-chrome-canary from 110.0.5424.0 to 110.0.5429.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#15235 Update iterm2-nightly from 3_5_20221116 to 3_5_20221120
  Casks/iterm2-nightly.rb
Labels: bump-cask-pr

#15236 Update openshot-video-editor-daily from 2.6.1,10327-7617e916-46255e46 to 2.6.1,10349-5aa9487e-46255e46
  Casks/openshot-video-editor-daily.rb
Labels: bump-cask-pr

#15237 Update qgis-ltr from 3.22.12 to 3.22.13
  Casks/qgis-ltr.rb
Labels: bump-cask-pr

#15248 Update whatsapp-beta from 2.2245.5 to 2.2246.1
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#15249 Update opera-developer from 94.0.4604.0 to 95.0.4612.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#15251 Update clashx-pro from 1.95.1.1 to 1.96.1.1
  Casks/clashx-pro.rb
Labels: bump-cask-pr

#15252 Update whatsapp-beta from 2.2246.1 to 2.2246.2
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#15270 Update google-chrome-beta from 108.0.5359.48 to 108.0.5359.62
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#15271 Update signal-beta from 6.0.0-beta.2 to 6.0.0-beta.3
  Casks/signal-beta.rb
Labels: bump-cask-pr

#15288 Update dropbox-beta from 162.3.5408 to 163.3.5425
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#15290 Update whatsapp-beta from 2.2246.2 to 2.2246.4
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#15289 Add Monal Beta (831)
  Casks/monal-beta.rb
Labels: new cask

#15292 Update 1password-cli-beta from 2.8.0-beta.09 to 2.8.0-beta.10
  Casks/1password-cli-beta.rb
Labels: bump-cask-pr

#15293 Update emacs-nightly from 2022-11-28_00-09-21 to 2022-11-29_00-11-02
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#15294 Update google-chrome-beta from 108.0.5359.62 to 108.0.5359.71
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#15295 Update google-chrome-canary from 110.0.5446.0 to 110.0.5448.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#15296 Update insomnia-alpha from 2022.7.0-beta.5 to 2022.7.0-beta.6
  Casks/insomnia-alpha.rb
Labels: bump-cask-pr

#15297 Update iterm2-nightly from 3_5_20221128 to 3_5_20221129
  Casks/iterm2-nightly.rb
Labels: bump-cask-pr

#15298 Update microsoft-edge-dev from 109.0.1495.2 to 109.0.1518.5
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#15299 Update mongodb-compass-beta from 1.34.0-beta.6 to 1.35.0-beta.1
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#15300 Update royal-tsx-beta from 5.1.2.1000 to 6.0.0.1
  Casks/royal-tsx-beta.rb
Labels: bump-cask-pr

#15301 Update sourcetree-beta from 4.1.7b8 to 4.2.1b8
  Casks/sourcetree-beta.rb
Labels: bump-cask-pr

#15302 Update xampp7 from 7.4.29-1 to 7.4.33-0
  Casks/xampp7.rb
Labels: bump-cask-pr

#15304 Update whatsapp-beta from 2.2246.4 to 2.2246.5
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr
