Repository Homebrew/homebrew-cask-versions, pull requests merged in 2022-10, with the labels that each got.

#14765 Update dropbox-beta from 159.3.5805 to 159.3.5829
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#14766 Update brave-browser-dev from 1.45.76.0 to 1.45.79.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#14767 Update google-chrome-dev from 107.0.5286.0 to 108.0.5327.0
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#14768 Update microsoft-edge-dev from 107.0.1387.2 to 107.0.1402.2
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#14769 Update microsoft-edge-beta from 106.0.1370.17 to 106.0.1370.30
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#14770 Update macloggerdx-beta from 6.43b19 to 6.43b20
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14771 Update skype-preview from 8.89.76.300 to 8.89.76.401
  Casks/skype-preview.rb
Labels: bump-cask-pr

#14775 Update opera-developer from 92.0.4555.0 to 92.0.4561.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#14777 Add Navicat Premium.app v15.0.35
  Casks/navicat-premium15.rb
Labels: new cask

#14778 Update propresenter-beta from 7.10.2,118096397 to 7.10.2,118096400
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#14779 Update android-studio-preview-beta from 2022.1.1.11 to 2022.1.1.12
  Casks/android-studio-preview-beta.rb
Labels: bump-cask-pr

#14663 publish-commit-casks.yml: update repo
  .github/workflows/publish-commit-casks.yml
Labels: do not merge, automerge-skip

#14774 Update wine-devel from 7.17 to 7.18
  Casks/wine-devel.rb
Labels: bump-cask-pr

#14776 Update wine-staging from 7.17 to 7.18
  Casks/wine-staging.rb
Labels: bump-cask-pr

#14780 Update whatsapp-beta from 2.2238.2 to 2.2239.1
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14782 Update blender-lts from 3.3.0 to 3.3.1
  Casks/blender-lts.rb
Labels: bump-cask-pr

#14783 Update 1password-beta from 8.9.6-30.BETA to 8.9.7-7.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#14781 Add mailmate-beta
  Casks/mailmate-beta.rb
Labels: new cask

#14786 Update whatsapp-beta from 2.2239.1 to 2.2239.2
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14796 Update android-studio-preview-canary from 2022.2.1.2 to 2022.2.1.3
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#14801 insomnia-alpha 2022.7.0-beta.1
  Casks/insomnia-alpha.rb
Labels: livecheck

#14800 mullvadvpn-beta 2022.5-beta2
  Casks/mullvadvpn-beta.rb
Labels: livecheck

#14799 Update appcode-eap from 2022.2 to 2022.3
  Casks/appcode-eap.rb
Labels: bump-cask-pr

#14798 Update macloggerdx-beta from 6.43b20 to 6.43b21
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14797 tunnelblick-beta: update livecheck
  Casks/tunnelblick-beta.rb
Labels: ci-syntax-only, livecheck

#14802 Update macloggerdx-beta from 6.43b21 to 6.43b24
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14803 Update vivaldi-snapshot from 5.5.2805.3 to 5.6.2817.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#14804 Update utm-beta from 4.0.6 to 4.0.7
  Casks/utm-beta.rb
Labels: bump-cask-pr

#14805 Update brave-browser-beta from 1.45.88.0 to 1.45.95.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#14806 Update brave-browser-dev from 1.45.89.0 to 1.45.96.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#14807 Update opera-developer from 92.0.4561.0 to 93.0.4569.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#14808 Update 1password-cli-beta from 2.8.0-beta.03 to 2.8.0-beta.04
  Casks/1password-cli-beta.rb
Labels: bump-cask-pr

#14809 Update dropbox-beta from 159.3.5865 to 160.3.4611
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#14810 Update whatsapp-beta from 2.2239.3 to 2.2240.1
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14811 Update signal-beta from 5.63.0-beta.1 to 5.63.0-beta.2
  Casks/signal-beta.rb
Labels: bump-cask-pr

#14812 Update dotnet-preview from 7.0.0-rc.1.22426.10 to 7.0.0-rc.2.22472.3
  Casks/dotnet-preview.rb
Labels: bump-cask-pr

#14814 Update qt-creator-dev from 8.0.0-rc1 to 9.0.0-beta1
  Casks/qt-creator-dev.rb
Labels: bump-cask-pr

#14829 Local Beta 6.5.0 for Intel and Apple Silicon
  Casks/local-beta.rb
Labels: automerge-skip

#14845 Add Yubico Authenticator Beta
  Casks/yubico-authenticator-beta.rb
Labels: new cask

#14847 Update macloggerdx-beta from 6.43b25 to 6.43b26
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14848 Update vivaldi-snapshot from 5.6.2817.3 to 5.6.2824.8
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#14849 Update microsoft-edge-beta from 106.0.1370.30 to 107.0.1418.8
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#14850 Update google-chrome-canary from 108.0.5357.0 to 109.0.5360.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#14851 Update appcode-eap from 2022.3,223.6160.86 to 2022.3,223.6646.113
  Casks/appcode-eap.rb
Labels: bump-cask-pr

#14852 Update android-studio-preview-canary from 2022.2.1.3 to 2022.2.1.4
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#14853 Update macloggerdx-beta from 6.43b26 to 6.43b27
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14859 Update dropbox-beta from 160.3.4611 to 160.3.4633
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#14860 Update aerial-beta from 3.1.0beta5 to 3.1.4beta1
  Casks/aerial-beta.rb
Labels: bump-cask-pr

#14861 Update geogebra5 from 5.0.735.0 to 5.0.736.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#14862 Update google-chrome-canary from 109.0.5360.0 to 109.0.5365.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#14863 Update insomnia-alpha from 2022.7.0-beta.1 to 2022.7.0-beta.2
  Casks/insomnia-alpha.rb
Labels: bump-cask-pr

#14864 Update openshot-video-editor-daily from 2.6.1,9856-23da61bf-46255e46 to 2.6.1,9949-b890417a-46255e46
  Casks/openshot-video-editor-daily.rb
Labels: bump-cask-pr

#14865 Update opera-developer from 93.0.4569.0 to 93.0.4575.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#14866 Update opera-crypto-developer from 88.0.4412.64 to 90.0.4480.128
  Casks/opera-crypto-developer.rb
Labels: bump-cask-pr

#14867 Update signal-beta from 5.63.0-beta.3 to 5.63.0-beta.4
  Casks/signal-beta.rb
Labels: bump-cask-pr

#14868 Update skype-preview from 8.90.76.202 to 8.90.76.300
  Casks/skype-preview.rb
Labels: bump-cask-pr

#14869 Update sublime-text-dev from 4137 to 4138
  Casks/sublime-text-dev.rb
Labels: bump-cask-pr

#14876 Add Virtualbox.app v6.1
  Casks/virtualbox6.rb
Labels: new cask

#14877 Update whatsapp-beta from 2.2240.3 to 2.2241.1
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14878 Update corretto17 from 17.0.4.9.1 to 17.0.5.8.1
  Casks/corretto17.rb
Labels: bump-cask-pr

#14880 Update corretto8 from 8.342.07.3 to 8.352.08.1
  Casks/corretto8.rb
Labels: bump-cask-pr

#14881 Update github-beta from 3.1.2-beta1-bccec59c to 3.1.3-beta1-11870edb
  Casks/github-beta.rb
Labels: bump-cask-pr

#14888 Update 1password-beta from 8.9.7-17.BETA to 8.9.7-31.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#14889 Update 1password-cli-beta from 2.8.0-beta.04 to 2.8.0-beta.05
  Casks/1password-cli-beta.rb
Labels: bump-cask-pr

#14898 Update whatsapp-beta from 2.2241.1 to 2.2241.2
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14900 Update propresenter-beta from 7.10.2,118096407 to 7.10.2,118096410
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#14901 Update safari-technology-preview from 155 to 156
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#14911 Update dropbox-beta from 160.3.4633 to 160.3.4650
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#14913 Update whatsapp-beta from 2.2241.2 to 2.2241.3
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14919 Update appcode-eap from 2022.3,223.6646.113 to 2022.3,223.7126.4
  Casks/appcode-eap.rb
Labels: bump-cask-pr

#14918 Update firefox-esr from 102.3.0 to 102.4.0
  Casks/firefox-esr.rb
Labels: bump-cask-pr

#14921 fork-dev: Remove cask
  Casks/fork-dev.rb
Labels: marked for removal/rejection

#14922 Update vivaldi-snapshot from 5.6.2824.8 to 5.6.2829.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#14923 Update google-chrome-beta from 107.0.5304.36 to 107.0.5304.62
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#14924 Update propresenter-beta from 7.10.2,118096411 to 7.10.2,118096412
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#14925 Update figma-beta from 116.5.8 to 116.5.10
  Casks/figma-beta.rb
Labels: bump-cask-pr

#14926 Update google-chrome-canary from 109.0.5370.0 to 109.0.5376.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#14927 Update keepassxc-beta from 2.7.1 to 2.7.3
  Casks/keepassxc-beta.rb
Labels: bump-cask-pr

#14928 Update microsoft-edge-beta from 107.0.1418.13 to 107.0.1418.16
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#14929 Update microsoft-edge-dev from 108.0.1438.1 to 108.0.1450.0
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#14930 Update mongodb-compass-beta from 1.34.0-beta.3 to 1.34.0-beta.4
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#14932 Update picoscope-beta from 7.0.109.12622 to 7.0.111.12850
  Casks/picoscope-beta.rb
Labels: bump-cask-pr

#14933 Update qgis-ltr from 3.22.11 to 3.22.12
  Casks/qgis-ltr.rb
Labels: bump-cask-pr

#14934 Update sketch-beta from 94,156466 to 94,156477
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#14935 Update vscodium-insiders from 1.73.0.22293-insider to 1.73.0.22295-insider
  Casks/vscodium-insiders.rb
Labels: bump-cask-pr

#14936 Update wine-devel from 7.18 to 7.19
  Casks/wine-devel.rb
Labels: bump-cask-pr

#14937 Update wine-staging from 7.18 to 7.19
  Casks/wine-staging.rb
Labels: bump-cask-pr

#14931 Update openshot-video-editor-daily from 2.6.1,9949-b890417a-46255e46 to 2.6.1,9975-b890417a-46255e46
  Casks/openshot-video-editor-daily.rb
Labels: bump-cask-pr

#14938 Add hancom word 2014
  Casks/hancom-word-2014.rb
Labels: new cask, bump-cask-pr

#14943 Update dropbox-beta from 160.3.4650 to 160.3.4670
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#14944 Update opera-developer from 93.0.4575.0 to 93.0.4582.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#14945 Update slack-beta from 4.29.141 to 4.29.144
  Casks/slack-beta.rb
Labels: bump-cask-pr

#14947 Update android-studio-preview-beta from 2022.1.1.12 to 2022.1.1.13
  Casks/android-studio-preview-beta.rb
Labels: bump-cask-pr

#14950 Update whatsapp-beta from 2.2241.3 to 2.2242.1
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#14951 Update dropbox-beta from 160.3.4670 to 161.3.4815
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#14963 Update qt-creator-dev from 9.0.0-beta1 to 9.0.0-beta2
  Casks/qt-creator-dev.rb
Labels: bump-cask-pr

#14964 Update github-beta from 3.1.3-beta1-11870edb to 3.1.3-beta2-ab44201b
  Casks/github-beta.rb
Labels: bump-cask-pr

#14965 Update 1password-beta from 8.9.7-31.BETA to 8.9.8-1.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#14968 Update macloggerdx-beta from 6.43b29 to 6.43b30
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14970 Update obs-beta from 28.0.0-rc2 to 28.1.0-rc1
  Casks/obs-beta.rb
Labels: bump-cask-pr

#14971 inso-beta 3.6.1-beta.2
  Casks/inso-beta.rb
Labels: livecheck

#14972 Update macloggerdx-beta from 6.43b30 to 6.43b31
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14973 Update sublime-text-dev from 4138 to 4139
  Casks/sublime-text-dev.rb
Labels: bump-cask-pr

#14975 Update macloggerdx-beta from 6.43b31 to 6.43b32
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#14977 Update google-chrome-beta from 107.0.5304.62 to 108.0.5359.22
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#15013 azure-data-studio-insider: Add version, livecheck
  Casks/azure-data-studio-insiders.rb
Labels: livecheck

#15042 Update emacs-nightly from 2022-10-29_00-09-23 to 2022-10-30_00-09-08
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#15043 Update figma-beta from 116.5.13 to 116.5.14
  Casks/figma-beta.rb
Labels: bump-cask-pr

#15044 Update mi-beta from 3.7b2 to 3.7b3
  Casks/mi-beta.rb
Labels: bump-cask-pr

#15045 Update keepassxc-beta from 2.7.3 to 2.7.4
  Casks/keepassxc-beta.rb
Labels: bump-cask-pr

#15046 add arm pkg for semeru-jdk
  Casks/semeru-jdk11-open.rb
  Casks/semeru-jdk17-open.rb
Labels: automerge-skip

#15048 lando-edge: Add livecheck
  Casks/lando-edge.rb
Labels: ci-syntax-only, livecheck

#15051 macfuse-dev: update livecheck
  Casks/macfuse-dev.rb
Labels: bump-cask-pr

#15049 lilypond-dev: Remove cask
  Casks/lilypond-dev.rb
Labels: marked for removal/rejection

#15061 Update google-chrome-canary from 109.0.5388.0 to 109.0.5393.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#15062 Update macloggerdx-beta from 6.43b34 to 6.43b35
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#15063 Update microsoft-openjdk11 from 11.0.16.1 to 11.0.17
  Casks/microsoft-openjdk11.rb
Labels: bump-cask-pr

#15064 Update sublime-text-dev from 4139 to 4140
  Casks/sublime-text-dev.rb
Labels: bump-cask-pr
