Repository Homebrew/homebrew-cask-versions, pull requests merged in 2023-11, with the labels that each got.

#18246 propresenter-beta 7.15
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#18248 github-beta 3.3.6-beta1-c18d0eef
  Casks/github-beta.rb
Labels: bump-cask-pr

#18249 local-beta 8.0.2
  Casks/local-beta.rb
Labels: bump-cask-pr

#18250 discord-canary 0.0.329
  Casks/discord-canary.rb
Labels: bump-cask-pr

#18247 google-chrome-canary 120.0.6099.2
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#18251 google-chrome-beta 119.0.6045.105
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#18253 github-beta 3.3.6-beta2-0f4acef0
  Casks/github-beta.rb
Labels: bump-cask-pr

#18252 google-chrome-canary 121.0.6100.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#18255 slack-beta 4.35.126
  Casks/slack-beta.rb
Labels: bump-cask-pr

#18257 microsoft-teams-classic 1.6.00.28554
  Casks/microsoft-teams-classic.rb
Labels: bump-cask-pr

#18256 google-chrome-canary 121.0.6101.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#18266 opera-beta 105.0.4970.6
  Casks/opera-beta.rb
Labels: bump-cask-pr

#18264 vivaldi-snapshot 6.4.3160.38
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#18263 microsoft-edge-beta 119.0.2151.42
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#18262 brave-browser-nightly 1.62.18.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#18261 brave-browser-beta 1.61.61.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#18265 microsoft-edge-dev 120.0.2186.2
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#18267 signal-beta 6.38.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#18269 discord-canary 0.0.330
  Casks/discord-canary.rb
Labels: bump-cask-pr

#18284 java-beta 22,22
  Casks/java-beta.rb
Labels: bump-cask-pr

#18283 vscodium-insiders 1.85.0.23307-insider
  Casks/vscodium-insiders.rb
Labels: bump-cask-pr

#18282 termius-beta 8.5.1
  Casks/termius-beta.rb
Labels: bump-cask-pr

#18281 brave-browser-nightly 1.62.21.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#18279 zotero-beta 7.0.0-beta.48
  Casks/zotero-beta.rb
Labels: bump-cask-pr

#18278 xmind-beta 24.01.04392
  Casks/xmind-beta.rb
Labels: bump-cask-pr

#18276 keka-beta 1.4.0-dev.r5285
  Casks/keka-beta.rb
Labels: bump-cask-pr

#18275 sketch-beta 99,178431
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#18274 chromedriver-beta 120.0.6099.5
  Casks/chromedriver-beta.rb
Labels: bump-cask-pr

#18273 macloggerdx-beta 6.49b15
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#18271 android-studio-preview-canary 2023.2.1.12
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#18268 tor-browser-alpha 13.5a1
  Casks/tor-browser-alpha.rb
Labels: bump-cask-pr

#18287 whatsapp-beta 2.23.23.77
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#18289 discord-ptb 0.0.85
  Casks/discord-ptb.rb
Labels: bump-cask-pr

#18290 brave-browser-nightly 1.62.24.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#18291 figma-beta 116.15.3
  Casks/figma-beta.rb
Labels: bump-cask-pr

#18292 microsoft-edge-beta 119.0.2151.46
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#18293 libreoffice-still 7.5.8
  Casks/libreoffice-still.rb
Labels: bump-cask-pr

#18295 libreoffice-still: update min macOS
  Casks/libreoffice-still.rb
Labels: ci-syntax-only

#18294 libreoffice-still-language-pack 7.5.8
  Casks/libreoffice-still-language-pack.rb
Labels: bump-cask-pr

#18296 whatsapp-beta 2.23.23.78
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#18259 google-chrome-canary: switch to `version :latest`
  Casks/google-chrome-canary.rb
Labels: awaiting maintainer feedback

#18298 whatsapp-legacy 2.2348.50
  Casks/whatsapp-legacy.rb
Labels: bump-cask-pr

#18297 discord-canary 0.0.331
  Casks/discord-canary.rb
Labels: bump-cask-pr

#18299 1password6, anaconda2: remove livecheck
  Casks/1password6.rb
  Casks/anaconda2.rb
Labels: automerge-skip, livecheck

#18300 brave-browser-dev 1.61.63.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#18301 adguard-nightly 2.13.3.1512
  Casks/adguard-nightly.rb
Labels: bump-cask-pr

#18302 clashx-pro: remove
  Casks/clashx-pro.rb
Labels: marked for removal/rejection

#18303 anki-beta 23.10.1
  Casks/anki-beta.rb
Labels: bump-cask-pr

#18304 local-beta 8.1.0
  Casks/local-beta.rb
Labels: bump-cask-pr

#18305 skype-preview 8.108.76.203
  Casks/skype-preview.rb
Labels: bump-cask-pr

#18306 dropbox-beta 187.3.5584
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#18307 brave-browser-nightly 1.62.28.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#18309 inso-beta 8.4.0-beta.0
  Casks/inso-beta.rb
Labels: bump-cask-pr

#18308 google-chrome-dev 121.0.6103.3
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#18311 monal-beta 870
  Casks/monal-beta.rb
Labels: bump-cask-pr

#18310 macloggerdx-beta 6.49b18
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#18312 openscad-snapshot 2023.11.05
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#18313 opera-developer 106.0.4977.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#18314 telegram-desktop-beta 4.11.4
  Casks/telegram-desktop-beta.rb
Labels: bump-cask-pr

#18315 termius-beta 8.5.2
  Casks/termius-beta.rb
Labels: bump-cask-pr

#18316 tunnelblick-beta 4.0.0beta11
  Casks/tunnelblick-beta.rb
Labels: bump-cask-pr

#18317 zotero-beta 7.0.0-beta.49
  Casks/zotero-beta.rb
Labels: bump-cask-pr

#18318 anki-beta 23.10.1,rc2
  Casks/anki-beta.rb
Labels: bump-cask-pr

#18320 brave-browser-nightly 1.62.32.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#18321 iterm2-nightly 3_5_20231106
  Casks/iterm2-nightly.rb
Labels: bump-cask-pr

#18322 openscad-snapshot 2023.11.06
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#18323 postmancanary 10.19.15-canary231101-0730
  Casks/postmancanary.rb
Labels: bump-cask-pr

#18319 brave-browser-beta 1.61.67.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#18324 whatsapp-beta 2.23.23.79
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#18325 Add Forklift3
  Casks/forklift3.rb
Labels: new cask

#18327 brave-browser-nightly 1.62.35.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#18329 sublime-text-dev 4164
  Casks/sublime-text-dev.rb
Labels: bump-cask-pr

#18330 sonos-s1-controller 57.19-46310
  Casks/sonos-s1-controller.rb
Labels: bump-cask-pr

#18331 vscodium-insiders 1.85.0.23310-insider
  Casks/vscodium-insiders.rb
Labels: bump-cask-pr

#18332 whatsapp-beta 2.23.23.80
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#18328 macloggerdx-beta 6.49b19
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#18333 discord-canary 0.0.332
  Casks/discord-canary.rb
Labels: bump-cask-pr

#18326 anki-beta 23.10.1,rc3
  Casks/anki-beta.rb
Labels: bump-cask-pr

#18334 microsoft-teams-classic 1.6.00.29954
  Casks/microsoft-teams-classic.rb
Labels: ci-syntax-only, bump-cask-pr

#18335 google-chrome-beta 120.0.6099.18
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#18336 signal-beta 6.39.0-beta.2
  Casks/signal-beta.rb
Labels: bump-cask-pr

#18337 whatsapp-beta 2.23.23.81
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#18338 dropbox-beta 187.3.5638
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#18344 opera-beta 105.0.4970.10
  Casks/opera-beta.rb
Labels: bump-cask-pr

#18343 discord-canary 0.0.335
  Casks/discord-canary.rb
Labels: bump-cask-pr

#18342 brave-browser-nightly 1.62.38.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#18341 brave-browser-beta 1.61.69.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#18339 android-studio-preview-beta 2023.1.1.25
  Casks/android-studio-preview-beta.rb
Labels: bump-cask-pr

#18345 whatsapp-legacy 2.2349.51
  Casks/whatsapp-legacy.rb
Labels: bump-cask-pr

#18346 defold-beta 1.6.2
  Casks/defold-beta.rb
Labels: bump-cask-pr

#18354 qt-creator-dev 12.0.0-rc1
  Casks/qt-creator-dev.rb
Labels: bump-cask-pr

#18353 sketch-beta 99.1
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#18352 zotero-beta 7.0.0-beta.50
  Casks/zotero-beta.rb
Labels: bump-cask-pr

#18351 tsh13 13.4.7
  Casks/tsh13.rb
Labels: bump-cask-pr

#18349 macloggerdx-beta 6.49b21
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#18348 iterm2-nightly 3_5_20231109
  Casks/iterm2-nightly.rb
Labels: bump-cask-pr

#18347 chromedriver-beta 120.0.6099.18
  Casks/chromedriver-beta.rb
Labels: bump-cask-pr

#18350 termius-beta 8.6.0
  Casks/termius-beta.rb
Labels: bump-cask-pr

#18357 google-chrome-dev 121.0.6115.2
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#18358 dropbox-beta 187.3.5654
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#18356 macloggerdx-beta 6.49b22
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#18355 discord-ptb 0.0.86
  Casks/discord-ptb.rb
Labels: bump-cask-pr

#18359 propresenter-beta 7.15,118423564
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#18361 brave-browser-dev 1.61.71.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#18363 mixxx-snapshot 2.5-alpha-152-g81ba008751
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#18364 openscad-snapshot 2023.11.10
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#18365 virtualbox-beta 7.0.13_BETA4-160164
  Casks/virtualbox-beta.rb
Labels: bump-cask-pr

#18362 macloggerdx-beta 6.49b25
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#18366 zotero-beta 7.0.0-beta.51
  Casks/zotero-beta.rb
Labels: bump-cask-pr

#18367 java-beta 22,23
  Casks/java-beta.rb
Labels: bump-cask-pr

#18369 openscad-snapshot 2023.11.12
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#18368 mixxx-snapshot 2.5-alpha-157-g3252675a03
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#18371 skype-preview 8.109.76.104
  Casks/skype-preview.rb
Labels: bump-cask-pr

#18372 sketch-beta 99.1,178462
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#18373 brave-browser-nightly 1.62.49.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#18379 brave-browser-nightly 1.62.52.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#18378 brave-browser-beta 1.61.75.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#18381 dropbox-beta 188.3.6042
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#18382 discord-canary 0.0.337
  Casks/discord-canary.rb
Labels: bump-cask-pr

#18383 termius-beta 8.6.1
  Casks/termius-beta.rb
Labels: bump-cask-pr

#18385 affinity-designer1 1.10.8
  Casks/affinity-designer1.rb
Labels: bump-cask-pr

#18386 affinity-photo1 1.10.8
  Casks/affinity-photo1.rb
Labels: bump-cask-pr

#18387 affinity-publisher1 1.10.8
  Casks/affinity-publisher1.rb
Labels: bump-cask-pr

#18388 local-beta 8.1.1
  Casks/local-beta.rb
Labels: bump-cask-pr

#18389 microsoft-edge-beta 120.0.2210.8
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#18390 mixxx-snapshot 2.5-alpha-159-gc1665e50e9
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#18391 openscad-snapshot 2023.11.13
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#18392 opera-developer 106.0.4985.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#18393 pdf-expert-beta 3.7
  Casks/pdf-expert-beta.rb
Labels: bump-cask-pr

#18394 sublime-text-dev 4165
  Casks/sublime-text-dev.rb
Labels: bump-cask-pr

#18395 typora-dev 1.8.1
  Casks/typora-dev.rb
Labels: bump-cask-pr

#18396 vivaldi-snapshot 6.5.3189.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#18399 brave-browser-beta 1.61.77.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#18398 1password-beta 8.10.22-1.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#18400 signal-beta 6.40.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#18401 brave-browser-nightly 1.62.58.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#18403 discord-canary 0.0.338
  Casks/discord-canary.rb
Labels: bump-cask-pr

#18405 java-beta 22,24
  Casks/java-beta.rb
Labels: bump-cask-pr

#18406 monal-beta 871
  Casks/monal-beta.rb
Labels: bump-cask-pr

#18407 pdf-expert-beta 3.7.1
  Casks/pdf-expert-beta.rb
Labels: bump-cask-pr

#18404 google-chrome-beta 120.0.6099.28
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#18402 chromedriver-beta 120.0.6099.28
  Casks/chromedriver-beta.rb
Labels: bump-cask-pr

#18409 propresenter-beta 7.15,118423567
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#18410 discord-ptb 0.0.87
  Casks/discord-ptb.rb
Labels: bump-cask-pr

#18411 whatsapp-beta 2.23.23.82
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#18414 iterm2-nightly 3_5_20231116
  Casks/iterm2-nightly.rb
Labels: bump-cask-pr

#18415 tsh13 13.4.9
  Casks/tsh13.rb
Labels: bump-cask-pr

#18413 android-studio-preview-canary 2023.2.1.14
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#18408 safari-technology-preview 183
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#18416 dropbox-beta 188.3.6074
  Casks/dropbox-beta.rb
Labels: bump-cask-pr
