Repository Homebrew/homebrew-cask-versions, pull requests merged in 2023-05, with the labels that each got.

#16570 shadow-beta 8.0.10095
  Casks/shadow-beta.rb
Labels: bump-cask-pr

#16569 qgis-ltr 3.28.6
  Casks/qgis-ltr.rb
Labels: bump-cask-pr

#16571 google-chrome-canary 115.0.5744.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16572 microsoft-edge-dev 114.0.1807.6
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#16573 slack-beta 4.32.122
  Casks/slack-beta.rb
Labels: bump-cask-pr

#16577 android-studio-preview-canary 2023.1.1.2
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#16578 brave-browser-beta 1.52.84.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#16579 brave-browser-nightly 1.53.13.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#16580 microsoft-edge-beta 113.0.1774.27
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#16581 dropbox-beta 174.3.5690
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#16582 whatsapp-alpha 2.23.8.79
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#16583 Drop openzfs-dev as being not popular
  Casks/openzfs-dev.rb
Labels: marked for removal/rejection

#16586 obs-beta 29.1.0-rc1
  Casks/obs-beta.rb
Labels: bump-cask-pr

#16587 whatsapp-beta 2.2320.1
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#16591 google-chrome-beta 114.0.5735.16
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#16592 brave-browser-nightly 1.53.16.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#16593 figma-beta 116.9.5
  Casks/figma-beta.rb
Labels: bump-cask-pr

#16594 google-chrome-canary 115.0.5749.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16588 wine-staging 8.7
  Casks/wine-staging.rb
Labels: bump-cask-pr

#16595 safari-technology-preview 169
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#16596 whatsapp-alpha 2.23.8.80
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#16597 mullvadvpn-beta 2023.4-beta1
  Casks/mullvadvpn-beta.rb
Labels: bump-cask-pr

#16598 google-chrome-canary 115.0.5751.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16599 wine-devel 8.7
  Casks/wine-devel.rb
Labels: bump-cask-pr

#16600 whatsapp-alpha 2.23.9.75
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#16607 opera-developer 100.0.4790.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#16606 vivaldi-snapshot 6.1.3009.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#16605 google-chrome-dev 115.0.5750.0
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#16604 brave-browser-nightly 1.53.21.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#16603 1password-beta 8.10.6-20.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#16602 microsoft-edge-beta 113.0.1774.33
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#16601 google-chrome-canary 115.0.5753.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16608 whatsapp-alpha 2.23.9.77
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#16609 microsoft-edge-beta 113.0.1774.35
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#16610 typora-dev 1.6.3
  Casks/typora-dev.rb
Labels: bump-cask-pr

#16613 android-studio-preview-beta 2022.3.1.13
  Casks/android-studio-preview-beta.rb
Labels: bump-cask-pr

#16615 Update GithubLatest livecheck blocks
  Casks/processing3.rb
  Casks/semeru-jdk11-open.rb
  Casks/semeru-jdk17-open.rb
  Casks/semeru-jdk8-open.rb
  Casks/temurin19.rb
Labels: automerge-skip, livecheck

#16614 google-chrome-canary 115.0.5759.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16612 surge 4.11.2
  Casks/surge4.rb
Labels: new cask

#16616 dropbox-beta 174.3.5738
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#16634 macloggerdx-beta 6.46b28
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#16633 java-beta 21,21
  Casks/java-beta.rb
Labels: bump-cask-pr

#16632 iterm2-nightly 3_5_20230509
  Casks/iterm2-nightly.rb
Labels: bump-cask-pr

#16631 google-chrome-canary 115.0.5760.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16630 geogebra5 5.0.776.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#16629 firefox-esr 102.11.0
  Casks/firefox-esr.rb
Labels: bump-cask-pr

#16627 elephas-beta 7.43
  Casks/elephas-beta.rb
Labels: bump-cask-pr

#16625 defold-alpha 1.4.6,46763e9a3f35ee48b08660ca0fe98434b0bbc6d1
  Casks/defold-alpha.rb
Labels: bump-cask-pr

#16624 chromedriver-beta 114.0.5735.16
  Casks/chromedriver-beta.rb
Labels: bump-cask-pr

#16622 brave-browser-beta 1.52.92.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#16621 adguard-vpn-nightly 2.1.0.378
  Casks/adguard-vpn-nightly.rb
Labels: bump-cask-pr

#16620 adguard-nightly 2.10.1.1277
  Casks/adguard-nightly.rb
Labels: bump-cask-pr

#16636 openshot-video-editor-daily 3.1.1,11427-42c84e7a-dce55693
  Casks/openshot-video-editor-daily.rb
Labels: bump-cask-pr

#16644 tunnelblick-beta 4.0.0beta05
  Casks/tunnelblick-beta.rb
Labels: bump-cask-pr

#16643 termius-beta 7.59.0
  Casks/termius-beta.rb
Labels: bump-cask-pr

#16642 sublime-text-dev 4149
  Casks/sublime-text-dev.rb
Labels: bump-cask-pr

#16641 sourcetree-beta 4.2.3b10
  Casks/sourcetree-beta.rb
Labels: bump-cask-pr

#16640 skype-preview 8.97.76.402
  Casks/skype-preview.rb
Labels: bump-cask-pr

#16639 sketch-beta 96.3
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#16638 shadow-beta 8.0.10100
  Casks/shadow-beta.rb
Labels: bump-cask-pr

#16646 brave-browser-nightly 1.53.30.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#16647 microsoft-edge-beta 114.0.1823.11
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#16649 opera-developer 100.0.4796.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#16650 android-studio-preview-canary 2023.1.1.3
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#16648 microsoft-edge-dev 115.0.1843.0
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#16651 whatsapp-alpha 2.23.9.79
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#16652 signal-beta 6.18.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#16653 firefox-cn 113.0
  Casks/firefox-cn.rb
Labels: bump-cask-pr

#16654 typora-dev 1.6.4
  Casks/typora-dev.rb
Labels: bump-cask-pr

#16655 sublime-text-dev 4150
  Casks/sublime-text-dev.rb
Labels: bump-cask-pr

#16656 google-chrome-beta 114.0.5735.26
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#16657 dropbox-beta 174.3.5762
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#16658 brave-browser-beta 1.52.94.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#16660 google-chrome-canary 115.0.5763.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16661 google-chrome-dev 115.0.5762.4
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#16662 signal-beta 6.18.0-beta.2
  Casks/signal-beta.rb
Labels: bump-cask-pr

#16659 brave-browser-nightly 1.53.33.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#16663 propresenter-beta 7.13.1
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#16664 1password-beta 8.10.7-1.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#16665 Add PostmanCanary.app v10.13.7-canary230510-0719
  Casks/postmancanary.rb
Labels: automerge-skip, new cask

#16666 dropbox-beta 174.3.5782
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#16680 termius-beta 7.59.1
  Casks/termius-beta.rb
Labels: bump-cask-pr

#16679 skype-preview 8.98.76.103
  Casks/skype-preview.rb
Labels: bump-cask-pr

#16677 opera-beta 99.0.4788.6
  Casks/opera-beta.rb
Labels: bump-cask-pr

#16676 mongodb-compass-beta 1.37.0-beta.0
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#16675 lando-edge 3.17.0
  Casks/lando-edge.rb
Labels: bump-cask-pr

#16674 iterm2-nightly 3_5_20230513
  Casks/iterm2-nightly.rb
Labels: bump-cask-pr

#16673 java-beta 21,22
  Casks/java-beta.rb
Labels: bump-cask-pr

#16672 emacs-nightly 2023-05-13_00-09-26
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#16671 defold-beta 1.4.6,b539d73b58867557cf465c47e68b7ccfd2d74f19
  Casks/defold-beta.rb
Labels: bump-cask-pr

#16670 defold-alpha 1.4.6,a5c82cf0e5e6ab5a29687eba0c1ccb4ed8ed2a51
  Casks/defold-alpha.rb
Labels: bump-cask-pr

#16669 brave-browser-nightly 1.53.36.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#16668 brave-browser-dev 1.52.96.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#16678 sketch-beta 97
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#16682 google-chrome-canary 115.0.5771.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16681 Add Mixxx snapshot cask
  Casks/mixxx-snapshot.rb
Labels: new cask

#16683 emacs-pretest 29.0.91
  Casks/emacs-pretest.rb
Labels: bump-cask-pr

#16684 google-chrome-canary 115.0.5773.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16685 opera-developer 100.0.4801.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#16686 brave-browser-beta 1.52.100.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#16687 brave-browser-nightly 1.53.41.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#16688 android-studio-preview-beta 2022.3.1.14
  Casks/android-studio-preview-beta.rb
Labels: bump-cask-pr

#16689 android-studio-preview-canary 2023.1.1.4
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#16690 dropbox-beta 174.3.5811
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#16692 brave-browser-nightly 1.53.44.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#16693 google-chrome-canary 115.0.5773.4
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16695 discord-canary 0.0.297
  Casks/discord-canary.rb
Labels: bump-cask-pr

#16696 whatsapp-alpha 2.23.10.72
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#16697 1password-beta 8.10.7-11.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#16698 dropbox-beta 175.3.5368
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#16699 google-chrome-beta 114.0.5735.35
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#16700 safari-technology-preview 170
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#16705 dotnet-sdk-preview 8.0.100-preview.4.23260.5
  Casks/dotnet-sdk-preview.rb
Labels: bump-cask-pr

#16704 dotnet-preview 8.0.0-preview.4.23259.5
  Casks/dotnet-preview.rb
Labels: bump-cask-pr

#16703 signal-beta 6.19.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#16702 google-chrome-canary 115.0.5777.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16701 brave-browser-nightly 1.53.47.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#16707 brave-browser-beta 1.52.102.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#16708 whatsapp-alpha 2.23.10.74
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#16717 google-chrome-dev 115.0.5773.4
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#16716 geogebra5 5.0.778.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#16715 figma-beta 116.10.2
  Casks/figma-beta.rb
Labels: bump-cask-pr

#16714 elephas-beta 7.62
  Casks/elephas-beta.rb
Labels: bump-cask-pr

#16713 defold-beta 1.4.6,55418da7170eb9c54c999b2740f4843adabe7b9f
  Casks/defold-beta.rb
Labels: bump-cask-pr

#16712 defold-alpha 1.4.6,dbe8c8ec83d35778469e84e5ea05ffaf24c81a3a
  Casks/defold-alpha.rb
Labels: bump-cask-pr

#16711 whatsapp-beta 2.2322.8
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#16710 google-chrome-canary 115.0.5779.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16709 brave-browser-nightly 1.53.50.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#16724 mongodb-compass-beta 1.37.0-beta.2
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#16723 mixxx-snapshot 2.5-alpha-37-g393ddc4f21
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#16722 macloggerdx-beta 6.47b1
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#16721 lando-edge 3.17.1
  Casks/lando-edge.rb
Labels: bump-cask-pr

#16720 keepassxc-beta 2.7.5
  Casks/keepassxc-beta.rb
Labels: bump-cask-pr

#16719 java-beta 21,23
  Casks/java-beta.rb
Labels: bump-cask-pr

#16718 iterm2-nightly 3_5_20230516
  Casks/iterm2-nightly.rb
Labels: bump-cask-pr

#16725 propresenter-beta 7.13.1,118292745
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#16726 sketch-beta 97,173034
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#16728 vivaldi-snapshot 6.1.3023.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#16729 whatsapp-alpha 2.23.10.75
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#16731 discord-canary 0.0.298
  Casks/discord-canary.rb
Labels: bump-cask-pr

#16735 brave-browser-dev 1.52.104.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#16736 brave-browser-nightly 1.53.54.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#16734 sketch-beta 97,173046
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#16733 openshot-video-editor-daily 3.1.1,11447-431d335a-dce55693
  Casks/openshot-video-editor-daily.rb
Labels: bump-cask-pr

#16732 iterm2-nightly 3_5_20230519
  Casks/iterm2-nightly.rb
Labels: bump-cask-pr

#16738 google-chrome-canary 115.0.5781.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16737 elephas-beta 7.63
  Casks/elephas-beta.rb
Labels: bump-cask-pr

#16730 whatsapp-alpha 2.23.10.76
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#16739 google-chrome-canary 115.0.5783.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16740 slack-beta 4.32.126
  Casks/slack-beta.rb
Labels: bump-cask-pr
