Repository Homebrew/homebrew-cask-versions, pull requests merged in 2023-06, with the labels that each got.

#16828 safari-technology-preview 171
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#16831 whatsapp-alpha 2.23.11.75
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#16830 propresenter-beta 7.13.1,118292749
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#16837 appcode-eap: remove cask
  Casks/appcode-eap.rb
Labels: marked for removal/rejection

#16844 opera-beta 100.0.4815.2
  Casks/opera-beta.rb
Labels: bump-cask-pr

#16843 monal-beta 858
  Casks/monal-beta.rb
Labels: bump-cask-pr

#16842 macloggerdx-beta 6.47b3
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#16841 java-beta 21,25
  Casks/java-beta.rb
Labels: bump-cask-pr

#16840 iterm2-nightly 3_5_20230530
  Casks/iterm2-nightly.rb
Labels: bump-cask-pr

#16839 google-chrome-dev 116.0.5803.2
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#16838 google-chrome-beta 115.0.5790.13
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#16836 signal-beta 6.20.0-beta.2
  Casks/signal-beta.rb
Labels: bump-cask-pr

#16835 google-chrome-canary 116.0.5806.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16834 discord-canary 0.0.301
  Casks/discord-canary.rb
Labels: bump-cask-pr

#16833 brave-browser-nightly 1.54.25.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#16832 brave-browser-beta 1.53.76.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#16848 vscodium-insiders 1.79.0.23152-insider
  Casks/vscodium-insiders.rb
Labels: bump-cask-pr

#16847 vivaldi-snapshot 6.1.3035.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#16846 termius-beta 7.59.5
  Casks/termius-beta.rb
Labels: bump-cask-pr

#16845 sketch-beta 97,173155
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#16850 dropbox-beta 176.3.5042
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#16851 brave-browser-nightly 1.54.29.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#16852 clashx-pro 1.116.1.1
  Casks/clashx-pro.rb
Labels: bump-cask-pr

#16854 whatsapp-beta 2.2324.3
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#16853 google-chrome-canary 116.0.5808.2
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16856 google-chrome-canary 116.0.5809.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16857 openscad-snapshot 2023.06.02
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#16858 sketch-beta 97,173164
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#16855 whatsapp-alpha 2.23.11.76
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#16862 google-chrome-canary 116.0.5810.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16859 figma-beta 116.10.7
  Casks/figma-beta.rb
Labels: bump-cask-pr

#16861 skype-preview 8.98.76.402
  Casks/skype-preview.rb
Labels: bump-cask-pr

#16864 brave-browser-dev 1.53.78.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#16865 vivaldi-snapshot 6.1.3035.12
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#16866 opera-developer 101.0.4822.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#16868 adguard-vpn-nightly 2.1.0.406
  Casks/adguard-vpn-nightly.rb
Labels: bump-cask-pr

#16869 whatsapp-alpha 2.23.11.77
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#16870 1password-beta 8.10.8-10.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#16871 propresenter-beta 7.13.1,118292750
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#16872 discord-canary 0.0.302
  Casks/discord-canary.rb
Labels: bump-cask-pr

#16876 defold-beta 1.4.7
  Casks/defold-beta.rb
Labels: bump-cask-pr

#16878 openshot-video-editor-daily 3.1.1,11503-b1104d89-08c2cdd1
  Casks/openshot-video-editor-daily.rb
Labels: bump-cask-pr

#16879 openscad-snapshot 2023.06.05
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#16880 firefox-esr 102.12.0
  Casks/firefox-esr.rb
Labels: bump-cask-pr

#16877 iterm2-nightly 3_5_20230605
  Casks/iterm2-nightly.rb
Labels: bump-cask-pr

#16874 brave-browser-nightly 1.54.38.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#16881 google-chrome-canary 116.0.5817.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16882 postmancanary 10.13.9-canary230531-0714
  Casks/postmancanary.rb
Labels: bump-cask-pr

#16884 android-studio-preview-canary 2023.1.1.7
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#16885 whatsapp-alpha 2.23.11.79
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#16886 firefox-cn 114.0
  Casks/firefox-cn.rb
Labels: bump-cask-pr

#16887 brave-browser-beta 1.53.85.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#16888 brave-browser-nightly 1.54.43.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#16889 google-chrome-canary 116.0.5818.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16890 1password-beta 8.10.8-13.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#16891 google-chrome-beta 115.0.5790.24
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#16892 signal-beta 6.21.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#16893 slack-beta 4.33.69
  Casks/slack-beta.rb
Labels: bump-cask-pr

#16895 dropbox-beta 176.3.5044
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#16894 android-studio-preview-beta 2022.3.1.16
  Casks/android-studio-preview-beta.rb
Labels: bump-cask-pr

#16898 signal-beta 6.21.0-beta.2
  Casks/signal-beta.rb
Labels: bump-cask-pr

#16899 whatsapp-alpha 2.23.11.80
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#16900 tor-browser-alpha 12.5a7
  Casks/tor-browser-alpha.rb
Labels: bump-cask-pr

#16901 libreoffice-still 7.4.7
  Casks/libreoffice-still.rb
Labels: ci-skip-livecheck

#16903 brave-browser-beta 1.53.87.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#16904 brave-browser-nightly 1.54.48.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#16905 discord-canary 0.0.303
  Casks/discord-canary.rb
Labels: bump-cask-pr

#16907 java-beta 21,26
  Casks/java-beta.rb
Labels: bump-cask-pr

#16902 libreoffice-still-language-pack 7.4.7
  Casks/libreoffice-still-language-pack.rb
Labels: bump-cask-pr, ci-skip-livecheck

#16909 dropbox-beta 176.3.5105
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#16910 adguard-nightly 2.11.0.1289
  Casks/adguard-nightly.rb
Labels: bump-cask-pr

#16911 adguard-vpn-nightly 2.1.0.413
  Casks/adguard-vpn-nightly.rb
Labels: bump-cask-pr

#16912 brave-browser-dev 1.53.88.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#16914 discord-development 0.0.8779
  Casks/discord-development.rb
Labels: bump-cask-pr

#16916 google-chrome-canary 116.0.5828.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16918 iterm2-nightly 3_5_20230609
  Casks/iterm2-nightly.rb
Labels: bump-cask-pr

#16920 macloggerdx-beta 6.47b6
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#16922 mongodb-compass-beta 1.38.0-beta.1
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#16924 openscad-snapshot 2023.06.12
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#16925 openshot-video-editor-daily 3.1.1,11517-95eccafc-08c2cdd1
  Casks/openshot-video-editor-daily.rb
Labels: bump-cask-pr

#16927 qt-creator-dev 11.0.0-beta1
  Casks/qt-creator-dev.rb
Labels: bump-cask-pr

#16929 termius-beta 7.59.7
  Casks/termius-beta.rb
Labels: bump-cask-pr

#16931 vscodium-insiders 1.79.0.23160-insider
  Casks/vscodium-insiders.rb
Labels: bump-cask-pr

#16919 macfuse-dev 4.5.0
  Casks/macfuse-dev.rb
Labels: bump-cask-pr

#16921 mixxx-snapshot 2.5-alpha-48-gd763be6061
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#16915 elephas-beta 7.81
  Casks/elephas-beta.rb
Labels: bump-cask-pr

#16923 olympus 3345
  Casks/olympus.rb
Labels: bump-cask-pr

#16930 tunnelblick-beta 4.0.0beta06
  Casks/tunnelblick-beta.rb
Labels: bump-cask-pr

#16928 skype-preview 8.99.76.102
  Casks/skype-preview.rb
Labels: bump-cask-pr

#16926 opera-developer 101.0.4829.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#16917 google-chrome-dev 116.0.5817.0
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#16913 buckets-beta 0.70.5
  Casks/buckets-beta.rb
Labels: bump-cask-pr

#16932 brave-browser-nightly 1.54.53.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#16934 dropbox-beta 177.3.5380
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#16935 brave-browser-beta 1.53.92.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#16936 brave-browser-nightly 1.54.56.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#16937 google-chrome-canary 116.0.5831.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16938 safari-technology-preview 172
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#16939 signal-beta 6.22.0-beta.2
  Casks/signal-beta.rb
Labels: bump-cask-pr

#16940 whatsapp-beta 2.2325.3
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#16941 1password-beta 8.10.8-24.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#16942 google-chrome-beta 115.0.5790.32
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#16943 dropbox-beta 177.3.5390
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#16944 mono-mdk-for-visual-studio 6.12.0.199
  Casks/mono-mdk-for-visual-studio.rb
Labels: bump-cask-pr

#16945 clashx-pro 1.116.2.1
  Casks/clashx-pro.rb
Labels: bump-cask-pr

#16946 signal-beta 6.22.0-beta.3
  Casks/signal-beta.rb
Labels: bump-cask-pr

#16948 google-chrome-canary 116.0.5832.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16949 whatsapp-alpha 2.23.12.75
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#16950 whatsapp-alpha 2.23.12.76
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#16951 google-chrome-canary 116.0.5835.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16952 discord-canary 0.0.305
  Casks/discord-canary.rb
Labels: bump-cask-pr

#16953 brave-browser-beta 1.53.94.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#16954 brave-browser-dev 1.53.96.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#16955 brave-browser-nightly 1.54.65.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#16956 opera-beta 100.0.4815.13
  Casks/opera-beta.rb
Labels: bump-cask-pr

#16957 google-chrome-canary 116.0.5838.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16958 google-chrome-canary 116.0.5839.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16959 google-chrome-canary 116.0.5840.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16960 emacs-pretest 29.0.92
  Casks/emacs-pretest.rb
Labels: bump-cask-pr

#16961 slack-beta 4.33.73
  Casks/slack-beta.rb
Labels: bump-cask-pr

#16962 google-chrome-canary 116.0.5841.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16963 macloggerdx-beta 6.47b7
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#16964 opera-developer 101.0.4836.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#16965 Add Oracle JDK 17.0.7
  Casks/oracle-jdk17.rb
Labels: new cask

#16967 blender-lts 3.3.8
  Casks/blender-lts.rb
Labels: bump-cask-pr

#16971 lando-edge 3.19.5
  Casks/lando-edge.rb
Labels: bump-cask-pr

#16972 android-studio-preview-canary 2023.1.1.9
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#16976 discord-canary 0.0.306
  Casks/discord-canary.rb
Labels: bump-cask-pr

#16975 google-chrome-canary 116.0.5845.2
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16974 brave-browser-nightly 1.55.2.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#16973 brave-browser-beta 1.53.100.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#16977 signal-beta 6.23.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#16978 sequel-pro-nightly: remove
  Casks/sequel-pro-nightly.rb
Labels: marked for removal/rejection

#16979 sketch-beta 97.1
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#16980 geogebra5 5.0.783.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#16981 google-chrome-canary 117.0.5846.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16986 wine-staging 8.10
  Casks/wine-staging.rb
Labels: bump-cask-pr

#16984 vivaldi-snapshot 6.2.3054.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#16983 discord-ptb 0.0.74
  Casks/discord-ptb.rb
Labels: bump-cask-pr

#16982 brave-browser-beta 1.54.76.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#16985 wine-devel 8.10
  Casks/wine-devel.rb
Labels: bump-cask-pr

#16987 google-chrome-beta 115.0.5790.40
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#16988 1password-beta 8.10.8-42.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#16989 brave-browser-nightly 1.55.5.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#16990 google-chrome-canary 117.0.5847.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16991 skype-preview 8.99.76.300
  Casks/skype-preview.rb
Labels: bump-cask-pr

#16992 github-beta 3.2.7-beta1-93944cfb
  Casks/github-beta.rb
Labels: bump-cask-pr

#16993 google-chrome-canary 117.0.5848.2
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16994 google-chrome-canary 117.0.5850.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16995 brave-browser-nightly 1.55.9.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr
