Repository Homebrew/homebrew-cask-versions, pull requests merged in 2023-07, with the labels that each got.

#17052 whatsapp-alpha 2.23.13.77
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#17053 google-chrome-canary 117.0.5864.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17054 hyper-canary 4.0.0-canary.4
  Casks/hyper-canary.rb
Labels: bump-cask-pr

#17055 google-chrome-canary 117.0.5865.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17057 google-chrome-canary 117.0.5866.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17058 brave-browser-nightly 1.55.88.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#17059 discord-canary 0.0.307
  Casks/discord-canary.rb
Labels: bump-cask-pr

#17060 google-chrome-canary 117.0.5867.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17065 google-chrome-canary 117.0.5870.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17064 julia-nightly 1.11
  Casks/julia-nightly.rb
Labels: bump-cask-pr

#17062 whatsapp-alpha 2.23.13.78
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#17063 propresenter-beta 7.13.2
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#17066 firefox-cn 115.0
  Casks/firefox-cn.rb
Labels: bump-cask-pr

#17067 inso-beta 3.18.0-beta.0
  Casks/inso-beta.rb
Labels: bump-cask-pr

#17068 google-chrome-canary 117.0.5871.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17069 opera-developer 102.0.4850.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#17070 discord-ptb 0.0.75
  Casks/discord-ptb.rb
Labels: bump-cask-pr

#17071 github-beta 3.2.7-beta2-54c64ced
  Casks/github-beta.rb
Labels: bump-cask-pr

#17072 brave-browser-nightly 1.55.98.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#17073 google-chrome-canary 117.0.5873.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17074 whatsapp-alpha 2.23.13.80
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#17075 signal-beta 6.25.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#17076 google-chrome-canary 117.0.5874.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17078 geogebra5 5.0.788.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#17079 openscad-snapshot 2023.07.03
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#17080 emacs-nightly 2023-07-06_00-09-13
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#17081 whatsapp-alpha 2.23.13.81
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#17082 whatsapp-alpha 2.23.13.82
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#17083 google-chrome-canary 117.0.5876.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17084 android-studio-preview-canary 2023.1.1.11
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#17085 google-chrome-beta 115.0.5790.75
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#17089 brave-browser-nightly 1.58.2.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#17090 opera-beta 101.0.4843.10
  Casks/opera-beta.rb
Labels: bump-cask-pr

#17091 google-chrome-canary 117.0.5878.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17092 whatsapp-alpha 2.23.13.83
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#17093 google-chrome-canary 117.0.5880.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17094 google-chrome-canary 117.0.5880.4
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17095 google-chrome-canary 117.0.5882.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17096 brave-browser-beta 1.57.1.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#17097 brave-browser-dev 1.54.86.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#17098 opera-developer 102.0.4857.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#17099 vivaldi-snapshot 6.2.3070.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#17126 dropbox-beta 179.3.4750
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#17125 utm-beta 4.3.1
  Casks/utm-beta.rb
Labels: bump-cask-pr

#17124 termius-beta 8.0.1
  Casks/termius-beta.rb
Labels: bump-cask-pr

#17123 sketch-beta 98
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#17122 royal-tsx-beta 6.0.0.12
  Casks/royal-tsx-beta.rb
Labels: bump-cask-pr

#17121 qt-creator-dev 11.0.0-rc1
  Casks/qt-creator-dev.rb
Labels: bump-cask-pr

#17120 powershell-preview 7.4.0-preview.4
  Casks/powershell-preview.rb
Labels: bump-cask-pr

#17119 postmancanary 10.15.6-canary230706-1055
  Casks/postmancanary.rb
Labels: bump-cask-pr

#17118 openscad-snapshot 2023.07.10
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#17117 olympus 3360
  Casks/olympus.rb
Labels: bump-cask-pr

#17116 netnewswire-beta 6.1.4b1
  Casks/netnewswire-beta.rb
Labels: bump-cask-pr

#17115 mongodb-compass-beta 1.39.0-beta.0
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#17114 monal-beta 861
  Casks/monal-beta.rb
Labels: bump-cask-pr

#17113 mixxx-snapshot 2.5-alpha-63-g3de29630a8
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#17112 java-beta 21,30
  Casks/java-beta.rb
Labels: bump-cask-pr

#17111 insomnia-alpha 2023.4.0-beta.0
  Casks/insomnia-alpha.rb
Labels: bump-cask-pr

#17110 gpg-suite-nightly 3438n
  Casks/gpg-suite-nightly.rb
Labels: bump-cask-pr

#17109 google-chrome-dev 116.0.5845.14
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#17108 geogebra5 5.0.790.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#17107 firefox-esr 102.13.0
  Casks/firefox-esr.rb
Labels: bump-cask-pr

#17106 figma-beta 116.12.0
  Casks/figma-beta.rb
Labels: bump-cask-pr

#17105 emacs-nightly 2023-07-11_00-09-06
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#17104 elephas-beta 7.90
  Casks/elephas-beta.rb
Labels: bump-cask-pr

#17103 defold-beta 1.4.8
  Casks/defold-beta.rb
Labels: bump-cask-pr

#17102 buckets-beta 0.71.0
  Casks/buckets-beta.rb
Labels: bump-cask-pr

#17101 aerial-beta 3.2.7beta2
  Casks/aerial-beta.rb
Labels: bump-cask-pr

#17100 adguard-nightly 2.12.0.1350
  Casks/adguard-nightly.rb
Labels: bump-cask-pr

#17127 .NET 8 preview 6
  Casks/dotnet-preview.rb
  Casks/dotnet-sdk-preview.rb
Labels: automerge-skip

#17128 google-chrome-canary 117.0.5884.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17131 whatsapp-alpha 2.23.13.84
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#17132 inso-beta 3.19.0-beta.0
  Casks/inso-beta.rb
Labels: bump-cask-pr

#17134 hyper-canary 4.0.0-canary.5
  Casks/hyper-canary.rb
Labels: bump-cask-pr

#17135 google-chrome-canary 117.0.5886.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17136 1password-beta 8.10.9-29.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#17137 google-chrome-beta 115.0.5790.90
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#17139 signal-beta 6.26.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#17140 whatsapp-alpha 2.23.13.85
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#17138 safari-technology-preview 174
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#17141 inso-beta 3.19.0-beta.1
  Casks/inso-beta.rb
Labels: bump-cask-pr

#17142 google-chrome-canary 117.0.5887.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17145 google-chrome-canary 117.0.5888.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17144 propresenter-beta 7.13.2,118292999
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#17146 google-chrome-canary 117.0.5889.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17165 vivaldi-snapshot 6.2.3077.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#17164 sketch-beta 98,176341
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#17163 parallels17 17.1.7-51588
  Casks/parallels17.rb
Labels: bump-cask-pr

#17162 opera-beta 101.0.4843.13
  Casks/opera-beta.rb
Labels: bump-cask-pr

#17161 openscad-snapshot 2023.07.16
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#17160 mullvadvpn-beta 2023.5-beta1
  Casks/mullvadvpn-beta.rb
Labels: bump-cask-pr

#17159 mongodb-compass-beta 1.39.0-beta.2
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#17158 java-beta 21,31
  Casks/java-beta.rb
Labels: bump-cask-pr

#17157 iterm2-nightly 3_5_20230715
  Casks/iterm2-nightly.rb
Labels: bump-cask-pr

#17156 insomnia-alpha 2023.5.0-beta.2
  Casks/insomnia-alpha.rb
Labels: bump-cask-pr

#17155 google-chrome-dev 116.0.5845.32
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#17154 gimp-dev 2.99.16
  Casks/gimp-dev.rb
Labels: bump-cask-pr

#17153 emacs-nightly 2023-07-15_00-09-16
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#17152 elephas-beta 8.0
  Casks/elephas-beta.rb
Labels: bump-cask-pr

#17151 brave-browser-nightly 1.58.23.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#17150 brave-browser-dev 1.57.11.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#17149 brave-browser-beta 1.57.13.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#17148 android-studio-preview-canary 2023.1.1.12
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#17147 aerial-beta 3.2.7beta3
  Casks/aerial-beta.rb
Labels: bump-cask-pr

#17166 google-chrome-canary 117.0.5890.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17167 whatsapp-alpha 2.23.14.78
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#17169 google-chrome-beta 115.0.5790.98
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#17168 whatsapp-alpha 2.23.14.79
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#17170 google-chrome-canary 117.0.5895.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17171 corretto17 17.0.8.7.1
  Casks/corretto17.rb
Labels: bump-cask-pr

#17172 corretto11 11.0.20.8.1
  Casks/corretto11.rb
Labels: bump-cask-pr

#17173 corretto8 8.382.05.1
  Casks/corretto8.rb
Labels: bump-cask-pr

#17174 dropbox-beta 179.3.4830
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#17175 zulu11 11.0.20
  Casks/zulu11.rb
Labels: bump-cask-pr

#17178 google-chrome-canary 117.0.5897.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17181 1password-beta 8.10.9-45.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#17182 inso-beta 3.19.0-beta.4
  Casks/inso-beta.rb
Labels: bump-cask-pr

#17179 macloggerdx-beta 6.47b8
  Casks/macloggerdx-beta.rb
Labels: ci-retry, bump-cask-pr

#17176 zulu8 8.0.382
  Casks/zulu8.rb
Labels: bump-cask-pr

#17183 signal-beta 6.27.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#17184 clashx-pro 1.117.0.1
  Casks/clashx-pro.rb
Labels: bump-cask-pr

#17185 google-chrome-canary 117.0.5899.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17186 macloggerdx-beta 6.47b9
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#17187 signal-beta 6.27.0-beta.2
  Casks/signal-beta.rb
Labels: bump-cask-pr

#17188 blender-lts 3.6.1
  Casks/blender-lts.rb
Labels: bump-cask-pr

#17189 brave-browser-beta 1.57.18.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#17190 brave-browser-nightly 1.58.35.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#17191 opera-developer 102.0.4864.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#17192 opera-beta 101.0.4843.19
  Casks/opera-beta.rb
Labels: bump-cask-pr

#17193 temurin17 17.0.8
  Casks/temurin17.rb
Labels: bump-cask-pr

#17194 google-chrome-canary 117.0.5901.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17195 dropbox-beta 179.3.4890
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#17197 aerial-beta 3.2.7beta4
  Casks/aerial-beta.rb
Labels: bump-cask-pr

#17198 adguard-vpn-nightly 2.1.1.426
  Casks/adguard-vpn-nightly.rb
Labels: bump-cask-pr

#17200 emacs-nightly 2023-07-21_00-09-09
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#17201 geogebra5 5.0.791.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#17202 gpg-suite-nightly 3461n
  Casks/gpg-suite-nightly.rb
Labels: bump-cask-pr

#17203 iterm2-nightly 3_5_20230719
  Casks/iterm2-nightly.rb
Labels: bump-cask-pr

#17205 microsoft-openjdk11 11.0.20
  Casks/microsoft-openjdk11.rb
Labels: bump-cask-pr

#17206 openscad-snapshot 2023.07.21
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#17208 qgis-ltr 3.28.9
  Casks/qgis-ltr.rb
Labels: bump-cask-pr

#17209 pdf-expert-beta 3.2.2
  Casks/pdf-expert-beta.rb
Labels: bump-cask-pr

#17210 royal-tsx-beta 6.0.0.13
  Casks/royal-tsx-beta.rb
Labels: bump-cask-pr

#17211 sketch-beta 98,176363
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#17212 temurin11 11.0.20
  Casks/temurin11.rb
Labels: bump-cask-pr

#17213 termius-beta 8.0.2
  Casks/termius-beta.rb
Labels: bump-cask-pr

#17214 typora-dev 1.7.0
  Casks/typora-dev.rb
Labels: bump-cask-pr

#17215 utm-beta 4.3.2
  Casks/utm-beta.rb
Labels: bump-cask-pr

#17216 virtualbox6 6.1.46
  Casks/virtualbox6.rb
Labels: bump-cask-pr

#17217 vscodium-insiders 1.81.0.23203-insider
  Casks/vscodium-insiders.rb
Labels: bump-cask-pr
