Repository Homebrew/homebrew-cask-versions, pull requests merged in 2023-08, with the labels that each got.

#17271 Add Threema Multi Device Beta
  Casks/threema-beta.rb
Labels: awaiting user reply, automerge-skip, new cask

#17283 google-chrome-canary 117.0.5923.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17284 android-studio-preview-canary 2023.1.1.15
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#17285 brave-browser-beta 1.57.33.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#17286 brave-browser-dev 1.57.29.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#17287 brave-browser-nightly 1.58.63.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#17288 opera-developer 102.0.4879.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#17289 signal-beta 6.28.0-beta.2
  Casks/signal-beta.rb
Labels: bump-cask-pr

#17290 macloggerdx-beta 6.47b13
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#17291 github-beta 3.2.8-beta2-7ab03e74
  Casks/github-beta.rb
Labels: bump-cask-pr

#17292 google-chrome-canary 117.0.5925.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17293 slack-beta 4.34.92
  Casks/slack-beta.rb
Labels: bump-cask-pr

#17295 brave-browser-nightly 1.58.66.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#17294 tunnelblick-beta 4.0.0beta07
  Casks/tunnelblick-beta.rb
Labels: bump-cask-pr

#17296 google-chrome-canary 117.0.5926.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17297 1password-beta 8.10.12-2.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#17299 google-chrome-beta 116.0.5845.62
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#17298 dropbox-beta 180.3.4837
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#17301 google-chrome-canary 117.0.5929.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17300 adguard-vpn-nightly 2.1.1.440
  Casks/adguard-vpn-nightly.rb
Labels: bump-cask-pr

#17303 brave-browser-beta 1.57.35.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#17304 defold-alpha 1.5.0
  Casks/defold-alpha.rb
Labels: bump-cask-pr

#17305 defold-beta 1.5.0
  Casks/defold-beta.rb
Labels: bump-cask-pr

#17306 emacs-nightly 2023-08-04_00-10-09
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#17307 firefox-cn 116.0
  Casks/firefox-cn.rb
Labels: bump-cask-pr

#17308 geogebra5 5.0.793.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#17311 iterm2-nightly 3_5_20230729
  Casks/iterm2-nightly.rb
Labels: bump-cask-pr

#17313 local-beta 7.1.2
  Casks/local-beta.rb
Labels: bump-cask-pr

#17316 openra-playtest 20230801
  Casks/openra-playtest.rb
Labels: bump-cask-pr

#17317 openscad-snapshot 2023.08.04
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#17318 pdf-expert-beta 3.3
  Casks/pdf-expert-beta.rb
Labels: bump-cask-pr

#17319 postmancanary 10.16.4-canary230725-1322
  Casks/postmancanary.rb
Labels: bump-cask-pr

#17320 sketch-beta 98,176380
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#17322 threema-beta 2.0-beta19
  Casks/threema-beta.rb
Labels: bump-cask-pr

#17309 gpg-suite-nightly 3475n
  Casks/gpg-suite-nightly.rb
Labels: bump-cask-pr

#17312 java-beta 21,34
  Casks/java-beta.rb
Labels: bump-cask-pr

#17314 mixxx-snapshot 2.5-alpha-66-gbfd09b6ba3
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#17323 firefox-esr 102.14.0
  Casks/firefox-esr.rb
Labels: bump-cask-pr

#17324 google-chrome-canary 117.0.5930.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17325 macloggerdx-beta 6.47b14
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#17326 google-chrome-canary 117.0.5931.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17327 whatsapp-alpha 2.23.15.79
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#17328 Add Cask for RStudio daily build
  Casks/rstudio-daily.rb
Labels: new cask

#17329 brave-browser-nightly 1.58.72.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#17330 google-chrome-canary 117.0.5933.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17331 skype-preview 8.101.76.212
  Casks/skype-preview.rb
Labels: bump-cask-pr

#17332 inso-beta 3.19.0-beta.8
  Casks/inso-beta.rb
Labels: bump-cask-pr

#17333 zulu11 11.0.20,11.66.15_1-ca
  Casks/zulu11.rb
Labels: bump-cask-pr

#17334 zulu17 17.0.8,17.44.15_1-ca
  Casks/zulu17.rb
Labels: bump-cask-pr

#17335 vivaldi-snapshot 6.2.3096.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#17336 google-chrome-canary 117.0.5934.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17337 defold-alpha 1.5.0,e132b13d2ca6ea022b62804b2c0970e8ae9c617d
  Casks/defold-alpha.rb
Labels: bump-cask-pr

#17338 elephas-beta 8.23
  Casks/elephas-beta.rb
Labels: bump-cask-pr

#17339 emacs-nightly 2023-08-07_00-10-33
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#17340 figma-beta 116.12.1
  Casks/figma-beta.rb
Labels: bump-cask-pr

#17341 brave-browser-nightly 1.58.77.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#17342 defold-alpha 1.5.0,417ead7fe6ab6fe81b9d8d7c6f6ba23d17f052ca
  Casks/defold-alpha.rb
Labels: bump-cask-pr

#17343 google-chrome-dev 117.0.5927.0
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#17344 insomnia-alpha 2023.5.0-beta.9
  Casks/insomnia-alpha.rb
Labels: bump-cask-pr

#17345 iterm2-nightly 3_5_20230805
  Casks/iterm2-nightly.rb
Labels: bump-cask-pr

#17346 mixxx-snapshot 2.5-alpha-68-g4a51c393eb
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#17347 openscad-snapshot 2023.08.07
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#17349 dropbox-beta 180.3.4871
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#17351 brave-browser-dev 1.57.37.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#17353 opera-developer 103.0.4885.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#17352 discord-canary 0.0.308
  Casks/discord-canary.rb
Labels: bump-cask-pr

#17354 google-chrome-canary 117.0.5936.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17355 sublime-text-dev 4154
  Casks/sublime-text-dev.rb
Labels: bump-cask-pr

#17356 tunnelblick-beta 4.0.0beta08
  Casks/tunnelblick-beta.rb
Labels: bump-cask-pr

#17357 inso-beta 3.19.0-beta.9
  Casks/inso-beta.rb
Labels: bump-cask-pr

#17358 brave-browser-nightly 1.58.80.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#17359 figma-beta 116.13.0
  Casks/figma-beta.rb
Labels: bump-cask-pr

#17360 google-chrome-canary 117.0.5937.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17361 signal-beta 6.29.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#17365 1password-beta 8.10.12-10.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#17366 dropbox-beta 181.3.5515
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#17367 opera-beta 102.0.4880.6
  Casks/opera-beta.rb
Labels: bump-cask-pr

#17368 geogebra5 5.0.794.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#17369 google-chrome-canary 118.0.5939.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17370 brave-browser-nightly 1.59.2.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#17371 github-beta 3.2.8-beta3-01b95474
  Casks/github-beta.rb
Labels: bump-cask-pr

#17372 google-chrome-beta 116.0.5845.82
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#17373 iterm2-beta 3.5.0beta11
  Casks/iterm2-beta.rb
Labels: bump-cask-pr

#17375 inso-beta 3.19.0-beta.11
  Casks/inso-beta.rb
Labels: bump-cask-pr

#17376 whatsapp-alpha 2.23.16.75
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#17377 google-chrome-canary 118.0.5940.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17391 sketch-beta 98,176394
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#17389 royal-tsx-beta 6.0.0.1000
  Casks/royal-tsx-beta.rb
Labels: bump-cask-pr

#17388 postmancanary 10.16.5-canary230801-0730
  Casks/postmancanary.rb
Labels: bump-cask-pr

#17387 openra-playtest 20230808
  Casks/openra-playtest.rb
Labels: bump-cask-pr

#17386 mongodb-compass-beta 1.39.2-beta.0
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#17385 insomnia-alpha 2023.5.0-beta.12
  Casks/insomnia-alpha.rb
Labels: bump-cask-pr

#17384 emacs-nightly 2023-08-11_00-10-11
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#17383 discord-development 0.0.8780
  Casks/discord-development.rb
Labels: bump-cask-pr

#17382 defold-beta 1.5.0,2c1f56af82ac506fd5b80dc7385483ae7c0f8397
  Casks/defold-beta.rb
Labels: bump-cask-pr

#17381 defold-alpha 1.5.0,47cbe4d884cb1e055727e7ada418ec2badf7ef5b
  Casks/defold-alpha.rb
Labels: bump-cask-pr

#17380 buckets-beta 0.71.1
  Casks/buckets-beta.rb
Labels: bump-cask-pr

#17379 brave-browser-nightly 1.59.5.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#17378 brave-browser-beta 1.58.83.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#17390 safari-technology-preview 176
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#17392 sublime-merge-dev 2087
  Casks/sublime-merge-dev.rb
Labels: bump-cask-pr

#17393 github-beta 3.2.8-beta4-3398166f
  Casks/github-beta.rb
Labels: bump-cask-pr

#17394 telegram-desktop-beta 4.8.12
  Casks/telegram-desktop-beta.rb
Labels: bump-cask-pr

#17396 google-chrome-canary 118.0.5943.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17397 macloggerdx-beta 6.47b15
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#17398 vivaldi-snapshot 6.2.3102.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#17399 brave-browser-nightly 1.59.9.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#17400 brave-browser-dev 1.58.85.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#17402 emacs-nightly 2023-08-12_00-10-14
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#17401 whatsapp-beta 2.2334.10
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#17403 tor-browser-alpha 13.0a2
  Casks/tor-browser-alpha.rb
Labels: bump-cask-pr

#17404 macloggerdx-beta 6.47b16
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#17405 whatsapp-alpha 2.23.16.77
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#17406 google-chrome-canary 118.0.5945.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17407 semeru-jdk11-open 11.0.20+8
  Casks/semeru-jdk11-open.rb
Labels: bump-cask-pr

#17408 semeru-jdk17-open 17.0.8+7
  Casks/semeru-jdk17-open.rb
Labels: bump-cask-pr

#17409 semeru-jdk8-open 8u382-b05
  Casks/semeru-jdk8-open.rb
Labels: bump-cask-pr

#17410 google-chrome-canary 118.0.5947.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17411 dropbox-beta 181.3.5576
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#17412 google-chrome-beta 116.0.5845.96
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#17413 inso-beta 3.19.0-beta.12
  Casks/inso-beta.rb
Labels: bump-cask-pr

#17414 google-chrome-canary 118.0.5949.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17416 discord-canary 0.0.310
  Casks/discord-canary.rb
Labels: bump-cask-pr

#17417 discord-development 0.0.8783
  Casks/discord-development.rb
Labels: bump-cask-pr

#17418 opera-developer 103.0.4892.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#17415 google-chrome-canary 116.0.5845.96
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17419 macloggerdx-beta 6.47b17
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#17420 insomnia-alpha 2023.5.0-beta.13
  Casks/insomnia-alpha.rb
Labels: bump-cask-pr

#17422 github-beta 3.2.9-beta1-7423d9ab
  Casks/github-beta.rb
Labels: bump-cask-pr

#17423 google-chrome-beta 117.0.5938.11
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#17424 slack-beta 4.34.104
  Casks/slack-beta.rb
Labels: bump-cask-pr

#17427 dash v6: add cask
  Casks/dash6.rb
Labels: new cask

#17426 propresenter-beta 7.14
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#17425 obs-beta 30.0.0-beta1
  Casks/obs-beta.rb
Labels: bump-cask-pr

#17428 figma-beta 116.13.2
  Casks/figma-beta.rb
Labels: bump-cask-pr

#17429 google-chrome-canary 118.0.5953.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17431 aerial-beta 3.2.7beta5
  Casks/aerial-beta.rb
Labels: bump-cask-pr

#17432 android-studio-preview-canary 2023.1.1.16
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#17433 blender-lts 3.6.2
  Casks/blender-lts.rb
Labels: bump-cask-pr

#17434 defold-alpha 1.5.0,228a2c1cdf2af38c4821d09ff74878722b3e4f97
  Casks/defold-alpha.rb
Labels: bump-cask-pr

#17435 defold-beta 1.5.0,4d144876995a296ee12362dfa80f4a4b5f791084
  Casks/defold-beta.rb
Labels: bump-cask-pr

#17436 discord-development 0.0.8784
  Casks/discord-development.rb
Labels: bump-cask-pr

#17437 dotnet-preview 8.0.0-preview.7.23375.6
  Casks/dotnet-preview.rb
Labels: bump-cask-pr

#17438 dotnet-sdk-preview 8.0.100-preview.7.23376.3
  Casks/dotnet-sdk-preview.rb
Labels: bump-cask-pr

#17439 elephas-beta 8.25
  Casks/elephas-beta.rb
Labels: bump-cask-pr

#17440 emacs-nightly 2023-08-17_00-10-12
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#17443 iterm2-nightly 3_5_20230814
  Casks/iterm2-nightly.rb
Labels: bump-cask-pr

#17444 keepassxc-beta 2.7.6
  Casks/keepassxc-beta.rb
Labels: bump-cask-pr

#17445 mixxx-snapshot 2.5-alpha-69-ga547664420
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#17446 mongodb-compass-beta 1.39.2-beta.2
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr
