Repository Homebrew/homebrew-cask-versions, pull requests merged in 2023-12, with the labels that each got.

#18557 slack-beta 4.35.131
  Casks/slack-beta.rb
Labels: bump-cask-pr

#18558 android-studio-preview-canary 2023.2.1.16
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#18564 termius-beta 8.8.1
  Casks/termius-beta.rb
Labels: bump-cask-pr

#18563 mixxx-snapshot 2.5-alpha-163-g0f0deb1816
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#18562 java-beta 22,26
  Casks/java-beta.rb
Labels: bump-cask-pr

#18560 discord-canary 0.0.357
  Casks/discord-canary.rb
Labels: bump-cask-pr

#18559 dropbox-beta 188.3.6262
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#18571 skype-preview 8.110.76.210
  Casks/skype-preview.rb
Labels: bump-cask-pr

#18570 sketch-beta 99.5,178753
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#18569 google-chrome-dev 121.0.6156.3
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#18568 discord-ptb 0.0.89
  Casks/discord-ptb.rb
Labels: bump-cask-pr

#18567 brave-browser-nightly 1.63.5.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#18566 slack-beta 4.36.122
  Casks/slack-beta.rb
Labels: bump-cask-pr

#18572 discord-canary 0.0.358
  Casks/discord-canary.rb
Labels: bump-cask-pr

#18574 threema-beta 2.0-beta24
  Casks/threema-beta.rb
Labels: bump-cask-pr

#18577 adguard-vpn-nightly 2.2.0.530
  Casks/adguard-vpn-nightly.rb
Labels: bump-cask-pr

#18578 brave-browser-nightly 1.63.12.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#18579 chromedriver-beta 120.0.6099.62
  Casks/chromedriver-beta.rb
Labels: bump-cask-pr

#18580 discord-canary 0.0.360
  Casks/discord-canary.rb
Labels: bump-cask-pr

#18581 elephas-beta 8.67
  Casks/elephas-beta.rb
Labels: bump-cask-pr

#18582 emacs-nightly 2023-12-03_00-09-33
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#18583 google-chrome-beta 120.0.6099.62
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#18584 macloggerdx-beta 6.49b34
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#18585 microsoft-edge-beta 120.0.2210.49
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#18586 mixxx-snapshot 2.5-alpha-164-g6acfe63a39
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#18587 openscad-snapshot 2023.12.03
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#18589 whatsapp-beta 2.23.24.80
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#18588 opera-developer 107.0.5004.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#18590 discord-canary 0.0.361
  Casks/discord-canary.rb
Labels: bump-cask-pr

#18591 brave-browser-beta 1.62.97.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#18592 emacs-nightly 2023-12-05_00-09-11
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#18593 macloggerdx-beta 6.49b35
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#18594 mixxx-snapshot 2.5-alpha-165-gdabca58d22
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#18595 openscad-snapshot 2023.12.04
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#18596 shadow-beta 8.0.10189
  Casks/shadow-beta.rb
Labels: bump-cask-pr

#18597 sketch-beta 99.5,178769
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#18598 termius-beta 8.8.2
  Casks/termius-beta.rb
Labels: bump-cask-pr

#18599 xmind-beta 24.01.08392
  Casks/xmind-beta.rb
Labels: bump-cask-pr

#18600 zulu*: update version format, livecheck
  Casks/zulu11.rb
  Casks/zulu17.rb
  Casks/zulu21.rb
  Casks/zulu8.rb
Labels: automerge-skip, livecheck

#18601 zulu13, zulu15: discontinued
  Casks/zulu13.rb
  Casks/zulu15.rb
Labels: automerge-skip, livecheck

#18604 discord-canary 0.0.362
  Casks/discord-canary.rb
Labels: bump-cask-pr

#18605 macloggerdx-beta 6.49b36
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#18606 elephas-beta 8.68
  Casks/elephas-beta.rb
Labels: bump-cask-pr

#18607 virtualbox-beta 7.0.13_BETA4-160546
  Casks/virtualbox-beta.rb
Labels: bump-cask-pr

#18609 github-beta 3.3.7-beta1-3426489f
  Casks/github-beta.rb
Labels: bump-cask-pr

#18612 lando-edge 3.20.6
  Casks/lando-edge.rb
Labels: bump-cask-pr

#18613 signal-beta 6.42.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#18611 microsoft-edge-beta 120.0.2210.57
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#18617 whatsapp-beta 2.23.25.73
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#18618 libreoffice-still-language-pack 7.5.9
  Casks/libreoffice-still-language-pack.rb
Labels: bump-cask-pr

#18620 whatsapp-beta 2.23.25.74
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#18621 google-chrome-beta 121.0.6167.8
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#18622 discord-canary 0.0.364
  Casks/discord-canary.rb
Labels: bump-cask-pr

#18623 chromedriver-beta 121.0.6167.8
  Casks/chromedriver-beta.rb
Labels: bump-cask-pr

#18626 microsoft-edge-beta 120.0.2210.61
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#18628 safari-technology-preview 184
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#18629 vivaldi-snapshot 6.5.3206.29
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#18630 virtualbox-beta 7.0.13_BETA4-160643
  Casks/virtualbox-beta.rb
Labels: bump-cask-pr

#18631 whatsapp-beta 2.23.25.78
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#18632 discord-canary 0.0.365
  Casks/discord-canary.rb
Labels: bump-cask-pr

#18633 google-chrome-dev 122.0.6170.3
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#18634 dropbox-beta 189.3.8308
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#18635 discord-ptb 0.0.90
  Casks/discord-ptb.rb
Labels: bump-cask-pr

#18636 java-beta 22,27
  Casks/java-beta.rb
Labels: bump-cask-pr

#18637 macloggerdx-beta 6.49b37
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#18638 safari-technology-preview 184
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#18639 whatsapp-beta 2.23.25.79
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#18640 openscad-snapshot 2023.12.08
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#18642 whatsapp-beta 2.23.25.80
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#18641 mixxx-snapshot 2.5-alpha-169-g865c206eb4
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#18645 microsoft-teams-classic 1.6.00.33757
  Casks/microsoft-teams-classic.rb
  audit_exceptions/secure_connection_audit_skiplist.json
Labels: automerge-skip

#18647 defold-beta 1.6.3
  Casks/defold-beta.rb
Labels: bump-cask-pr

#18648 opera-developer 107.0.5012.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#18649 sketch-beta 99.5,178787
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#18650 termius-beta 8.8.3
  Casks/termius-beta.rb
Labels: bump-cask-pr

#18651 shadow-beta 8.0.10192
  Casks/shadow-beta.rb
Labels: bump-cask-pr

#18664 google-chrome-dev 122.0.6170.5
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#18663 geogebra5 5.2.817.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#18658 brave-browser-nightly 1.63.32.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#18666 brave-browser-beta 1.62.105.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#18667 discord-canary 0.0.369
  Casks/discord-canary.rb
Labels: bump-cask-pr

#18668 github-beta 3.3.7-beta2-c74d3336
  Casks/github-beta.rb
Labels: bump-cask-pr

#18670 openscad-snapshot 2023.12.11
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#18673 vivaldi-snapshot 6.5.3206.33
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#18669 mixxx-snapshot 2.5-alpha-170-g9345c19446
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#18671 sketch-beta 99.5,178794
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#18675 blender-lts 3.6.7
  Casks/blender-lts.rb
Labels: bump-cask-pr

#18676 macloggerdx-beta 6.49b38
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#18677 sketch-beta 99.5,178809
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#18681 vivaldi-snapshot 6.5.3206.38
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#18678 termius-beta 8.9.0
  Casks/termius-beta.rb
Labels: bump-cask-pr

#18683 android-studio-preview-canary 2023.2.1.18
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#18685 whatsapp-beta 2.23.25.82
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#18686 1password-beta 8.10.24-1.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#18687 iterm2-beta 3.5.0beta18
  Casks/iterm2-beta.rb
Labels: bump-cask-pr

#18688 discord-canary 0.0.371
  Casks/discord-canary.rb
Labels: bump-cask-pr

#18689 adguard-vpn-nightly 2.2.1.539
  Casks/adguard-vpn-nightly.rb
Labels: bump-cask-pr

#18690 brave-browser-beta 1.62.107.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#18691 brave-browser-nightly 1.63.38.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#18692 chromedriver-beta 121.0.6167.16
  Casks/chromedriver-beta.rb
Labels: bump-cask-pr

#18693 iterm2-nightly 3_5_20231214
  Casks/iterm2-nightly.rb
Labels: bump-cask-pr

#18694 mullvadvpn-beta 2024.1-beta1
  Casks/mullvadvpn-beta.rb
Labels: bump-cask-pr

#18696 skype-preview 8.111.76.106
  Casks/skype-preview.rb
Labels: bump-cask-pr

#18697 whatsapp-beta 2.23.25.83
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#18698 brave-browser-nightly 1.63.41.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#18699 microsoft-teams-classic 1.6.00.34263
  Casks/microsoft-teams-classic.rb
Labels: bump-cask-pr

#18700 signal-beta 6.43.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#18702 discord-canary 0.0.374
  Casks/discord-canary.rb
Labels: bump-cask-pr

#18701 microsoft-edge-dev 121.0.2274.0
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#18703 google-chrome-dev 122.0.6182.0
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#18705 discord-ptb 0.0.91
  Casks/discord-ptb.rb
Labels: bump-cask-pr

#18707 tsh13 13.4.11
  Casks/tsh13.rb
Labels: bump-cask-pr

#18709 local-beta 8.2.0
  Casks/local-beta.rb
Labels: bump-cask-pr

#18704 monal-beta 874
  Casks/monal-beta.rb
Labels: bump-cask-pr

#18706 sketch-beta 99.5,178812
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#18708 whatsapp-beta 2.23.25.84
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#18710 figma-beta 116.16.1
  Casks/figma-beta.rb
Labels: bump-cask-pr

#18711 dropbox-beta 189.3.8368
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#18712 discord-canary 0.0.375
  Casks/discord-canary.rb
Labels: bump-cask-pr

#18713 discord-ptb 0.0.92
  Casks/discord-ptb.rb
Labels: bump-cask-pr

#18715 virtualbox-beta 7.0.13_BETA4-160767
  Casks/virtualbox-beta.rb
Labels: bump-cask-pr

#18716 java-beta 22,28
  Casks/java-beta.rb
Labels: bump-cask-pr

#18717 brave-browser-nightly 1.63.45.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#18719 whatsapp-legacy 2.2353.59
  Casks/whatsapp-legacy.rb
Labels: bump-cask-pr

#18720 microsoft-edge-dev 121.0.2277.4
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#18721 microsoft-edge-beta 121.0.2277.4
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#18718 openscad-snapshot 2023.12.15
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#18722 emacs-nightly 2023-12-07_00-09-06
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#18723 mixxx-snapshot 2.5-alpha-171-ga6fc865ec9
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#18728 typora-dev 1.8.2
  Casks/typora-dev.rb
Labels: bump-cask-pr

#18727 dotnet-sdk-preview 8.0.100
  Casks/dotnet-sdk-preview.rb
Labels: bump-cask-pr

#18726 dotnet-preview 8.0.0
  Casks/dotnet-preview.rb
Labels: bump-cask-pr

#18729 opera-developer 107.0.5019.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#18730 emacs-nightly 2023-12-18_00-09-10
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#18731 openscad-snapshot 2023.12.17
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#18733 pdf-expert-beta 3.8
  Casks/pdf-expert-beta.rb
Labels: bump-cask-pr

#18734 sketch-beta 99.5,178824
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#18724 Use `deprecate!` instead of `discontinued`
  Casks/1password6.rb
  Casks/ableton-live-intro10.rb
  Casks/ableton-live-lite10.rb
  Casks/ableton-live-standard10.rb
  Casks/ableton-live-suite10.rb
  Casks/ableton-live-suite9.rb
  Casks/adoptopenjdk8.rb
  Casks/alfred2.rb
  Casks/alfred3.rb
  Casks/anaconda2.rb
  Casks/arduino-nightly.rb
  Casks/arq5.rb
  Casks/atom-beta.rb
  Casks/atom-nightly.rb
  Casks/calibre4.rb
  Casks/charles-applejava.rb
  Casks/cleanmymac3.rb
  Casks/dash2.rb
  Casks/dash3.rb
  Casks/dash4.rb
  Casks/dash5.rb
  Casks/docker-edge.rb
  Casks/forklift2.rb
  Casks/forklift3.rb
  Casks/hancom-word-2014.rb
  Casks/intellij-idea-ce19.rb
  Casks/intellij-idea19.rb
  Casks/iterm2-legacy.rb
  Casks/java6.rb
  Casks/keyboard-maestro8.rb
  Casks/ksdiff2.rb
  Casks/microsoft-office-2016.rb
  Casks/microsoft-office-2019.rb
  Casks/miniconda2.rb
  Casks/omnifocus2.rb
  Casks/omnigraffle6.rb
  Casks/omniplan3.rb
  Casks/papers3.rb
  Casks/powershell6.rb
  Casks/processing2.rb
  Casks/propresenter6.rb
  Casks/quicktime-player7.rb
  Casks/rambox-ce.rb
  Casks/skype7.rb
  Casks/soulver2.rb
  Casks/sublime-text2.rb
  Casks/sublime-text3.rb
  Casks/temurin18.rb
  Casks/tower2.rb
  Casks/transmit4.rb
  Casks/vmware-fusion10.rb
  Casks/vmware-fusion11.rb
  Casks/vmware-fusion12.rb
  Casks/vmware-fusion7.rb
  Casks/vmware-fusion8.rb
  Casks/vox2.rb
  Casks/xmind8.rb
  Casks/zulu13.rb
  Casks/zulu15.rb
  Casks/zulu7.rb
Labels: ci-syntax-only, automerge-skip

#18735 whatsapp-beta 2.23.25.85
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#18737 signal-beta 6.43.0-beta.2
  Casks/signal-beta.rb
Labels: bump-cask-pr

#18738 inso-beta 8.5.0-beta.0
  Casks/inso-beta.rb
Labels: bump-cask-pr

#18725 wine-devel 9.0-rc2
  Casks/wine-devel.rb
Labels: bump-cask-pr

#18736 wine-staging 9.0-rc2
  Casks/wine-staging.rb
Labels: livecheck

#18740 discord-canary 0.0.377
  Casks/discord-canary.rb
Labels: bump-cask-pr

#18741 openscad-snapshot 2023.12.18
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#18742 insomnia-alpha 8.5.0-beta.0
  Casks/insomnia-alpha.rb
Labels: bump-cask-pr

#18743 mixxx-snapshot 2.5-alpha-172-g9770b5976d
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#18747 firefox-esr 115.6.0
  Casks/firefox-esr.rb
Labels: bump-cask-pr

#18744 brave-browser-nightly 1.63.50.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#18745 sketch-beta 99.5,178831
  Casks/sketch-beta.rb
Labels: bump-cask-pr
