Repository Homebrew/homebrew-cask-versions, pull requests merged in 2023-03, with the labels that each got.

#16082 Update brave-browser-nightly from 1.50.67.0 to 1.50.71.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#16083 Update macloggerdx-beta from 6.45b10 to 6.45b11
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#16084 Update gpg-suite-nightly from 3321n to 3323n
  Casks/gpg-suite-nightly.rb
Labels: bump-cask-pr

#16086 Update discord-development from 0.0.8773 to 0.0.8775
  Casks/discord-development.rb
Labels: bump-cask-pr

#16087 Update whatsapp-alpha from 2.23.3.78 to 2.23.4.76
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#16089 Update brave-browser-nightly from 1.50.71.0 to 1.50.74.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#16091 Update whatsapp-beta from 2.2310.1 to 2.2311.3
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#16092 Update macloggerdx-beta from 6.45b11 to 6.45b12
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#16093 Update opera-beta from 96.0.4693.16 to 97.0.4719.4
  Casks/opera-beta.rb
Labels: bump-cask-pr, missing zap

#16098 Update android-studio-preview-beta from 2022.2.1.14 to 2022.2.1.15
  Casks/android-studio-preview-beta.rb
Labels: bump-cask-pr

#16095 Update google-chrome-beta from 111.0.5563.41 to 111.0.5563.50
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#16094 Update qbittorrent-lt20 from 4.5.1 to 4.5.2
  Casks/qbittorrent-lt20.rb
Labels: bump-cask-pr

#16097 Update macloggerdx-beta from 6.45b12 to 6.45b13
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#16096 Update signal-beta from 6.8.0-beta.1 to 6.9.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#16099 Update brave-browser-nightly from 1.50.74.0 to 1.51.2.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#16101 Update dropbox-beta from 169.3.5661 to 169.3.5667
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#16102 Update whatsapp-beta from 2.2311.3 to 2.2311.4
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#16105 Update telegram-desktop-beta from 4.6.4 to 4.6.7
  Casks/telegram-desktop-beta.rb
Labels: bump-cask-pr

#16106 Update brave-browser-beta from 1.49.108.0 to 1.50.77.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#16107 Update folding-at-home-beta from 8.1.13 to 8.1.14
  Casks/folding-at-home-beta.rb
Labels: bump-cask-pr

#16103 Update royal-tsx-beta from 6.0.0.5 to 6.0.0.6
  Casks/royal-tsx-beta.rb
Labels: bump-cask-pr

#16104 Update vivaldi-snapshot from 5.8.2936.3 to 5.8.2950.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#16108 Update brave-browser-nightly from 1.51.2.0 to 1.51.5.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#16109 Update vmware-fusion12 from 12.2.4 to 12.2.5
  Casks/vmware-fusion12.rb
Labels: bump-cask-pr

#16110 Update macloggerdx-beta from 6.45b13 to 6.45b15
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#16111 Update propresenter-beta from 7.12,118226953 to 7.12,118226959
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#16112 vmware-fusion7: add `conflicts_with`
  Casks/vmware-fusion7.rb
Labels: ci-syntax-only

#16113 vmware-fusion8: add `conflicts_with`
  Casks/vmware-fusion8.rb
Labels: ci-syntax-only

#16115 vmware-fusion11: add `conflicts_with`
  Casks/vmware-fusion11.rb
Labels: ci-syntax-only

#16117 vmware-fusion-tech-preview: add `conflicts_with`
  Casks/vmware-fusion-tech-preview.rb
Labels: ci-syntax-only

#16116 vmware-fusion12: add `conflicts_with`
  Casks/vmware-fusion12.rb
Labels: ci-syntax-only

#16114 vmware-fusion10: add `conflicts_with`
  Casks/vmware-fusion10.rb
Labels: ci-syntax-only

#16135 Update vscodium-insiders from 1.75.0.23033-insider to 1.77.0.23062-insider
  Casks/vscodium-insiders.rb
Labels: bump-cask-pr

#16134 Update termius-beta from 7.56.3 to 7.56.4
  Casks/termius-beta.rb
Labels: bump-cask-pr

#16133 Update skype-preview from 8.94.76.421 to 8.95.76.207
  Casks/skype-preview.rb
Labels: bump-cask-pr, missing zap

#16132 Update qt-creator-dev from 10.0.0-beta1 to 10.0.0-beta2
  Casks/qt-creator-dev.rb
Labels: bump-cask-pr, missing zap

#16131 Update qgis-ltr from 3.22.16 to 3.28.4
  Casks/qgis-ltr.rb
Labels: bump-cask-pr

#16130 Update openscad-snapshot from 2023.02.26 to 2023.03.03
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#16129 Update mongodb-compass-beta from 1.35.1-beta.5 to 1.36.0-beta.0
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr, missing zap

#16128 Update microsoft-edge-dev from 111.0.1660.14 to 111.0.1661.27
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#16127 Update microsoft-edge-beta from 111.0.1661.24 to 111.0.1661.30
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#16126 Update lando-edge from 3.11.0 to 3.14.0
  Casks/lando-edge.rb
Labels: bump-cask-pr, missing zap

#16125 Update insomnia-alpha from 2023.1.0-beta.4 to 2023.1.0-beta.5
  Casks/insomnia-alpha.rb
Labels: bump-cask-pr

#16124 Update inso-beta from 3.13.0-beta.4 to 3.13.0-beta.5
  Casks/inso-beta.rb
Labels: bump-cask-pr, missing zap

#16123 Update figma-beta from 116.7.4 to 116.7.102
  Casks/figma-beta.rb
Labels: bump-cask-pr

#16122 Update defold-alpha from 1.4.3 to 1.4.4
  Casks/defold-alpha.rb
Labels: bump-cask-pr

#16121 Update chromedriver-beta from 111.0.5563.19 to 111.0.5563.41
  Casks/chromedriver-beta.rb
Labels: bump-cask-pr, missing zap

#16120 Update buckets-beta from 0.69.0 to 0.70.0
  Casks/buckets-beta.rb
Labels: bump-cask-pr

#16119 Update emacs-nightly from 2023-02-26_00-09-32 to 2023-03-05_00-09-55
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#16118 Update adguard-vpn-nightly from 2.0.2.318 to 2.1.0.328
  Casks/adguard-vpn-nightly.rb
Labels: bump-cask-pr

#16136 Update macloggerdx-beta from 6.45b15 to 6.45b16
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#16140 Update utm-beta from 4.1.4 to 4.2.0
  Casks/utm-beta.rb
Labels: bump-cask-pr

#16137 virtualbox-beta: update `on_#{arch}` block order
  Casks/virtualbox-beta.rb
Labels: ci-syntax-only

#16141 Update macloggerdx-beta from 6.45b16 to 6.45b17
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#16142 Update android-studio-preview-canary from 2022.3.1.7 to 2022.3.1.8
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#16143 Update slack-beta from 4.30.88 to 4.31.145
  Casks/slack-beta.rb
Labels: bump-cask-pr

#16145 Update folding-at-home-beta from 8.1.14 to 8.1.15
  Casks/folding-at-home-beta.rb
Labels: bump-cask-pr

#16146 Update sketch-beta from 95.2 to 96
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#16144 Update brave-browser-nightly from 1.51.5.0 to 1.51.10.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#16147 Update propresenter-beta from 7.12,118226959 to 7.12,118226960
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#16148 Update discord-canary from 0.0.293 to 0.0.294
  Casks/discord-canary.rb
Labels: bump-cask-pr

#16150 Update dropbox-beta from 169.3.5667 to 170.3.5822
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#16151 Update sketch-beta from 96,167051 to 96,167055
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#16152 Update whatsapp-beta from 2.2311.4 to 2.2312.1
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#16154 Update macloggerdx-beta from 6.45b17 to 6.45b18
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#16156 Update whatsapp-beta from 2.2312.1 to 2.2312.2
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#16159 Update opera-developer from 97.0.4718.0 to 98.0.4725.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#16158 Update discord-development from 0.0.8775 to 0.0.8776
  Casks/discord-development.rb
Labels: bump-cask-pr

#16160 Update microsoft-edge-beta from 111.0.1661.30 to 111.0.1661.37
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#16161 Update microsoft-edge-dev from 111.0.1661.27 to 111.0.1661.36
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#16162 Update safari-technology-preview from 164 to 165
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#16163 Update propresenter-beta from 7.12 to 7.13
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#16164 Update github-beta from 3.1.9-beta2-d036395b to 3.2.1-beta1-822a50a2
  Casks/github-beta.rb
Labels: bump-cask-pr

#16170 Update whatsapp-beta from 2.2312.2 to 2.2312.3
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#16165 Update libreoffice-still from 7.4.5 to 7.4.6
  Casks/libreoffice-still.rb
Labels: bump-cask-pr

#16167 Update google-chrome-beta from 111.0.5563.50 to 112.0.5615.20
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#16168 Update google-chrome-dev from 112.0.5615.20 to 113.0.5638.0
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#16169 Update google-chrome-canary from 113.0.5620.0 to 113.0.5640.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16171 Update sketch-beta from 96,167055 to 96,167069
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#16172 Update brave-browser-nightly from 1.51.10.0 to 1.51.24.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#16174 Update folding-at-home-beta from 8.1.15 to 8.1.16
  Casks/folding-at-home-beta.rb
Labels: bump-cask-pr

#16175 Update 1password-beta from 8.10.1-19.BETA to 8.10.3-1.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#16177 Update vivaldi-snapshot from 5.8.2950.3 to 5.8.2955.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#16178 Update telegram-desktop-beta from 4.6.7 to 4.6.9
  Casks/telegram-desktop-beta.rb
Labels: bump-cask-pr

#16179 Update microsoft-edge-beta from 111.0.1661.37 to 111.0.1661.39
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#16180 Update microsoft-edge-dev from 111.0.1661.36 to 111.0.1661.39
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#16176 Update opera-beta from 97.0.4719.4 to 97.0.4719.11
  Casks/opera-beta.rb
Labels: bump-cask-pr, missing zap

#16181 Update mongodb-compass-beta from 1.36.0-beta.0 to 1.36.0-beta.1
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr, missing zap

#16185 Update macloggerdx-beta from 6.45b18 to 6.45b19
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#16186 Update signal-beta from 6.9.0-beta.1 to 6.10.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#16187 Update telegram-desktop-beta from 4.6.9 to 4.6.10
  Casks/telegram-desktop-beta.rb
Labels: bump-cask-pr

#16188 Update macloggerdx-beta from 6.45b19 to 6.45b20
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#16190 Update geogebra5 from 5.0.760.0 to 5.0.764.0
  Casks/geogebra5.rb
Labels: bump-cask-pr, missing zap

#16189 Update anki-beta from 2.1.57+rc1_14189a91 to 2.1.61+beta1_5ad29c37
  Casks/anki-beta.rb
Labels: bump-cask-pr

#16193 Update sketch-beta from 96,167069 to 96,167073
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#16195 Update sublime-text-dev from 4147 to 4148
  Casks/sublime-text-dev.rb
Labels: bump-cask-pr

#16196 Update sketch-beta from 96,167073 to 96,167076
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#16197 Update brave-browser-beta from 1.50.77.0 to 1.50.91.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#16199 Update android-studio-preview-canary from 2022.3.1.8 to 2022.3.1.9
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#16200 Update android-studio-preview-beta from 2022.2.1.15 to 2022.2.1.16
  Casks/android-studio-preview-beta.rb
Labels: bump-cask-pr

#16201 Update whatsapp-beta from 2.2312.3 to 2.2313.1
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#16202 Update local-beta from 6.6.1 to 6.7.0
  Casks/local-beta.rb
Labels: bump-cask-pr

#16203 Update whatsapp-alpha from 2.23.4.76 to 2.23.5.77
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#16204 Update inso-beta from 3.13.0-beta.5 to 3.14.0-beta.0
  Casks/inso-beta.rb
Labels: bump-cask-pr

#16206 Update utm-beta from 4.2.0 to 4.2.1
  Casks/utm-beta.rb
Labels: bump-cask-pr

#16207 Update brave-browser-nightly from 1.51.29.0 to 1.51.32.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#16208 Update dotnet-preview from 8.0.0-preview.1.23110.8 to 8.0.0-preview.2.23128.3
  Casks/dotnet-preview.rb
Labels: bump-cask-pr

#16209 Update dotnet-sdk-preview from 8.0.100-preview.1.23115.2 to 8.0.100-preview.2.23157.25
  Casks/dotnet-sdk-preview.rb
Labels: bump-cask-pr

#16211 Update telegram-desktop-beta from 4.6.10 to 4.6.11
  Casks/telegram-desktop-beta.rb
Labels: bump-cask-pr

#16212 Update brave-browser-dev from 1.49.111.0 to 1.50.87.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#16213 Update sketch-beta from 96,167076 to 96,167093
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#16214 Update whatsapp-beta from 2.2313.1 to 2.2313.2
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#16220 Update dropbox-beta from 170.3.5822 to 170.3.5866
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#16218 Update macloggerdx-beta from 6.45b20 to 6.45b21
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#16217 Update signal-beta from 6.10.0-beta.1 to 6.11.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#16216 Update google-chrome-beta from 112.0.5615.20 to 112.0.5615.28
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#16215 Update whatsapp-alpha from 2.23.5.77 to 2.23.5.78
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#16219 Update whatsapp-beta from 2.2313.2 to 2.2313.3
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#16221 Update propresenter-beta from 7.13,118292490 to 7.13,118292493
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#16222 Update discord-canary from 0.0.294 to 0.0.295
  Casks/discord-canary.rb
Labels: bump-cask-pr

#16223 Update brave-browser-nightly from 1.51.32.0 to 1.51.38.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#16224 Update sketch-beta from 96,167093 to 96,167098
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#16225 Update macloggerdx-beta from 6.45b21 to 6.45b23
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#16226 Update whatsapp-alpha from 2.23.5.78 to 2.23.5.79
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#16228 Update insomnia-alpha from 2023.1.0-beta.5 to 2023.2.0-beta.0
  Casks/insomnia-alpha.rb
Labels: bump-cask-pr

#16227 Update brave-browser-nightly from 1.51.38.0 to 1.51.42.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#16229 Update telegram-desktop-beta from 4.6.11 to 4.6.12
  Casks/telegram-desktop-beta.rb
Labels: bump-cask-pr

#16237 Update wine-staging from 8.2 to 8.3
  Casks/wine-staging.rb
Labels: bump-cask-pr, missing zap

#16236 Update wine-devel from 8.2 to 8.3
  Casks/wine-devel.rb
Labels: bump-cask-pr, missing zap

#16235 Update opera-developer from 98.0.4725.0 to 98.0.4732.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#16234 Update opera-beta from 97.0.4719.11 to 97.0.4719.17
  Casks/opera-beta.rb
Labels: bump-cask-pr, missing zap

#16233 Update microsoft-edge-dev from 111.0.1661.39 to 112.0.1722.11
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#16232 Update microsoft-edge-beta from 111.0.1661.39 to 112.0.1722.11
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#16231 Update 1password-beta from 8.10.3-1.BETA to 8.10.3-16.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#16230 Update discord-ptb from 0.0.70 to 0.0.72
  Casks/discord-ptb.rb
Labels: bump-cask-pr

#16239 Update brave-browser-dev from 1.50.87.0 to 1.50.95.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#16240 Update olympus from 3077 to 3124
  Casks/olympus.rb
Labels: bump-cask-pr

#16241 Update slack-beta from 4.31.145 to 4.31.152
  Casks/slack-beta.rb
Labels: bump-cask-pr

#16243 Update android-studio-preview-canary from 2022.3.1.9 to 2022.3.1.10
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#16244 Update whatsapp-beta from 2.2313.3 to 2.2314.1
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#16247 Update dropbox-beta from 170.3.5866 to 171.3.6071
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#16245 Update utm-beta from 4.2.1 to 4.2.2
  Casks/utm-beta.rb
Labels: bump-cask-pr

#16255 Update whatsapp-beta from 2.2314.1 to 2.2314.2
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#16254 Update opera-developer from 98.0.4732.0 to 98.0.4739.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#16253 Update microsoft-edge-dev from 112.0.1722.11 to 112.0.1722.15
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#16252 Update microsoft-edge-beta from 112.0.1722.11 to 112.0.1722.15
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#16251 Update brave-browser-nightly from 1.51.42.0 to 1.51.54.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#16249 Update blender-lts from 3.3.4 to 3.3.5
  Casks/blender-lts.rb
Labels: bump-cask-pr

#16248 Update 1password-beta from 8.10.3-16.BETA to 8.10.4-4.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#16250 Update brave-browser-beta from 1.50.91.0 to 1.50.99.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr
