Repository Homebrew/homebrew-cask-versions, pull requests merged in 2023-04, with the labels that each got.

#16308 Add firefox-cn
  Casks/firefox-cn.rb
Labels: new cask

#16307 Add typora-dev
  Casks/typora-dev.rb
Labels: new cask

#16329 brave-browser-dev 1.51.73.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#16330 inso-beta 3.14.0-beta.1
  Casks/inso-beta.rb
Labels: bump-cask-pr

#16331 insomnia-alpha 2023.2.0-beta.1
  Casks/insomnia-alpha.rb
Labels: bump-cask-pr

#16332 pdf-expert-beta 3.0.37
  Casks/pdf-expert-beta.rb
Labels: bump-cask-pr

#16333 termius-beta 7.58.3
  Casks/termius-beta.rb
Labels: bump-cask-pr

#16334 vscodium-insiders 1.78.0.23090-insider
  Casks/vscodium-insiders.rb
Labels: bump-cask-pr

#16335 brave-browser-nightly 1.52.8.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#16336 qgis-ltr 3.28.5
  Casks/qgis-ltr.rb
Labels: bump-cask-pr

#16338 android-studio-preview-canary 2022.3.1.11
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#16337 android-studio-preview-beta 2022.2.1.17
  Casks/android-studio-preview-beta.rb
Labels: bump-cask-pr

#16342 sketch-beta 96,167164
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#16343 microsoft-edge-beta 112.0.1722.23
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#16345 skype-preview 8.96.76.300
  Casks/skype-preview.rb
Labels: bump-cask-pr, missing zap

#16344 microsoft-edge-dev 112.0.1722.23
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#16346 mongodb-compass-beta 1.36.2-beta.2
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr, missing zap

#16341 libreoffice-still-language-pack: remove `conflicts_with`
  Casks/libreoffice-still-language-pack.rb
Labels: ci-syntax-only

#16339 Add Godot LTS version
  Casks/godot3.rb
Labels: new cask

#16347 opera-developer 98.0.4756.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#16349 dropbox-beta 171.3.6157
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#16350 vivaldi-snapshot 5.8.2978.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#16351 microsoft-edge-beta 112.0.1722.31
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#16353 google-chrome-canary 114.0.5694.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16354 whatsapp-alpha 2.23.6.74
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#16355 slack-beta 4.31.156
  Casks/slack-beta.rb
Labels: bump-cask-pr

#16356 whatsapp-alpha 2.23.6.77
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#16357 dropbox-beta 172.3.7425
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#16359 whatsapp-beta 2.2316.1
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#16360 brave-browser-beta 1.51.77.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#16361 adguard-nightly 2.10.0.1272
  Casks/adguard-nightly.rb
Labels: bump-cask-pr

#16362 aerial-beta 3.2.4beta1
  Casks/aerial-beta.rb
Labels: bump-cask-pr

#16363 brave-browser-nightly 1.52.20.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#16358 obs-beta 29.1.0-beta2
  Casks/obs-beta.rb
Labels: bump-cask-pr

#16364 safari-technology-preview 167
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#16365 obs-beta 29.1.0-beta3
  Casks/obs-beta.rb
Labels: bump-cask-pr

#16367 google-chrome-canary 114.0.5700.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16373 microsoft-edge-beta 112.0.1722.33
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#16370 google-chrome-dev 114.0.5696.0
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#16368 1password-beta 8.10.4-33.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#16369 brave-browser-beta 1.51.79.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#16372 opera-beta 98.0.4759.1
  Casks/opera-beta.rb
Labels: bump-cask-pr, missing zap

#16371 microsoft-edge-dev 113.0.1774.3
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#16374 dropbox-beta 172.3.7467
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#16376 defold-alpha 1.4.5
  Casks/defold-alpha.rb
Labels: bump-cask-pr

#16377 defold-beta 1.4.4
  Casks/defold-beta.rb
Labels: bump-cask-pr

#16378 emacs-nightly 2023-04-08_00-09-13
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#16379 figma-beta 116.8.4
  Casks/figma-beta.rb
Labels: bump-cask-pr

#16380 google-chrome-beta 113.0.5672.24
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#16382 macloggerdx-beta 6.45b50
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#16383 termius-beta 7.58.4
  Casks/termius-beta.rb
Labels: bump-cask-pr

#16384 openshot-video-editor-daily 3.1.0
  Casks/openshot-video-editor-daily.rb
Labels: bump-cask-pr

#16385 openscad-snapshot 2023.04.07
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#16386 sketch-beta 96,167209
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#16387 signal-beta 6.14.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#16388 mi-beta 3.7.5
  Casks/mi-beta.rb
Labels: bump-cask-pr

#16390 vscodium-insiders 1.78.0.23095-insider
  Casks/vscodium-insiders.rb
Labels: bump-cask-pr

#16381 lando-edge 3.15.0
  Casks/lando-edge.rb
Labels: bump-cask-pr, missing zap

#16389 mongodb-compass-beta 1.36.3-beta.0
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr, missing zap

#16391 Add Temurin JDK 19
  Casks/temurin19.rb
Labels: ci-skip-repository, new cask

#16395 emacs-pretest 29.0.90
  Casks/emacs-pretest.rb
Labels: bump-cask-pr

#16396 wine-devel 8.5
  Casks/wine-devel.rb
Labels: bump-cask-pr, missing zap

#16394 whatsapp-alpha 2.23.7.78
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#16402 dotnet-sdk-preview 8.0.100-preview.3.23178.7
  Casks/dotnet-sdk-preview.rb
Labels: bump-cask-pr

#16404 postico1 1.5.22 (new cask)
  Casks/postico1.rb
Labels: new cask

#16407 1password-beta 8.10.5-10.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#16408 firefox-cn 112.0
  Casks/firefox-cn.rb
Labels: bump-cask-pr

#16409 whatsapp-alpha 2.23.7.79
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#16410 1password-cli-beta 2.17.0-beta.01
  Casks/1password-cli-beta.rb
Labels: bump-cask-pr

#16411 obs-beta 29.1.0-beta4
  Casks/obs-beta.rb
Labels: bump-cask-pr

#16412 whatsapp-alpha 2.23.7.81
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#16415 vivaldi-snapshot 6.0.2979.2
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#16416 discord-development 0.0.8777
  Casks/discord-development.rb
Labels: bump-cask-pr

#16418 microsoft-edge-dev 114.0.1788.0
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#16420 opera-developer 99.0.4765.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#16417 microsoft-edge-beta 113.0.1774.9
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#16419 opera-beta 98.0.4759.3
  Casks/opera-beta.rb
Labels: bump-cask-pr

#16421 whatsapp-alpha 2.23.7.82
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#16422 dropbox-beta 172.3.7538
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#16423 google-chrome-beta 113.0.5672.35
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#16425 signal-beta 6.15.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#16426 folding-at-home-beta 8.1.17
  Casks/folding-at-home-beta.rb
Labels: bump-cask-pr

#16428 vivaldi-snapshot 6.0.2979.9
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#16427 brave-browser-beta 1.51.89.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#16448 termius-beta 7.58.5
  Casks/termius-beta.rb
Labels: bump-cask-pr

#16447 skype-preview 8.96.76.407
  Casks/skype-preview.rb
Labels: bump-cask-pr

#16446 sketch-beta 96,167243
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#16445 royal-tsx-beta 6.0.0.7
  Casks/royal-tsx-beta.rb
Labels: bump-cask-pr

#16443 openscad-snapshot 2023.04.16
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#16442 macloggerdx-beta 6.46b2
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#16441 macfuse-dev 4.4.3
  Casks/macfuse-dev.rb
Labels: bump-cask-pr

#16440 google-chrome-canary 114.0.5715.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16439 geogebra5 5.0.772.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#16438 firefox-esr 102.10.0
  Casks/firefox-esr.rb
Labels: bump-cask-pr

#16437 figma-beta 116.9.1
  Casks/figma-beta.rb
Labels: bump-cask-pr

#16436 emacs-nightly 2023-04-17_00-09-32
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#16435 elephas-beta 7.16
  Casks/elephas-beta.rb
Labels: bump-cask-pr

#16434 defold-beta 1.4.5
  Casks/defold-beta.rb
Labels: bump-cask-pr

#16433 chromedriver-beta 113.0.5672.24
  Casks/chromedriver-beta.rb
Labels: bump-cask-pr

#16432 buckets-beta 0.70.4
  Casks/buckets-beta.rb
Labels: bump-cask-pr

#16430 anki-beta 2.1.62+beta1_bf05fae9
  Casks/anki-beta.rb
Labels: bump-cask-pr

#16451 slack-beta 4.32.119
  Casks/slack-beta.rb
Labels: bump-cask-pr

#16453 corretto (no zap)
  Casks/corretto11.rb
  Casks/corretto17.rb
  Casks/corretto8.rb
Labels: automerge-skip

#16454 zulu (add zaps)
  Casks/zulu11.rb
  Casks/zulu13.rb
  Casks/zulu15.rb
  Casks/zulu17.rb
  Casks/zulu7.rb
  Casks/zulu8.rb
Labels: automerge-skip

#16460 corretto17 17.0.7.7.1
  Casks/corretto17.rb
Labels: bump-cask-pr

#16459 corretto11 11.0.19.7.1
  Casks/corretto11.rb
Labels: bump-cask-pr

#16458 corretto8 8.372.07.1
  Casks/corretto8.rb
Labels: bump-cask-pr

#16455 blender-lts 3.3.6
  Casks/blender-lts.rb
Labels: bump-cask-pr, ci-skip-livecheck

#16461 google-chrome-canary 114.0.5720.2
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16462 microsoft-edge-dev 114.0.1793.0
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#16466 1password7 7.9.10
  Casks/1password7.rb
Labels: bump-cask-pr

#16467 brave-browser-beta 1.51.95.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#16468 defold-beta 1.4.5,3dbbf1dbebd3a8146f6a917d101882a61f56afdc
  Casks/defold-beta.rb
Labels: bump-cask-pr

#16470 royal-tsx-beta 6.0.0.8
  Casks/royal-tsx-beta.rb
Labels: bump-cask-pr

#16471 sketch-beta 96.1
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#16472 openscad-snapshot 2023.04.17
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#16473 whatsapp-beta 2.2318.3
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#16475 google-chrome-canary 114.0.5722.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16476 microsoft-edge-beta 113.0.1774.15
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#16477 whatsapp-alpha 2.23.7.83
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#16478 discord-canary 0.0.296
  Casks/discord-canary.rb
Labels: bump-cask-pr

#16479 safari-technology-preview 168
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#16483 signal-beta 6.16.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#16482 google-chrome-beta 113.0.5672.53
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#16480 utm-beta 4.2.3
  Casks/utm-beta.rb
Labels: bump-cask-pr

#16481 brave-browser-beta 1.51.97.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#16484 whatsapp-beta 2.2318.4
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#16485 android-studio-preview-beta 2022.3.1.12
  Casks/android-studio-preview-beta.rb
Labels: bump-cask-pr

#16486 dropbox-beta 173.3.6641
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#16488 google-chrome-canary 114.0.5724.2
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16487 tor-browser-alpha 12.5a5
  Casks/tor-browser-alpha.rb
Labels: ci-retry, bump-cask-pr

#16501 openshot-video-editor-daily 3.1.1
  Casks/openshot-video-editor-daily.rb
Labels: bump-cask-pr

#16500 pdf-expert-beta 3.0.38
  Casks/pdf-expert-beta.rb
Labels: bump-cask-pr

#16499 zulu11 11.0.19
  Casks/zulu11.rb
Labels: bump-cask-pr

#16498 zulu8 8.0.372
  Casks/zulu8.rb
Labels: bump-cask-pr

#16497 zulu17 17.0.7
  Casks/zulu17.rb
Labels: bump-cask-pr

#16496 sketch-beta 96.2
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#16495 microsoft-openjdk11 11.0.19
  Casks/microsoft-openjdk11.rb
Labels: bump-cask-pr, missing zap

#16494 emacs-nightly 2023-04-19_00-09-30
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#16493 discord-development 0.0.8778
  Casks/discord-development.rb
Labels: bump-cask-pr

#16492 brave-browser-nightly 1.52.60.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#16502 lando-edge 3.16.0
  Casks/lando-edge.rb
Labels: bump-cask-pr

#16504 brave-browser-dev 1.51.100.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#16506 various (add zaps)
  Casks/java6.rb
  Casks/microsoft-openjdk11.rb
  Casks/mono-mdk-for-visual-studio.rb
  Casks/semeru-jdk11-open.rb
  Casks/semeru-jdk17-open.rb
  Casks/semeru-jdk8-open.rb
  Casks/wine-devel.rb
  Casks/wine-staging.rb
Labels: automerge-skip

#16507 whatsapp-alpha 2.23.8.76
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#16509 google-chrome-canary 114.0.5732.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#16510 dropbox-beta 173.3.6647
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#16511 discord-ptb 0.0.73
  Casks/discord-ptb.rb
Labels: bump-cask-pr

#16512 opera-developer 99.0.4780.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#16514 android-studio-preview-canary 2023.1.1.1
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr
