Repository Homebrew/homebrew-cask-versions, pull requests merged in 2023-01, with the labels that each got.

#15594 Update hyper-canary from 3.4.0-canary.1 to 4.0.0-canary.1
  Casks/hyper-canary.rb
Labels: bump-cask-pr

#15595 Update utm-beta from 4.1.3 to 4.1.4
  Casks/utm-beta.rb
Labels: bump-cask-pr

#15602 Add auto-updates true to android studio versions
  Casks/android-studio-preview-beta.rb
  Casks/android-studio-preview-canary.rb
Labels: ci-syntax-only, automerge-skip

#15635 Update google-chrome-canary from 111.0.5520.0 to 111.0.5521.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#15636 Update microsoft-edge-dev from 110.0.1556.0 to 110.0.1587.2
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#15645 Update microsoft-edge-beta from 109.0.1518.26 to 109.0.1518.44
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#15655 Update google-chrome-canary from 111.0.5526.0 to 111.0.5527.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#15703 Update safari-technology-preview from 160 to 161
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#15728 Update semeru-jdk11-open from 11.0.16.1+1 to 11.0.17+8
  Casks/semeru-jdk11-open.rb
Labels: bump-cask-pr

#15729 Update semeru-jdk17-open from 17.0.4.1+1 to 17.0.5+8
  Casks/semeru-jdk17-open.rb
Labels: bump-cask-pr

#15731 Update brave-browser-beta from 1.48.122.0 to 1.48.129.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#15732 Update dropbox-beta from 166.3.2831 to 166.3.2847
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#15733 Update whatsapp-beta from 2.2302.2 to 2.2304.0
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#15734 Update corretto8 from 8.352.08.1 to 8.362.08.1
  Casks/corretto8.rb
Labels: bump-cask-pr

#15735 Update corretto11 from 11.0.17.8.1 to 11.0.18.10.1
  Casks/corretto11.rb
Labels: bump-cask-pr

#15736 Update corretto17 from 17.0.5.8.1 to 17.0.6.10.1
  Casks/corretto17.rb
Labels: bump-cask-pr

#15737 Update github-beta from 3.1.3-beta4-95a9cd37 to 3.1.4-beta1-54965753
  Casks/github-beta.rb
Labels: bump-cask-pr

#15743 Update google-chrome-beta from 110.0.5481.30 to 110.0.5481.38
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#15745 Update lando-edge from 3.8.1 to 3.9.0
  Casks/lando-edge.rb
Labels: bump-cask-pr

#15767 Update macloggerdx-beta from 6.44b29 to 6.44b30
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#15766 Add: openra playtest version
  Casks/openra-playtest.rb
Labels: new cask

#15768 Update telegram-desktop-beta from 4.5.6 to 4.5.8
  Casks/telegram-desktop-beta.rb
Labels: bump-cask-pr

#15769 Update microsoft-edge-beta from 109.0.1518.52 to 110.0.1587.17
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#15771 Update opera-developer from 96.0.4660.0 to 96.0.4674.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#15772 Update temurin17 from 17.0.5 to 17.0.6
  Casks/temurin17.rb
Labels: bump-cask-pr

#15775 Update openscad-snapshot from 2023.01.15 to 2023.01.23
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#15776 Update signal-beta from 6.3.0-beta.1 to 6.3.0-beta.2
  Casks/signal-beta.rb
Labels: bump-cask-pr

#15770 Create folding-at-home-beta 8.1.11
  Casks/folding-at-home-beta.rb
Labels: new cask

#15779 Update whatsapp-beta from 2.2304.2 to 2.2305.1
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#15778 whatsapp-alpha: new Cask
  Casks/whatsapp-alpha.rb
Labels: automerge-skip, new cask

#15781 Update dropbox-beta from 166.3.2891 to 167.3.4680
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#15806 Update 1password-beta from 8.10.0-12.BETA to 8.10.0-20.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#15807 Update safari-technology-preview from 161 to 162
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#15808 Update tor-browser-alpha from 12.5a1 to 12.5a2
  Casks/tor-browser-alpha.rb
Labels: bump-cask-pr

#15826 Update hyper-canary from 4.0.0-canary.2 to 4.0.0-canary.3
  Casks/hyper-canary.rb
Labels: bump-cask-pr

#15827 Update propresenter-beta from 7.11,118161426 to 7.11,118161433
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#15833 Update discord-development from 0.0.8763 to 0.0.8765
  Casks/discord-development.rb
Labels: bump-cask-pr

#15834 Update macloggerdx-beta from 6.45b2 to 6.45b3
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#15835 Update whatsapp-beta from 2.2305.4 to 2.2306.1
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#15836 Update local-beta from 6.6.0 to 6.6.1
  Casks/local-beta.rb
Labels: bump-cask-pr
