Repository Homebrew/homebrew-cask-versions, pull requests merged in 2023-10, with the labels that each got.

#17890 google-chrome-canary 119.0.6040.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17891 discord-canary 0.0.314
  Casks/discord-canary.rb
Labels: bump-cask-pr

#17892 whatsapp-legacy 2.2341.18
  Casks/whatsapp-legacy.rb
Labels: bump-cask-pr

#17894 brave-browser-dev 1.59.104.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#17897 defold-beta 1.6.0,0c82b0d465fc3fa12afe7b67f65f3f1c7c221182
  Casks/defold-beta.rb
Labels: bump-cask-pr

#17899 figma-beta 116.14.4
  Casks/figma-beta.rb
Labels: bump-cask-pr

#17901 java-beta 22,17
  Casks/java-beta.rb
Labels: bump-cask-pr

#17903 mongodb-compass-beta 1.40.2-beta.0
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#17905 pdf-expert-beta 3.5.2
  Casks/pdf-expert-beta.rb
Labels: bump-cask-pr

#17907 shadow-beta 8.0.10163
  Casks/shadow-beta.rb
Labels: bump-cask-pr

#17896 defold-alpha 1.6.1,8994a2d551388cbf5c9431aaede339c83d7748da
  Casks/defold-alpha.rb
Labels: bump-cask-pr

#17900 firefox-esr 115.3.1
  Casks/firefox-esr.rb
Labels: bump-cask-pr

#17898 discord-development 0.0.8797
  Casks/discord-development.rb
Labels: bump-cask-pr

#17904 openscad-snapshot 2023.09.29
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#17906 powershell-preview 7.4.0-preview.6
  Casks/powershell-preview.rb
Labels: bump-cask-pr

#17893 android-studio-preview-canary 2023.2.1.6
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#17902 lando-edge 3.20.2
  Casks/lando-edge.rb
Labels: bump-cask-pr

#17909 iterm2-beta 3.5.0beta15
  Casks/iterm2-beta.rb
Labels: bump-cask-pr

#17908 google-chrome-canary 119.0.6042.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17910 dropbox-beta 184.3.6534
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#17911 google-chrome-canary 119.0.6045.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17912 dropbox-beta 185.3.5933
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#17913 google-chrome-canary 120.0.6046.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17915 brave-browser-beta 1.59.109.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#17918 local-beta 8.0.0
  Casks/local-beta.rb
Labels: bump-cask-pr

#17919 macloggerdx-beta 6.48b12
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#17920 mi-beta 3.7.7
  Casks/mi-beta.rb
Labels: bump-cask-pr

#17921 microsoft-edge-beta 118.0.2088.24
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#17922 microsoft-edge-dev 119.0.2132.0
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#17923 monal-beta 865
  Casks/monal-beta.rb
Labels: bump-cask-pr

#17924 olympus 3559
  Casks/olympus.rb
Labels: bump-cask-pr

#17925 openscad-snapshot 2023.10.02
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#17926 opera-developer 104.0.4941.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#17927 sketch-beta 99
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#17928 utm-beta 4.4.2
  Casks/utm-beta.rb
Labels: bump-cask-pr

#17916 brave-browser-nightly 1.60.76.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#17917 google-chrome-dev 119.0.6034.6
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#17914 adguard-nightly 2.12.1.1391
  Casks/adguard-nightly.rb
Labels: bump-cask-pr

#17929 virtualbox-beta 7.0.11_BETA4-159210
  Casks/virtualbox-beta.rb
Labels: bump-cask-pr

#17931 macloggerdx-beta 6.48b13
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#17933 google-chrome-canary 120.0.6048.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17934 1password-beta 8.10.18-19.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#17935 discord-ptb 0.0.80
  Casks/discord-ptb.rb
Labels: bump-cask-pr

#17936 virtualbox-beta 7.0.11_BETA4-159359
  Casks/virtualbox-beta.rb
Labels: bump-cask-pr

#17937 signal-beta 6.34.0-beta.2
  Casks/signal-beta.rb
Labels: bump-cask-pr

#17938 github-beta 3.3.4-beta2-1d08d033
  Casks/github-beta.rb
Labels: bump-cask-pr

#17939 google-chrome-beta 118.0.5993.54
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#17940 google-chrome-canary 120.0.6049.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17941 macloggerdx-beta 6.48b14
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#17942 vivaldi-snapshot 6.4.3152.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#17943 adguard-vpn-nightly 2.1.5.500
  Casks/adguard-vpn-nightly.rb
Labels: bump-cask-pr

#17944 brave-browser-beta 1.60.81.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#17945 brave-browser-nightly 1.61.2.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#17946 chromedriver-beta 118.0.5993.54
  Casks/chromedriver-beta.rb
Labels: bump-cask-pr

#17947 defold-alpha 1.6.1,c5f1715d9f9eca0b2a13ee1cd7cfa58cb86a6694
  Casks/defold-alpha.rb
Labels: bump-cask-pr

#17948 geogebra5 5.2.804.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#17949 java-beta 22,18
  Casks/java-beta.rb
Labels: bump-cask-pr

#17951 safari-technology-preview 180
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#17952 sketch-beta 99,178212
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#17950 opera-beta 104.0.4944.3
  Casks/opera-beta.rb
Labels: bump-cask-pr

#17953 skype-preview 8.106.76.206
  Casks/skype-preview.rb
Labels: bump-cask-pr

#17954 google-chrome-canary 120.0.6050.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17955 android-studio-preview-canary 2023.2.1.7
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#17957 dropbox-beta 185.3.5963
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#17956 google-chrome-canary 120.0.6051.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17958 adguard-nightly 2.12.1.1396
  Casks/adguard-nightly.rb
Labels: bump-cask-pr

#17959 google-chrome-canary 120.0.6052.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17960 discord-canary 0.0.315
  Casks/discord-canary.rb
Labels: bump-cask-pr

#17961 whatsapp-legacy 2.2343.55
  Casks/whatsapp-legacy.rb
Labels: bump-cask-pr

#17964 google-chrome-canary 120.0.6053.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17965 google-chrome-canary 120.0.6054.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17966 google-chrome-canary 120.0.6055.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17967 defold-alpha 1.6.1,28012e8f15f41399d9e1f3e568610eb9b0181652
  Casks/defold-alpha.rb
Labels: bump-cask-pr

#17969 adguard-nightly 2.12.1.1398
  Casks/adguard-nightly.rb
Labels: bump-cask-pr

#17971 whatsapp-beta 2.23.20.79
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#17972 google-chrome-beta 119.0.6045.10
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#17973 brave-browser-dev 1.60.82.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#17974 defold-alpha 1.6.1,7f2db4a8d8ec413fbd8f82bb6ffef0986102c686
  Casks/defold-alpha.rb
Labels: bump-cask-pr

#17975 defold-beta 1.6.1
  Casks/defold-beta.rb
Labels: bump-cask-pr

#17970 google-chrome-canary 120.0.6056.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17963 wine-staging 8.17
  Casks/wine-staging.rb
Labels: bump-cask-pr

#17979 obs-beta 30.0.0-rc1
  Casks/obs-beta.rb
Labels: bump-cask-pr

#17978 google-chrome-canary 120.0.6057.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17980 macloggerdx-beta 6.48b15
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#17984 github-beta 3.3.4-beta3-fe55cc72
  Casks/github-beta.rb
Labels: bump-cask-pr

#17983 google-chrome-canary 120.0.6060.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17985 termius-beta 8.4.0
  Casks/termius-beta.rb
Labels: bump-cask-pr

#17986 utm-beta 4.4.3
  Casks/utm-beta.rb
Labels: bump-cask-pr

#17987 brave-browser-beta 1.60.86.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#17988 microsoft-edge-beta 118.0.2088.41
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#17989 opera-developer 105.0.4950.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#17990 whatsapp-beta 2.23.20.80
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#17992 slack-beta 4.35.118
  Casks/slack-beta.rb
Labels: bump-cask-pr

#17991 google-chrome-canary 120.0.6061.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#17993 signal-beta 6.35.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#17996 chromedriver-beta 119.0.6045.9
  Casks/chromedriver-beta.rb
Labels: bump-cask-pr

#17998 dotnet-sdk-preview 8.0.100-rc.2.23502.2
  Casks/dotnet-sdk-preview.rb
Labels: bump-cask-pr

#17999 geogebra5 5.2.805.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#18001 iterm2-nightly 3_5_20231011
  Casks/iterm2-nightly.rb
Labels: bump-cask-pr

#18002 lando-edge 3.20.4
  Casks/lando-edge.rb
Labels: bump-cask-pr

#18003 microsoft-edge-dev 119.0.2151.2
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#18004 mongodb-compass-beta 1.40.3-beta.4
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#18005 olympus 3570
  Casks/olympus.rb
Labels: bump-cask-pr

#18006 openscad-snapshot 2023.10.09
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#18010 sketch-beta 99,178283
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#18012 virtualbox-beta 7.0.11_BETA4-159409
  Casks/virtualbox-beta.rb
Labels: bump-cask-pr

#18014 discord-canary 0.0.316
  Casks/discord-canary.rb
Labels: bump-cask-pr

#18015 dropbox-beta 185.3.6023
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#18013 vscodium-insiders 1.84.0.23283-insider
  Casks/vscodium-insiders.rb
Labels: bump-cask-pr

#17997 dotnet-preview 8.0.0-rc.2.23479.6
  Casks/dotnet-preview.rb
Labels: bump-cask-pr

#18008 royal-tsx-beta 6.0.2.2
  Casks/royal-tsx-beta.rb
Labels: bump-cask-pr

#18007 openshot-video-editor-daily 3.1.1,11627-2034f45d-08c2cdd1
  Casks/openshot-video-editor-daily.rb
Labels: bump-cask-pr

#18000 google-chrome-dev 120.0.6051.2
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#18011 tsh13 13.4.3
  Casks/tsh13.rb
Labels: bump-cask-pr

#17995 add temurin 21 (LTS) cask
  Casks/temurin21.rb
Labels: ci-skip-repository, new cask

#18016 slack-beta 4.35.120
  Casks/slack-beta.rb
Labels: bump-cask-pr

#18017 google-chrome-canary 120.0.6063.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#18019 google-chrome-canary 120.0.6064.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#18018 zotero-beta (new cask)
  Casks/zotero-beta.rb
Labels: new cask

#18031 microsoft-edge-beta 118.0.2088.44
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#18030 opera-beta 104.0.4944.10
  Casks/opera-beta.rb
Labels: bump-cask-pr

#18028 chromedriver-beta 119.0.6045.21
  Casks/chromedriver-beta.rb
Labels: bump-cask-pr

#18027 qt-creator-dev 12.0.0-beta1
  Casks/qt-creator-dev.rb
Labels: bump-cask-pr

#18026 monal-beta 867
  Casks/monal-beta.rb
Labels: bump-cask-pr

#18025 java-beta 22,19
  Casks/java-beta.rb
Labels: bump-cask-pr

#18024 inso-beta 8.2.1-beta.0
  Casks/inso-beta.rb
Labels: bump-cask-pr

#18023 discord-ptb 0.0.81
  Casks/discord-ptb.rb
Labels: bump-cask-pr

#18022 brave-browser-nightly 1.61.18.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#18021 brave-browser-beta 1.60.88.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#18020 threema-beta 2.0-beta23
  Casks/threema-beta.rb
Labels: bump-cask-pr

#18029 zotero-beta 7.0.0-beta.46
  Casks/zotero-beta.rb
Labels: bump-cask-pr

#18032 google-chrome-beta 119.0.6045.21
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#18033 whatsapp-legacy 2.2343.57
  Casks/whatsapp-legacy.rb
Labels: bump-cask-pr

#18034 google-chrome-canary 120.0.6065.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#18036 whatsapp-beta 2.23.20.81
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#18037 brave-browser-nightly 1.61.21.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#18039 microsoft-edge-beta 118.0.2088.46
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#18038 google-chrome-canary 120.0.6066.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#18041 vivaldi-snapshot 6.4.3160.25
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#18042 brave-browser-dev 1.60.90.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#18040 google-chrome-canary 120.0.6068.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#18043 google-chrome-canary 120.0.6069.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#18044 google-chrome-canary 120.0.6070.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#18045 signal-beta 6.35.0-beta.2
  Casks/signal-beta.rb
Labels: bump-cask-pr

#18046 adguard-nightly 2.12.1.1411
  Casks/adguard-nightly.rb
Labels: bump-cask-pr

#18047 google-chrome-canary 120.0.6072.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#18048 virtualbox6 6.1.48
  Casks/virtualbox6.rb
Labels: bump-cask-pr

#18049 buckets-beta 0.72.1
  Casks/buckets-beta.rb
Labels: bump-cask-pr

#18052 google-chrome-dev 120.0.6062.2
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#18056 mongodb-compass-beta 1.40.4-beta.0
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr
