Repository Homebrew/homebrew-cask-versions, pull requests merged in 2023-02, with the labels that each got.

#15837 Update macloggerdx-beta from 6.45b3 to 6.45b4
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#15846 Update whatsapp-beta from 2.2306.1 to 2.2306.2
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#15847 Update signal-beta from 6.4.0-beta.2 to 6.5.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#15855 Update inso-beta from 3.13.0-beta.0 to 3.13.0-beta.1
  Casks/inso-beta.rb
Labels: bump-cask-pr

#15856 Update obs-beta from 29.0.0 to 29.0.1
  Casks/obs-beta.rb
Labels: bump-cask-pr

#15881 Add wezterm-nightly
  Casks/wezterm-nightly.rb
Labels: new cask

#15882 Update macloggerdx-beta from 6.45b4 to 6.45b5
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#15886 Update brave-browser-beta from 1.48.151.0 to 1.49.89.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#15887 Update brave-browser-dev from 1.48.150.0 to 1.49.85.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#15889 Update microsoft-edge-beta from 110.0.1587.30 to 110.0.1587.35
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#15888 Update discord-development from 0.0.8767 to 0.0.8769
  Casks/discord-development.rb
Labels: bump-cask-pr

#15890 Update microsoft-edge-dev from 111.0.1652.0 to 111.0.1660.2
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#15891 Update opera-developer from 96.0.4691.0 to 97.0.4697.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#15892 Update mullvadvpn-beta from 2023.1-beta1 to 2023.1-beta2
  Casks/mullvadvpn-beta.rb
Labels: bump-cask-pr

#15893 Update whatsapp-alpha from 2.23.2.75 to 2.23.2.77
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#15894 Update dropbox-beta from 167.3.4712 to 168.3.4769
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#15895 Update folding-at-home-beta from 8.1.11 to 8.1.13
  Casks/folding-at-home-beta.rb
Labels: bump-cask-pr

#15897 Update android-studio-preview-canary from 2022.3.1.2 to 2022.3.1.3
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#15896 Update android-studio-preview-beta from 2022.2.1.12 to 2022.2.1.13
  Casks/android-studio-preview-beta.rb
Labels: bump-cask-pr

#15898 Update macloggerdx-beta from 6.45b5 to 6.45b6
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#15899 Update discord-canary from 0.0.291 to 0.0.292
  Casks/discord-canary.rb
Labels: bump-cask-pr

#15900 Update whatsapp-beta from 2.2306.2 to 2.2307.1
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#15901 transmission-beta: remove
  Casks/transmission-beta.rb
Labels: marked for removal/rejection

#15903 Update 1password-beta from 8.10.0-20.BETA to 8.10.0-48.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#15905 Update vivaldi-snapshot from 5.7.2921.3 to 5.7.2921.29
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#15907 Update adguard-nightly from 2.9.2.1234 to 2.10.0.1239
  Casks/adguard-nightly.rb
Labels: bump-cask-pr

#15909 Update iterm2-nightly from 3_5_20230110 to 3_5_20230204
  Casks/iterm2-nightly.rb
Labels: bump-cask-pr

#15911 Update termius-beta from 7.56.0 to 7.56.1
  Casks/termius-beta.rb
Labels: bump-cask-pr

#15913 Update qgis-ltr from 3.22.15 to 3.22.16
  Casks/qgis-ltr.rb
Labels: bump-cask-pr

#15914 Update safari-technology-preview from 162 to 163
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#15910 Update openshot-video-editor-daily from 3.0.0,10947-510a7690-b5bbab66 to 3.0.0,10996-70e86ef0-b5bbab66
  Casks/openshot-video-editor-daily.rb
Labels: bump-cask-pr

#15912 Update sketch-beta from 95.1 to 95.2
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#15906 Update adguard-vpn-nightly from 2.0.2.313 to 2.0.2.316
  Casks/adguard-vpn-nightly.rb
Labels: bump-cask-pr

#15904 Update discord-ptb from 0.0.69 to 0.0.70
  Casks/discord-ptb.rb
Labels: bump-cask-pr

#15915 Update google-chrome-beta from 110.0.5481.77 to 111.0.5563.19
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#15916 Update signal-beta from 6.5.0-beta.2 to 6.6.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#15917 Update whatsapp-beta from 2.2307.1 to 2.2307.2
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#15918 Update wine-devel from 8.0 to 8.1
  Casks/wine-devel.rb
Labels: bump-cask-pr

#15919 Update wine-staging from 8.0 to 8.1
  Casks/wine-staging.rb
Labels: bump-cask-pr

#15920 Update android-studio-preview-canary from 2022.3.1.3 to 2022.3.1.4
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#15921 Update dropbox-beta from 168.3.4769 to 168.3.4773
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#15922 Update opera-beta from 95.0.4635.28 to 96.0.4693.12
  Casks/opera-beta.rb
Labels: bump-cask-pr

#15923 Update iterm2-beta from 3.5.0beta9 to 3.5.0beta10
  Casks/iterm2-beta.rb
Labels: bump-cask-pr

#15924 Update discord-canary from 0.0.292 to 0.0.293
  Casks/discord-canary.rb
Labels: bump-cask-pr

#15925 Update whatsapp-beta from 2.2307.2 to 2.2307.3
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#15926 Update inso-beta from 3.13.0-beta.1 to 3.13.0-beta.2
  Casks/inso-beta.rb
Labels: bump-cask-pr

#15927 Update google-chrome-dev from 111.0.5562.0 to 112.0.5582.0
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#15942 Update mi-beta from 3.7.3 to 3.7.4
  Casks/mi-beta.rb
Labels: bump-cask-pr

#15948 Update vscodium-insiders from 1.75.0.23020-insider to 1.75.0.23033-insider
  Casks/vscodium-insiders.rb
Labels: bump-cask-pr

#15933 Update discord-development from 0.0.8769 to 0.0.8773
  Casks/discord-development.rb
Labels: bump-cask-pr

#15939 Update java-beta from 20,34 to 20,35
  Casks/java-beta.rb
Labels: bump-cask-pr

#15928 Update adguard-vpn-nightly from 2.0.2.316 to 2.0.2.318
  Casks/adguard-vpn-nightly.rb
Labels: bump-cask-pr

#15947 Update openscad-snapshot from 2023.01.30 to 2023.02.12
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#15937 Update insomnia-alpha from 2022.7.0-beta.6 to 2023.1.0-beta.2
  Casks/insomnia-alpha.rb
Labels: bump-cask-pr

#15929 Update brave-browser-beta from 1.49.89.0 to 1.49.91.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#15945 Update monal-beta from 844 to 847
  Casks/monal-beta.rb
Labels: bump-cask-pr

#15934 Update emacs-nightly from 2023-01-18_00-09-33 to 2023-02-13_00-09-09
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#15936 Update google-chrome-canary from 112.0.5572.0 to 112.0.5593.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#15932 Update defold-alpha from 1.4.2 to 1.4.3
  Casks/defold-alpha.rb
Labels: bump-cask-pr

#15941 Update microsoft-edge-dev from 111.0.1660.2 to 111.0.1660.12
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#15930 Update chromedriver-beta from 110.0.5481.30 to 111.0.5563.19
  Casks/chromedriver-beta.rb
Labels: bump-cask-pr

#15944 Update mongodb-compass-beta from 1.35.1-beta.2 to 1.35.1-beta.3
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#15943 Update microsoft-edge-beta from 110.0.1587.35 to 110.0.1587.40
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#15935 Update figma-beta from 116.6.0 to 116.7.1
  Casks/figma-beta.rb
Labels: bump-cask-pr

#15946 Update olympus from 3068 to 3077
  Casks/olympus.rb
Labels: bump-cask-pr

#15931 Update defold-beta from 1.4.2,a1ab8cbff682676f46c3a55eb750b8b0632668a8 to 1.4.2,8cd3a634b13f4db51a37607bf32bf3a3b362c8e6
  Casks/defold-beta.rb
Labels: bump-cask-pr

#15940 Update iterm2-nightly from 3_5_20230204 to 3_5_20230213
  Casks/iterm2-nightly.rb
Labels: bump-cask-pr

#15949 Update sonos-s1-controller from 57.13-34140 to 57.14-37030
  Casks/sonos-s1-controller.rb
Labels: bump-cask-pr

#15950 Update google-chrome-canary from 112.0.5593.0 to 112.0.5594.0
  Casks/google-chrome-canary.rb
Labels: bump-cask-pr

#15951 Update iterm2-nightly from 3_5_20230213 to 3_5_20230214
  Casks/iterm2-nightly.rb
Labels: bump-cask-pr

#15952 Update whatsapp-beta from 2.2307.3 to 2.2308.1
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#15953 Update macloggerdx-beta from 6.45b6 to 6.45b7
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#15955 Update vivaldi-snapshot from 5.7.2921.29 to 5.7.2921.45
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#15956 Update brave-browser-beta from 1.49.91.0 to 1.49.97.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#15957 Update github-beta from 3.1.6-beta2-bce5000e to 3.1.7-beta1-4a24c245
  Casks/github-beta.rb
Labels: bump-cask-pr

#15958 Update brave-browser-nightly from 1.49.81.0 to 1.50.32.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#15959 Update defold-beta from 1.4.2 to 1.4.3
  Casks/defold-beta.rb
Labels: bump-cask-pr

#15960 Update defold-alpha from 1.4.3,c426926cadcb88fc214c809b3d3dbb4e4e20c9c1 to 1.4.3,f7536577124ddd42fda21bbafa17a655216c8de3
  Casks/defold-alpha.rb
Labels: bump-cask-pr

#15963 Update emacs-nightly from 2023-02-13_00-09-09 to 2023-02-15_00-09-15
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#15964 Update firefox-esr from 102.7.0 to 102.8.0
  Casks/firefox-esr.rb
Labels: bump-cask-pr

#15965 Update geogebra5 from 5.0.759.0 to 5.0.760.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#15966 Update mongodb-compass-beta from 1.35.1-beta.3 to 1.35.1-beta.5
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#15967 Update openscad-snapshot from 2023.02.12 to 2023.02.13
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#15968 Update openshot-video-editor-daily from 3.0.0,10996-70e86ef0-b5bbab66 to 3.0.0,11044-70e86ef0-b5bbab66
  Casks/openshot-video-editor-daily.rb
Labels: bump-cask-pr

#15969 Update opera-developer from 97.0.4697.0 to 97.0.4704.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#15970 Update royal-tsx-beta from 6.0.0.3 to 6.0.0.4
  Casks/royal-tsx-beta.rb
Labels: bump-cask-pr

#15971 Update skype-preview from 8.94.76.302 to 8.94.76.419
  Casks/skype-preview.rb
Labels: bump-cask-pr

#15972 Update tunnelblick-beta from 3.8.8beta04 to 4.0.0beta01
  Casks/tunnelblick-beta.rb
Labels: bump-cask-pr

#15961 Update dotnet-preview from 7.0.2 to 7.0.3
  Casks/dotnet-preview.rb
Labels: bump-cask-pr

#15962 Update dotnet-sdk-preview from 7.0.102 to 7.0.200
  Casks/dotnet-sdk-preview.rb
Labels: bump-cask-pr

#15975 Update semeru-jdk11-open from 11.0.17+8 to 11.0.18+10
  Casks/semeru-jdk11-open.rb
Labels: bump-cask-pr

#15973 Update semeru-jdk8-open from 8u352-b08 to 8u362-b09
  Casks/semeru-jdk8-open.rb
Labels: bump-cask-pr

#15974 Update semeru-jdk17-open from 17.0.5+8 to 17.0.6+10
  Casks/semeru-jdk17-open.rb
Labels: bump-cask-pr

#15982 Update whatsapp-alpha from 2.23.2.77 to 2.23.3.77
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#15983 Update iterm2-nightly from 3_5_20230214 to 3_5_20230216
  Casks/iterm2-nightly.rb
Labels: bump-cask-pr

#15984 Update signal-beta from 6.6.0-beta.1 to 6.7.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#15985 Update macloggerdx-beta from 6.45b7 to 6.45b8
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#15986 Update whatsapp-beta from 2.2308.1 to 2.2308.2
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#15987 Update dropbox-beta from 168.3.4773 to 168.3.4787
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#15988 Update whatsapp-alpha from 2.23.3.77 to 2.23.3.78
  Casks/whatsapp-alpha.rb
Labels: bump-cask-pr

#15989 Update android-studio-preview-canary from 2022.3.1.4 to 2022.3.1.5
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#15991 Update inso-beta from 3.13.0-beta.2 to 3.13.0-beta.3
  Casks/inso-beta.rb
Labels: bump-cask-pr

#15990 Update defold-alpha from 1.4.3,f7536577124ddd42fda21bbafa17a655216c8de3 to 1.4.3,3f6473cdb8a5b741fd8268ff6a3b9c34c7300d34
  Casks/defold-alpha.rb
Labels: bump-cask-pr

#15996 Update android-studio-preview-beta from 2022.2.1.13 to 2022.2.1.14
  Casks/android-studio-preview-beta.rb
Labels: bump-cask-pr

#15997 Update google-chrome-beta from 111.0.5563.19 to 111.0.5563.33
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#15998 Update propresenter-beta from 7.11 to 7.12
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#16007 Update brave-browser-beta from 1.49.97.0 to 1.49.100.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#16008 Update brave-browser-dev from 1.49.85.0 to 1.49.102.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#15999 Update macfuse-dev from 4.4.1 to 4.4.2
  Casks/macfuse-dev.rb
Labels: bump-cask-pr

#16001 Update iterm2-nightly from 3_5_20230216 to 3_5_20230217
  Casks/iterm2-nightly.rb
Labels: bump-cask-pr

#16000 Update defold-alpha from 1.4.3,3f6473cdb8a5b741fd8268ff6a3b9c34c7300d34 to 1.4.3,28312323a00e664d10f25f6a57b89ebfa9c09e04
  Casks/defold-alpha.rb
Labels: bump-cask-pr

#16005 Update emacs-nightly from 2023-02-15_00-09-15 to 2023-02-18_00-09-15
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#16009 Update whatsapp-beta from 2.2308.2 to 2.2308.5
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#16014 Update vivaldi-snapshot from 5.7.2921.45 to 5.8.2936.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#16015 Update microsoft-edge-beta from 110.0.1587.40 to 111.0.1661.15
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#16016 Update microsoft-edge-dev from 111.0.1660.12 to 111.0.1660.13
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#16017 Update opera-beta from 96.0.4693.12 to 96.0.4693.16
  Casks/opera-beta.rb
Labels: bump-cask-pr

#16018 Update telegram-desktop-beta from 4.5.9 to 4.6.4
  Casks/telegram-desktop-beta.rb
Labels: bump-cask-pr

#16019 Update tor-browser-alpha from 12.5a2 to 12.5a3
  Casks/tor-browser-alpha.rb
Labels: bump-cask-pr

#16021 Update royal-tsx-beta from 6.0.0.4 to 6.0.0.5
  Casks/royal-tsx-beta.rb
Labels: bump-cask-pr

#16028 Update brave-browser-beta from 1.49.100.0 to 1.49.106.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#16027 Update opera-developer from 97.0.4704.0 to 97.0.4711.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#16026 Update blender-lts from 3.3.3 to 3.3.4
  Casks/blender-lts.rb
Labels: bump-cask-pr

#16025 Update whatsapp-beta from 2.2308.5 to 2.2310.0
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#16024 Update android-studio-preview-canary from 2022.3.1.5 to 2022.3.1.6
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#16029 Update dropbox-beta from 168.3.4787 to 169.3.5651
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#16031 Update github-beta from 3.1.7-beta1-4a24c245 to 3.1.9-beta2-d036395b
  Casks/github-beta.rb
Labels: bump-cask-pr

#16033 Update wine-staging from 8.1 to 8.2
  Casks/wine-staging.rb
Labels: bump-cask-pr, missing zap

#16034 Update safari-technology-preview from 163 to 164
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#16040 Update whatsapp-beta from 2.2310.0 to 2.2310.1
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#16039 Update google-chrome-beta from 111.0.5563.33 to 111.0.5563.41
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#16038 Update 1password-cli-beta from 2.10.0-beta.02 to 2.15.0-beta.03
  Casks/1password-cli-beta.rb
Labels: bump-cask-pr

#16035 Update sourcetree-beta from 4.2.1b8 to 4.2.2b9
  Casks/sourcetree-beta.rb
Labels: bump-cask-pr

#16041 Add qbittorrent-lt20 4.5.1
  Casks/qbittorrent-lt20.rb
Labels: new cask

#16042 Update brave-browser-beta from 1.49.106.0 to 1.49.108.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#16043 Update brave-browser-nightly from 1.50.32.0 to 1.50.59.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#16044 Update 1password-beta from 8.10.1-1.BETA to 8.10.1-19.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#16045 Update microsoft-edge-dev from 111.0.1660.13 to 111.0.1660.14
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#16047 Update dropbox-beta from 169.3.5651 to 169.3.5661
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#16048 Update brave-browser-nightly from 1.50.59.0 to 1.50.62.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#16050 Update brave-browser-dev from 1.49.102.0 to 1.49.111.0
  Casks/brave-browser-dev.rb
Labels: bump-cask-pr

#16052 Update macloggerdx-beta from 6.45b8 to 6.45b9
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#16053 Update propresenter-beta from 7.12,118226949 to 7.12,118226953
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#16054 Update inso-beta from 3.13.0-beta.3 to 3.13.0-beta.4
  Casks/inso-beta.rb
Labels: bump-cask-pr, missing zap

#16055 dotnet-preview, dotnet-sdk-preview: update to .NET 8 Preview 1
  Casks/dotnet-preview.rb
  Casks/dotnet-sdk-preview.rb
Labels: automerge-skip

#16073 Update tunnelblick-beta from 4.0.0beta01 to 4.0.0beta02
  Casks/tunnelblick-beta.rb
Labels: bump-cask-pr

#16071 Update skype-preview from 8.94.76.419 to 8.94.76.421
  Casks/skype-preview.rb
Labels: bump-cask-pr, missing zap

#16070 Update signal-beta from 6.7.0-beta.1 to 6.8.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#16069 Update qt-creator-dev from 9.0.0-rc1 to 10.0.0-beta1
  Casks/qt-creator-dev.rb
Labels: bump-cask-pr, missing zap

#16068 Update openshot-video-editor-daily from 3.0.0,11044-70e86ef0-b5bbab66 to 3.0.0,11058-8f92bac0-b5bbab66
  Casks/openshot-video-editor-daily.rb
Labels: bump-cask-pr
