Repository Homebrew/homebrew-cask-versions, pull requests merged in 2024-04, with the labels that each got.

#19850 emacs-nightly 2024-04-01_00-16-15
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#19851 openscad-snapshot 2024.03.31
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#19856 propresenter-beta 7.16.2,118489613
  Casks/propresenter-beta.rb
Labels: ci-retry, bump-cask-pr

#19852 discord-canary 0.0.452
  Casks/discord-canary.rb
Labels: bump-cask-pr

#19853 brave-browser-nightly 1.66.51.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#19857 whatsapp-legacy 2.2412.52
  Casks/whatsapp-legacy.rb
Labels: bump-cask-pr

#19854 microsoft-edge-beta 124.0.2478.19
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#19858 sketch-beta 100,179945
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#19860 emacs-nightly 2024-04-02_00-14-59
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#19862 openscad-snapshot 2024.04.01
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#19861 geogebra5 5.2.836.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#19859 xmind-beta 24.07.03011
  Casks/xmind-beta.rb
Labels: bump-cask-pr

#19848 Add Paragon extFS for Mac 11
  Casks/paragon-extfs11.rb
Labels: new cask

#19863 brave-browser-beta 1.65.101.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#19864 skype-preview 8.117.76.103
  Casks/skype-preview.rb
Labels: bump-cask-pr

#19865 android-studio-preview-canary 2024.1.1.1
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#19870 discord-canary 0.0.453
  Casks/discord-canary.rb
Labels: bump-cask-pr

#19871 brave-browser-nightly 1.66.53.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#19873 microsoft-edge-dev 125.0.2492.1
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#19874 mixxx-snapshot 2.5-alpha-301-g210c739706
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#19876 virtualbox-beta 7.0.15_BETA4-162549
  Casks/virtualbox-beta.rb
Labels: bump-cask-pr

#19872 emacs-nightly 2024-04-03_00-17-21
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#19877 adguard-nightly 2.14.0.1575
  Casks/adguard-nightly.rb
Labels: bump-cask-pr

#19878 zed-preview 0.130.0
  Casks/zed-preview.rb
Labels: bump-cask-pr

#19879 dropbox-beta 197.3.7470
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#19881 chromedriver-beta 124.0.6367.29
  Casks/chromedriver-beta.rb
Labels: bump-cask-pr

#19883 google-chrome-beta 124.0.6367.29
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#19885 1password-beta 8.10.30-20.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#19880 brave-browser-nightly 1.66.56.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#19882 figma-beta 116.18.4
  Casks/figma-beta.rb
Labels: bump-cask-pr

#19886 slack-beta 4.37.101
  Casks/slack-beta.rb
Labels: bump-cask-pr

#19888 brave-browser-beta 1.65.103.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#19889 sketch-beta 100,180004
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#19890 zed-preview 0.130.1
  Casks/zed-preview.rb
Labels: bump-cask-pr

#19891 emacs-nightly 2024-04-04_00-15-06
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#19892 mongodb-compass-beta 1.42.4-beta.2
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#19893 brave-browser-nightly 1.66.59.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#19895 discord-canary 0.0.454
  Casks/discord-canary.rb
Labels: bump-cask-pr

#19894 tunnelblick-beta 5.0.1beta01
  Casks/tunnelblick-beta.rb
Labels: bump-cask-pr

#19897 discord-canary 0.0.458
  Casks/discord-canary.rb
Labels: bump-cask-pr

#19898 emacs-nightly 2024-04-05_00-15-00
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#19899 mixxx-snapshot 2.5-alpha-304-g729758aaae
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#19900 vscodium-insiders 1.88.0.24095-insider
  Casks/vscodium-insiders.rb
Labels: bump-cask-pr

#19902 discord-ptb 0.0.106
  Casks/discord-ptb.rb
Labels: bump-cask-pr

#19901 android-studio-preview-beta 2023.3.1.16
  Casks/android-studio-preview-beta.rb
Labels: bump-cask-pr

#19903 sketch-beta 100,180011
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#19904 dropbox-beta 197.3.7490
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#19916 telegram-desktop-beta 4.16.3
  Casks/telegram-desktop-beta.rb
Labels: bump-cask-pr

#19915 macloggerdx-beta 6.51b5
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#19914 openscad-snapshot 2024.04.05
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#19913 mongodb-compass-beta 1.42.4-beta.4
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#19912 mixxx-snapshot 2.5-alpha-306-g3546e22a31
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#19911 local-beta 9.0.1
  Casks/local-beta.rb
Labels: bump-cask-pr

#19910 google-chrome-dev 125.0.6396.3
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#19909 emacs-nightly 2024-04-06_00-15-21
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#19908 brave-browser-nightly 1.66.62.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#19907 github-beta 3.3.14-beta2-21b1d5ad
  Casks/github-beta.rb
Labels: bump-cask-pr

#19906 macfuse-dev 4.7.0
  Casks/macfuse-dev.rb
Labels: bump-cask-pr

#19905 vivaldi-snapshot 6.7.3316.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#19918 mixxx-snapshot 2.5-alpha-310-g20de6fa9fa
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#19917 emacs-nightly 2024-04-07_00-16-18
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#19919 mixxx-snapshot 2.5-alpha-315-g08be88ff85
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#19921 emacs-nightly 2024-04-08_00-14-42
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#19922 openscad-snapshot 2024.04.07
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#19924 opera-developer 111.0.5131.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#19927 android-studio-preview-canary 2024.1.1.2
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#19926 brave-browser-nightly 1.66.67.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#19928 discord-canary 0.0.462
  Casks/discord-canary.rb
Labels: bump-cask-pr

#19929 zed-preview 0.130.2
  Casks/zed-preview.rb
Labels: bump-cask-pr

#19930 zotero-beta 7.0.0-beta.70
  Casks/zotero-beta.rb
Labels: bump-cask-pr

#19931 brave-browser-beta 1.65.108.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#19932 discord-ptb 0.0.107
  Casks/discord-ptb.rb
Labels: bump-cask-pr

#19933 emacs-nightly 2024-04-09_00-15-37
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#19936 sketch-beta 100,180015
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#19937 skype-preview 8.117.76.202
  Casks/skype-preview.rb
Labels: bump-cask-pr

#19934 microsoft-edge-beta 124.0.2478.27
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#19940 zed-preview 0.130.3
  Casks/zed-preview.rb
Labels: bump-cask-pr

#19939 mixxx-snapshot 2.5-alpha-316-g8ccdb98dfe
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#19942 dotnet-preview 8.0.4
  Casks/dotnet-preview.rb
Labels: bump-cask-pr

#19943 dotnet-sdk-preview 8.0.204
  Casks/dotnet-sdk-preview.rb
Labels: bump-cask-pr

#19944 microsoft-edge-dev 125.0.2506.0
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#19938 oracle-jdk21 21.0.2 (new cask)
  Casks/oracle-jdk21.rb
Labels: new cask

#19947 mixxx-snapshot 2.5-alpha-317-gb4727f8e37
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#19946 discord-canary 0.0.464
  Casks/discord-canary.rb
Labels: bump-cask-pr

#19945 brave-browser-nightly 1.66.70.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#19948 discord-canary 0.0.468
  Casks/discord-canary.rb
Labels: bump-cask-pr

#19950 iterm2-nightly 3_5_20240409
  Casks/iterm2-nightly.rb
Labels: bump-cask-pr

#19952 mixxx-snapshot 2.5-alpha-318-gada244c233
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#19953 opera-beta 110.0.5130.4
  Casks/opera-beta.rb
Labels: bump-cask-pr

#19954 sublime-merge-dev 2093
  Casks/sublime-merge-dev.rb
Labels: bump-cask-pr

#19956 zotero-beta 7.0.0-beta.72
  Casks/zotero-beta.rb
Labels: bump-cask-pr

#19957 zed-preview 0.130.4
  Casks/zed-preview.rb
Labels: bump-cask-pr

#19955 sketch-beta 100,180025
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#19951 defold-beta 1.7.1
  Casks/defold-beta.rb
Labels: bump-cask-pr

#19959 sketch-beta 100,180030
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#19958 shadow-beta 8.0.10264
  Casks/shadow-beta.rb
Labels: bump-cask-pr

#19963 microsoft-teams-classic 1.7.00.9457
  Casks/microsoft-teams-classic.rb
Labels: bump-cask-pr

#19960 adguard-nightly 2.14.0.1580
  Casks/adguard-nightly.rb
Labels: bump-cask-pr

#19962 zed-preview 0.131.1
  Casks/zed-preview.rb
Labels: bump-cask-pr

#19961 figma-beta 124.0.1
  Casks/figma-beta.rb
Labels: bump-cask-pr

#19964 safari-technology-preview 192
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#19965 discord-canary 0.0.469
  Casks/discord-canary.rb
Labels: bump-cask-pr

#19966 zotero-beta 7.0.0-beta.73
  Casks/zotero-beta.rb
Labels: bump-cask-pr

#19967 emacs-nightly 2024-04-11_00-14-58
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#19968 sketch-beta 100,180036
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#19969 sublime-merge-dev 2094
  Casks/sublime-merge-dev.rb
Labels: bump-cask-pr

#19970 vivaldi-snapshot 6.7.3319.12
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#19971 android-studio-preview-canary 2024.1.1.3
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#19972 skype-preview 8.118.76.100
  Casks/skype-preview.rb
Labels: bump-cask-pr

#19973 discord-canary 0.0.470
  Casks/discord-canary.rb
Labels: bump-cask-pr

#19974 zed-preview 0.131.3
  Casks/zed-preview.rb
Labels: bump-cask-pr

#19976 discord-canary 0.0.471
  Casks/discord-canary.rb
Labels: bump-cask-pr

#19980 sketch-beta 100,180046
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#19977 elephas-beta 9.11
  Casks/elephas-beta.rb
Labels: bump-cask-pr

#19979 mixxx-snapshot 2.5-alpha-319-gbee7674d9e
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#19987 microsoft-edge-beta 124.0.2478.39
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#19986 macloggerdx-beta 6.51b7
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#19985 macfuse-dev 4.7.1
  Casks/macfuse-dev.rb
Labels: bump-cask-pr

#19984 google-chrome-beta 124.0.6367.49
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#19983 dropbox-beta 197.3.7552
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#19982 chromedriver-beta 124.0.6367.49
  Casks/chromedriver-beta.rb
Labels: bump-cask-pr

#19981 beyond-compare-beta 5.0.0.29328
  Casks/beyond-compare-beta.rb
Labels: bump-cask-pr

#19988 zed-preview 0.131.4
  Casks/zed-preview.rb
Labels: bump-cask-pr

#19989 discord-ptb 0.0.108
  Casks/discord-ptb.rb
Labels: bump-cask-pr

#19990 iterm2-nightly 3_5_20240413
  Casks/iterm2-nightly.rb
Labels: bump-cask-pr

#19991 openscad-snapshot 2024.04.12
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#19995 emacs-nightly 2024-04-14_00-15-12
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#19996 iterm2-nightly 3_5_20240414
  Casks/iterm2-nightly.rb
Labels: bump-cask-pr

#19997 mixxx-snapshot 2.5-alpha-324-ga2a8d5ba3f
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#20005 elephas-beta 9.12
  Casks/elephas-beta.rb
Labels: bump-cask-pr

#20004 defold-beta 1.8.0
  Casks/defold-beta.rb
Labels: bump-cask-pr

#20003 emacs-nightly 2024-04-15_00-15-49
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#20002 macloggerdx-beta 6.51b8
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#20001 iterm2-nightly 3_5_20240415
  Casks/iterm2-nightly.rb
Labels: bump-cask-pr

#20000 openscad-snapshot 2024.04.14
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#19999 mullvadvpn-beta 2024.2-beta1
  Casks/mullvadvpn-beta.rb
Labels: bump-cask-pr

#19998 pdf-expert-beta 3.10
  Casks/pdf-expert-beta.rb
Labels: bump-cask-pr

#20006 opera-developer 111.0.5138.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#20007 whatsapp-beta 2.24.8.77
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#20014 discord-canary 0.0.472
  Casks/discord-canary.rb
Labels: bump-cask-pr

#20013 vivaldi-snapshot 6.7.3327.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#20012 mixxx-snapshot 2.5-alpha-329-g59a4374a44
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#20011 google-chrome-beta 124.0.6367.60
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#20010 zed-preview 0.131.5
  Casks/zed-preview.rb
Labels: bump-cask-pr

#20015 brave-browser-nightly 1.67.11.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#20016 chromedriver-beta 124.0.6367.60
  Casks/chromedriver-beta.rb
Labels: bump-cask-pr

#20017 brave-browser-beta 1.66.80.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#20019 iterm2-nightly 3_5_20240416
  Casks/iterm2-nightly.rb
Labels: bump-cask-pr

#20020 mixxx-snapshot 2.5-alpha-331-g435da25fa8
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#20024 sketch-beta 100,180048
  Casks/sketch-beta.rb
Labels: bump-cask-pr
