Repository Homebrew/homebrew-cask-versions, pull requests merged in 2024-01, with the labels that each got.

#18824 mixxx-snapshot 2.5-alpha-185-g5b4abf7df1
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#18825 openscad-snapshot 2023.12.31
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#18826 typora-dev 1.8.3
  Casks/typora-dev.rb
Labels: bump-cask-pr

#18828 brave-browser-nightly 1.63.84.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#18830 macfuse-dev 4.6.0
  Casks/macfuse-dev.rb
Labels: bump-cask-pr

#18831 mixxx-snapshot 2.5-alpha-186-g17fd47bfba
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#18832 openscad-snapshot 2024.01.01
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#18836 discord-canary 0.0.379
  Casks/discord-canary.rb
Labels: bump-cask-pr

#18835 brave-browser-nightly 1.63.87.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#18834 brave-browser-beta 1.62.128.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#18833 android-studio-preview-canary 2023.3.1.2
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#18837 mixxx-snapshot 2.5-alpha-187-gb32ffd42d3
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#18842 opera-developer 107.0.5035.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#18843 mixxx-snapshot 2.5-alpha-188-g78ae1f64a8
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#18846 signal-beta 6.44.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#18845 mixxx-snapshot 2.5-alpha-190-gfe0c53030c
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#18844 brave-browser-nightly 1.63.90.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#18847 brave-browser-beta 1.62.130.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#18848 shadow-beta 8.0.10205
  Casks/shadow-beta.rb
Labels: bump-cask-pr

#18849 autobump: update casks for bump
  .github/workflows/autobump.yml
Labels: automerge-skip

#18852 dropbox-beta 190.3.6326
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#18851 brave-browser-nightly 1.63.93.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#18853 wine-devel 9.0-rc3
  Casks/wine-devel.rb
Labels: bump-cask-pr

#18854 wine-staging 9.0-rc3
  Casks/wine-staging.rb
Labels: bump-cask-pr

#18855 signal-beta 6.44.0-beta.2
  Casks/signal-beta.rb
Labels: bump-cask-pr

#18856 discord-canary 0.0.381
  Casks/discord-canary.rb
Labels: bump-cask-pr

#18858 macloggerdx-beta 6.50b6
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#18859 mixxx-snapshot 2.5-alpha-191-g0d298d2841
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#18862 buckets-beta 0.73.0
  Casks/buckets-beta.rb
Labels: bump-cask-pr

#18863 google-chrome-beta 121.0.6167.47
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#18864 discord-development 0.0.18
  Casks/discord-development.rb
Labels: bump-cask-pr

#18866 discord-ptb 0.0.94
  Casks/discord-ptb.rb
Labels: bump-cask-pr

#18867 brave-browser-nightly 1.63.96.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#18869 google-chrome-dev 122.0.6226.2
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#18870 monal-beta 881
  Casks/monal-beta.rb
Labels: bump-cask-pr

#18871 openscad-snapshot 2024.01.05
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#18872 java-beta 22,30
  Casks/java-beta.rb
Labels: bump-cask-pr

#18873 mixxx-snapshot 2.5-alpha-192-g4cddab4e36
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#18875 macloggerdx-beta 6.50b7
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#18876 emacs-nightly 2024-01-08_00-09-21
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#18877 macloggerdx-beta 6.50b8
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#18860 android-studio-preview-canary 2023.3.1.3
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#18881 macloggerdx-beta 6.50b10
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#18878 microsoft-teams-classic 1.6.00.35956
  Casks/microsoft-teams-classic.rb
  audit_exceptions/secure_connection_audit_skiplist.json
Labels: automerge-skip

#18882 signal-beta 6.44.0-beta.3
  Casks/signal-beta.rb
Labels: bump-cask-pr

#18883 brave-browser-nightly 1.63.101.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#18884 whatsapp-beta 2.24.1.72
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#18890 threema-beta 2.0-beta25
  Casks/threema-beta.rb
Labels: bump-cask-pr

#18888 sketch-beta 99.5,178846
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#18887 opera-developer 107.0.5041.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#18886 mixxx-snapshot 2.5-alpha-193-gb14c624a98
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#18891 macloggerdx-beta 6.50b11
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#18892 whatsapp-beta 2.24.1.73
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#18893 slack-beta 4.36.138
  Casks/slack-beta.rb
Labels: bump-cask-pr

#18894 microsoft-edge-dev 122.0.2325.0
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#18895 dotnet-preview 8.0.1
  Casks/dotnet-preview.rb
Labels: bump-cask-pr

#18896 discord-canary 0.0.382
  Casks/discord-canary.rb
Labels: bump-cask-pr

#18898 dotnet-sdk-preview 8.0.101
  Casks/dotnet-sdk-preview.rb
Labels: bump-cask-pr

#18897 macloggerdx-beta 6.50b12
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#18899 sketch-beta 99.5,178851
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#18900 whatsapp-legacy 2.2353.68
  Casks/whatsapp-legacy.rb
Labels: bump-cask-pr

#18901 discord-canary 0.0.384
  Casks/discord-canary.rb
Labels: bump-cask-pr

#18903 whatsapp-beta 2.24.1.74
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#18902 emacs-nightly 2024-01-10_00-09-19
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#18850 intellij-idea-eap 2023.3,233.11799.67 (new formula)
  Casks/intellij-idea-eap.rb
Labels: new cask

#18905 dropbox-beta 191.3.4870
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#18904 whatsapp-beta 2.24.1.75
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#18906 1password-beta 8.10.24-35.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#18909 google-chrome-beta 121.0.6167.57
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#18907 android-studio-preview-beta 2023.2.1.20
  Casks/android-studio-preview-beta.rb
Labels: bump-cask-pr

#18908 discord-canary 0.0.386
  Casks/discord-canary.rb
Labels: bump-cask-pr

#18910 chromedriver-beta 121.0.6167.57
  Casks/chromedriver-beta.rb
Labels: bump-cask-pr

#18912 virtualbox-beta 7.0.13_BETA4-161020
  Casks/virtualbox-beta.rb
Labels: bump-cask-pr

#18914 signal-beta 6.45.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#18915 discord-canary 0.0.390
  Casks/discord-canary.rb
Labels: bump-cask-pr

#18916 tsh13 13.4.15
  Casks/tsh13.rb
Labels: bump-cask-pr

#18922 github-beta 3.3.7-beta3-0533ff3d
  Casks/github-beta.rb
Labels: bump-cask-pr

#18923 whatsapp-beta 2.24.1.76
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#18917 emacs-nightly 2024-01-11_00-09-26
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#18918 elephas-beta 8.72
  Casks/elephas-beta.rb
Labels: bump-cask-pr

#18919 termius-beta 8.9.4
  Casks/termius-beta.rb
Labels: bump-cask-pr

#18920 virtualbox-beta 7.0.13_BETA4-161031
  Casks/virtualbox-beta.rb
Labels: bump-cask-pr

#18921 brave-browser-beta 1.62.137.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#18924 defold-alpha 1.6.4
  Casks/defold-alpha.rb
Labels: bump-cask-pr

#18925 geogebra5 5.2.820.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#18926 mixxx-snapshot 2.5-alpha-194-g66f3f89b32
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#18929 discord-canary 0.0.391
  Casks/discord-canary.rb
Labels: bump-cask-pr

#18928 google-chrome-dev 122.0.6238.2
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#18927 brave-browser-nightly 1.63.110.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#18930 emacs-nightly 2024-01-12_00-09-07
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#18931 inso-beta 8.5.2-beta.0
  Casks/inso-beta.rb
Labels: bump-cask-pr

#18932 mixxx-snapshot 2.5-alpha-196-ged6602666a
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#18933 insomnia-alpha 8.5.2-beta.0
  Casks/insomnia-alpha.rb
Labels: bump-cask-pr

#18934 java-beta 22,31
  Casks/java-beta.rb
Labels: bump-cask-pr

#18936 whatsapp-beta 2.24.1.77
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#18937 dropbox-beta 191.3.4892
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#18938 discord-canary 0.0.393
  Casks/discord-canary.rb
Labels: bump-cask-pr

#18940 wine-staging 9.0-rc4
  Casks/wine-staging.rb
Labels: bump-cask-pr

#18941 android-studio-preview-canary 2023.3.1.4
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#18939 wine-devel 9.0-rc4
  Casks/wine-devel.rb
Labels: bump-cask-pr

#18942 emacs-nightly 2024-01-13_00-09-07
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#18943 discord-canary 0.0.394
  Casks/discord-canary.rb
Labels: bump-cask-pr

#18944 openscad-snapshot 2024.01.12
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#18945 whatsapp-beta 2.24.1.79
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#18946 wine-devel 9.0-rc5
  Casks/wine-devel.rb
Labels: bump-cask-pr

#18947 wine-staging 9.0-rc5
  Casks/wine-staging.rb
Labels: bump-cask-pr

#18948 brave-browser-nightly 1.63.113.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#18949 emacs-nightly 2024-01-14_00-09-09
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#18950 mixxx-snapshot 2.5-alpha-197-g862213153b
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#18951 mixxx-snapshot 2.5-alpha-199-g5f92151716
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#18956 openscad-snapshot 2024.01.14
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#18955 threema-beta 2.0-beta26
  Casks/threema-beta.rb
Labels: bump-cask-pr

#18954 opera-developer 108.0.5047.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#18953 royal-tsx-beta 6.0.3.1
  Casks/royal-tsx-beta.rb
Labels: bump-cask-pr

#18952 emacs-nightly 2024-01-15_00-09-11
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#18957 buckets-beta 0.73.1
  Casks/buckets-beta.rb
Labels: bump-cask-pr

#18958 brave-browser-nightly 1.63.118.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#18964 openscad-snapshot 2024.01.15
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#18962 mongodb-compass-beta 1.42.0-beta.5
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#18961 emacs-nightly 2024-01-16_00-09-06
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#18959 blender-lts 3.6.8
  Casks/blender-lts.rb
Labels: bump-cask-pr

#18963 mixxx-snapshot 2.5-alpha-200-g7e8dedaeaf
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#18971 discord-development 0.0.19
  Casks/discord-development.rb
Labels: bump-cask-pr

#18973 corretto8 8.402.07.1
  Casks/corretto8.rb
Labels: bump-cask-pr

#18972 microsoft-edge-beta 121.0.2277.65
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#18974 corretto11 11.0.22.7.1
  Casks/corretto11.rb
Labels: bump-cask-pr

#18976 qbittorrent-lt20 4.6.3
  Casks/qbittorrent-lt20.rb
Labels: bump-cask-pr

#18978 wine-devel 9.0
  Casks/wine-devel.rb
Labels: bump-cask-pr

#18979 wine-staging 9.0
  Casks/wine-staging.rb
Labels: bump-cask-pr

#18977 whatsapp-beta 2.24.1.80
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#18975 corretto17 17.0.10.7.1
  Casks/corretto17.rb
Labels: bump-cask-pr

#18980 emacs-nightly 2024-01-17_00-09-15
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#18981 elephas-beta 8.73
  Casks/elephas-beta.rb
Labels: bump-cask-pr

#18983 brave-browser-nightly 1.63.124.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#18984 opera-beta 107.0.5045.4
  Casks/opera-beta.rb
Labels: bump-cask-pr

#18985 sketch-beta 99.5,178868
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#18986 discord-canary 0.0.395
  Casks/discord-canary.rb
Labels: bump-cask-pr

#18987 brave-browser-beta 1.62.146.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#18988 discord-development 0.0.20
  Casks/discord-development.rb
Labels: bump-cask-pr

#18989 signal-beta 6.45.0-beta.2
  Casks/signal-beta.rb
Labels: bump-cask-pr

#18990 google-chrome-beta 121.0.6167.75
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#18992 brave-browser-beta 1.63.126.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#18994 mixxx-snapshot 2.5-alpha-201-g6aed61294c
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#18995 sketch-beta 99.5,178873
  Casks/sketch-beta.rb
Labels: bump-cask-pr

#18996 temurin17 17.0.10
  Casks/temurin17.rb
Labels: bump-cask-pr

#18997 emacs-nightly 2024-01-18_00-09-08
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#18998 intellij-idea-eap 2024.1
  Casks/intellij-idea-eap.rb
Labels: bump-cask-pr

#18999 whatsapp-beta 2.24.1.81
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#19000 discord-canary 0.0.396
  Casks/discord-canary.rb
Labels: bump-cask-pr

#19001 google-chrome-dev 122.0.6253.3
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr
