Repository Homebrew/homebrew-cask-versions, pull requests merged in 2024-02, with the labels that each got.

#19160 google-chrome-beta 122.0.6261.18
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#19161 signal-beta 6.47.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#19162 microsoft-teams-classic 1.7.00.1859
  Casks/microsoft-teams-classic.rb
Labels: bump-cask-pr

#19163 macloggerdx-beta 6.50b20
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#19164 chromedriver-beta 122.0.6261.18
  Casks/chromedriver-beta.rb
Labels: bump-cask-pr

#19165 discord-canary 0.0.407
  Casks/discord-canary.rb
Labels: bump-cask-pr

#19166 discord-development 0.0.30
  Casks/discord-development.rb
Labels: bump-cask-pr

#19167 brave-browser-nightly 1.64.37.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#19168 opera-developer 108.0.5063.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#19169 vivaldi-snapshot 6.6.3256.4
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#19170 brave-browser-beta 1.63.141.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#19173 royal-tsx-beta 6.0.3.2
  Casks/royal-tsx-beta.rb
Labels: bump-cask-pr

#19171 iterm2-nightly 3_5_20240201
  Casks/iterm2-nightly.rb
Labels: bump-cask-pr

#19172 mixxx-snapshot 2.5-alpha-222-gae53865a26
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#19174 macloggerdx-beta 6.50b21
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#19175 tor-browser-alpha 13.5a4
  Casks/tor-browser-alpha.rb
Labels: bump-cask-pr

#19178 brave-browser-nightly 1.64.40.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#19179 google-chrome-dev 123.0.6272.2
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#19180 opera-beta 107.0.5045.11
  Casks/opera-beta.rb
Labels: bump-cask-pr

#19181 elephas-beta 8.80
  Casks/elephas-beta.rb
Labels: bump-cask-pr

#19182 whatsapp-beta 2.24.2.76
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#19185 propresenter-beta 7.16
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#19186 microsoft-edge-beta 122.0.2365.8
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#19187 obs-beta 30.1.0-beta1
  Casks/obs-beta.rb
Labels: bump-cask-pr

#19177 Add beyond-compare-beta v5.0.0.28767
  Casks/beyond-compare-beta.rb
Labels: new cask

#19188 discord-canary 0.0.408
  Casks/discord-canary.rb
Labels: bump-cask-pr

#19124 Add zed-preview cask
  Casks/zed-preview.rb
Labels: new cask

#19190 intellij-idea-eap 2024.1,241.10840.26
  Casks/intellij-idea-eap.rb
Labels: bump-cask-pr

#19191 skype-preview 8.113.76.103
  Casks/skype-preview.rb
Labels: bump-cask-pr

#19192 zotero-beta 7.0.0-beta.57
  Casks/zotero-beta.rb
Labels: bump-cask-pr

#19205 docs: style fix for CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation, automerge-skip

#19204 java-beta 22,34
  Casks/java-beta.rb
Labels: bump-cask-pr

#19200 mixxx-snapshot 2.5-alpha-223-g33e95e0c2f
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#19203 virtualbox-beta 7.0.15_BETA4-161407
  Casks/virtualbox-beta.rb
Labels: bump-cask-pr

#19198 brave-browser-nightly 1.64.43.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#19197 emacs-nightly 2024-02-02_12-58-05
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#19196 adguard-vpn-nightly 2.2.2.554
  Casks/adguard-vpn-nightly.rb
Labels: bump-cask-pr

#19195 macloggerdx-beta 6.50b22
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#19194 signal-beta 6.47.0-beta.2
  Casks/signal-beta.rb
Labels: bump-cask-pr

#19193 dropbox-beta 192.3.4572
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#19206 macloggerdx-beta 6.50b23
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#19210 macloggerdx-beta 6.50b24
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#19211 openscad-snapshot 2024.02.02
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#19212 zed-preview 0.121.2
  Casks/zed-preview.rb
Labels: bump-cask-pr

#19207 emacs-nightly 2024-02-03_00-15-43
  Casks/emacs-nightly.rb
Labels: bump-cask-pr

#19208 monal-beta 886
  Casks/monal-beta.rb
Labels: bump-cask-pr

#19209 mixxx-snapshot 2.5-alpha-225-gad840465da
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#19213 macloggerdx-beta 6.50b25
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#19214 iterm2-nightly 3_5_20240204
  Casks/iterm2-nightly.rb
Labels: bump-cask-pr

#19216 macloggerdx-beta 6.50b26
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#19217 gpg-suite-nightly 3514n
  Casks/gpg-suite-nightly.rb
Labels: bump-cask-pr

#19219 semeru-jdk8-open 8u402-b06
  Casks/semeru-jdk8-open.rb
Labels: bump-cask-pr

#19220 semeru-jdk11-open 11.0.22+7
  Casks/semeru-jdk11-open.rb
Labels: bump-cask-pr

#19221 discord-canary 0.0.409
  Casks/discord-canary.rb
Labels: bump-cask-pr

#19222 microsoft-edge-beta 122.0.2365.16
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#19230 whatsapp-beta 2.24.3.71
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#19229 threema-beta 2.0-beta27
  Casks/threema-beta.rb
Labels: bump-cask-pr

#19228 postmancanary 10.23.1-canary240202-1241
  Casks/postmancanary.rb
Labels: bump-cask-pr

#19227 openscad-snapshot 2024.02.05
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#19226 geogebra5 5.2.823.0
  Casks/geogebra5.rb
Labels: bump-cask-pr

#19225 elephas-beta 8.82
  Casks/elephas-beta.rb
Labels: bump-cask-pr

#19224 discord-canary 0.0.412
  Casks/discord-canary.rb
Labels: bump-cask-pr

#19223 brave-browser-nightly 1.64.48.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#19232 zed-preview 0.121.3
  Casks/zed-preview.rb
Labels: bump-cask-pr

#19231 android-studio-preview-beta 2023.2.1.21
  Casks/android-studio-preview-beta.rb
Labels: bump-cask-pr

#19233 dropbox-beta 193.3.5459
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#19235 iterm2-beta 3.5.0beta20
  Casks/iterm2-beta.rb
Labels: bump-cask-pr

#19234 microsoft-edge-dev 123.0.2380.1
  Casks/microsoft-edge-dev.rb
Labels: bump-cask-pr

#19246 opera-developer 109.0.5069.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#19245 vscodium-insiders 1.86.0.24038-insider
  Casks/vscodium-insiders.rb
Labels: bump-cask-pr

#19244 zotero-beta 7.0.0-beta.58
  Casks/zotero-beta.rb
Labels: bump-cask-pr

#19243 whatsapp-beta 2.24.3.72
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#19242 tsh13 13.4.16
  Casks/tsh13.rb
Labels: bump-cask-pr

#19240 mixxx-snapshot 2.5-alpha-229-g7b3e48544a
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#19239 monal-beta 888
  Casks/monal-beta.rb
Labels: bump-cask-pr

#19238 iterm2-nightly 3_5_20240206
  Casks/iterm2-nightly.rb
Labels: bump-cask-pr

#19237 brave-browser-beta 1.63.146.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#19236 brave-browser-nightly 1.64.51.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#19247 iterm2-nightly 3_5_20240207
  Casks/iterm2-nightly.rb
Labels: bump-cask-pr

#19248 semeru-jdk17-open 17.0.10+7
  Casks/semeru-jdk17-open.rb
Labels: bump-cask-pr

#19250 github-beta 3.3.9-beta2-d0c62671
  Casks/github-beta.rb
Labels: bump-cask-pr

#19252 google-chrome-beta 122.0.6261.29
  Casks/google-chrome-beta.rb
Labels: bump-cask-pr

#19253 whatsapp-beta 2.24.3.73
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#19254 chromedriver-beta 122.0.6261.29
  Casks/chromedriver-beta.rb
Labels: bump-cask-pr

#19255 brave-browser-nightly 1.64.53.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#19256 discord-canary 0.0.413
  Casks/discord-canary.rb
Labels: bump-cask-pr

#19257 mongodb-compass-beta 1.42.1-beta.0
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#19258 termius-beta 8.9.7
  Casks/termius-beta.rb
Labels: bump-cask-pr

#19260 android-studio-preview-canary 2023.3.1.8
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#19259 safari-technology-preview 188
  Casks/safari-technology-preview.rb
Labels: bump-cask-pr

#19261 signal-beta 6.48.0-beta.1
  Casks/signal-beta.rb
Labels: bump-cask-pr

#19265 propresenter-beta 7.16,118489096
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#19264 whatsapp-beta 2.24.3.74
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#19263 brave-browser-beta 1.63.148.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#19269 android-studio-preview-canary 2023.3.1.9
  Casks/android-studio-preview-canary.rb
Labels: bump-cask-pr

#19268 vscodium-insiders 1.86.0.24039-insider
  Casks/vscodium-insiders.rb
Labels: bump-cask-pr

#19267 google-chrome-dev 123.0.6286.0
  Casks/google-chrome-dev.rb
Labels: bump-cask-pr

#19266 discord-canary 0.0.414
  Casks/discord-canary.rb
Labels: bump-cask-pr

#19270 brave-browser-nightly 1.64.55.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#19274 zed-preview 0.122.2
  Casks/zed-preview.rb
Labels: bump-cask-pr

#19271 intellij-idea-eap 2024.1,241.11761.10
  Casks/intellij-idea-eap.rb
Labels: bump-cask-pr

#19273 mongodb-compass-beta 1.42.1-beta.2
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#19275 royal-tsx-beta 6.0.3.3
  Casks/royal-tsx-beta.rb
Labels: bump-cask-pr

#19276 discord-canary 0.0.415
  Casks/discord-canary.rb
Labels: bump-cask-pr

#19277 propresenter-beta 7.16,118489098
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#19278 vivaldi-snapshot 6.6.3265.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#19279 whatsapp-beta 2.24.3.76
  Casks/whatsapp-beta.rb
Labels: bump-cask-pr

#19280 discord-ptb 0.0.97
  Casks/discord-ptb.rb
Labels: bump-cask-pr

#19282 mixxx-snapshot 2.5-alpha-231-g601bd56245
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#19283 openscad-snapshot 2024.02.09
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#19281 brave-browser-nightly 1.64.61.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#19284 mixxx-snapshot 2.5-alpha-232-gb67d216702
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#19285 mixxx-snapshot 2.5-alpha-235-gb3bf898a8d
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#19286 openshot-video-editor-daily 3.1.1,11684-d98b5f2f-08c2cdd1
  Casks/openshot-video-editor-daily.rb
Labels: bump-cask-pr

#19288 openshot-video-editor-daily 3.1.1,11721-d98b5f2f-8e9d7edc
  Casks/openshot-video-editor-daily.rb
Labels: bump-cask-pr

#19287 openscad-snapshot 2024.02.11
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#19289 iterm2-nightly 3_5_20240212
  Casks/iterm2-nightly.rb
Labels: bump-cask-pr

#19290 slack-beta 4.37.77
  Casks/slack-beta.rb
Labels: bump-cask-pr

#19291 discord-canary 0.0.416
  Casks/discord-canary.rb
Labels: bump-cask-pr

#19292 propresenter-beta 7.16,118489099
  Casks/propresenter-beta.rb
Labels: bump-cask-pr

#19297 obs-beta 30.1.0-beta2
  Casks/obs-beta.rb
Labels: bump-cask-pr

#19293 defold-alpha 1.6.5
  Casks/defold-alpha.rb
Labels: bump-cask-pr

#19295 openscad-snapshot 2024.02.12
  Casks/openscad-snapshot.rb
Labels: bump-cask-pr

#19298 tunnelblick-beta 4.0.0beta15
  Casks/tunnelblick-beta.rb
Labels: bump-cask-pr

#19299 microsoft-edge-beta 122.0.2365.30
  Casks/microsoft-edge-beta.rb
Labels: bump-cask-pr

#19294 brave-browser-nightly 1.64.65.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#19296 mixxx-snapshot 2.5-alpha-239-g031dfded8a
  Casks/mixxx-snapshot.rb
Labels: bump-cask-pr

#19301 brave-browser-beta 1.63.153.0
  Casks/brave-browser-beta.rb
Labels: bump-cask-pr

#19302 defold-alpha 1.7.0
  Casks/defold-alpha.rb
Labels: bump-cask-pr

#19304 macloggerdx-beta 6.50b27
  Casks/macloggerdx-beta.rb
Labels: bump-cask-pr

#19305 sourcetree-beta 4.2.7b17
  Casks/sourcetree-beta.rb
Labels: bump-cask-pr

#19306 elephas-beta 8.83
  Casks/elephas-beta.rb
Labels: bump-cask-pr

#19307 vivaldi-snapshot 6.6.3268.3
  Casks/vivaldi-snapshot.rb
Labels: bump-cask-pr

#19308 opera-developer 109.0.5076.0
  Casks/opera-developer.rb
Labels: bump-cask-pr

#19316 discord-canary 0.0.417
  Casks/discord-canary.rb
Labels: bump-cask-pr

#19317 1password-beta 8.10.26-38.BETA
  Casks/1password-beta.rb
Labels: bump-cask-pr

#19318 discord-ptb 0.0.98
  Casks/discord-ptb.rb
Labels: bump-cask-pr

#19319 dropbox-beta 193.3.5535
  Casks/dropbox-beta.rb
Labels: bump-cask-pr

#19327 iterm2-nightly 3_5_20240214
  Casks/iterm2-nightly.rb
Labels: bump-cask-pr

#19328 mono-mdk-for-visual-studio 6.12.0.206
  Casks/mono-mdk-for-visual-studio.rb
Labels: bump-cask-pr

#19321 brave-browser-nightly 1.64.69.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr

#19323 dotnet-preview 8.0.2
  Casks/dotnet-preview.rb
Labels: bump-cask-pr

#19324 local-beta 8.3.0
  Casks/local-beta.rb
Labels: bump-cask-pr

#19325 dotnet-sdk-preview 8.0.200
  Casks/dotnet-sdk-preview.rb
Labels: bump-cask-pr

#19326 android-studio-preview-beta 2023.2.1.22
  Casks/android-studio-preview-beta.rb
Labels: bump-cask-pr

#19329 mongodb-compass-beta 1.42.1-beta.3
  Casks/mongodb-compass-beta.rb
Labels: bump-cask-pr

#19330 skype-preview 8.113.76.207
  Casks/skype-preview.rb
Labels: bump-cask-pr

#19331 opera-beta 108.0.5067.10
  Casks/opera-beta.rb
Labels: bump-cask-pr

#19333 microsoft-teams-classic 1.7.00.3856
  Casks/microsoft-teams-classic.rb
Labels: bump-cask-pr

#19334 brave-browser-nightly 1.64.72.0
  Casks/brave-browser-nightly.rb
Labels: bump-cask-pr
